<div class="d-flex justify-content-between mb-4 align-items-center">
<div style="width:48px"></div>
<h1 class="m-0" mat-dialog-title>Categories - Add, Delete, Edit and Set</h1>

<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>

<div class="">

    <div class="">
        <div class="">
            <div class="d-flex gap-12 my-4 justify-content-end w-100" >
                <button mat-flat-button color="primary" class="add-icon-button" (click)="addCatRow($event)">
                    <span class="material-symbols-outlined">
                      add
                    </span>
                  </button>
            <button mat-flat-button color="default" class="icon-button secondary-button" (click)="openPrintRangeDialog()" >
                <mat-icon class="material-symbols-outlined">print</mat-icon>
              </button>
              
            </div>
        </div>
    </div>

    <div class="card w-100">

        
        <div class="card-header">
            <div class="row">
                <div class="col-6" style="padding-left:64px;">Category</div>
                <div class="col-6 px-4">Sub Category</div>
            </div>
        </div>



<ng-scrollbar style="height: 380px;" track="all">
        <div class="card-body">
            <div class="container">

            <div class="row">
                <mat-radio-group aria-label="Select an option" color="primary" class="w-100">

                    <div *ngFor="let category of category_list;let i=index" class="d-flex align-items-center mb-2">

                        <mat-radio-button value="{{category.category}}" class="custom-radio-btn" (change)="selectCategory({'category': catName.value, 'subCategory': subCatName.value})">
                        </mat-radio-button>

                        <div class="container w-100">

                            <div class="row">

                                <div class="col-6">
                                    <mat-form-field class="custom-form-field w-100" appearance="outline">
                                        <input  #category_category [autofocus]="i === 0"  (keydown)="enableDisableButton(i)" (keydown.shift.enter)="$event.preventDefault()" matInput type="text" #catName name="{{category.category}}"  value="{{category.category}}" maxlength="50">
                                    </mat-form-field>
                                </div>

                                <div class="col-6">
                                    <div class="d-flex gap-12 align-items-center">

                                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                                            <input (keydown)="enableDisableButton(i)" (keydown.shift.enter)="$event.preventDefault()" matInput type="text" name="{{category.subCategory}}"  value="{{category.subCategory}}" #subCatName maxlength="50">
                                        </mat-form-field>

                                        <button [disabled]="(enableButton[i]&&enableButton[i].value!=null)?enableButton[i].value:false" mat-flat-button color="primary" class="xsm-icon-button ms-2" (click)="saveCategory(catName.value, category.category, subCatName.value, category.subCategory)">
                                            <mat-icon class="material-symbols-outlined">save</mat-icon>
                                        </button>

                                        <button mat-flat-button color="warn" class="xsm-icon-button" (click)="dltCategory(category.category, category.subCategory);">
                                            <mat-icon class="material-symbols-outlined">close</mat-icon>
                                        </button>

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>

                </mat-radio-group>
            </div>
        </div>
        </div>
    </ng-scrollbar>
    </div>
</div>
