<div class="d-flex justify-content-between align-items-center mb-3">
  <div class="w-98px"></div>
  <h1 class="m-0 text-center" mat-dialog-title>Import Count Batches</h1>
  <button
    mat-icon-button
    class="close-button dialog-close-button-fix"
    (click)="close()"
  >
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<div class="container-fluid">
<div class="row header-filter-bar px-2 mb-3">
  <div class="col-xl-3">
    <mat-form-field class="action-dropdown w-100" appearance="outline">
      <mat-label>Import Type</mat-label>
      <mat-select [(value)]="selectedImportType" placeholder="Import Type" (selectionChange)="onImportTypeChange()">
        <mat-option *ngFor="let type of importTypes" [value]="type">{{ type }}</mat-option>
      </mat-select>
      <span class="material-symbols-outlined icon-expand-more">
        expand_more
      </span>
    </mat-form-field>
  </div>
  <div class="col-xl-3">
    <!-- Filter By Dropdown -->
    <mat-form-field class="action-dropdown w-100" appearance="outline">
      <mat-label>Filter By</mat-label>
      <mat-select [(value)]="selectedFilterBy" (selectionChange)="onFilterByChange(fileInput)">
        <mat-option *ngFor="let filter of filterOptions" [value]="filter">{{ filter }}</mat-option>
      </mat-select>
      <span class="material-symbols-outlined icon-expand-more">
        expand_more
      </span>
    </mat-form-field>
  </div>
  <div class="col-xl-3">
    <div
    class="d-flex align-items-center gap-2"
    *ngIf="selectedFilterBy === 'Spreadsheet' && uploadedFileName"
  >
    <span class="uploaded-file">{{ uploadedFileName }}</span>
    <button mat-stroked-button color="warn" class="button-remove-all-w-stroke" (click)="removeFile()">
      Delete
    </button>
    <button mat-flat-button color="primary" class="form-button-submit" (click)="confirmImport()">
      Confirm
    </button>
  </div>

  <!-- Hidden File Input -->
  <input
    type="file"
    #fileInput
    accept=".xls,.xlsx"
    hidden
    (change)="onFileSelect($event)"
  >


  </div>
</div>
</div>


<div>
<div class="card br-14 table-responsive table-borderless borderless  mb-3">
  <ng-scrollbar class="mat-table-scrollbar h-60v">
    <table mat-table [dataSource]="dataSource" class="w-100">
      <!-- Item Number -->
      <ng-container matColumnDef="itemNumber">
        <th mat-header-cell *matHeaderCellDef class="table-header">Item No.</th>
        <td mat-cell *matCellDef="let element" class="table-cell" [matTooltip]="element.itemNumber"   matTooltipPosition="above" [matTooltipDisabled]="element.itemNumber && element.itemNumber.length>=12?false:true" >
          {{ element.itemNumber }}
        </td>
      </ng-container>

      <!-- Description -->
      
      

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef class="table-header">Description</th>
        <td mat-cell *matCellDef="let element" class="table-cell" [matTooltip]="element.description"   matTooltipPosition="above" [matTooltipDisabled]="element.description && element.description.length>=12?false:true" >
          {{ element.description }}
        </td>
      </ng-container>

      <!-- Location Quantity -->
      <ng-container matColumnDef="locationQuantity">
        <th mat-header-cell *matHeaderCellDef class="table-header">Location Qty</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.locationQuantity }}
        </td>
      </ng-container>

      <!-- UM -->
      <ng-container matColumnDef="um">
        <th mat-header-cell *matHeaderCellDef class="table-header" replacePlaceholder [replacePlaceHolder]="placeholders.unitOfMeasure" [fallbackPlaceHolder]="placeholders.unitOfMeasureFallback"> UM </th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.um }}
        </td>
      </ng-container>

      <!-- Warehouse -->
      <ng-container matColumnDef="warehouse">
        <th mat-header-cell *matHeaderCellDef class="table-header">Warehouse</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.warehouse }}
        </td>
      </ng-container>

      <!-- Locations -->
      <ng-container matColumnDef="locations">
        <th mat-header-cell *matHeaderCellDef class="table-header">Location</th>
        <td mat-cell *matCellDef="let element" class="table-cell" [matTooltip]="element.locations"   matTooltipPosition="above" [matTooltipDisabled]="element.locations && element.locations.length>=12?false:true" >
          {{ element.locations }}
        </td>
      </ng-container>

      <!-- Velocity Code -->
      <ng-container matColumnDef="velocityCode">
        <th mat-header-cell *matHeaderCellDef class="table-header">Velocity Code</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.velocityCode }}
        </td>
      </ng-container>

      <!-- Cell Size -->
      <ng-container matColumnDef="cellSize">
        <th mat-header-cell *matHeaderCellDef class="table-header">Cell Size</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.cellSize }}
        </td>
      </ng-container>

      <!-- Serial Number -->
      <ng-container matColumnDef="serialNumber">
        <th mat-header-cell *matHeaderCellDef class="table-header">Serial No.</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.serialNumber }}
        </td>
      </ng-container>

      <!-- Lot Number -->
      <ng-container matColumnDef="lotNumber">
        <th mat-header-cell *matHeaderCellDef class="table-header">Lot No.</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.lotNumber }}
        </td>
      </ng-container>

      <!-- Expiration Date -->
      <ng-container matColumnDef="expirationDate">
        <th mat-header-cell *matHeaderCellDef class="table-header">Expiration Date</th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.expirationDate }}
        </td>
      </ng-container>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell " [attr.colspan]="displayedColumns.length">
          No data available in table.
        </td>
    </tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

  </ng-scrollbar>
</div>
</div>
<div class="d-flex justify-content-end gap-3 mt-9">
  <button
    mat-flat-button
    class="form-button-submit btn-lg w-100"
    color="primary"
    (click)="importToQueue()"
  >
    Import to Queue
  </button>
  
</div>
