table {

  th,
  td {
    white-space: nowrap;
    padding-right: 12px;
  }
}

btn-regular {
  min-height: 48px;
}

.custom-form-field{
  min-width: 250px;
}
.overflow-x-auto{
  overflow-x: auto;
  }
  .h-260{
    height: 260px
  }
  .table-header-clr{
    background-color: var(--clr-table-header);
  }