table{
    th,td{
      white-space: nowrap;
      padding-right: 10px;

    }
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 15px;
    }
  }

  .overflow-x-auto{
    overflow-x: auto;
  }
  .h-45vh{
    height:45vh
  }
  .table-header-clr{
    background-color: var(--clr-table-header);
  }