<div class="row w-100 mt-2 mx-0">
    <div class="col-xl-12">
        <div class="col-xl-12 mt-3 p-3 d-flex br-8 mb-3 label-red text-danger">
            <mat-icon class="material-symbols-outlined" data-automation-id="scan-verification-info-icon">info_outline</mat-icon>
            <span class="ps-2 w-100">The Settings below will only affect individual locations in the Inventory Map.
                Click “ Manage Default Scan Verification(s)” to default handling.</span>
        </div>
    </div>
    <div class="col-xl-12 d-block d-xl-flex justify-content-between align-items-center  mb-3">

        <div class="d-flex justify-content-between align-items-center">
            <app-icon-heading-component heading="Scan Verification Setup" icon="barcode_scanner">
            </app-icon-heading-component>
        </div>

        <div class="d-flex align-items-center gap-12">
                <button type="button" mat-flat-button color="primary" class="button-primary-i btn-regular w-100"
                    (click)="openScanVerification()" data-automation-id="button-manage-default-scan-verification">Manage Default Scan Verification(S)</button>

            <button mat-flat-button color="primary" class="add-icon-button" data-automation-id="button-add">
                <span class="material-symbols-outlined" matTooltip="Add New Device" matTooltipPosition="above" data-automation-id="label-add">
                    add
                </span>
            </button>

        </div>
    </div>


    <div class="col-xl-12">
        <div class="row">
            <div class="col-12 ">
                <div class="card br-14 table-responsive borderless px-0 mb-3">
                    <ng-scrollbar class="mat-table-scrollbar h-295px" track="all">
                        <table mat-table [dataSource]="displayedColumns" class="w-100 table1">
                            <ng-container matColumnDef="transType">
                                <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-Trans. Type"> Trans. Type </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Trans Type-' + (element.transType ? element.transType : ' ')">
                                    <mat-form-field
                                        class="action-dropdown custom-form-field custom-form-field-bg-white w-100"
                                        appearance="outline">
                                        <mat-label data-automation-id="label-trans-type">Trans. Type</mat-label>
                                        <mat-select class="employees-action" placeholder="Actions" data-automation-id="select-trans-type">
                                            <mat-option value="Pick" data-automation-id="option-trans-type-pick">Pick</mat-option>
                                            <mat-option value="Put Away" data-automation-id="option-trans-type-putaway">Put Away</mat-option>
                                            <mat-option value="Count" data-automation-id="option-trans-type-count">Count</mat-option>
                                        </mat-select>
                                        <span class="material-symbols-outlined icon-expand-more" data-automation-id="scan-verification-expand-icon-transtype">
                                            expand_more
                                        </span>
                                    </mat-form-field>
                                </td>

                            </ng-container>

                            <ng-container matColumnDef="scanSequence">
                                <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-Scan Sequence">Scan Sequence</th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Scan Sequence-' + (element.totalTransactions ? element.totalTransactions : ' ')">
                                    <mat-form-field class="custom-form-field w-100" appearance="outline" data-automation-id="scan-verification-form-field-scansequence">
                                        <input matInput type="text" value="{{element.totalTransactions}}" data-automation-id="input-scan-sequence" />
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="field">
                                <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-Field"> Field</th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Field-' + (element.field ? element.field : ' ')">
                                    <mat-form-field
                                        class="action-dropdown custom-form-field custom-form-field-bg-white w-100"
                                        appearance="outline">
                                        <mat-label data-automation-id="label-expiration-date">Expiration Date</mat-label>
                                        <mat-select class="employees-action" placeholder="Actions" data-automation-id="select-field">
                                            <mat-option value="Expiration Date" data-automation-id="option-field-expiration-date">Expiration Date</mat-option>
                                            <mat-option value="Item Number" replacePlaceholder [replacePlaceHolder]="placeholders.itemNumber" [fallbackPlaceHolder]="placeholders.itemNumberFallback" data-automation-id="option-field-item-number">Item Number</mat-option>
                                            <mat-option value="Location Number" data-automation-id="option-field-location-number">Location Number</mat-option>
                                            <mat-option value="Lot Number" data-automation-id="option-field-lot-number">Lot Number</mat-option>
                                            <mat-option value="Serial Number" data-automation-id="option-field-serial-number">Serial Number</mat-option>
                                            <mat-option value="Supplier Item ID" data-automation-id="option-field-supplier-item-id">Supplier Item ID</mat-option>
                                            <mat-option value="Tote ID" data-automation-id="option-field-tote-id">Tote ID</mat-option>
                                            <mat-option value="User Field1" replacePlaceholder [replacePlaceHolder]="placeholders.userField1" [fallbackPlaceHolder]="placeholders.userField1Fallback" data-automation-id="option-field-user-field1"> UF1 </mat-option>
                                            <mat-option value="User Field2" replacePlaceholder [replacePlaceHolder]="placeholders.userField2" [fallbackPlaceHolder]="placeholders.userField2Fallback" data-automation-id="option-field-user-field2"> UF2 </mat-option>
                                        </mat-select>
                                        <span class="material-symbols-outlined icon-expand-more" data-automation-id="scan-verification-expand-icon-field">
                                            expand_more
                                        </span>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="verifyType">
                                <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-Verify Type">Verify Type</th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Verify Type-' + (element.verifyType ? element.verifyType : ' ')">
                                    <mat-form-field
                                        class="action-dropdown custom-form-field custom-form-field-bg-white w-100"
                                        appearance="outline">
                                        <mat-label data-automation-id="label-verify-type">All</mat-label>
                                        <mat-select class="employees-action" placeholder="Actions" data-automation-id="select-verify-type">
                                            <mat-option value="All" data-automation-id="option-verify-type-all">All</mat-option>
                                            <mat-option value="Range" data-automation-id="option-verify-type-range">Range</mat-option>

                                        </mat-select>
                                        <span class="material-symbols-outlined icon-expand-more" data-automation-id="scan-verification-expand-icon-verifytype">
                                            expand_more
                                        </span>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="verifyStringStart">
                                <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-Verify String Start">Verify String Start</th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Verify String Start-' + (element.verifyStringStart ? element.verifyStringStart : ' ')">
                                    <mat-form-field class="custom-form-field w-100" appearance="outline" data-automation-id="scan-verification-form-field-verifystringstart">
                                        <input matInput [NumbersOnly]="true" data-automation-id="input-verify-string-start" />
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="verifyStringLength">
                                <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-Verify String Length">Verify String Length</th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Verify String Length-' + (element.verifyStringLength ? element.verifyStringLength : ' ')">
                                    <mat-form-field class="custom-form-field w-100" appearance="outline" data-automation-id="scan-verification-form-field-verifystringlength">
                                        <input matInput [NumbersOnly]="true" data-automation-id="input-verify-string-length" />
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="actions" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef class="ps-2" data-automation-id="table-header-Actions">Actions</th>
                                <td mat-cell *matCellDef="let element; let i = index" class="ps-2" [attr.data-automation-id]="'table-data-Actions-' + (element.id ? element.id : i)">
                                    <div class="d-flex gap-12">

                                        <button matTooltip="Print" mat-flat-button color="primary"
                                            class="xsm-icon-button" data-automation-id="button-print">
                                            <mat-icon class="material-symbols-outlined" data-automation-id="scan-verification-print-icon">
                                                print
                                            </mat-icon>
                                        </button>

                                        <button matTooltip="Delete" mat-flat-button color="warn"
                                            class="xsm-icon-button" data-automation-id="button-delete">
                                            <mat-icon class="material-symbols-outlined" data-automation-id="scan-verification-delete-icon">
                                                close
                                            </mat-icon>
                                        </button>

                                    </div>
                                </td>
                            </ng-container>
                            <tr class="mat-row" *matNoDataRow data-automation-id="no-data-row">
                                <td class="mat-cell" [attr.colspan]="displayedColumns.length" data-automation-id="no-data-cell">
                                    <b>No data found.</b>
                                </td>
                            </tr>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" data-automation-id="scan-verification-header-row"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [attr.data-automation-id]="'scan-verification-row-' + (row.id || i)"></tr>
                        </table>
                    </ng-scrollbar>
                </div>

            </div>
        </div>
    </div>

    <div class="col-xl-12">

        <div class="card br-14 borderless px-0 mt-3 overflow-auto">
            <ng-scrollbar track="all" class="mat-table-scrollbar scrollbar-hover-padding h-450px">
                <table class="w-100 table1" mat-table
                    [dataSource]="dataSource1" matSort>
                    <ng-container matColumnDef="location">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Location">Location </th>
                        <td mat-cell *matCellDef="let element" [class.selected]="element.isSelected" [attr.data-automation-id]="'table-data-Location-' + (element.location ? element.location : ' ')">
                            aaa
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="locationName">
                        <th class="" mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Location Number">Location
                            Number</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" class="" [attr.data-automation-id]="'table-data-Location Number-' + (element.locationName ? element.locationName : ' ')">
                            aaa
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="zone">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Zone"> Zone </th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Zone-' + (element.zone ? element.zone : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="carousel">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Carousel"> Carousel </th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Carousel-' + (element.carousel ? element.carousel : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="row">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Row"> Row </th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Row-' + (element.row ? element.row : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="shelf">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Shelf"> shelf </th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Shelf-' + (element.shelf ? element.shelf : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="bin">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Bin"> Bin </th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Bin-' + (element.bin ? element.bin : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="warehouse">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Warehouse"> Warehouse</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Warehouse-' + (element.warehouse ? element.warehouse : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="cellSize">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Cell Size"> Cell Size</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Cell Size-' + (element.cellSize ? element.cellSize : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="velocityCode">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Velocity Code"> Velocity Code</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Velocity Code-' + (element.velocityCode ? element.velocityCode : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="carouselLocation">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Carousel Location"> Carousel Location</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Carousel Location-' + (element.carouselLocation ? element.carouselLocation : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="cartonLocation">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Carton Flow Location"> Carton Flow Location</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Carton Flow Location-' + (element.cartonLocation ? element.cartonLocation : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="itemNumber">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Item Number" replacePlaceholder [replacePlaceHolder]="placeholders.itemNumber" [fallbackPlaceHolder]="placeholders.itemNumberFallback">Item Number</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Item Number-' + (element.itemNumber ? element.itemNumber : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Description">Description</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Description-' + (element.description ? element.description : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="serialNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Serial Number">Serial #</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Serial Number-' + (element.serialNo ? element.serialNo : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="lotNo">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Lot Number"> Lot #</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Lot Number-' + (element.lotNo ? element.lotNo : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="expriationDate">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Expiration Date"> Expriation Date</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Expiration Date-' + (element.expriationDate ? element.expriationDate : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="UM">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Unit Of Measure"> UM</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Unit Of Measure-' + (element.UM ? element.UM : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="maxQty">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Maximum Quantity"> Max Qty</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Maximum Quantity-' + (element.maxQty ? element.maxQty : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="qtyAllocatedPick">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Quantity Allocated Pick"> Quantity Allocated Pick</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Quantity Allocated Pick-' + (element.qtyAllocatedPick ? element.qtyAllocatedPick : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="itemQty">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Item Quantity"> Item Qty</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Item Quantity-' + (element.itemQty ? element.itemQty : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="putAwayDate">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Put Away Date">Put Away Date</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Put Away Date-' + (element.putAwayDate ? element.putAwayDate : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="dateSensitive">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Date Sensitive">Date Sensitive</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Date Sensitive-' + (element.dateSensitive ? element.dateSensitive : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="shipVia">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Ship Via">Ship Via</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Ship Via-' + (element.shipVia ? element.shipVia : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="shipToName">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Ship To Name">Ship To Name</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Ship To Name-' + (element.shipToName ? element.shipToName : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="dedicated">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Dedicated">Dedicated</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Dedicated-' + (element.dedicated ? element.dedicated : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="masterLocation">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Master Location">Master Location</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Master Location-' + (element.masterLocation ? element.masterLocation : ' ')">aaa</td>
                    </ng-container>
                    <ng-container matColumnDef="InvMapID">
                        <th mat-header-cell mat-sort-header *matHeaderCellDef data-automation-id="table-header-Inv Map ID">In Map ID</th>
                        <td [class.selected]="element.isSelected" mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Inv Map ID-' + (element.InvMapID ? element.InvMapID : ' ')">aaa</td>
                    </ng-container>




                    <tr class="mat-row" *matNoDataRow data-automation-id="no-data-row">
                        <td class="mat-cell " [attr.colspan]="dataSource1.length " data-automation-id="no-data-cell">
                            No data available in table.
                        </td>
                    </tr>




                    <tr mat-header-row *matHeaderRowDef="dataSource1; sticky: true" class="table-header-clr" data-automation-id="scan-verification-header-row2">
                    </tr>
                    <tr mat-row *matRowDef="let element; columns: dataSource1; let i = index" [attr.data-automation-id]="'scan-verification-row2-' + (element.id || i)">
                    </tr>
                </table>

            </ng-scrollbar>

        </div>

        <div class="table-pagination d-flex justify-content-start" *ngIf="  displayedColumns && dataSource1">
            <mat-paginator [pageSize]="10" showFirstLastButtons [pageSizeOptions]="[10, 20, 100]" mat-paginator-range-label="customLabel"
                #paginator data-automation-id="scan-verification-paginator"></mat-paginator>


        </div>


    </div>


</div>