.table1 td{
padding-right: 24px;
}

table{
    th{
        white-space: nowrap;
        padding-right: 12px;
    }
    tr{
        &:first-child{
            td{
                padding-top: 10px;
            }
        }
    }
}
.h-295px{
    height: 295px;
}
.h-450px{
    height: 450px;
}
.table-header-clr{
    background-color: var(--clr-table-header);
}