table{
    th{
       white-space:nowrap;
       padding-right: 12px;
       min-width: 140px;
        &:nth-last-child(2){
            width: 100%;
        }
    }
    td{
        border: 0; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        max-width: 20ch; 
        white-space: nowrap;
    }
} 
.w-48px {
    width: 48px;
}
.w-200{
    width: 200px;
 }
 .h-400{
    height: 400px;
 }
 .table-w100-h150{
    width: 100%;
    height: 150px;
 }
