<div class="d-flex justify-content-between align-items-center" mat-dialog-title>
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Tote Transaction view</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
                <h2 class="card-header-title mb-0 d-flex align-items-center me-3">
                    <div class="mat-icon-wrap me-lg-3">
                        <span class="material-symbols-outlined">
                            inbox
                        </span>
                    </div>
                    <span>Tote Info</span>
                </h2>
            </div>
            <mat-form-field class="action-dropdown" appearance="outline">
                <mat-label>Actions</mat-label>
                <mat-select class="employees-action" [(ngModel)]="selectedOption" #actionRef
                    (openedChange)="actionDialog($event)">
                    <mat-option value="clearTote">Clear Tote</mat-option>
                    <mat-option value="fullTote">Full Tote</mat-option>
                    <mat-option value="printToteLabel" (click)="print('tote-label')">Print Tote Label</mat-option>
                    <mat-option value="printItemLabel" (click)="print('item-label')">Print Item Label</mat-option>
                    <mat-option value="printToteContent" (click)="print('tote-contents')">Print Tote Contents</mat-option>
                    <!-- <mat-option value="back">Back</mat-option> -->
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </mat-form-field>
        </div>
        <div class="header-filter-bar">
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-2"
                        appearance="outline">
                        <mat-label>Batch ID</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [value]="batchID"
                            disabled>
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-2"
                        appearance="outline">
                        <mat-label>Tote</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [value]="tote"
                            disabled>
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-2"
                        appearance="outline">
                        <mat-label>Tote ID</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [value]="toteID"
                            disabled>
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
                <h2 class="card-header-title mb-0 d-flex align-items-center me-3">
                    <div class="mat-icon-wrap me-lg-3">
                        <span class="material-symbols-outlined">
                            category
                        </span>
                    </div>
                    <span>Items</span>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4">
                <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-2" appearance="outline">
                    <mat-label>Number Of Copies</mat-label>
                    <input #field_focus (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="25">
                </mat-form-field>
            </div>
        </div>

        <div class="card br-14 table-responsive borderless px-0 mb-3">
            <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 400px;">
                <table mat-table [dataSource]="dataSource" class="w-100" matSort style="width: 100%;min-height: 150px;"
                    (matSortChange)="sortChange($event)">

                    <!-- Position Column -->
                    <ng-container matColumnDef="cell">
                        <th style="width:200px!important" mat-header-cell mat-sort-header *matHeaderCellDef> Cell </th>
                        <td mat-cell *matCellDef="let element">
                            <!-- class="pe-2 overflow-limit-20" -->
                            <div class="d-flex align-items-center ">
                                {{element.cell}}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="itemNumber">
                        <th style="width:200px!important" mat-header-cell mat-sort-header *matHeaderCellDef> Item Number
                        </th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            <div class="d-flex align-items-center ">
                                {{element.itemNumber}}
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="transactionQuantity">
                        <th style="width:200px!important" mat-header-cell mat-sort-header *matHeaderCellDef> Transaction
                            Quantity </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center">
                                {{element.transactionQuantity}}

                            </div>
                        </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="itemLocation">
                        <th style="width:200px!important" mat-header-cell mat-sort-header *matHeaderCellDef> Location
                        </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center">
                                {{element.itemLocation}}
                            </div>
                        </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="hostTransactionID">
                        <th style="width:200px!important" mat-header-cell mat-sort-header *matHeaderCellDef> Host
                            Transaction ID </th>
                        <td mat-cell *matCellDef="let element">
                            <div class="d-flex align-items-center">
                                {{element.hostTransactionID}}

                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="other">
                        <th style="width:200px!important" mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            <div class="d-flex justify-content-end">
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label=""
                                [ngClass]="{'active-btn':element.selected}" class="circle-icon-o active-btn" appearance="outline">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>

                                <mat-menu #appMenu="matMenu">
                                    <button mat-menu-item (click)="clear('clear',element)"><b
                                            class="text-tertiary-900">Clear</b></button>
                                    <button mat-menu-item (click)="clear('clearAndDeallocate',element)">Clear &
                                        Deallocate</button>
                                    <button mat-menu-item (click)="printToteLabel()">Print Tote Label</button>
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>


                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                            No data available in table.
                        </td>
                    </tr>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)">
                    </tr>
                </table>
            </ng-scrollbar>
        </div>
        <div class="table-pagination d-flex justify-content-start"
            *ngIf=" displayedColumns && dataSource">
            <mat-paginator [length]="this.customPagination.total" [pageSize]="10" showFirstLastButtons [pageSizeOptions]="[10, 20, 100]"
                (page)="handlePageEvent($event)"></mat-paginator>


        </div>
    </div>
</div>