<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Print Service test </h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div class="card bg-white bg-50 px-4 py-4 br-20 mb-3" style="min-height: 450px;">
        <mat-tab-group dynamicHeight>
            <mat-tab label="Preliminary Results">
                <div class="pt-2">
                    <p class="bold">The results seen here are aggregated before the print/export request is sent to the service and may indicate problems with data in the Lists and Labels table or server folder structure, etc.</p>
                </div>
                <div class="card br-14 borderless px-0" style="overflow-x: auto;">
                    <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 260px">
                        <table class="w-100 table-borderless" mat-table #matSort3="matSort" matSort [dataSource]="toteTable">
                            <ng-container matColumnDef="fileName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                                <td mat-cell *matCellDef="let element">
                                    Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="errorType">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Error Type </th>
                                <td mat-cell *matCellDef="let element">
                                    Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="errorMessage">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Error Message </th>
                                <td mat-cell *matCellDef="let element">
                                    Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="lineNumber">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Line Number </th>
                                <td mat-cell *matCellDef="let element">
                                  Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="storedProcedure">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stored Procedure/SQL </th>
                                <td mat-cell *matCellDef="let element">
                                  Admin Computer 1234 Site
                                </td>
                            </ng-container>
    
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                                  No data available in table.
                                </td>
                            </tr>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style=" background-color: var(--clr-table-header);"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </ng-scrollbar>
                </div>
                <div class="d-flex justify-content-between bg-white">
                    <mat-paginator #paginator3 showFirstLastButtons [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
                </div>
            </mat-tab>
            <mat-tab label="Service Response Results">
                <div class="pt-2">
                    <p class="bold">The results seen here are aggregated by the print service during the print/export process. They may indicate problems with the List and Label installation, configuration of the print service or stored procedures/sql used to generate the reports.</p>
                </div>
                <div class="card br-14 borderless px-0" style="overflow-x: auto;">
                    <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 260px">
                        <table class="w-100 table-borderless" mat-table #matSort3="matSort" matSort [dataSource]="toteTable">
                            <ng-container matColumnDef="responseReceived">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Response Recieved </th>
                                <td mat-cell *matCellDef="let element">
                                    Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="success">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Success </th>
                                <td mat-cell *matCellDef="let element">
                                    Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="workStation">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Work Station </th>
                                <td mat-cell *matCellDef="let element">
                                    Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="fileName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> File Name </th>
                                <td mat-cell *matCellDef="let element">
                                  Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="printer">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Printer </th>
                                <td mat-cell *matCellDef="let element">
                                  Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="errorMessage">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Error Message </th>
                                <td mat-cell *matCellDef="let element">
                                  Admin Computer 1234 Site
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="storedProcedure">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stored Procedure/SQL </th>
                                <td mat-cell *matCellDef="let element">
                                  Admin Computer 1234 Site
                                </td>
                            </ng-container>
    
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                                  No data available in table.
                                </td>
                            </tr>
    
                            <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true" style=" background-color: var(--clr-table-header);"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
                        </table>
                    </ng-scrollbar>
                </div>
                <div class="d-flex justify-content-between bg-white">
                    <mat-paginator #paginator3 showFirstLastButtons [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons> </mat-paginator>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</mat-dialog-content>
