
  td.mat-cell {
    border-bottom-style: none;
    padding-right: 20px;
    padding-top: 10px;
  }
  .sb_tbl_width{
    width: 80%;
  }

tr.mat-row, tr.mat-footer-row {
    height: 50px;
}

table{
  width: 100%;
  th{
    white-space: nowrap;
      padding-right: 12px;
  }
  
  th,td{
      padding-right: 15px;
      padding-left: 10px;
  }
  }