.stickyHeader{
  position: sticky;
  top: 0px;
  z-index: 200000000;
}

::ng-deep .custom-scroll{
  overflow:auto;
  &::-webkit-scrollbar {
    width: 8px;
  }


  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: var(--clr-tertiary-50);
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
  }}

  ::ng-deep .mat-autocomplete-panel{
    overflow: hidden;
  }
  .h-200px{
    height: 200px;
  }
  .w-48px{
    width: 48px;
}
.w-900px{
  width: 900px !important;
}
.g-name-style{
  padding: 10px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}