<mat-card class="mat-elevation-z g-card mt-2 mb-3">
    <div class="mb-3">
        <h2 class="card-header-title mb-0 d-flex align-items-center">
            <div class="mat-icon-wrap me-1 me-lg-3">
                <span class="material-symbols-outlined">
                    ads_click
                </span>
            </div>
            <span>Create New Replenishment Orders</span>
        </h2>
    </div>
    <div class="card bg-light-blue bg-50 br-none px-4 py-4 br-14">
        <div class="row">
            <div class="col-xl-6">
                <div class="row align-items-center">
                    <div class="col-xl-7">
                        <mat-form-field class="w-100 custom-form-field custom-form-field-bg-white" appearance="outline">
                            <mat-label>No. of Selected Replenishments</mat-label>
                            <input type="text" aria-label="Search" matInput disabled [(ngModel)]="numberSelectedRep">
                        </mat-form-field>
                    </div>
                    <div class="col-xl-5 mb-3 mb-lg-0">
                        <div class="d-flex gap-20 mb-0">
                            <mat-checkbox [checked]="kanban" color="primary" (change)="onChangeKanban($event)" [(ngModel)]="kanban">
                                Kanban
                            </mat-checkbox>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xl-4 offset-xl-2">
                <div class="d-flex d-xl-block justify-content-end">
                    <button style="flex:1 auto" mat-flat-button color="primary" class="btn-md float-end" (click)="createNewOrdersList()">
                        Create New Order List
                    </button>
                </div>
            </div>
        </div>
    </div>
</mat-card>
<mat-card class="mat-elevation-z g-card mb-3">
    <mat-card-content>
        <div class="row mb-3">
            <div class="col-12 col-xl-7">
                <div class="d-xl-flex gap-12 align-items-center flex-wrap">
                    <mat-form-field class="action-dropdown d-xl-flex d-block mb-3 mb-xl-0" appearance="outline">
                        <mat-label>Search</mat-label>
                        <mat-select class="employees-action" (selectionChange)="searchChange($event.value)" [(ngModel)]="tablePayloadObj.searchColumn">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let option of searchColumnOptions" [value]="option.value">{{option.viewValue}}</mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>

                    <span class="v-br d-none d-xl-block">-</span>
                    <div class="d-xl-flex g-mini-search-box mb-3 mb-xl-0 col-xl-3" style="flex:1">
                        <mat-form-field class="w-100 bg-white br-8" appearance="fill" [floatLabel]="getFloatLabelValue()"
                        [hideRequiredMarker]="hideRequiredControl.value" (keyup.enter)="closeautoMenu()">
                            <span class="material-symbols-outlined icon-search">
                                Search
                            </span>
                            <input 
                            type="text" 
                            placeholder="Search" 
                            aria-label="Search" 
                            matInput 
                            [disabled]="tablePayloadObj.searchColumn.length < 1" 
                            [matAutocomplete]="auto"
                            [(ngModel)]="tablePayloadObj.searchString"
                            (keyup.enter)="search(); getSearchOptions()"
                            (keyup)="autocompleteSearchColumn()"
                            (focus)="getSearchOptions(true)"
                            >

                            <button matSuffix *ngIf="tablePayloadObj.searchString" class="clear-btn"  (click)=" tablePayloadObj.searchString = '';newReplenishmentOrders()"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="search()" #autocompleteInventory>
                                <mat-option *ngFor="let option of searchAutocompleteList" [value]="option">
                                  {{option}}
                                </mat-option>
                                <mat-option *ngIf="searchAutocompleteList?.length ==0" disabled>
                                  No data found
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>


                    </div>
                    <mat-form-field class="action-dropdown d-xl-flex d-block  mb-3 mb-xl-0" appearance="outline">
                        <mat-label>Show</mat-label>
                        <mat-select class="employees-action" (selectionChange)="showChange($event.value)"  >
                            <mat-option value="1">All</mat-option>
                            <mat-option value="2">Reorder</mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xl-5 d-xl-flex flex-row-reverse">
                <mat-form-field class="action-dropdown d-xl-flex d-block w-30" appearance="outline">
                    <mat-label>Action</mat-label>
                    <mat-select #openActionDropDown class="employees-action" (selectionChange)="openAction($event)">
                        <mat-option value="1" [disabled]="tableData.length == 0" (click)="actionChange('1')">Filter Item No.</mat-option>
                        <mat-option value="2" (click)="actionChange('2')">Print</mat-option>
                        <mat-option value="3" [disabled]="!this.newOrderListCreated" (click)="viewAllItems()">View All Items</mat-option>
                        <mat-option value="4" [disabled]="!this.newOrderListCreated" (click)="viewSelectedItems()">View Selected Items</mat-option>
                        <mat-option value="5" [disabled]="tableData.length == 0" (click)="actionChange('5')">Select All</mat-option>
                        <mat-option value="6" [disabled]="tableData.length == 0 || numberSelectedRep == 0" (click)="actionChange('6')">Unselect All</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                        expand_more
                    </span>
                </mat-form-field>



            </div>
        </div>

        <div class="card br-14 table-responsive borderless">
            <ng-scrollbar class="mat-table-scrollbar" style="height:635px" track="all">

                <table class="w-100 table-borderless" mat-table [dataSource]="filteredTableData" matSort (matSortChange)="announceSortChange($event)">

                    <ng-container matColumnDef="Item Number">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Item No. </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.itemNumber, 'Item Number')"> {{seletedRecord.itemNumber}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
                        <td #tooltip="matTooltip" [matTooltip]="seletedRecord.description"   matTooltipPosition="right"
                        (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.description, 'Description')"> {{seletedRecord.description}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Warehouse">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Warehouse </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.warehouse, 'Warehouse')"> {{seletedRecord.warehouse}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Stock Qty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock Qty </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.stockQuantity, 'Stock Qty')"> {{seletedRecord.stockQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Replenishment Point">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Replen Point </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.replenishmentPoint, 'Replenishment Point')"> {{seletedRecord.replenishmentPoint}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Replenishment Level">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Replen Level </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.replenishmentLevel, 'Replenishment Level')"> {{seletedRecord.replenishmentLevel}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Available Qty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Avail Qty </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.availableQuantity, 'Available Qty')"> {{seletedRecord.availableQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Replenishment Qty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Replen Qty </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.replenishmentQuantity, 'Replenishment Qty')"> {{seletedRecord.replenishmentQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Case Qty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Case Qty </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.caseQuantity, 'Case Qty')"> {{seletedRecord.caseQuantity}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Transaction Qty">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Trans Qty </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.transactionQuantity, 'Transaction Qty')">
                            <mat-form-field class="custom-form-field w-100 __grab_cursor" appearance="outline"
                                (click)="editTransDialog(seletedRecord)" >
                                <input matInput type="text" maxlength="50" readonly="true" value="000000" [ngModel]="seletedRecord.transactionQuantity">
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                </span>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Replenish">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Replen </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord">
                            <div class="text-center">
                                <mat-checkbox color="primary" matTooltip="Check" matTooltipPosition="above" [disabled]="seletedRecord.availableQuantity == 0 ||  seletedRecord.transactionQuantity == 0 || seletedRecord.replenishExists"
                                    [checked]="seletedRecord.replenish" [(ngModel)]="seletedRecord.replenish" (change)="changeReplenish(seletedRecord,$event)">
                                </mat-checkbox>
                            </div>
                        </td>
                    </ng-container>
                    
                    <ng-container matColumnDef="Replenish Exists">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Exists </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord">
                            <div class="text-center">
                                <mat-checkbox color="primary" matTooltip="Check" matTooltipPosition="above" disabled
                                    [checked]="seletedRecord.replenishExists">
                                </mat-checkbox>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="Alloc Pick">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Allocated Pick </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.allocPick, 'Alloc Pick')"> {{seletedRecord.allocPick}} </td>
                    </ng-container>

                    <ng-container matColumnDef="Alloc Put">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Allocated Put </th>
                        <td (dblclick)="viewItemInInventoryMaster(seletedRecord)" mat-cell *matCellDef="let seletedRecord" (contextmenu)="onContextMenu($event, seletedRecord.allocPut, 'Alloc Put')"> {{seletedRecord.allocPut}} </td>
                    </ng-container>

                    <!-- Action Column -->
                    <ng-container matColumnDef="action" stickyEnd>

                        <th mat-header-cell *matHeaderCellDef style="border: 0;height: 66px; padding-left:65px;">
                        </th>

                        <td mat-cell *matCellDef="let seletedRecord" style="border: 0; padding-left: 24px; background: #fff;">

                            <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" [ngClass]="{'active-btn':seletedRecord.selected}" class="circle-icon-o active-btn" appearance="outline">
                                <mat-icon>more_horiz</mat-icon>
                            </button>

                            <mat-menu #appMenu="matMenu">
                                <button mat-menu-item (click)="viewItemInInventoryMaster(seletedRecord)">View Item in Inventory Master</button>
                            </mat-menu>

                        </td>

                    </ng-container>
                    
                    <tr class="mat-row" *matNoDataRow (contextmenu)="onContextMenu($event, undefined, '')">
                        <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                          No data available in table.
                        </td>
                    </tr>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        style=" background-color: #F9F9FF;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
                </table>
            </ng-scrollbar>
        </div>
        <div class="d-flex justify-content-between bg-white">
            <mat-paginator [length]="tableDataTotalCount" showFirstLastButtons [pageSize]="tablePayloadObj.length" [disabled]="tableData.length == 0 && filteredTableData.length == 0"
                [pageSizeOptions]="[10,15,20,25,50,100]" (page)="paginatorChange($event)"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>
<div>
    <button mat-flat-button color="primary" class="w-100 btn-lg" (click)="processReplenishments()" [disabled]="numberSelectedRep == 0">
        Process Replenishments
    </button>
</div>


<div #trigger="matMenuTrigger"
style="visibility: hidden; position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenuFilter"
></div>
<mat-menu #contextMenuFilter="matMenu">
<ng-template matMenuContent let-item="item">
  <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'equals to',getType(item.SelectedItem))"> Equals</button>
  <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is not equals to', getType(item.SelectedItem))">Not Equals</button>
  <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is greater than or equal to', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'number' || getType(item.FilterColumnName) == 'date'" >Greater than or Equal</button>
  <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is less than or equal to', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'number' || getType(item.FilterColumnName) == 'date'" >Less than or Equal</button>
  <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is like', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'string' && getType(item.FilterColumnName) != 'date'" >Like</button>
  <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is not like', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'string' && getType(item.FilterColumnName) != 'date'" >Not Like</button>
  <button mat-menu-item [matMenuTriggerFor]="InputFiltersList" [matMenuTriggerData]="{category: item}" *ngIf="getType(item.SelectedItem) != 'boolean'" >Input FIlters</button>
  <button mat-menu-item (click)="onContextMenuCommand('', '', 'clear', '')">Clear Filters</button>
</ng-template>
</mat-menu>

<mat-menu #InputFiltersList="matMenu">
    <ng-template matMenuContent let-category="category">
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'equals to', getType(category.SelectedItem))">Equals</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is not equals to', getType(category.SelectedItem))">Not Equals</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'begins with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Begins</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'does not begins with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Does Not Begin</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'ends with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Ends With</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'does not ends with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Does Not End With</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'contains', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Contains</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'does not contains', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Does Not Contain</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is less than', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'number' || getType(category.FilterColumnName) == 'date'">Less Than</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is greater than', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'number' || getType(category.FilterColumnName) == 'date'">Greater Than</button>
      <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is between', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'number' || getType(category.FilterColumnName) == 'date'">Between</button>
    </ng-template>
  </mat-menu>