.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        height: 150px;
        display: table;
        border-collapse: collapse;
        margin: 0 0 1rem 0;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 6px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        border: 0;
    }
  }

  .mat-table {
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }