.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        height: 150px;
        display: table;
        border-collapse: collapse;
        margin: 0 0 1rem 0;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 6px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        border: 0;
    }
  }

  .mat-table {
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .searchBoxDiv-style{
    flex:1 !important;
    
  }

  .mattableScrollbar-style{
    height:635px !important;
    .matIcon-style{
      color:var(--clr-tertiary-900); transform: rotate(45deg);
    }
    .matHeaderCellDef-style{
      border: 0 !important;
      height: 66px !important; 
      padding-left:65px !important;
    }
    .matCellDef-style{
      border: 0 !important; 
      padding-left: 24px !important; 
      background: var(--clr-pure-white) !important;
    }
    .matHeaderRowDef-style{
      background-color: var(--clr-table-header);
    }
  }

