.stickyHeader{
    position: sticky;
    top: 0px;
    z-index: 200000000;
  }

  ::ng-deep .custom-scroll{
    overflow:auto;
    &::-webkit-scrollbar {
      width: 8px;
    }

  
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--clr-tertiary-50);
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: transparent;
    }}

    ::ng-deep .mat-autocomplete-panel{
      overflow: hidden;
    }

    .C-NameFormClass{
      height:200px;

      .controlNameStyleC{
        width:40%;
      }
      .functionStyleC{
        width:  60%;
      }
      .controlNameOptionStyleC{
        padding: 10px 12px; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        width:40%; 
        white-space: nowrap;
      }
      .functionStyleC{
        padding: 10px 12px; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        width:60%; 
        white-space: nowrap;
      }
    }
      
    .h-200px{
      height: 200px;
    }