<h1 mat-dialog-title>Set Control Name</h1>
<button mat-icon-button class="close-button dialog-close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
<div class="container">
    <div mat-dialog-content>

        <form [formGroup]="controlNameForm" (ngSubmit)="onSend(controlNameForm)" style="height:200px;">

                <mat-form-field class="d-block w-100" appearance="outline">
                    <mat-label>Control Name</mat-label>
                    <input  #control_name type="text"
                           placeholder="Control Name"
                           aria-label="Number"
                           matInput
                           formControlName="controlName"
                           [matAutocomplete]="auto"
                           [(ngModel)]="constrolName">
                           <button matSuffix *ngIf="constrolName" class="clear-btn"  (click)="constrolName = ''"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                  
                  

                    <mat-autocomplete class="card" autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="controlNameForm.controls['controlName'].setValue($event.option.value)">
                        <h6 class="card-header matAutoCompHeader stickyHeader ps-4"><span style="width:  40%;">Control Name</span> <span style="width:  60%;">Function</span></h6>
                        <div class=" custom-scroll">
                        <mat-option class="matAutoCompTableContent" *ngFor="let option of filteredOptions | async"
                            [value]="option.controlName">
                            <div class="loc_option">
                                <span style="padding: 10px 12px; text-overflow: ellipsis; overflow: hidden; width:40%; white-space: nowrap;" [matTooltip]="option?.controlName" matTooltipPosition="left">{{option.controlName}}</span> 
                                <span style="padding: 10px 12px; text-overflow: ellipsis; overflow: hidden; width:60%; white-space: nowrap;" [matTooltip]="option?.function" matTooltipPosition="right">{{option.function}}</span>
                            </div>
                        </mat-option>
                    </div>
                    </mat-autocomplete>

                  </mat-form-field>
                  <div class="error" *ngIf="hasError('controlName', 'required')">This field is required.</div>
            <mat-dialog-actions>
                <button type="submit" mat-flat-button  class="btn-lg" style="flex: 1;"
                    color="primary" [disabled]="!controlNameForm.valid">{{form_btn_label}}</button>
            </mat-dialog-actions>

        </form>
    </div>
</div>
