
<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="divWithClass"></div>
<h1 class="m-0" mat-dialog-title>Set Control Name</h1>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>
<div class="">
    <div mat-dialog-content>

        <form class="C-NameFormClass" [formGroup]="controlNameForm" (ngSubmit)="onSend(controlNameForm)">

            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Control Name</mat-label>
                <input #control_name type="text" placeholder="Control Name" aria-label="Number" matInput
                    formControlName="controlName" [matAutocomplete]="auto" [(ngModel)]="controlNameInput">
                <button matSuffix *ngIf="controlNameInput" class="clear-btn" (click)="controlNameInput = ''"><mat-icon
                        class="text-20 text-chrome-600">cancel</mat-icon></button>

                    <mat-autocomplete class="card" panelWidth="auto" autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="controlNameForm.controls['controlName'].setValue($event.option.value)">
                        <h6 class="card-header matAutoCompHeader"><span class="controlNameStyleC">Control Name</span> <span class="functionStyleC">Function</span></h6>
                        <div class=" custom-scroll">
                        <mat-option class="matAutoCompTableContent" *ngFor="let option of filteredOptions | async"
                            [value]="option.controlName">
                            <div class="loc_option">
                                <span class="controlNameOptionStyleC" [matTooltip]="option?.controlName" matTooltipPosition="above" matTooltipShowDelay="500">{{option.controlName}}</span> 
                                <span class="functionOptionStyleC" [matTooltip]="option?.function" matTooltipPosition="above" matTooltipShowDelay="500">{{option.function}}</span>
                            </div>
                        </mat-option>
                    </div>
                </mat-autocomplete>

            </mat-form-field>
            <div class="error" *ngIf="hasError('controlName', 'required')">This field is required.</div>
            

        </form>

            <button type="submit" mat-flat-button  class="btn-lg w-100 flex-1" color="primary" [disabled]="!controlNameForm.valid">{{form_btn_label}}</button>

    </div>
</div>