.stickyHeader{
    position: sticky;
    top: 0px;
    z-index: 200000000;
  }
  .divWithClass{
    width:48px !important;
}

  ::ng-deep .custom-scroll{
    overflow:auto;
    &::-webkit-scrollbar {
      width: 8px;
    }

  
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: var(--clr-tertiary-50);
    }
  
    &::-webkit-scrollbar-track {
      border-radius: 4px;
      background-color: transparent;
    }}

    ::ng-deep .mat-autocomplete-panel{
      overflow: hidden;
    }

    .C-NameFormClass{
      min-height:80px;
    }
      .controlNameStyleC{
        width:250px;
      }
      .functionStyleC{
        width:  250px;
      }
      .controlNameOptionStyleC{
        width:250px; 
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;
      }
      .functionOptionStyleC{
        width: 250px;
        text-overflow: ellipsis; 
        overflow: hidden; 
        white-space: nowrap;
        padding: 0px 8px;
      }

      
    .h-200px{
      height: 200px;
    }

