<div class="search-box">
  <div class="d-flex justify-content-between g-mini-search-box">
    <mat-form-field class="w-100 align-items-center" appearance="fill">
      <span class="material-symbols-outlined icon-search">
        search
      </span>
      <input type="search" matTooltip="You must select an employee from the list to continue" matTooltipPosition="above" maxlength="50" placeholder="Search Employee By Last Name" aria-label="Search Employee" matInput
        (keyup)="applyFilter($event)" [(ngModel)]="searchVal" #autoFocusField>
        <button matSuffix *ngIf="searchVal" class="clear-btn" (click)="clear()"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>

        <!-- <button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="searchVal=''">
          <mat-icon>close</mat-icon>
        </button> -->

        <!-- <button *ngIf="searchVal" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
          <mat-icon>close</mat-icon>
        </button> -->
        <!-- <mat-icon class="material-symbols-outlined icon-search ms-2" matSuffix>search</mat-icon> -->
    </mat-form-field>
    <!-- <button mat-flat-button color="primary" class=" mat-button-icon" (click)="openDialog()"
      *ngIf="(env === 'DB' || env === 'ADLDS')">
      <span class="material-symbols-outlined" matTooltip="Add new employee" matTooltipPosition="above">
        add
      </span>
    </button> -->
  </div>
</div>
<div class="card br-14 table-responsive my-3">
  <ng-scrollbar class="mat-table-scrollbar scrollbar-hover-padding scroll-fix" appearance="compact" pointerEventsMethod="scrollbar"  style="height: 860px">
    <table style="width: 100%;" mat-table [dataSource]="employee_data_source" matSort
      (matSortChange)="announceSortChange($event)" class="g-card-table table1 employee-location-table custom-action-clickable-table">
      <ng-container matColumnDef="id">
        <th width="25%" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td width="25%" mat-cell *matCellDef="let element"> {{element?.id}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th width="25%" mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td width="25%"  style="    max-width: 15ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;" mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <!-- End Location Column -->
      <ng-container matColumnDef="firstName">
        <th width="25%" mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td width="25%" style="    max-width: 15ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;"  mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="mi">
        <th width="25%" mat-header-cell *matHeaderCellDef mat-sort-header>MI</th>
        <td width="25%" mat-cell *matCellDef="let element"> {{element.mi}} </td>
      </ng-container>
      <ng-container matColumnDef="username">
        <th width="25%" mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
        <td width="25%" style="    max-width: 15ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;" mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" style="background-color: #F9F9FF;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          No data matching the filter.
        </td>
      </tr>
      <tr mat-row class="table-row" tabindex="1" *matRowDef="let row; columns: displayedColumns;"
        (click)="getEmpDetails(row)"></tr>

    </table>
  </ng-scrollbar>
</div>