<mat-card class="mat-elevation-z g-card mb-4">
  <mat-card-content>

    <div class="d-flex justify-content-between align-items-center mb-2">
      <div>
        <h2 class="card-header-title mb-0 d-flex align-items-center">
          <div class="mat-icon-wrap me-1 me-lg-3">
            <span class="material-symbols-outlined">
              list_alt
            </span>
          </div>
          <span>Batch Manager Controls</span>
        </h2>
      </div>
    </div>

    <div class="card bg-light-blue bg-50 px-4 py-4 br-14 mb-3">
      <div class="justify-content-between">

        <div class="row">

          <div class="col-12 col-xl-3">
            <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3 mb-xl-0" appearance="outline">
              <mat-label>Transaction Type</mat-label>
              <mat-select [(ngModel)]="transType" (selectionChange)="changeTranType($event.value)" disableOptionCentering>
                <mat-option *ngFor="let type of transList" value="{{type.id}}">{{type.name}}</mat-option>
              </mat-select>
              <span class="material-symbols-outlined icon-expand-more">
                expand_more
            </span>
            </mat-form-field>
          </div>

          <div class="col-12 col-xl-3">
            <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3 mb-xl-0" appearance="outline">
              <mat-label>Current Pick Mode</mat-label>
              <input matInput disabled class="" value="Pick and Pass" type="text">
            </mat-form-field>
          </div>

          <div class="col-12 col-xl-3">
            <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3 mb-xl-0" appearance="outline">
              <mat-label>Delete Batch</mat-label>
              <mat-select [(ngModel)]="batchID">
                <mat-option *ngFor="let batch of batchList"
                [disabled]="!authService.UserPermissonByFuncName('Batch Manager Delete All') && batch == 'All Transaction'"
                
                value="{{batch}}">{{batch}}</mat-option>
              </mat-select>
              <span class="material-symbols-outlined icon-expand-more">
                expand_more
            </span>
            </mat-form-field>
          </div>

          <div class="col-12 col-xl-3 d-flex d-xl-block justify-content-center mt-2" > 
            <button style="flex: 1 auto;" [disabled]="batchID == '' || !authService.UserPermissonByFuncName('Batch Manager Delete All')" mat-stroked-button color="warn" class="float-end button-remove-all-w-stroke bg-white button custom-button-width"
              (click)="deleteBatch(transType, batchID)">
              <!-- <mat-icon>delete_outline</mat-icon> -->
              Delete
            </button>
          </div>

        </div>

      </div>
    </div>


  </mat-card-content>
</mat-card>



<ng-template #deleteAction>
  <!-- <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
    <h2>Delete Options for Single Batches</h2>
    <div>
      <p class="bold text-tritary-900 mb-4 pt-4">Select the desired option for deleting the selected batch.</p>
      <div class="mb-3 d-flex justify-content-around text-center">
        <button mat-stroked-button color="warn" class="custom-btn button-delete-flat bg-white" (click)="onDltOptions('batch_tote')">
          Delete Batch and Tote
        </button>
        <button  mat-stroked-button color="warn" class="custom-btn bg-white" (click)="onDltOptions('batch')">
          Delete Batch
        </button>
      </div>
    </div>
  </div> -->


  <div class="mat-modal-wrap text-center">
    <mat-dialog-content>
      <div class="prompt-wrap">
        <div class="d-flex justify-content-center prompt-icon-wrap">
            <span #cancel class="material-symbols-outlined prompt-icon-delete mb-4">
               delete
            </span>

        </div>
        <p class="prompt-message py-1 mb-0 text-error ">
          <b style="font-size: 22px;">Delete options for Single Batches</b>
      </p>
        <p class="prompt-message py-3 mb-2 " >
            <b>Select the desired option for deleting the selected batch ?</b>
        </p>
   
        <!-- <p class="bold text-danger mb-4">This action can not be redone.</p> -->
        <div class="br-14 px-4 py-3 checkbox-background mb-4">
          <mat-checkbox (change)="checkOptions($event)" class="example-margin" color="primary">I understand data cannot be recovered</mat-checkbox>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex flex-column justify-content-center">
      <button  class=" prompt-action-danger-button mb-3 w-100 btn-lg" (click)="onDltOptions('batch_tote')" [disabled]="!isChecked" mat-stroked-button  mat-dialog-close>Delete Batch and Tote</button>
      <button  class=" mb-3 w-100 btn-lg text-error" mat-stroked-button (click)="onDltOptions('batch')"  [disabled]="!isChecked" mat-dialog-close>Delete Batch</button>
      <button  class=" mb-3 w-100 btn-lg" mat-stroked-button  mat-dialog-close>Cancel</button>

    </mat-dialog-actions>
  </div>
</ng-template>



<ng-template #deleteByTransaction>


  <div class="mat-modal-wrap text-center">
    <mat-dialog-content>
      <div class="prompt-wrap">
        <div class="d-flex justify-content-center prompt-icon-wrap">
            <span #cancel class="material-symbols-outlined prompt-icon-delete mb-4">
               delete
            </span>

        </div>
   
        <p class="prompt-message py-1 mb-0 text-error ">
          <b style="font-size: 22px;">Batch Manager</b>
      </p>
      <p class="prompt-message py-3 mb-0 " >
      <b>  Are you sure you want to delete all batches with a transaction type of {{transType}} ?</b>
      </p>
        <!-- <p class="bold text-danger mb-4">This action can not be redone.</p> -->
        <div class="br-14 px-4 py-3 checkbox-background mb-4">
          <mat-checkbox (change)="checkOptions($event)" class="example-margin" color="primary">I understand data cannot be recovered</mat-checkbox>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex flex-column justify-content-center">
      <button  class=" prompt-action-danger-button mb-3 w-100 btn-lg" (click)="onDltOptions('batch_tote_trans')" [disabled]="!isChecked" mat-stroked-button  mat-dialog-close>Delete Batch and Tote</button>
      <!-- <button  class=" mb-3 w-100 btn-lg text-error" mat-stroked-button (click)="onDltOptions('batch')"  [disabled]="isChecked" mat-dialog-close>Delete Batch</button> -->
      <button  class=" mb-3 w-100 btn-lg" mat-stroked-button  mat-dialog-close>Cancel</button>

    </mat-dialog-actions>
  </div>
</ng-template>