<mat-tab-group dynamicHeight [(selectedIndex)]="selectedIndex">
  <mat-tab label="Employees">
    <div class="employees-tab g-tab">
      <div class="container-fluid p-0">
        <div class="row">

          <!-- left side for details -->
          <div class="col-xl-7 mb-3">
            <mat-card class="mat-elevation-z g-card mb-3" style="height: 100%;">
              <mat-card-content>
                <app-employees-information
                  [isLookUp]="isLookUp"
                  [env]="env"
                  [empData]="empData"
                  (backEmpActionEmit)="backEmpAction()"
                  (actionDialogEmit)="actionDialog($event.value, $event.empData, $event.event)"
                  (openDialogEmit)="openDialog()"
                  (printEmpListEmit)="printEmpList()"
                  (updateIsLookUpEmit)="updateIsLookUp($event)">
                </app-employees-information>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Right side for actions -->
          <div class="col-xl-5 mb-3">
            <mat-card class="mat-elevation-z g-card" style="height:100%">
              <mat-card-content>
                <app-employees-settings
                  [emp_all_zones]="emp_all_zones"
                  [empData]="empData"
                
                  [demo1TabIndex]="demo1TabIndex"
                  [bpSettingInp]="bpSettingInp"
                  [isLookUp]="isLookUp"
                  [employee_fetched_zones]="employee_fetched_zones"
                  [displayedColumns]="displayedColumns"
                  [zoneColumns]="zoneColumns"

                  [bpSettingLocInp]="bpSettingLocInp"
                  [location_data_source]="location_data_source"

                  [max_orders]="max_orders"

                  [lookUpEvnt]="lookUpEvnt"
                  [isTabChanged]="isTabChanged"
                  [pickUplevels]="pickUplevels"
                  [grp_data]="grp_data"

                  [env]="env"
                  [searchfuncAllowed]="searchfuncAllowed"
                  [FuncationAllowedList]="FuncationAllowedList"
                  [funcationsColumns]="funcationsColumns"

                  [grpAllFilter]="grpAllFilter"
                  [groupAllowedList]="groupAllowedList"
                  [groupsColumns]="groupsColumns"
                  
                  (applyFunctionAllowedFilterEmit)="applyFunctionAllowedFilter($event)"
                  (getFuncationAllowedListEmit)="getFuncationAllowedList()">
                </app-employees-settings>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

    </div>
  </mat-tab>

  <!-- Groups Tab -->
  <mat-tab label="Groups">
    <div class="groups-tab g-tab">
      <div class="container-fluid p-0">
        <div class="row">
          <!-- left side for details -->
          <div class="col-xl-5 mb-3">
            <mat-card class="mat-elevation-z g-card" style="height: 100%;">
              <mat-card-content>
                <app-groups-employees-group-management
                  [isGroupLookUp]="isGroupLookUp"
                  [env]="env"
                  [grpData]="grpData"
                  [updateGrpTable]="updateGrpLookUp"
                  [selectedIndex]="selectedIndex"
                  (backGroupActionEmit)="backGroupAction()"
                  (actionGroupDialogEmit)="actionGroupDialog($event.value, $event.grpData, $event.event)"
                  (openGroupDialogEmit)="openGroupDialog()"
                  (printSelectedEmit)="printSelected()"
                  (printAllEmit)="printAll()"
                  (updateGrpLookUpEmit)="updateGrpLookUp($event)">
                </app-groups-employees-group-management>
              </mat-card-content>
            </mat-card>
          </div>

          <!-- Right side for actions -->
          <div class="col-xl-7 mb-3">
            <mat-card class="mat-elevation-z g-card" style="height: 100%;">
              <mat-card-content>
                <app-groups-assigned-functions-comp
                  [isGroupLookUp]="isGroupLookUp"
                  [unassignedFunctions]="unassignedFunctions"
                  [assignedFunctions]="assignedFunctions"
                  (saveAssignedFuncEmit)="saveAssignedFunc()"
                  (addPermissionEmit)="addPermission($event)"
                  (removePermissionEmit)="removePermission($event)">
                </app-groups-assigned-functions-comp>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  
 
  <mat-tab label="Button Access" *ngIf="env === 'DB'">
    <div class="groups-tab g-tab">
      <div class="container-fluid p-0">
        <div>

          <mat-card class="mat-elevation-z g-card mb-3 mt-2" style="height: 100%;">
            <mat-card-content>
              <div class="d-flex align-items-center">
                <h2 class="card-header-title mb-3 me-4 d-flex align-items-center">
                  <div class="mat-icon-wrap me-1 me-lg-3">
                    <span class="material-symbols-outlined">
                      switch
                    </span>
                  </div>
                  <span>Button Access</span>
                </h2>
              </div>

              <div>

                <div class="card br-14 table-responsive borderless">
                  <ng-scrollbar class="mat-table-scrollbar" style="height:550px" track="all">

                    <table class="w-100 g-card-table table-borderless table-minimal-action-buttons" mat-table matSort [dataSource]="ButtonAccessList">
                      <ng-container matColumnDef="controlName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Control Name </th>
                        <td mat-cell *matCellDef="let element">{{element.controlName}}</td>
                      </ng-container>
                      <ng-container matColumnDef="function">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Function </th>
                        <td mat-cell *matCellDef="let element">{{element.function}}</td>
                      </ng-container>
                      <ng-container  matColumnDef="adminLevel">
                        <th width="10%" class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header> Admin Level </th>
                        <td width="10%" class="text-center" mat-cell *matCellDef="let element">
                          <mat-checkbox color="primary"     [checked]="element.adminLevel" [(ngModel)]="element.adminLevel" (ngModelChange)="ChangeAdminLevel(element)">
                          </mat-checkbox>
                        </td>
                      </ng-container>
                     
                      <tr mat-header-row *matHeaderRowDef="displayedColumns_1" style=" background-color: #F9F9FF;">
                      </tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns_1;"></tr>
                    </table>
                  </ng-scrollbar>
                </div>

                <div class="d-flex justify-content-between bg-white">
                  <mat-paginator [pageSize]="10"  #paginator1    [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons [pageSizeOptions]="[10, 20, 100]"   ></mat-paginator>
                </div>


              </div>

            </mat-card-content>
          </mat-card>

        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>