
.mat-column-adminlevel{
    .mat-sort-header-container{
        justify-content: center;
    }
}

.scrollbar-height{
    height:550px !important;
}

.header-background{
    background-color: var(--clr-table-header) !important;
}