<div class="d-flex justify-content-between alighn-item-center mb-4">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Reel Detail</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" mat-dialog-close="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<mat-dialog-content>
    <div class="card p-3">
    <div class="row mb-2">
            <div class="col-xl-4 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>Order Number</mat-label>
                    <input #field_focus matInput [(ngModel)]="ReelOrder">
                </mat-form-field>
            </div>
            <div class="col-xl-4 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>Lot Number</mat-label>
                    <input matInput [(ngModel)]="ReelLot">
                </mat-form-field>
            </div>
            <div class="col-xl-4 ">

                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                    <mat-label>Expiration Date</mat-label>
                    <input matInput [matDatepicker]="requireDate" [(ngModel)]="ReelExpDate">
                    <mat-datepicker-toggle matSuffix [for]="requireDate"
                        ngDefaultControl></mat-datepicker-toggle>
                    <mat-datepicker #requireDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-xl-6 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>{{fieldNames.userField1}}</mat-label>
                    <input matInput [(ngModel)]="ReelUF1">
                </mat-form-field>
            </div>
                    <div class="col-xl-6 ">
                        <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                            <mat-label>{{fieldNames.userField2}} </mat-label>
                            <input matInput  [(ngModel)]="ReelUF2">
                        </mat-form-field>
    </div>
    </div>
        <div class="row mb-2">
            <div class="col-xl-6 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline" >
                    <mat-label >Warehouse</mat-label>
                    <span matSuffix>
                        <mat-icon style="color:#090948; transform: rotate(45deg);" >unfold_more</mat-icon>
                      </span>
                    <input matInput  [(ngModel)]="ReelWarehouse" [disabled]="!wareHouseSensitivity" readonly="true" (click)="openWareHouse()">
                </mat-form-field>
            </div>
                    <div class="col-xl-6 ">
                        <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                            <mat-label>Parts to be Inducted</mat-label>
                            <input matInput type="number" min=0 oninput="validity.valid||(value='');" [(ngModel)]="ReelQty" (keyup)="fetchReelQty($event)" #reelQuantitytemp>
                        </mat-form-field>
    </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 ">
            <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                <mat-label>Notes</mat-label>
                <textarea matInput  maxlength="255" [(ngModel)]="ReelNotes"></textarea>
            </mat-form-field>
        </div>
</div>
</div>
<button mat-flat-button color="primary" type="button" class="btn-lg w-100 mt-2" (click)="reelDetailSubmit()">Submit</button>
</mat-dialog-content>