<div class="d-flex justify-content-between align-items-center mb-3">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>{{heading}}</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="undefined">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

    <ng-scrollbar style="height:65vh" [track]="itemNumberScroll">
        <div class="px-3" >
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Order Number</mat-label>
                        <input type="text" #ord_focus aria-label="Search" matInput [disabled]="orderNumberDisabled" [(ngModel)]="this.oTTempUpdatePayload.orderNumber" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Transaction Type</mat-label>
                        <mat-select [(ngModel)]="this.oTTempUpdatePayload.transType">
                            <mat-option *ngFor="let type of transactionTypes" [value]="type.value">
                                {{type.title}}
                            </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more text-20">
                            expand_more
                        </span>
    
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline">
                        <mat-label>Warehouse</mat-label>
                        <mat-select [(ngModel)]="this.oTTempUpdatePayload.warehouse">
                            <mat-option *ngFor="let wharehouse of wharehouses" [value]="wharehouse">
                                {{wharehouse}}
                            </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more text-20">
                            expand_more
                        </span>
    
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Processing By</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.processBy" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Import By</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.importBy" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Import Date</mat-label>
        
                        <input matInput [value]="this.oTTempUpdatePayload.importDate" [(ngModel)]="this.oTTempUpdatePayload.importDate" 
                        [matDatepicker]="importDate" (dateChange)="onDateChange($event.value.toISOString(),'importDate')">
                        <mat-datepicker-toggle matSuffix [for]="importDate" ngDefaultControl></mat-datepicker-toggle>
                        <mat-datepicker #importDate></mat-datepicker>
    
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Import File</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.importFileName" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Item Number</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.itemNumber"
                            (keyup)="searchItem(true)" [matAutocomplete]="searchauto" maxlength="50" (focusout)="itemNumberFocusOut($event)" maxlength="50"
                            (focus)="focusinmethod()" (focusout)="focusoutmethod()">
                        <mat-autocomplete class="card custom-scroll" #searchauto="matAutocomplete"
                            (optionSelected)="onSearchSelect($event)">
                            <h6 class="card-header matAutoCompHeader ">
                                <span style="width:  140px;">Item Number</span> 
                                <span style="width:  140px;">Description</span>
                                <span style="width:  140px;">Unit of Measure</span>
                            </h6>
                            <mat-option *ngFor="let option of itemNumberSearchList" [value]="option.itemNumber" class="matAutoCompTableContent">
                                <div class="loc_option" (click)="selectItemNumber(option,$event)" >
                                    <span class="searchColumn over-flow" style="width:  140px; margin-right: 5px;" #tooltip="matTooltip" [matTooltip]="option.itemNumber" matTooltipPosition="above">{{option.itemNumber}}</span> 
                                    <span class="searchColumn over-flow" style="width:  140px; margin-right: 5px;" #tooltip="matTooltip" [matTooltip]="option.description" matTooltipPosition="above">{{option.description}}</span> 
                                    <span class="searchColumn over-flow" style="width:  140px;" #tooltip="matTooltip" [matTooltip]="option.unitOfMeasure" matTooltipPosition="above">{{option.unitOfMeasure}}</span>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Lot Number</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.lotNumber" maxlength="50">  
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Serial Number</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.serialNumber" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Revision</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.revision" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Tote ID</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.toteID" maxlength="50">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Batch Pick ID</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.batchPickID" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-8">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Description</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.description" disabled maxlength="255">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Expiration Date</mat-label>
    
    
                        <input matInput [value]="this.oTTempUpdatePayload.expirationDate" [(ngModel)]="this.oTTempUpdatePayload.expirationDate" 
                        [matDatepicker]="expirationDate" (dateChange)="onDateChange($event.value.toISOString(),'expirationDate')">
                        <mat-datepicker-toggle matSuffix [for]="expirationDate" ngDefaultControl></mat-datepicker-toggle>
                        <mat-datepicker #expirationDate></mat-datepicker>
    
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Unit Of Measure</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.unitofMeasure" disabled maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Transaction Quantity</mat-label>
                        <input type="number" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.transQty" (focusout)="resetDefaultValues('transQty',1)"
                        oninput="javascript: if (this.value > 2147483647 || this.value < 0) this.value = this.value.slice(0, this.value.length-1);">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-3">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Line Number</mat-label>
                        <input type="number" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.lineNumber" (focusout)="resetDefaultValues('lineNumber',0)"
                        oninput="javascript: if (this.value > 2147483647 || this.value < 0) this.value = this.value.slice(0, this.value.length-1);">
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Priority</mat-label>
                        <input type="number" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.priority" (focusout)="resetDefaultValues('priority',0)"
                        oninput="javascript: if (this.value > 32767 || this.value < 0) this.value = this.value.slice(0, this.value.length-1);">
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Host Transaction ID</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.hostTransID" maxlength="50">
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Cell</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.cell" maxlength="50">
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Required Date</mat-label>
        
                        <input matInput [value]="this.oTTempUpdatePayload.requiredDate" [(ngModel)]="this.oTTempUpdatePayload.requiredDate" 
                        [matDatepicker]="requiredDate" (dateChange)="onDateChange($event.value.toISOString(),'requiredDate')">
                        <mat-datepicker-toggle matSuffix [for]="requiredDate" ngDefaultControl></mat-datepicker-toggle>
                        <mat-datepicker #requiredDate></mat-datepicker>
    
                    </mat-form-field>
                </div>
                <div class="col-xl-8">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>Notes</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.notes" maxlength="255">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="d-flex gap-20">
                    <mat-checkbox color="primary" class="mb-4" [(ngModel)]="this.oTTempUpdatePayload.emergency">Emergency</mat-checkbox>
                    <mat-checkbox color="primary" class="mb-4" [(ngModel)]="this.oTTempUpdatePayload.label">Print Label</mat-checkbox>
                    <mat-checkbox color="primary" class="mb-4" [(ngModel)]="this.oTTempUpdatePayload.inProcess">In Process</mat-checkbox>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 1</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField1" maxlength="255">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 2</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField2" maxlength="255">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 3</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField3" maxlength="255">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 4</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField4" maxlength="255">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 5</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField5" maxlength="255">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 6</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField6" maxlength="255">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 7</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField7" maxlength="255">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 8</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField8" maxlength="255">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 9</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField9" maxlength="255">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-xl-4">
                    <mat-form-field class="w-100 custom-form-field mb-3" appearance="outline">
                        <mat-label>User Field 10</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="this.oTTempUpdatePayload.userField10" maxlength="255">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </ng-scrollbar>


<div mat-dialog-actions>
    <button mat-flat-button color="primary" class="btn-lg w-100" (click)="save()">
        Save
    </button>
</div>