.over-flow{
    max-width: 15ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
} 
.w-48px {
  width: 48px;
}
.height-65{
height:65vh
}
.w-140{width: 140px;}
.mt-5{
    margin-top: 5px !important;
}