.btn-color-blue {
  color: var(--clr-primary-500) !important;
}
.Compete-cart{
  background-color: #C8E2D8;
  color:#114D35
 
}
.Reprocess-card{
  background-color: #F7D0DA;
  color:#4D0D1D
 
}
.Open-card{
  background-color: #FFF0D6;
  color:#4D3B1A
 
}
.notify-center-table {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}

.readonly {
  background-color: black;
}

.Putaway {
  background-color: var(--clr-primary-10);
  color: var(--clr-tertiary-900);
}

.Count {
  background-color: #fff0d6;
  color: #4d3b1a;
}

.mat-table {
  th {
    white-space: nowrap;
    padding-right: 12px;
  }
  td {
    max-width: 15ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 12px;
    border:0
  }
}
.btn-custom-color-blue{
  color:var(--clr-primary-500)
}
.paginator-left-align{
  float: left, !important;
}

// .mat-row:nth-child(n){
//   background-color:#731a1a;
// }
.h-300px{
  height: 300px;
}