<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
<h1 class="m-0" mat-dialog-title>{{form_heading}}</h1>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>
<div class="">
    <!-- <div mat-dialog-content> -->

        <form class="form pb-4" #pickUpLevelForm="ngForm" (ngSubmit)="onSend(pickUpLevelForm)" style="height:330px;">

            <mat-form-field class="mb-3 w-100" appearance="outline">
                <mat-label>Pick Level</mat-label>
                <input disabled matInput type="text" name="picklvl" required="required" [(ngModel)]="picklvl">
            </mat-form-field>
            <mat-form-field class="mb-3 w-100" appearance="outline">
                <mat-label>Start Shelf</mat-label>
                <input #start_shelf matInput type="text" [NumbersOnly]="true" name="startShelf" required="required" [(ngModel)]="startShelf" maxlength="2" (keydown.space)="$event.preventDefault()" (keyup)="checkIfValid()">
            </mat-form-field>
            <mat-form-field class="mb-3 w-100" appearance="outline">
                <mat-label>End Shelf</mat-label>
                <input matInput type="text" [NumbersOnly]="true" name="endShelf" required="required" [(ngModel)]="endShelf" maxlength="2" (keydown.space)="$event.preventDefault()" (keyup)="checkIfValid()">
            </mat-form-field>
            <mat-dialog-actions align="end">
                <!-- <button mat-button matDialogClose="no" color="danger">Cancel</button> -->
                <button type="submit" mat-flat-button class="form-button-submit w-100 btn-lg"
                    color="primary" [disabled]="isValidForm">{{form_btn_label}}</button>
            </mat-dialog-actions>

        </form>
    <!-- </div> -->
</div>
