<div class="main-section-options">
    <div class="container-fluid">
      <div class="row g-4">
        <!-- Main Section Option (Import Export) -->
    
        <div class="col-xl-3 col-lg-6"
        [ngClass]="isAuthorized('Consolidation Mngr') ? 'isDivDisabled' : ''">
          <div matRipple [matRippleColor]="tabHoverColor" class="main-section-option" 
          routerLink="/ConsolidationManager/Consolidation"
          (click)="updateMenu('consolidationManager', '/ConsolidationManager/Consolidation')">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">insert_chart</span>
            </div>
            <h4 class="main-section-title text-22">Consolidation</h4>
          </div>
        </div>
  
        <div class="col-xl-3 col-lg-6"  
        [ngClass]="isAuthorized('Consolidation Staging Loc') ? 'isDivDisabled' : ''">
          <div matRipple [matRippleColor]="tabHoverColor" class="main-section-option" 
          routerLink="/ConsolidationManager/StagingLocations"
          (click)="updateMenu('consolidationManager', '/ConsolidationManager/StagingLocations')">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                add_location_alt
              </span>
            </div>
            <h4 class="main-section-title text-22">Staging Locations</h4>
          </div>
        </div>
  
        <div class="col-xl-3 col-lg-6" 
        [ngClass]="isAuthorized('Consolidation Mgr Admin') ? 'isDivDisabled' : ''"
        >
          <div matRipple [matRippleColor]="tabHoverColor" routerLink="Preferences"  class="main-section-option bg-white" (click)="updateMenu('consolidationManager', '/ConsolidationManager/Preferences')">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                tune
              </span>
            </div>
            <h4 class="main-section-title text-22">Preferences</h4>
          </div>
        </div>
  
        <div class="col-xl-3 col-lg-6" 
        [ngClass]="isAuthorized('Consolidation Mgr Admin') ? 'isDivDisabled' : ''">
          <div matRipple [matRippleColor]="tabHoverColor" routerLink="Reports" class="main-section-option bg-white" (click)="updateMenu('consolidationManager', '/ConsolidationManager/Reports')">
            <a class="main-section-option-link" href="/ConsolidationManager/Reports"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                analytics
              </span>
            </div>
            <h4 class="main-section-title text-22">Reports</h4>
          </div>
        </div>
  
        <div class="col-xl-3 col-lg-6"
        [ngClass]="isAuthorized('Consolidation Order Status') ? 'isDivDisabled' : ''">
          <div matRipple [matRippleColor]="tabHoverColor" class="main-section-option bg-white"
          routerLink="/ConsolidationManager/OrderStatus" [queryParams]="{IsOrderStatus:true}" >
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                view_module
              </span>
            </div>
            <h4 class="main-section-title text-22">Order Status</h4>
          </div>
        </div>


        
        <div class="col-xl-3 col-lg-6"
        [ngClass]="isAuthorized('Markout Process') ? 'isDivDisabled' : ''">
          <div matRipple [matRippleColor]="tabHoverColor" class="main-section-option bg-white"
          routerLink="/ConsolidationManager/Markout"   (click)="updateMenu('consolidationManager', '/ConsolidationManager/Markout')">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
               schema
              </span>
            </div>
            <h4 class="main-section-title text-22">Markout</h4>
          </div>
        </div>
        
        <div class="col-xl-3 col-lg-6"  [ngClass]="isAuthorized('RGTP Markout') ? 'isDivDisabled' : ''" data-automation-id="rgtp-markout-option-container">
          <div matRipple [matRippleColor]="tabHoverColor" class="main-section-option bg-white"
          routerLink="/ConsolidationManager/RGTPMarkout"   (click)="updateMenu('consolidationManager', '/ConsolidationManager/RGTPMarkout')" data-automation-id="rgtp-markout-option">
            <a class="main-section-option-link" href="#" data-automation-id="rgtp-markout-link"></a>
            <div class="main-section-icon" data-automation-id="rgtp-markout-icon">
              <span class="material-symbols-outlined">
               schema
              </span>
            </div>
            <h4 class="main-section-title text-22" data-automation-id="rgtp-markout-title">RGTP Markout</h4>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6"
        [ngClass]="{ 'isDivDisabled': isAuthorized('RouteID Management') }">
          <div matRipple [matRippleColor]="tabHoverColor" class="main-section-option bg-white"
          routerLink="/ConsolidationManager/RouteIDM"   (click)="updateMenu('consolidationManager', '/ConsolidationManager/RouteIDM')">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
               schema
              </span>
            </div>
            <h4 class="main-section-title text-22">Route ID Management</h4>
          </div>
        </div>
  
  
      </div>
    </div>
  </div>