<div class="row my-3">

  <div class="col-xl-6">
    <mat-card class="mat-elevation-z g-card mb-2">
      <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-3">
          <app-icon-heading-component heading="Put Away Order Selection" icon="format_list_numbered">
          </app-icon-heading-component>
        </div>
        <div class="row">
          <div class="col-xl-6">
            <div class="g-mini-search-box mb-3">
              <div class="search-box">
                <mat-form-field class="w-100 bg-white br-14" appearance="fill">
                  <span class="material-symbols-outlined icon-search">
                    search
                  </span>
                  <input #alertInput type="text" placeholder="Searches" aria-label="Search" matInput maxlength="50" (keyup)="applyFilter1($event)" [(ngModel)]="LeftfilterValue">
                  <button *ngIf="LeftfilterValue != ''" matSuffix class="clear-btn" (click)="LeftfilterValue = ''; this.tableData1.filter = LeftfilterValue;"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="d-xxl-block d-flex justify-content-end">
              <button mat-stroked-button color="primary" class="button-add-all mb-3 float-end put-away-button" (click)="addAll()" >
                Add All
              </button>
            </div>
          </div>
        </div>

        <div class="card br-14 borderless put-away-overflow" >
          <ng-scrollbar class="mat-table-scrollbar  scrollbar-hover-padding put-away-scrollbar"  track="all">
            <table mat-table #table1 [dataSource]="tableData1" class="w-100" matSort #MatSort1="matSort"
            (matSortChange)="announceSortChange1($event)">

              <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Order No.
                </th>
                <td mat-cell *matCellDef="let element" #tooltip="matTooltip" matTooltipPosition="above"
                  [matTooltip]="element.orderNumber"
                  class="put-away-component-card"
                  [matTooltipDisabled]="element.orderNumber && element.orderNumber.length>=20?false:true">
                  {{element.orderNumber}} </td>
              </ng-container>

              <ng-container matColumnDef="itemCount">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Quantity
                </th>
                <td mat-cell *matCellDef="let element" #tooltip="matTooltip" matTooltipPosition="above"
                  [matTooltip]="element.itemCount"
               class="put-away-component-card"
                  [matTooltipDisabled]="element.itemCount && element.itemCount.length>=20?false:true">
                  {{element.itemCount}} </td>
              </ng-container>

              <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Priority
                </th>
                <td mat-cell *matCellDef="let element" #tooltip="matTooltip" matTooltipPosition="above"
                  [matTooltip]="element.priority"
                  class="put-away-component-card"
                  [matTooltipDisabled]="element.priority && element.priority.length>=20?false:true">
                  {{element.priority}} </td>
              </ng-container>

              <ng-container matColumnDef="requiredDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Required
                  Date
                </th>
                <td mat-cell *matCellDef="let element" #tooltip="matTooltip" matTooltipPosition="above"
                  [matTooltip]="element.requiredDate"
                  class="put-away-component-card"
                  [matTooltipDisabled]="element.requiredDate && element.requiredDate.length>=20?false:true">
                  {{element.requiredDate}} </td>
              </ng-container>

              <ng-container matColumnDef="action" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" class="text-end">
                  <button mat-flat-button aria-label="Delete Function" matTooltip="Add" color="primary" class="mx-auto xsm-icon-button" matTooltipPosition="above" (click)="add(element)">
                    <mat-icon>add</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr class="mat-row" *matNoDataRow >
                <td class="mat-cell " [attr.colspan]="displayedColumns1.length">
                    No data available in table.
                </td>
              </tr>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
            </table>
          </ng-scrollbar>
        </div>
        <mat-paginator class="d-flex justify-content-start" showFirstLastButtons [pageSizeOptions]="[10, 20]" [pageSize]="10" #paginator1
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-xl-6">
    <app-put-away-select-orders-component
    [filterValue2]="filterValue2"
    [tableData2]="tableData2"
    [displayedColumns2]="displayedColumns2"
    (announceSortChange2Emit)="announceSortChange2($event.sortState)"
    (applyFilter2Emit)="applyFilter2($event)"
    (removeAllEmit)="removeAll()"
    (removeEmit)="remove($event)"
    ></app-put-away-select-orders-component>
  </div>

</div>


<button color="primary" class="mat-focus-indicator w-100 btn-lg mat-flat-button mat-button-base mat-primary mb-3 put-away-button"
  (click)="locationAssignment()"  ng-reflect-color="primary" ng-reflect-disabled="false"><span
    class="mat-button-wrapper"> Location
    Assignment
  </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
    ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span>
</button>