table{
    tr{
        display: table-row!important;
        white-space: nowrap;
        th, td{
            vertical-align: middle;
            border-bottom: 1px solid var(--clr-pure-white);
            &:first-child{
                padding-left: 20px !important;
            }
            &:last-child{
                padding-right: 10px !important;
            }
        }
    }
}

.put-away-component-card{
    text-overflow: ellipsis !important; 
    overflow: hidden !important;
     max-width: 20ch !important; 
     white-space: nowrap !important;
}
.put-away-overflow{
    overflow-x: auto !important;
}
.put-away-button{
    flex:1 !important;
}
.put-away-scrollbar{
height: 550px !important;
}