table{
    tr{
        display: table-row!important;
        white-space: nowrap;
        th, td{
            vertical-align: middle;
            border-bottom: 1px solid var(--clr-pure-white);
            &:first-child{
                padding-left: 20px !important;
            }
            &:last-child{
                padding-right: 10px !important;
            }
        }
    }
}

.put-away-component-card{
    text-overflow: ellipsis; overflow: hidden; max-width: 20ch; white-space: nowrap
}
.put-away-overflow{
    overflow-x: auto;
}
.put-away-button{
    flex:1;
}
.put-away-scrollbar{
height: 550px;
}