<div class="row align-items-center">
    <div class="col-xl-6">
        <div class="row align-items-center">
            <div class="col-xl-7">
                <mat-form-field class="w-100 custom-form-field custom-form-field-bg-white" appearance="outline">
                    <mat-label>Order Number/Tote</mat-label>
                    <input type="text" aria-label="Search" [(ngModel)]="OrderNumberTote" (keypress)="StagingLocsOrderNum($event)" matInput #autoFocusField>
                    <button matSuffix *ngIf="OrderNumberTote" class="clear-btn"  (click)="OrderNumberTote= ''"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div class="col-xl-4 offset-xl-2">
        <div class="d-flex d-xl-block gap-12 justify-content-end">
            <button style="flex: 1 auto;" mat-stroked-button color="warn" class="mt-2 mt-xl-0 float-end btn-regular button-remove-all-w-stroke  bg-white" (click)="clearAll()">
                Clear
            </button>
        </div>
    </div>
</div>