<div class="d-flex justify-content-between align-items-center" mat-dialog-title>
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Cross Dock Transactions</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" (click)="onNoClick()">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="row">
        <div class="col-xl-8 offset-xl-2">
            <div class="d-flex align-items-center justify-content-center flex-wrap gap-12 mb-3">
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Item No.:&nbsp;<b>{{itemWhse}}</b></span></div>
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Description:&nbsp;<b>{{description}}</b></span></div>
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Backorder Total:&nbsp;<b>{{backOrderTotal}}</b></span></div>
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Allocated Total:&nbsp;<b>{{allocatedTotal}}</b></span></div>
                <div class="text-center"> <span class="label label-gray px-2 f-14 mb-1">Qty Available:&nbsp;<b>{{numberRecords}}</b></span></div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-end mb-3">
        <div class="d-flex align-items-center gap-12">
            <button mat-flat-button color="primary" class="sm-icon-button" (click)="leftClick()" class="sm-icon-button" *ngIf="lowerBound!=1">
                <span class="material-symbols-outlined">
                    keyboard_arrow_left
                </span>
            </button>
            <div class="text-chrome-600"><b>{{upperBound}}</b> of {{crossDock.numberRecords}}</div>
            <button mat-flat-button color="primary" (click)="rightClick()" class="sm-icon-button" *ngIf="upperBound!=crossDock.numberRecords">
                <span class="material-symbols-outlined">
                    keyboard_arrow_right
                </span>
            </button>
            <!-- <mat-paginator>
                </mat-paginator> -->
        </div>
    </div>

    <div class="card p-3 mb-3">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h2 class="card-header-title mb-0 d-flex align-items-center me-3">
                <div class="mat-icon-wrap me-lg-3">
                    <span class="material-symbols-outlined">
                        category
                    </span>
                </div>
                <span>Order</span>
            </h2>
            <mat-form-field class="action-dropdown custom-form-field-bg-white" appearance="outline">
                <mat-select #openAction class="employees-action" placeholder="Actions" >
                    
                    <mat-option [disabled]="!selectedRowObj" value="new_tote" (click)="getNxtToteIds()">Next Tote</mat-option>
                    <mat-option [disabled]="!selectedRowObj" value="clear" (click)="openUserFieldsDialogue()">User Fields</mat-option>
                    <mat-option [disabled]="!selectedRowObj" value="viewOrderStatus" (click)="viewOrderStatus()">View Order Status</mat-option>
                    <mat-option [disabled]="!selectedRowObj" value="viewReprocess" (click)="openReprocessTransactionViewDialogue()">View Reprocess</mat-option>
                    <mat-option [disabled]="!selectedRowObj" value="completePick" (click)="completePick()">Complete Pick</mat-option>
                    <mat-option [disabled]="!selectedRowObj" value="printToteLabel" (click)="print('printtotelabel')">Print Tote Label</mat-option>
                    <mat-option [disabled]="!selectedRowObj" value="printItemLabel" (click)="print('printitemlabel')">Print Item Label</mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </mat-form-field>
        </div>
        <div class="list-row-seperator">
        <ng-container *ngFor="let t of transactions;let i = index">
        
        <div (click)="selectRow(i,t)"  [class.selection] = "selectedRow==i" class="list-item pt-3 px-3 my-2" >
            <!-- onmouseover="this.style.background='#5555ec';" onmouseout="this.style.background='white';" -->
            <div class="row">
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Order No.</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{t.orderNumber}}" disabled>
                      </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Host Transaction ID</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{t.hostTransactionID}}" disabled>
                      </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Transaction Qty</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{t.transactionQuantity}}" disabled>
                      </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Completed Qty</mat-label>
                        <input [NumbersOnly]="true" #complete_focus  (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{t.completedQuantity}}" #compQty (focusout)="compQtyChange({ i, compQty : compQty.value })">
                        <!-- <span matSuffix>
                            <mat-icon style="color: var(--clr-tertiary-900); transform: rotate(45deg);">unfold_more</mat-icon>
                        </span> -->
                      </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Import Date</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{t.importDate}}" disabled>
                      </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Required Date</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{t.requiredDate}}" disabled>
                      </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Priority</mat-label>
                        <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{t.priority}}" disabled>
                      </mat-form-field>
                </div>
                <div class="col-xl-3" (click)="selectTote(i)">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" >
                        <mat-label>Tote ID</mat-label>
                        <input  matInput type="text" readonly value="{{t.toteID}}">
                        <span matSuffix>
                            <mat-icon style="color: var(--clr-tertiary-900); transform: rotate(45deg);">unfold_more</mat-icon>
                        </span>
                      </mat-form-field>
                </div>
            </div>
        </div>
       
        </ng-container>
    </div>
        

    
    </div>
</div>

<div class="d-flex gap-12 mb-1" mat-dialog-actions>
    <button mat-stroked-button color="primary" class="btn-lg" (click)="refresh()">
        Refresh
    </button>
    <button mat-flat-button color="primary" class="btn-lg" style="flex:1" (click)="submit()">
        Send Transaction To Tote Batch
    </button>
</div>