<div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
    <div color="warn" class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
        <mat-icon class="material-symbols-outlined" color="primary">edit_calendar</mat-icon>
    </div>
    <div>
        <h1 class="mat-card-title text-primary-900">
            Select a date for Order {{orderName}}
        </h1>
        <p class="bold text-tritary-900 mb-4">
            Select Date filter
        </p>
    </div>
    <div class="w-100">
        <ng-container *ngFor="let item of dateList;let i=index">
            <button (click)="selectDate(item)" mat-stroked-button [color]="i == 0 ? 'primary' : 'basic'"
                class="w-100 btn-lg mb-2" [ngClass]="i == 0 ? 'prompt-action-accent-button' : 'custom-btn bg-white'">
                {{item}}
            </button>
        </ng-container>
        <button mat-stroked-button color="basic" class="custom-btn bg-white w-100 btn-lg" mat-dialog-close>
            Cancel
        </button>
    </div>
</div>