<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title data-automation-id="delete-range-dialog-title">Delete Range</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false" data-automation-id="delete-range-close-button">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="">
    <div class="w-100">
        <div class="col-12 mb-2">
            <mat-form-field class="action-dropdown w-100 mb-2" appearance="outline">
                <mat-label data-automation-id="filter-label">Filter</mat-label>
                <mat-select class="employees-action" [(ngModel)]="repByDeletePayload.identity"
                    (selectionChange)="showChange()" data-automation-id="filter-select">
                    <mat-option value="Batch Pick ID" data-automation-id="filter-option-batch-pick-id">Batch Pick ID</mat-option>
                    <mat-option value="Pick Location" data-automation-id="filter-option-pick-location">Pick Location</mat-option>
                    <mat-option value="Put Away Location" data-automation-id="filter-option-put-away-location">Put Away Location</mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </mat-form-field>
        </div>
        <div class="col-12 mb-2">
            <mat-form-field class="custom-form-field w-100" appearance="outline" 
            (keyup.enter)="closeautoMenuStart()" [floatLabel]="getFloatLabelValueStart()" [hideRequiredMarker]="hideRequiredControlStart.value" >
                <mat-label data-automation-id="begin-label">Begin</mat-label>
                <input #delFocus matInput type="text" maxlength="50" [matAutocomplete]="auto"
                    [(ngModel)]="repByDeletePayload.filter1" (keyup)="changeBegin()" data-automation-id="begin-input">
                <mat-autocomplete #auto="matAutocomplete" #autocompleteStart>
                    <mat-option *ngFor="let option of beginAutoCompleteList" [value]="option" [attr.data-automation-id]="'begin-option-' + option">
                        {{option}}
                    </mat-option>
                    <mat-option *ngIf="beginAutoCompleteList?.length ==0" disabled data-automation-id="begin-option-no-data">
                        No data found
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="col-12">
            <mat-form-field class="custom-form-field w-100" appearance="outline" 
            (keyup.enter)="closeautoMenuEnd()" [floatLabel]="getFloatLabelValueEnd()"  [hideRequiredMarker]="hideRequiredControlEnd.value" >
                <mat-label data-automation-id="end-label">End</mat-label>
                <input matInput type="text" maxlength="50" [matAutocomplete]="auto2" 
                    [(ngModel)]="repByDeletePayload.filter2" (keyup)="changeEnd()" data-automation-id="end-input">
                <mat-autocomplete #auto2="matAutocomplete" #autocompleteEnd>
                    <mat-option *ngFor="let option of endAutoCompleteList" [value]="option" [attr.data-automation-id]="'end-option-' + option">
                        {{option}}
                    </mat-option>
                    <mat-option *ngIf="endAutoCompleteList?.length ==0" disabled data-automation-id="end-option-no-data">
                        No data found
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <div class="d-flex justify-content-end pt-3">
            <button mat-flat-button color="warn" class="btn-lg w-100 flex-grow-1"
                (click)="ReplenishmentsByDelete()" data-automation-id="delete-range-delete-button">Delete</button>
        </div>
    </div>
</div>