<div class="container-fluid p-0" *ngIf="this.isViewLoaded && !verifyBulks">
    <div class="row">
        <div class="col-xxl-7 mb-3">
            <app-search-bar (changeViewEmitter)="changeView($event); getAllCount()" [bulkTransactionType]="this.bulkTransactionTypeAllCaps"
                [status]="status" [view]="view" [orders]="orders" [batchSeleted]="batchSelected"
                [selectedOrders]="selectedOrders" [allowQuickPick]="allowQuickPick" [isQuickPick]="isQuickPick"
                [hasEmergencyPick]="hasEmergencyPick" [isEmergencyPick]="isEmergencyPick"
                [defaultQuickPick]="defaultQuickPick" (addItemEmitter)="selectOrder($event)"
                (printDetailList)="printDetailList()" (createBatchEmit)="createBatchNow($event)"
                (isQuickPickChange)="this.isQuickPick = $event;pickViewChange()" (isEmergencyPickChange)="handleEmergencyPickChange($event)"></app-search-bar>
        </div>
        <div class="col-xxl-5 mb-3">
            <app-status [status]="status" [isQuickPick]="isQuickPick" [isEmergencyPick]="isEmergencyPick" [bulkTransactionType]="this.bulkTransactionTypeAllCaps"></app-status>
        </div>
    </div>
    <div class="row">
        <div class="col-xxl-7 mb-3">
            <app-order-selection-list [batchSeleted]="batchSelected" [url]="this.bulkTransactionTypeAllCaps"
                [orders]="orders" [view]="view" [displayedColumns]="displayedColumns"
                (selectOrderEmitter)="selectOrder($event)" (appendAllEmitter)="appendAll()"></app-order-selection-list>
        </div>
        <div class="col-xxl-5 mb-3">
            <app-selected-orders [selectedOrders]="selectedOrders" [view]="view"
                [selectedDisplayedColumns]="selectedDisplayedColumns"
                (removeOrderEmitter)="removeOrder($event)" (removeAllEmitter)="removeAll()"></app-selected-orders>
        </div>
    </div>
    <div>
        <button mat-flat-button color="primary" class="btn-lg w-100" *ngIf="showVerifyBulkButton" (click)="Process()"
            [disabled]="!(selectedOrders.length > 0)" data-automation-id="bulk-transaction-verify-bulk-button">
            Verify Bulk {{this.bulkTransactionTypeAllCaps}}
        </button>
        <button mat-flat-button color="primary" class="btn-lg w-100" *ngIf="showQuickPickButton" (click)="ProcessQuickPick()"
            [disabled]="!(selectedOrders.length > 0)" data-automation-id="bulk-transaction-process-quick-pick-button">
            Process Quick Pick
        </button>
    </div>
</div>

<app-verify-bulk *ngIf="verifyBulks" [isBatchIdGenerationEnabled]="isBatchIdGenerationEnabled" [orderLines]="orderLines" [Prefernces]="Prefernces"
    [bulkTransactionType]="this.bulkTransactionTypeAllCaps" [NextToteID]="this.NextToteID" [isSlapperLabelFlow]="isSlapperLabelFlow"
    [assignToteToOrderCalled]="assignToteToOrderCalled" (back)="changeVisibiltyVerifyBulk(true)"></app-verify-bulk>
