<div class="container-fluid p-0" *ngIf="!verifyBulks">
    <div class="row">
        <div class="col-xxl-7 mb-3">
            <app-search-bar (changeViewEmitter)="changeView($event)" [url]="capitalizeWords(url)" [status]="status" [view]="view" [orders]="orders" [batchSeleted]="batchSeleted"
             [selectedOrders]="selectedOrders" (addItemEmitter)="selectOrder($event)" (printDetailList)="printDetailList()"
             (createBatchEmit)="createBatchNow($event)"></app-search-bar>
        </div>
        <div class="col-xxl-5 mb-3">
            <app-status [status]="status"></app-status>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 mb-3">
            <app-order-selection-list  [batchSeleted]="batchSeleted" [url]="capitalizeWords(url)" [orders]="orders" [view]="view" [ordersDisplayedColumns]="ordersDisplayedColumns" (selectOrderEmitter)="selectOrder($event)" (appendAllEmitter)="appendAll()"></app-order-selection-list>
        </div>
        <div class="col-xl-5 mb-3">
            <app-selected-orders [selectedOrders]="selectedOrders" [url]="capitalizeWords(url)" [view]="view" [selectedOrdersDisplayedColumns]="selectedOrdersDisplayedColumns" (removeOrderEmitter)="removeOrder($event)" (removeAllEmitter)="removeAll()"></app-selected-orders>
        </div>
    </div>
    <div>
        <button mat-flat-button color="primary" class="btn-lg w-100" (click)="Process()" [disabled]="!(selectedOrders.length > 0)">
            Verify Bulk {{capitalizeWords(url)}}
        </button>
    </div>
</div>

<app-verify-bulk *ngIf="verifyBulks" [orderLines]="orderLines" [url]="capitalizeWords(url)" [NextToteID]="this.NextToteID" (back)="changeVisibiltyVerifyBulk(true)"></app-verify-bulk>
