
.scrollable-content {
  max-height:250px;
}

.message-content {
  margin-bottom: 24px;
}

.message-section {
  font-size: 16px;
  margin-bottom: 16px;
  text-align: left;
}

.message-label {
  font-weight: bold;
  margin-right: 4px;
}

.button-container {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: white;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
