.h-500px{
    height: 500px;
}
.w-25percent{
    width: 25%;
}
.mat-cell{
    &.mat-column-wsid, &.mat-column-appname{
        max-width: 15ch;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
    }
}