<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title data-automation-id="om-event-log-entry-detail-dialog-title">Event Log Entry Detail</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true" data-automation-id="om-event-log-entry-detail-close-button">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="row">
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label data-automation-id="event-id-label">Event ID</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.eventID" [attr.data-automation-id]="'event-id-input-' + eventLog.eventID">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label data-automation-id="event-location-label">Event Location</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true"
                [(ngModel)]="eventLog.eventLocation" [attr.data-automation-id]="'event-location-input-' + eventLog.eventLocation">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label data-automation-id="username-label">Username</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.nameStamp" [attr.data-automation-id]="'username-input-' + eventLog.nameStamp">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label data-automation-id="transaction-id-label">Transaction ID</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true"
                [(ngModel)]="eventLog.transactionID" [attr.data-automation-id]="'transaction-id-input-' + eventLog.transactionID">
        </mat-form-field>
    </div>
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label data-automation-id="event-type-label">Event Type</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.eventType" [attr.data-automation-id]="'event-type-input-' + eventLog.eventType">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label data-automation-id="event-code-label">Event Code</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.eventCode" [attr.data-automation-id]="'event-code-input-' + eventLog.eventCode">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label data-automation-id="date-label">Date</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.dateStamp" [attr.data-automation-id]="'date-input-' + eventLog.dateStamp">
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
            <mat-label data-automation-id="message-label">Message</mat-label>
            <textarea  class="max-height-100" matInput readonly="true" disabled
                [(ngModel)]="eventLog.message" [attr.data-automation-id]="'message-textarea-' + eventLog.message"></textarea>
        </mat-form-field>
    </div>
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
            <mat-label data-automation-id="notes-label">Notes</mat-label>
            <textarea class="max-height-100" matInput readonly="true" disabled
                [(ngModel)]="eventLog.notes" [attr.data-automation-id]="'notes-textarea-' + eventLog.notes"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <button mat-stroked-button color="warn"
            class="btn-lg button-remove-all-w-stroke bg-white br-18 w-100 flex-grow-1" (click)="deleteEvent()" data-automation-id="om-event-log-entry-detail-delete-button">Delete Event</button>
    </div>
    <div class="col-xl-6">
        <button mat-flat-button color="primary" class="btn-lg w-100 flex-grow-1" (click)="printEvent()" data-automation-id="om-event-log-entry-detail-print-button">Print Event</button>
    </div>
</div>