<div class="d-flex justify-content-between align-items-center mb-3">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Event Log Entry Detail</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="row">
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label>Event ID</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.eventID">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label>Event Location</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true"
                [(ngModel)]="eventLog.eventLocation">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.nameStamp">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label>Transaction ID</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true"
                [(ngModel)]="eventLog.transactionID">
        </mat-form-field>
    </div>
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label>Event Type</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.eventType">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label>Event Code</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.eventCode">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
            <mat-label>Date</mat-label>
            <input matInput type="text" maxlength="50" readonly="true" disabled="true" [(ngModel)]="eventLog.dateStamp">
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea style="max-height: 100px;" matInput readonly="true" disabled
                [(ngModel)]="eventLog.message"></textarea>
        </mat-form-field>
    </div>
    <div class="col-xl-6">
        <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
            <mat-label>Notes</mat-label>
            <textarea style="max-height: 100px;" matInput readonly="true" disabled
                [(ngModel)]="eventLog.notes"></textarea>
        </mat-form-field>
    </div>
</div>

<div class="row">
    <div class="col-xl-6">
        <button mat-stroked-button color="warn"
            class="btn-lg button-remove-all-w-stroke bg-white br-18 w-100 flex-grow-1" (click)="deleteEvent()">Delete Event</button>
    </div>
    <div class="col-xl-6">
        <button mat-flat-button color="primary" class="btn-lg w-100 flex-grow-1" (click)="printEvent()">Print Event</button>
    </div>
</div>