.hadi {
    position: absolute;
    left: 30px;
    top: 0;
    z-index: 7;
    border: none;
    width: 100%;
    height: 30px;
    font-size: 20px;
    background-color: transparent;
  }
  
  .autocomplete {
    color: silver;
    z-index: 1;
  }