<div class="d-flex justify-content-between align-items-center mb-3">
    <app-icon-heading-component
      class="card-header-title mt-4 d-flex align-items-center"
      heading="System Logic Preferences"
      icon="settings_suggest"
    ></app-icon-heading-component>
  </div>

  <div class="card p-3">
    <div class="row">
      <div class="col-xl-6">
        <mat-form-field
          class="custom-form-field custom-form-field-bg-white w-100 mb-3"
          appearance="outline"
        >
          <mat-label>Next Tote ID</mat-label>
          <input
            type="text"
            [(ngModel)]="CompanyObj.nextToteID"
            (change)="payload()"
            matInput
            maxlength="255"
          />
        </mat-form-field>
        <mat-form-field
          class="custom-form-field custom-form-field-bg-white w-100 mb-3"
          appearance="outline"
        >
          <mat-label>Next Serial Number</mat-label>
          <input
            type="text"
            [(ngModel)]="CompanyObj.nextSerialNumber"
            (change)="payload()"
            matInput
            maxlength="255"
          />
        </mat-form-field>
      </div>
      <div class="col-xl-6">
        <mat-form-field
          class="action-dropdown custom-form-field-bg-white w-100 mb-3"
          appearance="outline"
        >
          <mat-label>Pick Type</mat-label>
          <mat-select
            [(ngModel)]="CompanyObj.pickType"
            (change)="payload()"
            class="employees-action"
            value="pick"
          >
            <mat-option value="Pick and Pass">Pick and Pass</mat-option>
            <mat-option value="Parallel Pick">Parallel Pick</mat-option>
          </mat-select>
          <span class="material-symbols-outlined icon-expand-more">
            expand_more
          </span>
        </mat-form-field>
      </div>
      <div class="col-xl-6">
        <div class="d-flex justify-content-between mb-3">
          FIFO Pick Across Warehouse
          <mat-slide-toggle
            [(ngModel)]="CompanyObj.fifoPickAcrossWarehouse"
            (change)="payload()"
            color="primary"
          ></mat-slide-toggle>
        </div>
        <div class="d-flex justify-content-between mb-3">
          Replenish Dedicated Only
          <mat-slide-toggle
            [(ngModel)]="CompanyObj.replenishDedicatedOnly"
            (change)="payload()"
            color="primary"
          ></mat-slide-toggle>
        </div>
        <div class="d-flex justify-content-between mb-3">
          OT Temp to OT Pending
          <mat-slide-toggle
            [(ngModel)]="CompanyObj.otTemptoOTPending"
            (change)="payload()"
            color="primary"
          ></mat-slide-toggle>
        </div>
        <div class="d-flex justify-content-between mb-3">
          Zero Location Qty Check
          <mat-slide-toggle
            [(ngModel)]="CompanyObj.zeroLocationQuantityCheck"
            (change)="payload()"
            color="primary"
          ></mat-slide-toggle>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="d-flex justify-content-between mb-3">
          Distinct Kit Orders
          <mat-slide-toggle
            [(ngModel)]="CompanyObj.distinctKitOrders"
            (change)="payload()"
            color="primary"
          ></mat-slide-toggle>
        </div>
        <div class="d-flex justify-content-between mb-3">
          Print Replen Put Labels
          <mat-slide-toggle
            [(ngModel)]="CompanyObj.printReplenPutLabels"
            (change)="payload()"
            color="primary"
          ></mat-slide-toggle>
        </div>
        <div class="d-flex justify-content-between mb-0">
          Create Transactions When (Un)Quarantining
          <mat-slide-toggle
            [(ngModel)]="CompanyObj.generateQuarantineTransactions"
            (change)="payload()"
            color="primary"
          ></mat-slide-toggle>
        </div>
      </div>
    </div>
  </div>