.height300{
    height:300px  !important; 
}
.minWidth{
    min-width:768px !important; 
    overflow: hidden !important;
}

.transform
{
    color:var(--clr-tertiary-900) !important; 
    transform: rotate(45deg) !important;
}