<div class="row w-100 mt-4 mx-0">
  <div class="col-xl-4 mb-3 mb-xl-0">
    <app-wp-ws-workstation-settings></app-wp-ws-workstation-settings>
  </div>
  <div class="col-xl-4 mb-3 mb-xl-0">
   <div class="mb-3">
     <app-wp-ws-tote-management></app-wp-ws-tote-management>
   </div>
   <div>
     <app-storage-container-management></app-storage-container-management>
   </div>
  </div>
  <div class="col-xl-4 mb-3 mb-xl-0">
    <app-wp-ws-location-assignment-functions></app-wp-ws-location-assignment-functions>
  </div>
</div>


<!-- Storage Container Management -->