<div class="employee-picklevel-settings-tab g-tab bg-white">

  <!-- Pick Level Card -->
  <div class="g-action-card g-action-card-disabled mb-3">
    <div class="card w-100 overflow-hidden">

      <div class="card-body">
        <div class="p-2">
          <div class="search-box zone-search-box">
            <div class="d-flex g-mini-search-box mb-3">
              <mat-form-field class="w-100" appearance="fill">
                <span class="material-symbols-outlined icon-search">
                  search
                </span>
                <input type="text" [(ngModel)]="searchPickLvl" placeholder="Search Pick Levels" aria-label="Search Pick Levels" matInput
                  (keyup)="applyFilter($event)" maxlength="50">
        <button matSuffix *ngIf="searchPickLvl" class="clear-btn" (click)="clear()"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                  
                  <!-- <button *ngIf="searchPickLvl" matSuffix mat-icon-button aria-label="Clear" (click)="searchPickLvl=''">
                    <mat-icon>close</mat-icon>
                  </button> -->
              </mat-form-field>
              <button mat-flat-button color="primary" [disabled]="!isLookup" class="mat-button-icon" (click)="pickUpLevelDialog()">
                <span class="material-symbols-outlined" matTooltip="Add pick levels" matTooltipPosition="above">
                  add
                </span>
              </button>
            </div>
            <!-- <div class="d-block text-end my-4">
              <button mat-stroked-button color="warn" class="button-remove-all">
                <mat-icon>close</mat-icon>
                Remove All
              </button>
            </div> -->
            <div class="card table-responsive">
              <ng-scrollbar class="mat-table-scrollbar" style="height: 500px;">
            <table mat-table [dataSource]="pickup_level_data_source" matSort
              (matSortChange)="announceSortChange($event)" class="w-100 g-card-table employee-pick-level-table table-minimal-action-buttons">

              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" [attr.colspan]="displayedColumns.length" style="text-align: center;">
                  No data matching the filter.
                </td>
              </tr>
              <ng-container matColumnDef="pickLevel">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Pick Level</th>
                <td mat-cell *matCellDef="let element"> {{element.pickLevel}} </td>
              </ng-container>

              <!-- End Location Column -->
              <ng-container matColumnDef="startShelf">
                <th width="26.66%" mat-header-cell *matHeaderCellDef mat-sort-header>Start Shelf</th>
                <td width="26.66%" mat-cell *matCellDef="let element"> {{element.startShelf}} </td>
              </ng-container>

              <ng-container matColumnDef="endShelf">
                <th width="26.66%" mat-header-cell *matHeaderCellDef mat-sort-header>End Shelf</th>
                <td width="26.66%" mat-cell *matCellDef="let element"> {{element.endShelf}} </td>
              </ng-container>


              <ng-container matColumnDef="edit">
                <th width="20%" class="text-center" mat-header-cell *matHeaderCellDef>Action</th>
                <td width="20%" class="text-center" mat-cell *matCellDef="let element">
                  <!-- <button mat-icon-button aria-label="Delete" (click)="deletePickLevel(element)" matTooltip="Delete pick levels" matTooltipPosition="above">
                    <mat-icon class="icon-circle-cancel">close</mat-icon>
                  </button> -->
                  <button  mat-icon-button aria-label="Edit" (click)="editPickLevel(element)" matTooltip="Edit pick levels" matTooltipPosition="above">
                    <mat-icon class="icon-circle-edit">border_color</mat-icon>
                  </button>
                  <button class="me-0" mat-icon-button aria-label="Delete" (click)="deletePickLevel(element)" matTooltip="Remove pick levels" matTooltipPosition="above">
                    <mat-icon class="icon-circle-cancel">close</mat-icon>
                  </button>
                  
                </td>

              </ng-container>




              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </ng-scrollbar>
          </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
