<mat-card class="mat-elevation-z g-card h-100">
  <mat-card-content>
    <div class=" d-block d-xl-flex justify-content-between align-items-center flex-wrap">
      <h2 class=" card-header-title d-flex align-items-center mb-2">
        <div class="mat-icon-wrap me-3">
          <span class="material-symbols-outlined">
            rule
          </span>
        </div>
        <span>Markout</span>
      </h2>
      <div class="">
        <mat-form-field class="action-dropdown mb-2 flex-1 w-100" appearance="outline">
          <mat-label>Actions</mat-label>
          <mat-select class="employees-action" (selectionChange)="emitSelectedValue($event.value)">
            <mat-option (click)="blossomtotedialog()"
              [disabled]="toteDataResponse && toteDataResponse.data && (toteDataResponse.data.length == 0 || toteDataResponse.toteStatus == 'Complete')">
              Blossom Tote
            </mat-option>
            <mat-option [value]="'View by Order'" (click)="viewChange()">View by Order</mat-option>
            <mat-option [value]="'View by Tote'" (click)="viewChange()">View by Tote</mat-option>
          </mat-select>
          <span class="material-symbols-outlined icon-expand-more">
            expand_more
          </span>
        </mat-form-field>
      </div>
    </div>
    <div class="p-3 br-14 bg-light-blue markout-search align-items-center">
      <div class="w-100 px-0 py-xl-4 py-2">
        <div class="row g-md-3 g-0">
          <div class="col-xl-6">
            <div class="">
              <div class="">

                <mat-form-field class="custom-form-field-bg-white w-100 __grab_cursor mb-2 mb-xl-0" appearance="outline"
                  [floatLabel]="getFloatLabelValue()">
                  <mat-label>Tote ID</mat-label>
                  <input type="text" aria-label="Number" matInput [(ngModel)]='toteId' (keyup.enter)="emitToteId()">
                  <button matSuffix *ngIf="toteId" class="clear-btn" (click)="toteId = ''"><mat-icon
                      class="text-20 text-chrome-600">cancel</mat-icon></button>
                </mat-form-field>

              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="">
              <div class="">

                <mat-form-field class="custom-form-field w-100 __grab_cursor" appearance="outline"
                  [floatLabel]="getFloatLabelValue()">
                  <mat-label>Order No.</mat-label>
                  <input type="text" aria-label="Number" matInput [(ngModel)]='orderNumber' disabled>
                </mat-form-field>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>