<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="divWithClass" ></div>
    <h1 class="m-0" mat-dialog-title>Devices-Add Edit, Delete</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true"
        (click)="dialogClose()">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<form [formGroup]="newDeviceForm" >
    <div mat-dialog-content class="row mb-3">
        <div class="col-12">
            <div class="label-blue3 p-3 d-flex br-8 mb-3" *ngIf="!isEdit">
                <mat-icon class="material-symbols-outlined">info</mat-icon>
                <span class="ps-2 w-100">Device Details needs to be saved before edits can be made to Comm Settings.</span>
            </div>
            <div class="container p-3 card">
                    <div class="row">
                        <div class="d-flex align-items-center gap-12 mb-3">
                            <app-icon-heading-component heading="Device Details" icon="aod_tablet"></app-icon-heading-component>
                            <span class="label label-gray px-2 mb-xl-0 mb-1 mx-2 text-16">Device ID:&nbsp;<b class="badge-ch-limit">{{this.newDeviceID>0?this.newDeviceID:this.item && this.item.deviceID?this.item.deviceID:'(new)'}}</b></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4  mb-2">

                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Zone</mat-label>
                                <mat-select formControlName="zone">
                                    <mat-option *ngFor="let item of zoneList;let index = index"
                                        [value]="item">{{item}}</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>

                        </div>
                        <div class="col-xl-4  mb-2">



                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Device Type</mat-label>
                                <mat-select formControlName="deviceType" (selectionChange)="showDPTypeFields()">
                                    <mat-option value="Carousel">Carousel</mat-option>
                                    <mat-option value="Carton Flow">Carton Flow</mat-option>
                                    <mat-option value="Light Tree">Light Tree</mat-option>
                                    <mat-option value="Scale">Scale</mat-option>
                                    <mat-option value="Scanner">Scanner</mat-option>
                                    <mat-option value="Sort Bar">Sort Bar</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">


                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Device Number</mat-label>
                                <mat-select formControlName="deviceNumber">

                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="6">6</mat-option>
                                    <mat-option value="7">7</mat-option>
                                    <mat-option value="8">8</mat-option>
                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-4  mb-2">


                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label> Device Model</mat-label>
                                <mat-select formControlName="deviceModel" (selectionChange)="showDPTypeFields()">

                                    <mat-option *ngFor="let item of deviceModelList;let index = index"
                                        [value]="item">{{item}}</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">



                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline" >
                                <mat-label>Controller Type</mat-label>
                                <mat-select formControlName="controllerType"  (selectionChange)="changeType($event);showDPTypeFields()" >

                                    <mat-option *ngFor="let item of controllerTypeList;let index = index"
                                        [value]="item">{{item}}</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">


                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label> Controller Terminal Port</mat-label>
                                <mat-select formControlName="controllerTerminalPort">



                                    <mat-option value="11">11</mat-option>
                                    <mat-option value="12">12</mat-option>
                                    <mat-option value="13">13</mat-option>
                                    <mat-option value="21">21</mat-option>
                                    <mat-option value="22">22</mat-option>
                                    <mat-option value="23">23</mat-option>
                                    <mat-option value="31">31</mat-option>
                                    <mat-option value="32">32</mat-option>
                                    <mat-option value="33">33</mat-option>
                                    <mat-option value="41">41</mat-option>
                                    <mat-option value="42">42</mat-option>
                                    <mat-option value="43">43</mat-option>
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="VC">VC</mat-option>
                                    <mat-option value="DL">DL</mat-option>
                                    <mat-option value="IP">IP</mat-option>
                                    <mat-option value="DR">DR</mat-option>
                                    <mat-option value="I1">I1</mat-option>
                                    <mat-option value="I2">I2</mat-option>
                                    <mat-option value="I3">I3</mat-option>
                                    <mat-option value="I4">I4</mat-option>
                                    <mat-option value="I5">I5</mat-option>
                                    <mat-option value="I6">I6</mat-option>
                                    <mat-option value="I7">I7</mat-option>
                                    <mat-option value="I8">I8</mat-option>
                                    <mat-option value="I9">I9</mat-option>
                                    <mat-option value="WMI">WMI</mat-option>
                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-4  mb-2">


                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Arrow Direction</mat-label>
                                <mat-select formControlName="arrowDirection">
                                    <mat-option value="L">Left</mat-option>
                                    <mat-option value="R">Right</mat-option>
                                    <mat-option value="U">Up</mat-option>
                                    <mat-option value="D">Down</mat-option>
                                    <mat-option value="B">Left and Right</mat-option>
                                    <mat-option value="P">Up and Down</mat-option>
                                    <mat-option value="N">None</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">


                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Light Direction</mat-label>
                                <mat-select formControlName="lightDirection">

                                    <mat-option value="L">Left to Right</mat-option>
                                    <mat-option value="R">Right to Left</mat-option>
                                    <mat-option value="U">Bottom Up</mat-option>
                                    <mat-option value="D">Top Down</mat-option>
                                    <mat-option value="Twin Bin R to L">Twin Bin R to L</mat-option>
                                    <mat-option value="Twin Bin L to R">Twin Bin L to R</mat-option>
                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">



                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Use Light Tree Number</mat-label>
                                <mat-select formControlName="lightTreeNumber">
                                    <mat-option *ngFor="let num of lightTreeNumberOptions" [value]="num">
                                    {{ num }}
                                    </mat-option>
                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xl-4  mb-2">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>First Address</mat-label>
                                <input #first_address [NumbersOnly]="true" maxlength="5" matInput formControlName="firstAddress">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Display Positions</mat-label>
                                <input [NumbersOnly]="true" maxlength="9" matInput formControlName="displayPositions">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Display Characters</mat-label>
                                <input [NumbersOnly]="true" maxlength="9" matInput formControlName="displayCharacters">
                            </mat-form-field>
                        </div>

                    </div>


                    <div class="row align-items-center">
                        <div class="col-xl-4  mb-2">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Pair Key</mat-label>
                                <input maxlength="50" matInput formControlName="pairKey">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">
                            <div class="d-flex justify-content-between mb-2">
                                <span>Use Laser Pointer:</span>
                                <mat-slide-toggle  formControlName="laserPointer" checked
                                    color="primary"></mat-slide-toggle>
                            </div>
                        </div>


                    </div>


                
                
            </div>
            <div *ngIf="isEdit && this.interfaceType===devicePreferencesShownType.WMI">
                    <div class="container p-3 card mt-3">
                        <app-icon-heading-component class="mb-3" heading="Communication Settings" icon="communication"></app-icon-heading-component>
                    <div class="row">
                        <div class="col-xl-6  mb-2">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Host IP Address</mat-label>
                                <input maxlength="50" matInput formControlName="hostIP">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6  mb-2">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Host Port</mat-label>
                                <input matInput formControlName="hostPort">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-6  mb-2">
                            <mat-form-field class="d-block w-100 " appearance="outline">
                                <mat-label>Workstation Name</mat-label>
                                <input maxlength="50" matInput formControlName="workstationName">
                            </mat-form-field>
                        </div>
                        <div class="col-xl-6">
                            <div class="d-flex align-items-center justify-content-between mb-3">
                              <button type="button" mat-stroked-button class="btn-regular w-100" (click)="getCompName()" color="primary">Assign Device To This Workstation</button>
                            </div>
                          </div>
                    </div>
                    </div>
                </div>

                <div *ngIf="isEdit && this.interfaceType===devicePreferencesShownType.OTHER" >
                    <div class="container p-3 card mt-3">
                    <app-icon-heading-component class="mb-3" heading="Communication Settings" icon="communication"></app-icon-heading-component>
                    <div class="row">
                        <div class="col-xl-4  mb-2">

                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>COM Port</mat-label>
                                <mat-select formControlName="comPort">
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>
                                    <mat-option value="3">3</mat-option>
                                    <mat-option value="4">4</mat-option>
                                    <mat-option value="5">5</mat-option>
                                    <mat-option value="6">6</mat-option>
                                    <mat-option value="7">7</mat-option>
                                    <mat-option value="8">8</mat-option>
                                    <mat-option value="9">9</mat-option>
                                    <mat-option value="10">10</mat-option>
                                    <mat-option value="11">11</mat-option>
                                    <mat-option value="12">12</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>

                        </div>
                        <div class="col-xl-4  mb-2">



                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Baud Rate</mat-label>

                                <mat-select formControlName="baud">
                                    <mat-option value="4800">4800</mat-option>
                                    <mat-option value="9600">9600</mat-option>
                                    <mat-option value="19200">19200</mat-option>
                              

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                        <div class="col-xl-4  mb-2">

                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Parity</mat-label>
                                <mat-select formControlName="parity">

                                    <mat-option value="Odd">Odd</mat-option>
                                    <mat-option value="Even">Even</mat-option>
                                    <mat-option value="None">None</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                       
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xl-4  mb-2">
                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Word Length</mat-label>
                                <mat-select formControlName="wordLength">

                                    <mat-option value="7">7</mat-option>
                                    <mat-option value="8">8</mat-option>
                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>

                         
                        </div>
                        <div class="col-xl-4  mb-2">

                            <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                                <mat-label>Stop Bit</mat-label>
                                <mat-select formControlName="stopBit">

                                    <mat-option value="0">0</mat-option>
                                    <mat-option value="1">1</mat-option>
                                    <mat-option value="2">2</mat-option>

                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                        
                        <div class="col-xl-6">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <button type="button" mat-stroked-button class="btn-regular w-100" (click)="updateAllDevices(true)"  color="primary">Update All Devices</button>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <button type="button" mat-stroked-button class="btn-regular w-100" (click)="updateAllDevices(false)"  color="primary">Update All With Same Zone</button>
                            </div>
                        </div>
                        

                    </div>
                    </div>
                </div>


        </div>
    </div>

    <div mat-dialog-actions class="d-flex gap-12">
        <button type="button" mat-stroked-button color="secondary" class="btn-lg text-danger flex-shrink-0"
            (click)="deleteSelected()">Delete</button>
        <button (click)="onSubmit(newDeviceForm,true)" type="submit" mat-stroked-button class="btn-lg flex-shrink-0" color="primary">Save & Close</button>
        <button (click)="onSubmit(newDeviceForm)" type="submit" mat-flat-button class="btn-lg flex-grow-1" color="primary">Save</button>
    </div>

</form>