<mat-card class="mat-elevation-z g-card px-4 py-3">
  <mat-card-content>
    <div class="row g-2">
      <div class="col-xl-12">
        <div class="label-blue3 p-3 d-flex br-8 mb-2">
          <mat-icon class="material-symbols-outlined">info</mat-icon>
          <span class="ps-2 w-100">
            These settings are Workstation Preferences, changing will affect only this workstation.
          </span>
        </div>
      </div>
    
      <div class="col-xl-7 d-flex align-items-start flex-wrap">
        <div class="row g-2">
          <app-icon-heading-component heading="Bulk Zone" icon="activity_zone" [automationId]="'bulkzone-heading'"></app-icon-heading-component>
          <p>
            Select the Bulk storage Zone(s) (Including carton flow to include in Bulk picking, Put Aways and Cycle
            Count).
          </p>
        </div>
        <div class="row w-100">
          <!-- All Zones -->
          <div class="col-xl-6">
    
            <div class="card p-3">
              <div class="d-flex align-items-center justify-content-start">
                <mat-form-field appearance="outline" class="mb-2 w-100">
    
                  <span class="material-symbols-outlined icon-search text-chrome-600 me-2">
                    Search
                  </span>
                  <input matInput type="text" [(ngModel)]="allZonesFilter" placeholder="Search Zones" data-automation-id="allzones-search-inp" />
                  <button *ngIf="allZonesFilter" matSuffix mat-icon-button aria-label="Clear" (click)="allZonesFilter=''" data-automation-id="allzones-clear-btn">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <button mat-stroked-button color="primary" class="button-add-all w-100 mb-2" (click)="addAllZones()" data-automation-id="addall-btn">Add
                All</button>
              <div class="card table-responsive br-14 borderless">
                <ng-scrollbar class="mat-table-scrollbar scrollbar-hover-padding count-table-scrollbar" track="all">
                  <table mat-table [dataSource]="filteredAvailableZones" class="custom-table">
                    <ng-container matColumnDef="zone">
                      <th mat-header-cell *matHeaderCellDef>Zone</th>
                      <td mat-cell *matCellDef="let zone">
                        <div class="d-flex align-items-center justify-content-between mt-2">
                          <div class="selected-zone-text w-100">
                            {{ zone.zone }}</div>
                          <button class="xsm-icon-button" mat-flat-button color="primary" matTooltip="Add" matTooltipPosition="left" matTooltipShowDelay="500" (click)="addZone(zone)" [attr.data-automation-id]="'addzone-btn-' + zone.zone">
                            <mat-icon>add</mat-icon>
                          </button>
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="['zone']; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['zone'];"></tr>
                  </table>
                </ng-scrollbar>
              </div>
    
            </div>
    
          </div>
    
          <div class="col-xl-6">
    
    
            <div class="card p-3">
              <div class="d-flex align-items-center justify-content-start">
                <mat-form-field appearance="outline" class="mb-2 w-100">
                  <span class="material-symbols-outlined icon-search text-chrome-600 me-2">
                    Search
                  </span>
                  <input matInput type="text" [(ngModel)]="selectedZonesFilter" placeholder="Search Selected Zones" data-automation-id="selzones-search-inp" />
                  <button *ngIf="selectedZonesFilter" matSuffix mat-icon-button aria-label="Clear"
                    (click)="selectedZonesFilter=''" data-automation-id="selzones-clear-btn">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
              </div>
              <button mat-stroked-button color="warn" class="button-remove-all-w-stroke w-100 mb-2"
                (click)="removeAllZones()" data-automation-id="removeall-btn">Remove All</button>
              <div class="card table-responsive br-14 borderless">
    
                <ng-scrollbar class="mat-table-scrollbar scrollbar-hover-padding count-table-scrollbar" track="all">
                  <table mat-table [dataSource]="filteredBulkZones" class="custom-table">
                    <ng-container matColumnDef="Zone">
                      <th mat-header-cell *matHeaderCellDef>Selected Zone</th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        <div class="d-flex align-items-center justify-content-between mt-2">
                          <div class="selected-zone-text w-100">
                            {{ element.zone }}
                          </div>
                          <button mat-flat-button color="warn" class="xsm-icon-button ms-2"
                            (click)="deleteBulkPickBulkZone(i)" matTooltip="Remove" matTooltipPosition="left" matTooltipShowDelay="500" [attr.data-automation-id]="'removezone-btn-' + i">
                            <mat-icon class="material-symbols-outlined">close</mat-icon>
                          </button>
                        </div>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                </ng-scrollbar>
              </div>
    
            </div>
    
          </div>
        </div>
    
    
      </div>
      <div class="col-xl-5">
        <div class="row g-2">
          <app-icon-heading-component heading="Sorting Configuration" icon="sort" [automationId]="'sortconf-heading'"></app-icon-heading-component>
          <div class="card p-3">
            <mat-form-field class="action-dropdown custom-form-field-bg-white w-100" appearance="outline"
              *ngIf="companyInfo" data-automation-id="sortconf-ff">
              <mat-label data-automation-id="sortconf-lbl">Order Sort</mat-label>
              <mat-select class="employees-action" [(ngModel)]="companyInfo.orderSort" (ngModelChange)="payload()" [disableOptionCentering]="true" data-automation-id="sortconf-sel">
                <ng-container *ngFor="let item of orderSortOptions; let i = index">
                  <mat-option [value]="item" [attr.data-automation-id]="'sortconf-opt-' + i">{{ item }}</mat-option>
                </ng-container>
              </mat-select>
              <span class="material-symbols-outlined icon-expand-more">expand_more</span>
            </mat-form-field>
          </div>
        </div>
      </div>
    
    </div>
  </mat-card-content>
</mat-card>
