<div class="my-3">
    <mat-card class="mat-elevation-z g-card mb-4">
        <mat-card-content>
            <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
                <app-icon-heading-component heading="Temporary Manual Order No." icon="ads_click">
                </app-icon-heading-component>
            </div>
            <ng-container *ngIf="transactionQtyInvalid">
                <div class="label-red p-3 d-flex br-8 mb-3">
                    <mat-icon class="material-symbols-outlined">notification_important</mat-icon>
                    <span class="ps-2 w-100">Conflict: {{message}} </span>
                </div>
            </ng-container>
            <div class="header-filter-bar">
                <div class="row">
                    <div class="col-xl-6">
                        <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3 mb-xl-0"
                            appearance="outline" [floatLabel]="getFloatLabelValue()"
                            [hideRequiredMarker]="hideRequiredControl.value">
                            <mat-label>Order Number</mat-label>
                            <input type="text" placeholder="Search" aria-label="Number" matInput autoFocus
                                #publicSearchBox [(ngModel)]='orderNumber' maxlength="255" [matAutocomplete]="auto"
                                (ngModelChange)="this.searchByInput.next($event)">

                            <button matSuffix *ngIf="orderNumber" class="clear-btn"
                                (click)=" orderNumber = '';autocompleteSearchColumn();clearFields();"><mat-icon
                                    class="text-20 text-chrome-600">cancel</mat-icon></button>

                            <mat-autocomplete class="card custom-scroll" #auto="matAutocomplete">

                                <h6 class="card-header matAutoCompHeader "><span style="width:  140px;">Order
                                        Number</span> <span style="width:  140px;">Trans. Type</span> <span
                                        style="width:  140px;">Item Number</span> <span style="width:  140px;">Trans.
                                        Quantity</span></h6>

                                <mat-option *ngFor="let option of searchAutocompleteList" [value]="option.orderNumber"
                                    class="matAutoCompTableContent">
                                    <div class="loc_option" (click)="getRow(option)">
                                        <span class="searchColumn" style="width:  140px;">{{option.orderNumber}}</span>
                                        <span class="searchColumn"
                                            style="width:  140px;">{{option.transactionType}}</span> <span
                                            class="searchColumn" style="width:  140px;">{{option.itemNumber}}</span>
                                        <span class="searchColumn"
                                            style="width:  140px;">{{option.transactionQuantity}}</span>
                                    </div>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-3 offset-xl-3">
                        <div class="d-xl-block d-flex justify-content-end">

                            <mat-form-field class="action-dropdown custom-form-field-bg-white float-end "
                                appearance="outline" style="flex:1">
                                <mat-select #openAction [(ngModel)]="selectedAction" class="employees-action"
                                    placeholder="Actions" (selectionChange)="generateTranscAction($event)">

                                    <mat-option value="0" (click)="openTemporaryManualOrderDialogue()">Add New
                                        Transaction</mat-option>
                                    <mat-option (click)="clearFields()" value="clear">Clear</mat-option>
                                    <mat-option [disabled]="!item || this.orderNumber==''" (click)="updateTransaction()"
                                        value="2">Save Transaction</mat-option>
                                    <mat-option [disabled]="!item || this.orderNumber==''" (click)="deleteTransaction()"
                                        value="3">Delete Transaction</mat-option>
                                    <mat-option [disabled]="!item || this.orderNumber==''" (click)="printLabelMT()"
                                        value="4">Print Label</mat-option>
                                    <mat-option [disabled]="!item || this.orderNumber=='' || this.item===''"
                                        (click)="postTransaction('save')" value="5">Post and Save
                                        Transaction</mat-option>
                                    <mat-option [disabled]="!item || this.orderNumber=='' || this.item===''"
                                        (click)="postTransaction('delete')" value="6">Post and Delete
                                        Transaction</mat-option>
                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>


    <app-gt-location [zone]="zone" [row]="row" [shelf]="shelf" [carousel]="carousel" [bin]="bin"
        [quantityAllocatedPick]="quantityAllocatedPick" [totalQuantity]='totalQuantity'
        [invMapID]="invMapID"></app-gt-location>

    <app-gt-item-details [item]="item" [itemNumber]="itemNumber" [orderNumber]="orderNumber" [columns]="columns"
        [supplierID]="supplierID" [expDate]="expDate" [revision]="revision" [description]="description"
        [lotNumber]="lotNumber" [uom]="uom" [notes]="notes" [serialNumber]="serialNumber"
        (getLocationData)="getLocationData()" (getSupplierItemInfo)="getSupplierItemInfo()" [userData]="userData"
        (fieldValuesChanged)="onFieldValuesChanged($event)"
        (openSetItemLocationDialogue)="openSetItemLocationDialogue()"> </app-gt-item-details>

    <app-gt-transaction-details [emergency]="emergency" [item]="item" [transType]="transType" [reqDate]="reqDate"
        [wareHouse]="wareHouse" [toteID]="toteID" [priority]="priority" [lineSeq]="lineSeq" [lineNumber]="lineNumber"
        [transQuantity]="transQuantity" [orderNumber]="orderNumber" [hostTransID]="hostTransID"
        [batchPickID]="batchPickID" [lineNumber]="lineNumber" [transQuantity]="transQuantity"
        [warehouseSensitivity]="warehouseSensitivity" [userData]="userData" [supplierID]="supplierID"
        (onFormFieldFocusOut)="onFormFieldFocusOut()" (fieldValuesChanged)="onFieldValuesChangedOfTrans($event)">
    </app-gt-transaction-details>

</div>