<div class="mat-modal-wrap text-center">
  <mat-dialog-content>
    <div class="prompt-wrap">
      <div class="d-flex justify-content-center prompt-icon-wrap">
        <span class="material-symbols-outlined prompt-icon-delete">
          info
        </span>

      </div>
      <p class="prompt-message py-4 mb-0">
        Are you sure you want to change this item number ?
      </p>
      <p class="bold text-danger mb-4">This action can not be redone.</p>
      <div class="br-14 px-4 py-3 checkbox-background mb-4">
        <mat-checkbox (change)="checkOptions($event)" class="example-margin" color="primary">I understand, changing this
          item number will make <br /> records with the old item number out of date, and
          <br />will impact other functions. Still continue?</mat-checkbox>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions class="d-flex flex-column justify-content-center m-0 p-0">
    <button class="mat-button-base prompt-action-danger-button  mb-3 btn-lg w-100" mat-stroked-button mat-button
      (click)="onConfirm()" tabindex="1" [disabled]="isChecked"
      [ngStyle]="{'opacity': isChecked ? '0.8' : '1' }">OK</button>
    <button class="mat-button-base prompt-action-basic-button btn-lg w-100" mat-button mat-dialog-close tabindex="-1">
      Close
    </button>
  </mat-dialog-actions>
</div>