<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
  <h1 class="m-0" mat-dialog-title>{{form_heading}}</h1>
  <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
  </div>
  <!-- Error message FOR DEV USE-->
          <div class="label-red p-3 d-flex br-8 mb-3">
              <mat-icon class="material-symbols-outlined">notification_important</mat-icon>
              <span class="ps-2 w-100">Warning! Setting the user name and password fields will set this connection to use SQL Authentication.To use Windows Authentication make sure these fields are empty.</span>
          </div>
  
  
  
     <div class="mb-3"> <strong>{{connectionName}}</strong></div>
      <mat-form-field class="mb-3 w-100" appearance="outline">
        <mat-label>Username</mat-label>
        <input #user_name [(ngModel)]="userName" [value]="userName" matInput type="text" maxlength="30">
      </mat-form-field>
      
      <mat-form-field class="mb-3 w-100" appearance="outline">
        <mat-label>Password</mat-label>
        <input [(ngModel)]="password"  [type]="toggle_password ? 'password' : 'text'" [value]="password" matInput   [maxLength]="32">
        <button type="button" mat-icon-button matSuffix (click)="toggle_password = !toggle_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggle_password">
          <mat-icon>{{toggle_password ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      
  
      <mat-dialog-actions   dialog-actions align="end">
        <button mat-flat-button class="form-button-submit btn-lg w-100 mb-3"  (click)="saveLogin()" color="primary">Save Login</button>
        
      </mat-dialog-actions>
      <mat-dialog-actions   dialog-actions align="end">
        <button (click)="clearLoginInfo()" mat-stroked-button class="form-button-submit btn-lg w-100 mb-3" color="primary">Clear Login Info</button>
        
      </mat-dialog-actions>