<div class="container-fluid p-0  h-auto">
    <div class="row g-3">
        <div class="col-xl-4">
            <app-markout-search (toteIdEmitter)="handleToteId($event)" (viewChangeEmitter)="viewChange($event)"
                [toteDataResponse]="toteDataResponse" [toteId]="toteId" [isBlossomComplete]="isBlossomComplete"></app-markout-search>
        </div>
        <div class="col-xl-8">
            <app-markout-status [markoutPreference]="preferencesData"  [toteDataResponse]="toteDataResponse"></app-markout-status>
        </div>
        <div class="col-xl-12">
            <app-markout-list 
            (updateTableEmitter)="getToteData()" (toteIdEmitter)="handleToteId($event)"
            [toteDataResponse]="toteDataResponse" [selectedView]="selectedView" [isBlossomComplete]="isBlossomComplete"></app-markout-list>
        </div>
    </div>
</div>