.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 48px;
    line-height: 24px;
    padding: 0 10px;
    border-radius: 4px;
    overflow: visible;
    transform: translate3d(0, 0, 0);
    transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.search-box{
    min-width: 300px;
}

// ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
//     border-radius: 14px 0 0 14px !important;
//     width: 14px !important;
//   }
  // ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
  //   border-radius: 0 14px 14px 0!important;
    
  // }
  // ::ng-deep .mat-form-field-label-wrapper{
  //   left: 8px !important;
  // }
  // ::ng-deep .custom-form-field .mat-input-element {
  //   padding: 0 10px !important;
  // }
  // ::ng-deep textarea.mat-input-element {
  //   padding-left: 10px !important;
  // }

  .searchColumn{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

