.addDivStyleC{
    padding-right: 35px !important;
}

.WSize140px{
    width:  140px !important;
}
.descOptionStyleC{
    width:  140px !important; 
    text-overflow: ellipsis !important; 
    overflow: hidden !important; 
    max-width: 20ch !important; 
    white-space: nowrap !important; 
}

