.mat-column-position,.mat-column-priority {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100px !important;
    width: 100px !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-toteid,.mat-column-orderno {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}