<mat-card class="mat-elevation-z g-card mt-3 mb-3">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <app-icon-heading-component heading="Batch Setup" icon="ballot">
            </app-icon-heading-component>
            <button type="submit" mat-stroked-button class="btn-regular" color="primary" [matMenuTriggerFor]="appMenu">
                <mat-icon class="material-symbols-outlined">print</mat-icon>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </button>
            <mat-menu #appMenu="matMenu" >
                <button (click)="printPick('PrintTote')" mat-menu-item><b>Print Tote/Location Labels</b></button>
                <button (click)="printPick('PrintPickLabel')"mat-menu-item>Print Pick Labels</button>
                <button (click)="printPick('PrintPickList')" mat-menu-item>Print Pick List</button>
            </mat-menu>
        </div>
        <div class="row">
            <div class="mb-3 mb-xxl-0" [ngClass]="useInZonePickScreen === true ? 'col-xxl-12' : 'col-xxl-4'">
                <div class="card p-3">
                    <div class="row">
                        <div [ngClass]="useInZonePickScreen === true ? 'col-xl-6' : 'col-xl-12'">
                            <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                                <mat-label>Batch ID</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    [(ngModel)]="batchID" #batch_id required="required">
                                    <button matSuffix *ngIf="batchID" class="clear-btn"  (click)="batchID= ''"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="d-block d-xl-flex gap-12">
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100 mb-3 mb-xl-0"
                            style="min-width: 150px;" (click)="onAddBatch('batchWithID')">
                            New Batch with ID
                        </button>
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100 mb-3 mb-xl-0"
                            style="min-width: 150px;" (click)="onAddBatch('newBatch')">
                            New Batch
                        </button>
                        <button *ngIf="useInZonePickScreen" mat-stroked-button color="primary" class="w-100 mb-3 mb-xl-0"
                            style="min-width: 150px;" (click)="openBlossomToteDialogue()">
                            Blossom
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8" *ngIf="!useInZonePickScreen">
                <div class="card p-3">
                    <mat-radio-group color="primary" class="d-block d-xl-flex" name="radioOpt1" [(ngModel)]="pickType">
                        <div class="d-flex w-100 pe-2 align-items-center mb-3 mb-xl-0">
                            <mat-radio-button class=" custom-horizontal-radio" value="MixedZones">
                            </mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Mixed Zones</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    value="{{countInfo?.mixed}}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="d-flex w-100 pe-2 align-items-center mb-3 mb-xl-0">
                            <mat-radio-button class=" custom-horizontal-radio" value="OffCarousel">
                            </mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Off - Carousel</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    value="{{countInfo?.offCarousel}}" disabled="true">
                            </mat-form-field>
                        </div>
                        <div class="d-flex w-100 pe-2 align-items-center mb-3 mb-xl-0">
                            <mat-radio-button class=" custom-horizontal-radio" value="Carousel">
                            </mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label>Carousel</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    value="{{countInfo?.carousel}}" disabled="true">
                            </mat-form-field>
                        </div>
                    </mat-radio-group>
                    <div class="d-block d-xl-flex gap-12 mt-2">
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100 mb-3 mb-xl-0"
                            style="min-width: 150px;">
                            Refresh Order Count
                        </button>
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100"
                            style="min-width: 150px;" (click)="openPickToteDialogue()">
                            Pick Batch Manager
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<app-process-pick-batches 
[pickBatchQuantity]="pickBatchQuantity"
[useInZonePickScreen]="useInZonePickScreen"
[onDestroy$]="onDestroy$"
[filteredOptions]="filteredOptions"
[allOrders]="allOrders"
[TOTE_SETUP]="TOTE_SETUP"
[filteredOrderNum]="filteredOrderNum"
[orderNumberList]="orderNumberList"
[orderNumber]="orderNumber"
[allZones]="allZones"
[dataSource]="dataSource"
[pickBatchesCrossbtn]="pickBatchesCrossbtn"
[pickBatches]="pickBatches"
[imPreferences]="imPreferences"
(workstationzone)="getAllZones()"
></app-process-pick-batches>

<app-process-pick-totes
[dataSource]="dataSource"
[TOTE_SETUP]="TOTE_SETUP"
[imPreferences]="imPreferences"
[useInZonePickScreen]="useInZonePickScreen"
[batchID]="batchID"
(fillNxtToteId)="fillNextToteID($event)"
(clearOrderNum)="clearOrderNumber($event)"
(ToteAction)="onToteAction($event)"
>
</app-process-pick-totes>
<div class="d-flex">
    <button mat-flat-button color="primary" class="primary-button btn-lg w-100" style="min-width: 150px;"
        (click)="confirmProcessSetup()">
        Process Batch
    </button>
</div>

<ng-template #batchPickID>

    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
        <div color="warn" class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
            <mat-icon color="primary">ballot</mat-icon>
        </div>
        <div>
            <h4 class="bold text-primary-900 mb-4"><ng-container *ngIf="!batchWithID">New Batch</ng-container>
                <ng-container *ngIf="batchWithID">New Batch With ID</ng-container>
            </h4>
            <p class="bold mb-4">
                <ng-container *ngIf="!batchWithID">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create
                    a New Batch?
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
                <ng-container *ngIf="batchWithID">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create
                    a New Batch with next Batch Pick ID?
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
            </p>
            <div class="mb-3">
                <button mat-flat-button color="primary" class="btn-lg w-100" (click)="confirmAddBatchDialog()">
                    Ok
                </button>
            </div>
            <div>
                <button mat-stroked-button color="basic" class="btn-lg bg-white w-100" (click)="closeBatchDialog()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #processSetup>
    
    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
        <div color="warn" class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
            <mat-icon color="primary">ballot</mat-icon>
        </div>
        <div class="w-100">
            <h4 class="bold text-primary-900 mb-4">Process Batch</h4>
            <p class="bold mb-4">Process the current setup?</p>
            <div class="mb-3">
                <button mat-flat-button color="primary" class="btn-lg w-100" (click)="onPrcessBatch()">
                    Ok
                </button>
            </div>
            <div>
                <button mat-stroked-button color="basic" class="btn-lg bg-white w-100" (click)="closeBatchDialog()">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #popupBlocked>

    <div class="mat-modal-wrap text-center">
        <mat-dialog-content>
          <div class="prompt-wrap">
            <div class="d-flex justify-content-center prompt-icon-wrap ">
              <span #cancel class="material-symbols-outlined prompt-icon-delete">
                notification_important
              </span>
      
            </div>
            <div class=" py-4"> 
            <p class="text-danger bold card-header-title p-0 mb-2" >
              An Error Occured
            </p>
            <p class="prompt-message mb-0 bold">
                Pop-ups appear to be blocked for this workstation.  Please check your settings and ensure that the browser allows pop-ups for this site.
            </p>
     </div>
        
          </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex flex-column justify-content-center m-0 p-0">
          <button  class="mat-button-base prompt-action-danger-button  mb-3 btn-lg w-100"  [mat-dialog-close]="false" mat-stroked-button mat-button
         >OK</button>
     
        </mat-dialog-actions>
      </div>
      
</ng-template>