<mat-card class="mat-elevation-z g-card mt-3 mb-3">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-3">
            <app-icon-heading-component heading="Batch Setup" icon="ballot" [automationId]="'batch-setup-heading'">
            </app-icon-heading-component>
            <button type="submit" mat-stroked-button class="btn-regular" color="primary" [matMenuTriggerFor]="appMenu" data-automation-id="print-menu-button">
                <mat-icon class="material-symbols-outlined">print</mat-icon>
                <span class="material-symbols-outlined icon-expand-more" data-automation-id="expand-icon">
                    expand_more
                </span>
            </button>
            <mat-menu #appMenu="matMenu" >
                <button (click)="printPick('PrintTote')" mat-menu-item data-automation-id="print-tote-location-labels-button"><b>Print Tote/Location Labels</b></button>
                <button (click)="printPick('PrintPickLabel')"mat-menu-item data-automation-id="print-pick-labels-button">Print Pick Labels</button>
                <button (click)="printPick('PrintPickList')" mat-menu-item data-automation-id="print-pick-list-button">Print Pick List</button>
            </mat-menu>
        </div>
        <div class="row">
            <div class="mb-3 mb-xxl-0" [ngClass]="useInZonePickScreen === true ? 'col-xxl-12' : 'col-xxl-4'">
                <div class="card p-3">
                    <div class="row">
                        <div [ngClass]="useInZonePickScreen === true ? 'col-xl-6' : 'col-xl-12'">
                            <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                                <mat-label data-automation-id="batch-id-label">Batch ID</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    [(ngModel)]="batchID" #batch_id required="required" data-automation-id="batch-id-input">
                                    <button matSuffix *ngIf="batchID" class="clear-btn"  (click)="batchID= '';createToteSetupTable(pickBatchQuantity)" data-automation-id="batch-id-clear-button"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="d-block d-xl-flex gap-12">
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100 mb-3 mb-xl-0 matFlatButton-style"
                             (click)="onAddBatch('batchWithID')" data-automation-id="new-batch-with-id-button">
                            New Batch with ID
                        </button>
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100 mb-3 mb-xl-0 matFlatButton-style"
                             (click)="onAddBatch('newBatch')" data-automation-id="new-batch-button">
                            New Batch
                        </button>
                        <button *ngIf="useInZonePickScreen" mat-stroked-button color="primary" class="w-100 mb-3 mb-xl-0 matFlatButton-style"
                             (click)="openBlossomToteDialogue()" data-automation-id="blossom-button">
                            Blossom
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-xxl-8" *ngIf="!useInZonePickScreen">
                <div class="card p-3">
                    <mat-radio-group color="primary" class="d-block d-xl-flex" name="radioOpt1" [(ngModel)]="pickType">
                        <div class="d-flex w-100 pe-2 align-items-center mb-3 mb-xl-0">
                            <mat-radio-button class=" custom-horizontal-radio" value="MixedZones" data-automation-id="radio-mixedzones"></mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label data-automation-id="mixed-zones-label">Mixed Zones</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                value="{{countInfo?.mixed}}" disabled="true" [attr.data-automation-id]="'mixed-zones-input-' + (countInfo?.mixed || '')">
                            </mat-form-field>
                        </div>
                        <div class="d-flex w-100 pe-2 align-items-center mb-3 mb-xl-0">
                            <mat-radio-button class=" custom-horizontal-radio" value="OffCarousel" data-automation-id="radio-offcarousel"></mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label data-automation-id="off-carousel-label">Off - Carousel</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                value="{{countInfo?.offCarousel}}" disabled="true" [attr.data-automation-id]="'off-carousel-input-' + (countInfo?.offCarousel || '')">
                            </mat-form-field>
                        </div>
                        <div class="d-flex w-100 pe-2 align-items-center mb-3 mb-xl-0">
                            <mat-radio-button class=" custom-horizontal-radio" value="Carousel" data-automation-id="radio-carousel"></mat-radio-button>
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <mat-label data-automation-id="carousel-label">Carousel</mat-label>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                value="{{countInfo?.carousel}}" disabled="true" [attr.data-automation-id]="'carousel-input-' + (countInfo?.carousel || '')">
                            </mat-form-field>
                        </div>
                    </mat-radio-group>
                    <div class="d-block d-xl-flex gap-12 mt-2">
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100 mb-3 mb-xl-0 matFlatButton-style" data-automation-id="refresh-order-count-button">
                            Refresh Order Count
                        </button>
                        <button mat-flat-button color="primary" class="primary-button btn-regular w-100 matFlatButton-style"
                             (click)="openPickToteDialogue()" data-automation-id="pick-batch-manager-button">
                            Pick Batch Manager
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>
<app-process-pick-batches 
[pickBatchQuantity]="pickBatchQuantity"
[useInZonePickScreen]="useInZonePickScreen"
[onDestroy$]="onDestroy$"
[filteredOptions]="filteredOptions"
[allOrders]="allOrders"
[TOTE_SETUP]="tote_Setup"
[filteredOrderNum]="filteredOrderNum"
[orderNumberList]="orderNumberList"
[orderNumber]="orderNumber"
[allZones]="allZones"
[dataSource]="dataSource"
[pickBatchesCrossbtn]="pickBatchesCrossbtn"
[pickBatches]="pickBatches"
[imPreferences]="imPreferences"
(workstationzone)="getAllZones()"
></app-process-pick-batches>

<app-process-pick-totes
[dataSource]="dataSource"
[TOTE_SETUP]="tote_Setup"
[imPreferences]="imPreferences"
[useInZonePickScreen]="useInZonePickScreen"
[batchID]="batchID"
(fillNxtToteId)="fillNextToteID($event)"
(clearOrderNum)="clearOrderNumber($event)"
(ToteAction)="onToteAction($event)"
>
</app-process-pick-totes>
<div class="d-flex">
    <button mat-flat-button color="primary" class="primary-button btn-lg w-100 matFlatButton-style"
        (click)="confirmProcessSetup()" data-automation-id="process-batch-button">
        Process Batch
    </button>
</div>

<ng-template #batchPickID>

    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
        <div color="warn" class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
            <mat-icon color="primary">ballot</mat-icon>
        </div>
        <div>
            <h4 class="bold text-primary-900 mb-4"
                [attr.data-automation-id]="batchWithID ? 'new-batch-with-id-heading' : 'new-batch-heading'">
                <ng-container *ngIf="!batchWithID">New Batch</ng-container>
                <ng-container *ngIf="batchWithID">New Batch With ID</ng-container>
            </h4>
            <p class="bold mb-4">
                <ng-container *ngIf="!batchWithID">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create
                    a New Batch?
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
                <ng-container *ngIf="batchWithID">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Create
                    a New Batch with next Batch Pick ID?
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </ng-container>
            </p>
            <div class="mb-3">
                <button mat-flat-button color="primary" class="btn-lg w-100" (click)="confirmAddBatchDialog()" data-automation-id="ok-new-batch-dialog-button">
                    Ok
                </button>
            </div>
            <div>
                <button mat-stroked-button color="basic" class="btn-lg bg-white w-100" (click)="closeBatchDialog()" data-automation-id="cancel-new-batch-dialog-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #processSetup>
    
    <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
        <div color="warn" class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
            <mat-icon color="primary">ballot</mat-icon>
        </div>
        <div class="w-100">
            <h4 class="bold text-primary-900 mb-4" data-automation-id="process-batch-heading">Process Batch</h4>
            <p class="bold mb-4">Process the current setup?</p>
            <div class="mb-3">
                <button mat-flat-button color="primary" class="btn-lg w-100" (click)="onPrcessBatch()" data-automation-id="ok-process-batch-dialog-button">
                    Ok
                </button>
            </div>
            <div>
                <button mat-stroked-button color="basic" class="btn-lg bg-white w-100" (click)="closeBatchDialog()" data-automation-id="cancel-process-batch-dialog-button">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #popupBlocked>

    <div class="mat-modal-wrap text-center">
        <mat-dialog-content>
          <div class="prompt-wrap">
            <div class="d-flex justify-content-center prompt-icon-wrap ">
              <span #cancel class="material-symbols-outlined prompt-icon-delete">
                notification_important
              </span>
      
            </div>
            <div class=" py-4"> 
            <p class="text-danger bold card-header-title p-0 mb-2" >
              An Error Occured
            </p>
            <p class="prompt-message mb-0 bold">
                Pop-ups appear to be blocked for this workstation.  Please check your settings and ensure that the browser allows pop-ups for this site.
            </p>
     </div>
        
          </div>
        </mat-dialog-content>
        <mat-dialog-actions class="d-flex flex-column justify-content-center m-0 p-0">
          <button  class="mat-button-base prompt-action-danger-button  mb-3 btn-lg w-100"  [mat-dialog-close]="false" mat-stroked-button mat-button
         data-automation-id="popup-blocked-ok-button">OK</button>
     
        </mat-dialog-actions>
      </div>
      
</ng-template>