<div class="d-flex justify-content-between align-items-center">
    <div class="bm-toeid-width"></div>
    <h1 class="m-0" mat-dialog-title>Order Details</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" (click)="closePopup()">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div class="d-flex align-items-center justify-content-center flex-wrap px-5 gap-12 mb-3">
    <span class="label label-gray px-2 f-14 mb-3">Order No.:&nbsp;<b>{{ordNum}}</b></span>
    <span class="label label-gray px-2 f-14 mb-3">Transaction Type:&nbsp;<b>{{transType}}</b></span>
</div>
<div class="">
    <div class="card br-14 table-responsive borderless">
        <ng-scrollbar  class="mat-table-scrollbar scroll-bar" track="all">
            <table mat-table [dataSource]="orderLines" class="custom-table table-fix" matSort (matSortChange)="announceSortChange($event)">
                <ng-container matColumnDef="orderNumber">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Order No.</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.orderNumber" [matTooltipDisabled]="element.orderNumber && element.orderNumber.length > 19 ? false : true">
                        {{element.orderNumber}} 
                    </td>
                </ng-container> 
                <ng-container matColumnDef="location">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Location</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.location" [matTooltipDisabled]="element.location && element.location.length > 19 ? false : true">
                        {{element.location}} 
                    </td>
                </ng-container> 
                <ng-container matColumnDef="itemNumber">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Item No.</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.itemNumber" [matTooltipDisabled]="element.itemNumber && element.itemNumber.length > 19 ? false : true">
                        {{element.itemNumber}} 
                    </td>
                </ng-container> 
                <ng-container matColumnDef="description">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Description</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.description" [matTooltipDisabled]="element.description && element.description.length > 19 ? false : true">
                        {{element.description}} 
                    </td>
                </ng-container> 
                <ng-container matColumnDef="userField1">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> User Field 1</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField1" [matTooltipDisabled]="element.userField1 && element.userField1.length > 19 ? false : true">
                        {{element.userField1}} 
                    </td>
                </ng-container> 
                <ng-container matColumnDef="transactionQuantity">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Quantity</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.transactionQuantity" [matTooltipDisabled]="element.transactionQuantity && element.transactionQuantity.length > 19 ? false : true">
                        {{element.transactionQuantity}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="priority">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Priority</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.priority" [matTooltipDisabled]="element.priority && element.priority.length > 19 ? false : true">
                        {{element.priority}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="transactionType">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Trans. Type</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.transactionType" [matTooltipDisabled]="element.transactionType && element.transactionType.length > 19 ? false : true">
                        {{element.transactionType}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="unitOfMeasure">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> UOM</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.unitOfMeasure" [matTooltipDisabled]="element.unitOfMeasure && element.unitOfMeasure.length > 19 ? false : true">
                        {{element.unitOfMeasure}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="expirationDate">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Expiry</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.expirationDate" [matTooltipDisabled]="element.expirationDate && element.expirationDate.length > 19 ? false : true">
                        {{element.expirationDate}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="lotNumber">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Lot No.</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.lotNumber" [matTooltipDisabled]="element.lotNumber && element.lotNumber.length > 19 ? false : true">
                        {{element.lotNumber}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="serialNumber">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Serial No.</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.serialNumber" [matTooltipDisabled]="element.serialNumber && element.serialNumber.length > 19 ? false : true">
                        {{element.serialNumber}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="notes">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Notes</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.notes" [matTooltipDisabled]="element.notes && element.notes.length > 19 ? false : true">
                        {{element.notes}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="warehouse">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Warehouse</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.warehouse" [matTooltipDisabled]="element.warehouse && element.warehouse.length > 19 ? false : true">
                        {{element.warehouse}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="userField2">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> User Field 2</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField2" [matTooltipDisabled]="element.userField2 && element.userField2.length > 19 ? false : true">
                        {{element.userField2}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="toteId">
                    <th mat-header-cell mat-sort-header *matHeaderCellDef> Tote ID</th>
                    <td mat-cell *matCellDef="let element" class="table-cell-style" #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.toteId" [matTooltipDisabled]="element.toteId && element.toteId.length > 19 ? false : true">
                        {{element.toteId}}
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="ordersDisplayedColumns; sticky:true"></tr>
                <tr mat-row *matRowDef="let row; columns: ordersDisplayedColumns;"></tr>
            </table>
        </ng-scrollbar>
    </div>
    <div class="table-pagination d-flex justify-content-start">
        <mat-paginator [pageSize]="10" #paginator [length]="orderLines.filteredData.length"
          [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons [pageSizeOptions]="[10, 20, 100]"></mat-paginator>
    </div>
</div>
