table{
    th,td{
      white-space: nowrap;
      padding-right: 12px;
      border:0;
    }
  }
   .w-48px {
    width: 48px;
  } .overflow-x-auto{
    overflow-x:auto
  }.text-right{
    text-align: right;
  }
.h-260px{
  height: 260px;
}