table{
    th,td{
      white-space: nowrap;
      padding-right: 12px;
      border:0;
    }
  }
  ::ng-deep .w-48px {
    width: 48px;
  } ::ng-deep.overflow-x-auto{
    overflow-x:auto
  }
  ::ng-deep.height-260{
    height:260px
  }::ng-deep.text-right{
    text-align: right;
  }