table{
    tr{
        display: table-row!important;
        white-space: nowrap;
        th, td{
            vertical-align: middle;
            border-bottom: 1px solid var(--clr-pure-white);
            &:first-child{
                padding-left: 20px !important;
            }
            &:last-child{
                padding-right:10px !important;
            }
        }
    }
}