.progress-container {
    position: relative;
    width: 100%;
  }

  .progress-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
  }
  
  .usable-text, .unusable-text {
    font-size: 12px;
    color: #090948;
  }
  
  mat-progress-bar {
    width: 100%;
  }
  
  .progress-text {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f0f0f0; 
    font-weight: bold;
    pointer-events: none; 
  }
  
  .mat-progress-bar {
    display: block;
    height: 20px;
border-radius: 6px;
}

::ng-deep .very-low-utilization .mat-progress-bar-fill::after {
  background-color: #1D865C !important; 
}

::ng-deep .low-utilization .mat-progress-bar-fill::after {
  background-color: #12CA80 !important; 
}

::ng-deep .medium-utilization .mat-progress-bar-fill::after {
  background-color: #FFC458 !important; 
}

::ng-deep .high-utilization .mat-progress-bar-fill::after {
  background-color: #F89500 !important; 
}

::ng-deep .very-high-utilization .mat-progress-bar-fill::after {
  background-color: #DE2654 !important; 
}
