<div class="row w-100 mt-4 mx-0">
    <div class="col-xl-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <app-icon-heading-component heading="Field Name Mappings" icon="nfc">
            </app-icon-heading-component>
        </div>
    </div>
    </div>
    <div class="row align-items-center mx-0">
    <div class="col-xl-8">
        <p class="">Enter the text to display in place of system field names. These aliases will appear in place of system field names on forms and in reports.</p>
    </div>
    <div class="col-xl-4">
        <div class="d-flex justify-content-end">
            <button mat-flat-button color="primary" class="mat-primary btn-md mb-3" (click)="Reset()">Reset to default</button>
        </div>
    </div>
</div>
<div class="card p-3 mx-2">
    <div class="row">
        <div class="col-xl-6" *ngFor="let key of Object.keys(columns)">
            <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                <mat-label>{{labelSet(key)}}</mat-label>
                <input type="text" [attr.name]="key" [(ngModel)]="columns[key]" (change)="FieldNameSave()"   matInput maxlength="255">
              </mat-form-field>
        </div> 
    </div>
</div>