<mat-card class="mat-elevation-z g-card mb-4">
    <mat-card-content>
        <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
            <app-icon-heading-component heading="Location" icon="pin_drop">
            </app-icon-heading-component>
        </div>
        <div class="d-flex flex-wrap gap-12 mx-5 ps-3">
            <span class="label label-gray px-2 f-14">Zone:&nbsp;<b>{{zone}}</b></span>
            <span class="label label-gray px-2 f-14">Row:&nbsp;<b>{{row}}</b></span>
            <span class="label label-gray px-2 f-14">Shelf:&nbsp;<b>{{shelf}}</b></span>
            <span class="label label-gray px-2 f-14">Carousel:&nbsp;<b>{{carousel}}</b></span>
            <span class="label label-gray px-2 f-14">Bin:&nbsp;<b>{{bin}}</b></span>
            <span class="label label-gray px-2 f-14">Quantity Allocated Pick:&nbsp;<b>{{quantityAllocatedPick}}</b></span>
            <span class="label label-gray px-2 f-14">Quantity Allocated Put Away:&nbsp;<b>{{quantityAllocatedPick}}</b></span>
            <span class="label label-gray px-2 f-14">Total Quantity:&nbsp;<b>{{totalQuantity}}</b></span>
            <span class="label label-gray px-2 f-14">Inventory Map ID:&nbsp;<b>{{invMapID}}</b></span>
        </div>
    </mat-card-content>
</mat-card>