<div class="d-flex justify-content-between align-items-center mb-4">
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title data-automation-id="staging-location-heading">Order/Tote Number</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" (click)="closeOrder()" data-automation-id="close-button">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<!-- Error message FOR DEV USE-->
        <div class="label-red  p-3 d-flex br-8 mb-4" data-automation-id="error-message-container">
            <mat-icon class="material-symbols-outlined" data-automation-id="error-icon">notification_important</mat-icon>
            <span class="ps-2 w-100" data-automation-id="error-message">Order/Tote was not found in the system, enter an order number to correspond to the tote value scanned</span>
        </div>
<div>
    <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline" data-automation-id="order-number-field">
        <mat-label data-automation-id="order-number-label">Order Number</mat-label>
        <input #fieldFocus matInput type="text" [(ngModel)]="order" data-automation-id="order-number-input">
    </mat-form-field> 
</div>

<div>
    <button type="submit" mat-flat-button class="w-100 btn-lg" color="primary" (click)="SubmitOrder()" data-automation-id="submit-button">Ok</button>
</div>