<div class="container-fluid p-0 mt-3" *ngIf="!showFilter">
    <mat-card class="mat-elevation-z g-card mb-3">
      <mat-card-content>
        <div class="d-xl-flex justify-content-between align-items-center mb-3">
          <app-icon-heading-component class="card-header-title mb-0 d-flex align-items-center mb-3 mb-xl-0" heading="Transfer Settings" icon="settings_applications"></app-icon-heading-component>
        </div>
        <app-ie-ts-import-export-job-type></app-ie-ts-import-export-job-type>

      </mat-card-content>
    </mat-card>

    <mat-card class="mat-elevation-z g-card">
      <mat-card-content>

        <div class="row">
          <div class="col-xl-12">
            <div class="d-xl-flex justify-content-between align-items-center mb-3">
              <app-icon-heading-component class="card-header-title mb-0 d-flex align-items-center mb-3 mb-xl-0" heading="Transaction Type to Export" icon="summarize"></app-icon-heading-component>
              <div class="d-flex justify-content-end col-xl-4" *ngIf="directAdmin">
                <button mat-flat-button class="btn-regular w-100 my-3" color="primary" (click)="retunrToPrev()">
                  <mat-label> Import / Export Transactions</mat-label>
                </button>
              </div>
            </div>
            <app-ie-ts-transaction-type-to-export></app-ie-ts-transaction-type-to-export>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <app-filters *ngIf="showFilter" (back)="retunrToPrev()"></app-filters>