<mat-card class="mat-elevation-z g-card mb-3">
    <mat-card-content>
        <div class="d-block d-lg-flex justify-content-between align-items-center">
            
            <app-icon-heading-component class="card-header-title mb-3 d-flex align-items-center" heading="Totes" icon="inbox" data-automation-id="totes-heading"></app-icon-heading-component>
            <div class="d-flex">
            <mat-form-field class="action-dropdown mb-3 flex-1" appearance="outline">
                <mat-label data-automation-id="actions-label">Actions</mat-label>
                <mat-select class="employees-action" placeholder="Actions" (selectionChange)="onToteAction($event)" data-automation-id="actions-select">
                    <mat-option value="fill_all_tote" [attr.data-automation-id]="'actions-option-fill_all_empty_tote_ids'">
                        <b class="text-tertiary-900">Fill All Empty Tote IDs</b>
                    </mat-option>
                    <mat-option value="fill_next_tote" [attr.data-automation-id]="'actions-option-fill_next_empty_tote_id'">Fill Next Empty Tote ID</mat-option>
                    <mat-option value="clear_all_totes" [attr.data-automation-id]="'actions-option-clear_all_totes'">Clear All Totes</mat-option>
                    <mat-option value="clear_all_orders" [attr.data-automation-id]="'actions-option-clear_all_orders'">Clear All Orders</mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </mat-form-field>
            </div>
        </div>
        <div class="card br-14 table-responsive borderless px-0 mb-3">
            <ng-scrollbar track="all" class="mat-table-scrollbar matTableScrolbar-style">
                <table mat-table [dataSource]="dataSource" class="w-100">
                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-position"> Position </th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255"
                                        value="{{element.position}}" disabled [attr.data-automation-id]="'position-input-' + i">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="toteid">
                        <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-tote-id"> Tote ID </th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255"
                                        [(ngModel)]="element.toteID" (focusout)="checkDuplicateTote(element, i)" [attr.data-automation-id]="'tote-id-input-' + i">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="orderno">
                        <th mat-header-cell *matHeaderCellDef data-automation-id="table-header-order-no"> Order No. </th>
                        <td mat-cell *matCellDef="let element; let i = index;">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255"
                                        [(ngModel)]="element.orderNumber" disabled="{{useInZonePickScreen}}" [attr.data-automation-id]="'order-no-input-' + i">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="priority">
                        <th mat-header-cell *matHeaderCellDef [hidden]="useInZonePickScreen" data-automation-id="table-header-priority"> Priority </th>
                        <td mat-cell *matCellDef="let element; let i = index;" [hidden]="useInZonePickScreen">
                            <div class="pe-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput [(ngModel)]="element.priority" type="text" #specialFeature maxlength="255" disabled [attr.data-automation-id]="'priority-input-' + i">
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="other" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="ps-2"></th>
                        <td mat-cell *matCellDef="let element; let i = index;"  class="ps-2">
                            <div class="d-flex justify-content-end">
                                <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu" aria-label=""
                                    class="circle-icon-o" appearance="outline" [attr.data-automation-id]="'row-action-menu-button-' + i">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>

                                <mat-menu #appMenu="matMenu">
                                    <button type="button" mat-menu-item (click)="onViewOrder(element)" [attr.data-automation-id]="'row-action-' + i">
                                        <b class="text-tertiary-900">View Order</b>
                                    </button>
                                    <button type="button" mat-menu-item (click)="clearOrderNumber(i)" [attr.data-automation-id]="'row-action-' + i">Clear</button>
                                    <button type="button" (click)="printToteLabels(element)" mat-menu-item [attr.data-automation-id]="'row-action-' + i">Print Tote Labels</button>
                                    <button type="button" (click)="printPickLabels(element)" mat-menu-item [attr.data-automation-id]="'row-action-' + i">Print Pick Labels</button>
                                    <button type="button" mat-menu-item (click)="fillNextToteID(i)" [attr.data-automation-id]="'row-action-' + i">Next Tote ID</button>
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                    </tr>
                </table>
            </ng-scrollbar>
        </div>
    </mat-card-content>
</mat-card>