.mat-column-poisitions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 25% !important;
    width: 25% !important;
    overflow-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
.mat-column-save {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 90% !important;
    width: 90% !important;
    overflow-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-status {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 100px !important;
    width: 100px !important;
    min-width: 100px !important;
    overflow-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  table{
    th{
      white-space: nowrap;
      padding-right: 12px;
    }
  }

  .selected {
    // background-color: var(--clr-primary-300) !important;

    color: #fff;
    &:before{
      content: '';
      background-color: var(--clr-primary-300);
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: -1;
      
    }
    &:first-child{
      &:before{
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-left: 8px;
      }
    }
    &:last-child{
      &:before{
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      right: 12px;
      left: auto;
      }
    }
    
  }

  .ProcessBatchBtnStyle{
    min-width: 150px !important;
  }

  .batchID-style, .zoneLabel-style {
    width: 140px !important;
  }

  .ngScrollbar-font{
    height:350px !important;
    .matAutoTableContent-styling{
      line-height: 24px !important; 
      height:auto !important; 
      min-height: auto!important; 
      padding: 12px 16px !important; 
      overflow: unset;

      .batchIDFont-style{
        width: 140px !important;
      }
      .zoneLabelfont-style{
        width:  140px !important; 
        white-space: normal !important;
      }
    }
  }

  .matTabScrollbar-style{
    height: 540px !important;
    .th-matHeaderCell-style{
      width:200px!important
    }

  }
  .completeBatchBTN-style{
    min-width: 150px !important;
  }
  