<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
<h1 class="m-0" mat-dialog-title>Cell Sizes - Add, Delete, Edit and Set</h1>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>

<div class="d-flex gap-12 my-4 justify-content-end">
    <button mat-flat-button color="primary" class="add-icon-button" (click)="addczRow($event)">
      <span class="material-symbols-outlined">
        add
      </span>
    </button>
  </div>

<div class="warehouse">
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-6" style="padding-left: 64px;">
                    Cell Size
                </div>
            </div>
        </div>


        <ng-scrollbar style="height: 250px;">
        <div class="card-body" >
            <ng-container *ngFor="let cell of cellsize_list;let i = index">
                <div class="d-flex align-items-center mb-3">
                    <mat-radio-group color="primary">
                        <mat-radio-button value="{{cell.cells}}" [checked]="cell.cells==currentCellValue" (change)="selectCellSize(sigleCell.value)">
                        </mat-radio-button>
                    </mat-radio-group>
                        <div class="container w-100">
                        <div class="row">
                    <div class="col-4">
                        <mat-form-field class="d-block" appearance="outline">
                            <input  #cell_size (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{cell.cells}}" #sigleCell maxlength="50" (keydown)="enableDisableButton(i)" [autofocus]="i === 0">
                        </mat-form-field>
                    </div>
                    <div class="col-8">
                        <div class="d-flex align-items-center gap-12">
                        <mat-form-field class="w-100" appearance="outline">
                            <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" value="{{cell.cellTypes}}" #cellType maxlength="50" (keydown)="enableDisableButton(i)">
                        </mat-form-field>
                        <div class="d-flex gap-12">
                            <button mat-flat-button color="primary" class="xsm-icon-button" (click)="saveCellSize(sigleCell.value, cellType.value, i,cell.isInserted)"
                            [disabled]="(enableButton[i] && enableButton[i].value!=null) ? enableButton[i].value:false"
                            >
                                <mat-icon class="material-symbols-outlined">save</mat-icon>
                            </button>
                            <button mat-flat-button color="warn" class="xsm-icon-button"
                                    (click)="dltCellSize(cell,i);">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                       
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
          
                        
                  
                </div>
            </ng-container>
        </div>
    </ng-scrollbar>
    </div>
</div>