// start primary-color-vairables

$primary-10: #F2F2FF !default;
$primary-50: #D6D6FD !default;
$primary-100: #BABAFA !default;
$primary-200: #8484F4 !default;
$primary-300: #5555EC !default;
$primary-400: #3232E1 !default;
$primary-500: #1A1AD3 !default;
$primary-600: #0D0DC4 !default;
$primary-700: #0808B0 !default;
$primary-800: #030398 !default;
$primary-900: #000080 !default;

// end primary-color-vairables

// start primary-color-RGB-vairables

$primary-rgb-10: 242, 242, 255 !default;
$primary-rgb-50: 214, 214, 253 !default;
$primary-rgb-100: 186, 186, 250 !default;
$primary-rgb-200: 132, 132, 244 !default;
$primary-rgb-300: 85, 85, 236 !default;
$primary-rgb-400: 50, 50, 225 !default;
$primary-rgb-500: 26, 26, 211 !default;
$primary-rgb-600: 13, 13, 196 !default;
$primary-rgb-700: 8, 8, 176 !default;
$primary-rgb-800: 3, 3, 152 !default;
$primary-rgb-900: 0, 0, 128 !default;

// end primary-color-RGB-vairables

// start secondary-color-vairables

$secondary-10: #FBF2FF !default;
$secondary-50: #F6E1FE !default;
$secondary-100: #F0D0FC !default;
$secondary-200: #E4AEF8 !default;
$secondary-300: #D791F0 !default;
$secondary-400: #C877E6 !default;
$secondary-500: #B863D7 !default;
$secondary-600: #A551C4 !default;
$secondary-700: #9042AC !default;
$secondary-800: #773490 !default;
$secondary-900: #5F2873 !default;

// end secondary-color-vairables

// start Secondary-color-RGB-vairables

$secondary-rgb-10: 251, 242, 255 !default;
$secondary-rgb-50: 246, 225, 254 !default;
$secondary-rgb-100: 240, 208, 252 !default;
$secondary-rgb-200: 228, 174, 248 !default;
$secondary-rgb-300: 215, 145, 240 !default;
$secondary-rgb-400: 200, 119, 230 !default;
$secondary-rgb-500: 184, 99, 215 !default;
$secondary-rgb-600: 165, 81, 196 !default;
$secondary-rgb-700: 144, 66, 172 !default;
$secondary-rgb-800: 119, 52, 144 !default;
$secondary-rgb-900: 95, 40, 115 !default;

// end Secondary-color-RGB-vairables

// start tertiary-color-vairables

$tertiary-10: #F2F2FF !default;
$tertiary-50: #D7D7F9 !default;
$tertiary-100: #BEBEF4 !default;
$tertiary-200: #9696EB !default;
$tertiary-300: #7272DF !default;
$tertiary-400: #5555D0 !default;
$tertiary-500: #3D3DBD !default;
$tertiary-600: #2A2AA6 !default;
$tertiary-700: #1C1C8A !default;
$tertiary-800: #111169 !default;
$tertiary-900: #090948 !default;

// end tertiary-color-vairables

// start tertiary-color-RGB-vairables

$tertiary-rgb-10: 242, 242, 255 !default;
$tertiary-rgb-50: 215, 215, 249 !default;
$tertiary-rgb-100: 190, 190, 244 !default;
$tertiary-rgb-200: 150, 150, 235 !default;
$tertiary-rgb-300: 114, 114, 223 !default;
$tertiary-rgb-400: 85, 85, 208 !default;
$tertiary-rgb-500: 61, 61, 189 !default;
$tertiary-rgb-600: 42, 42, 166 !default;
$tertiary-rgb-700: 28, 28, 138 !default;
$tertiary-rgb-800: 17, 17, 105 !default;
$tertiary-rgb-900: 9, 9, 72 !default;

// end tertiary-color-RGB-vairables

// start chrome-color-vairables

$chrome-50: #F5F5FA !default;
$chrome-100: #EBEBF5 !default;
$chrome-200: #DDDDED !default;
$chrome-300: #CECEE0 !default;
$chrome-600: #8B8BA3 !default;
$chrome-700: #626273 !default;
$chrome-900: #17171A !default;

// end chrome-color-vairables

// start chrome-color-RGB-vairables

$chrome-rgb-50: 245, 245, 250 !default;
$chrome-rgb-100: 235, 235, 245 !default;
$chrome-rgb-200: 221, 221, 237 !default;
$chrome-rgb-300: 206, 206, 224 !default;
$chrome-rgb-600: 139, 139, 163 !default;
$chrome-rgb-700: 98, 98, 115 !default;
$chrome-rgb-900: 23, 23, 26 !default;

// end chrome-color-RGB-vairables


$colors:(
  primary:(
    "10": $primary-10,
    "50": $primary-50,
    "100": $primary-100,
    "200": $primary-200,
    "300": $primary-300,
    "400": $primary-400,
    "500": $primary-500,
    "600": $primary-600,
    "700": $primary-700,
    "800": $primary-800,
    "900": $primary-900
  ),
  secondary:(
    "10": $secondary-10,
    "50": $secondary-50,
    "100": $secondary-100,
    "200": $secondary-200,
    "300": $secondary-300,
    "400": $secondary-400,
    "500": $secondary-500,
    "600": $secondary-600,
    "700": $secondary-700,
    "800": $secondary-800,
    "900": $secondary-900
  ),
  tertiary:(
    "10": $tertiary-10,
    "50": $tertiary-50,
    "100": $tertiary-100,
    "200": $tertiary-200,
    "300": $tertiary-300,
    "400": $tertiary-400,
    "500": $tertiary-500,
    "600": $tertiary-600,
    "700": $tertiary-700,
    "800": $tertiary-800,
    "900": $tertiary-900
  ),
  chrome:(
    "50": $chrome-50,
    "100": $chrome-100,
    "200": $chrome-200,
    "300": $chrome-300,
    "600": $chrome-600,
    "700": $chrome-700,
    "900": $chrome-900
  ),
  primary-rgb:(
    "10": $primary-rgb-10,
    "50": $primary-rgb-50,
    "100": $primary-rgb-100,
    "200": $primary-rgb-200,
    "300": $primary-rgb-300,
    "400": $primary-rgb-400,
    "500": $primary-rgb-500,
    "600": $primary-rgb-600,
    "700": $primary-rgb-700,
    "800": $primary-rgb-800,
    "900": $primary-rgb-900
  ),
  secondary-rgb:(
    "10": $secondary-rgb-10,
    "50": $secondary-rgb-50,
    "100": $secondary-rgb-100,
    "200": $secondary-rgb-200,
    "300": $secondary-rgb-300,
    "400": $secondary-rgb-400,
    "500": $secondary-rgb-500,
    "600": $secondary-rgb-600,
    "700": $secondary-rgb-700,
    "800": $secondary-rgb-800,
    "900": $secondary-rgb-900
  ),
  tertiary-rgb:(
    "10": $tertiary-rgb-10,
    "50": $tertiary-rgb-50,
    "100": $tertiary-rgb-100,
    "200": $tertiary-rgb-200,
    "300": $tertiary-rgb-300,
    "400": $tertiary-rgb-400,
    "500": $tertiary-rgb-500,
    "600": $tertiary-rgb-600,
    "700": $tertiary-rgb-700,
    "800": $tertiary-rgb-800,
    "900": $tertiary-rgb-900
  ),
  chrome-rgb:(
    "50": $chrome-rgb-50,
    "100": $chrome-rgb-100,
    "200": $chrome-rgb-200,
    "300": $chrome-rgb-300,
    "600": $chrome-rgb-600,
    "700": $chrome-rgb-700,
    "900": $chrome-rgb-900
  ),
);

$success:#1D865C;
$warning:#FFC458;
$danger:#DE2654;