.header {
  padding: 5px;
}

.filter {
  display: block;
}
.mat-column-work_done_by{
  max-width: 200px !important;
}
.mat-column-start_time{
  max-width: 120px !important;
}
.mat-column-end_time{
  max-width: 120px !important;
}