<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="divWithClass"></div>
    <h1 class="m-0" mat-dialog-title>Storage Container Management</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div>
    <!-- <div class="label-red  p-3 d-flex br-8 mb-4" *ngIf="errorText">
        <mat-icon class="material-symbols-outlined">notification_important</mat-icon>
        <span class="ps-2 w-100">{{errorText}}</span>
    </div> -->
    <div class="row">

        <div class="col-xl-6">
            <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                <mat-label>Zone</mat-label>
                <mat-select [(ngModel)]="scm.zone" class="employees-action" [disabled]="checkDisabled('zone')" autoFocus #zone (selectionChange)="zoneChanged()">
                    <mat-option *ngFor="let option of carouselZones" [value]="option">
                        {{option}}
                    </mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">expand_more</span>
            </mat-form-field>
        </div>

        <div class="col-xl-6">
            <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                <mat-label>Storage Container</mat-label>
                <input matInput [(ngModel)]="scm.tray" [disabled]="checkDisabled('tray')" autoFocus #storageContainer (blur)="validateScannedContainer()">
            </mat-form-field>
        </div>

        <div class="col-xl-12">
            <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                <mat-label>Container Type</mat-label>
                <mat-select [(ngModel)]="scm.containertype" class="employees-action"
                    [disabled]="checkDisabled('containertype')">
                    <mat-option *ngFor="let option of containerTypes" [value]="option.id">
                        {{option.name}}
                    </mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">expand_more</span>
            </mat-form-field>
        </div>

        <div class="col-xl-12" *ngIf="scm.containertype != 0">
            <div class="d-flex align-items-center text-tertary-900 mb-2 text-14 lh-24">
                <mat-icon class="material-symbols-outlined text-18 text-tertary-900 lh-24">info</mat-icon>
                <div>{{ inventoryMapRecords.count }} Inventory map {{ inventoryMapRecords.label }} with Bin</div>
            </div>
            <table class="w-100 br-20 overflow-hidden mb-2">
                <tr *ngFor="let row of tableMatrix">
                  <td *ngFor="let cell of row" class="bg-primary-10 text-chrome-600 p-4 text-center">
                    {{ cell || '-' }}
                  </td>
                </tr>
              </table>
        </div>
    </div>
</div>

<mat-dialog-actions>
    <button type="submit" mat-flat-button class="btn-lg flex-grow-1" color="primary" [disabled]="checkDisabled('save')"
        (click)="exstingTray()">Save</button>
</mat-dialog-actions>