.inner-layout-1 {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .main-content {
        flex: 1;
        margin-bottom: 10px;
    }
    .searchColumn-width{
        width:  140px; 
        white-space: normal;
    }
    .custom-form-width{
        min-width: 100px  !important;
    }
    .AutoCompTable-style{
        line-height: 24px; height:auto; min-height: auto!important; padding: 12px 16px; overflow: unset ;
    }
    .location-Style{
        width:  140px !important;
    }
    .main-card{
        height: 100%;
    
    }
    .scrollbarStyle{
        height:350px
    }
}