<section class="login-section">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="d-flex align-items-center">
          <div class="me-2">
            <img src="../../assets/images/scottech-white.png" alt="">
          </div>
          <h2 class="app-heading m-0">PickPro</h2>
        </div>

        <div class="card bg-tertiary-10" style="border-radius: 16px; border:none">
          <div class="row g-0">
            <div class="col-md-6 col-lg-6 d-none d-md-block">
                <div class="login-bg-img" style="background: url('../../assets/images/LogixPro-login-image2.jpg');width:100%;height: 100%; min-height: 580px; background-size: cover;border-top-left-radius: 16px; border-bottom-left-radius:16px;">

                </div>
            </div>
            <div class="col-md-6 col-lg-6 d-flex">
              <div class="card-body p-4 text-black mx-auto d-flex flex-column" style="max-width: 380px; min-height: 612px">

                <div class="text-center mb-2 mt-4 pt-2">
                  <div class="my-3 brand-logo">
                    <img src="../../assets/images/LogixPro-Logo.png" alt="">
                  </div>
                </div>

<div   >
                  <div class="text-center  mb-2 pb-1">
                    <h2 class="text-tertiary-900 text-24 fw-bold">Account Login</h2>
                  </div>
                  <div class="form-outline mb-2">
                    <mat-form-field appearance="outline" style=" width: 100%;">
                      <mat-label>Username</mat-label>
                      <input type="text" matInput placeholder="Enter Username"
                      (keyup.enter)="enterUserName()"
                      [(ngModel)]="addLoginForm.username" name="username" #userName="ngModel" maxlength="50"
                        
                        required autocomplete="off"    />
                      <mat-icon matPrefix style="color: #090948;">account_circle</mat-icon>
                    </mat-form-field>
                    <mat-hint class="error-message" style="color: red;font-size: 14px;"
                      *ngIf="userName.invalid 
                      && (userName.dirty || userName.touched)">
                      Username is required
                       
                    </mat-hint>
                    <br>
                  </div>
                  <div class="form-outline mb-1">
                    <mat-form-field appearance="outline" style=" width: 100%;">
                      <mat-label>Password</mat-label>
                      <input #passwordInput placeholder="Password" [(ngModel)]="addLoginForm.password" #password="ngModel"   maxlength="50"
                      (keyup.enter)="loginUser()"
                      matInput
                        [type]="toggle_password == true ? 'password' : 'text'" autocomplete="false"   required="" >
                      <mat-icon matPrefix style="color: #090948;">lock</mat-icon>
                      <button type="button" mat-icon-button matSuffix (click)="toggle_password = !toggle_password"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggle_password">
                        <mat-icon>{{toggle_password ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>
                    </mat-form-field>

                    <mat-hint class="error-message" style="color: red;font-size: 14px;"
                      *ngIf="password.invalid && (password.dirty || password.touched)">
                      Password is required
                    </mat-hint>
                    <br>
                  </div>
                  <ng-container *ngIf="(env === 'DB' || env === 'ADLDS')">
                    <div class="form-outline text-end mb-3">
                      <button color="primary" type="button" class="small anchor-feel anchor-focus forgotPassword-link"
                        (click)="changePass()">Reset password?</button>
                    </div>
                  </ng-container>
                  <div class="d-flex justify-content-center my-3">  
                    <button class="form-button-submit w-100" (click)="loginUser()" [disabled]="(userName.invalid || password.invalid)" mat-flat-button
                      color="primary">Login</button>
                  </div>
                  </div>

                <div class="p-2 text-center mb-3" style="border-top:1px solid var(--clr-tertiary-50)">
                <h3 class="text-18 text-tertiary-800 fw-bold mb-1" *ngIf="info.companyName">{{info.companyName}}</h3>
                  <h4 class="text-16 text-tertiary-800 fw-bold mb-1" *ngIf="info.address1">{{info.address1}}</h4>
                  <h4 class="text-16 text-tertiary-800 fw-bold"*ngIf="info.city&&info.state">{{info.city}} , {{info.state}}</h4>
                </div>

                <div class="text-center text-14">
                  v{{version}}
                </div>
                <mat-icon class="material-symbols-outlined" matPrefix style="color: #090948; visibility: hidden; position: absolute;">lock</mat-icon>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay" *ngIf="loader.visibility | async" style="z-index: 999999;">
    <div class="center">
      <mat-spinner [diameter]="50"></mat-spinner>
    </div>
  </div>
</section>