<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
<h1 class="m-0" mat-dialog-title>Clone Group</h1>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>
<div>

        <form [formGroup]="cloneForm" (ngSubmit)="onSend(cloneForm)">

            <mat-form-field class="mb-3 w-100" appearance="outline">
                <mat-label>New Group Name</mat-label>
                <input #grp_name matInput type="text" maxlength="50" formControlName="group_name" >
              </mat-form-field>
            <div class="error" *ngIf="hasError('group_name', 'required')">This field is required.</div>
            <mat-dialog-actions align="end" class="m-0">
                <button type="submit" mat-flat-button class="form-button-submit btn-lg w-100" color="primary"
                    [disabled]="!cloneForm.valid">Submit</button>
            </mat-dialog-actions>

        </form>
</div>