<div class="mat-modal-wrap text-center">
    <mat-dialog-content>
      <div class="prompt-wrap">
        <div class="d-flex justify-content-center prompt-icon-wrap mb-3">
          <span #cancel class="material-symbols-outlined prompt-icon-add text-24">
           print
          </span>
  
        </div>
        <h1 class="mat-card-title text-primary">
          Print Labels
      </h1>
        <p class="prompt-message py-3 mb-2">
            <b>If any desired labels have not been printed click CANCEL to cancel a batch process.
            If all desired labels for these items have been printed click OK.</b>
        </p>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions class="d-flex flex-column justify-content-center">
      <button  class="mat-button-base prompt-action-accent-button btn-lg w-100 mb-3" mat-stroked-button mat-button
      tabindex="1" (click)="createBatch()">Ok</button>
      <button class="mat-button-base btn-lg w-100 mb-3" mat-button mat-dialog-close mat-stroked-button color="secondary"
        tabindex="-1">
        Cancel
      </button>
    </mat-dialog-actions>
  </div>

