<div class="container-fluid p-0" *ngIf="!verifyBulkPutAway">
    <div class="row">
        <div class="col-xl-7 mb-3">
            <app-search-bar (changeViewEmitter)="changeView($event)" [status]="status" [view]="view" [orders]="orders" [selectedOrders]="selectedOrders" (addItemEmitter)="selectOrder($event)" (printDetailList)="printDetailList($event)"></app-search-bar>
        </div>
        <div class="col-xl-5 mb-3">
            <app-status [status]="status"></app-status>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 mb-3">
            <app-order-selection-list  [batchSeleted]="batchSeleted" [orders]="orders" [view]="view" [ordersDisplayedColumns]="ordersDisplayedColumns" (selectOrderEmitter)="selectOrder($event)" (appendAllEmitter)="appendAll()"></app-order-selection-list>
        </div>
        <div class="col-xl-5 mb-3">
            <app-selected-orders [selectedOrders]="selectedOrders" [view]="view" [selectedOrdersDisplayedColumns]="selectedOrdersDisplayedColumns" (removeOrderEmitter)="removeOrder($event)" (removeAllEmitter)="removeAll()"></app-selected-orders>
        </div>
    </div>
    <div>
        <button mat-flat-button color="primary" class="btn-lg w-100" (click)="putawayProcess()" [disabled]="!(selectedOrders.length > 0)">
            Verify Bulk Put Away
        </button>
    </div>
</div>

<app-verify-bulk-put-away *ngIf="verifyBulkPutAway" [SelectedList]="selectedOrders" [NextToteID]="this.NextToteID" (back)="changeVisibiltyVerifyBulk($event)"></app-verify-bulk-put-away>
