<mat-tab-group dynamicHeight>

  <mat-tab label="Status">
    <app-ie-status></app-ie-status>
</mat-tab>

<mat-tab label="System Settings">
    <app-ie-system-settings></app-ie-system-settings>
</mat-tab>
 
<mat-tab label="Transfer Settings">
  <app-ie-transfer-settings></app-ie-transfer-settings>
</mat-tab>

<mat-tab label="Assign Locations">
  <app-ie-assign-locations></app-ie-assign-locations>
</mat-tab>

<mat-tab label="Manage Data">
  <app-ie-manage-data></app-ie-manage-data>
</mat-tab>

<mat-tab label="Archive/Purge">
  <app-ie-archive-purge></app-ie-archive-purge>
</mat-tab>

<mat-tab label="Inv Fields to Modify">
  <app-ie-inv-fields></app-ie-inv-fields>
</mat-tab>

  <mat-tab label="File Backup">
     <app-ie-file-backup></app-ie-file-backup>
    </mat-tab>
    
  <mat-tab label="FTP"> 
  <app-ie-ftp> </app-ie-ftp>
</mat-tab>

  <mat-tab label="Inventory"> 
    <app-ie-inventory></app-ie-inventory>
  </mat-tab>
</mat-tab-group>
