table {
  width: 100%;
}

::ng-deep.w-48px {
  width: 48px;
}

::ng-deep.h-500 {
  height: 500px;
}

::ng-deep.mat-icon-transaction {
  color: var(--clr-tertiary-900);
  transform: rotate(45deg);
}
::ng-deep.transform-rotate{
  transform: rotate(45deg);
}