<div class="inner-layout-1" data-automation-id="flowrack-preferences-layout">
    <div class="main-content mb-4" data-automation-id="flowrack-preferences-content">
<mat-card class="mat-elevation-z g-card mb-3 mt-2 main-card" data-automation-id="flowrack-preferences-card">
    <mat-card-content data-automation-id="flowrack-preferences-card-content">
        <div class="d-xl-flex d-block justify-content-between" data-automation-id="flowrack-preferences-header">
            
            <app-icon-heading-component class="card-header-title mb-3 d-flex align-items-center" heading="Preferences" icon="tune" [automationId]="'flowrack-preferences-heading'"></app-icon-heading-component>
            
            
        </div>

        
            <div class="row" data-automation-id="flowrack-preferences-form-row">
                <div class="col-xl-3" data-automation-id="carton-flow-zone-container">
                    <mat-form-field class="action-dropdown custom-form-field-bg-white w-100 mb-3" appearance="outline" data-automation-id="carton-flow-zone-field">
                        <mat-label data-automation-id="carton-flow-zone-label">Carton Flow Zone Connected To</mat-label>

                        <mat-select #matRef class="employees-action" [(ngModel)]="selectedCarton" (selectionChange)="updatePref($event)" data-automation-id="carton-flow-zone-select">
                            <h6 class="ctl_name ac-dropdown-label" data-automation-id="carton-flow-zone-header"><span data-automation-id="zone-header">Zone</span> <span data-automation-id="location-name-header">Location Name</span></h6>
                          <mat-option  *ngFor="let item of cartonFlowList; let i = index"  [value]="item.zone" [attr.data-automation-id]="'carton-flow-zone-option-' + i + '-' + item.zone">
                            <div class="ctl_option ac-dropdown-option" data-automation-id="carton-flow-zone-option-content">
                                <span data-automation-id="carton-flow-zone-value">{{item.zone}}</span>&nbsp; <span class="min-w-200px" data-automation-id="carton-flow-location-name">{{item.locationName}}</span>
                            </div>
                          </mat-option> 
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more" data-automation-id="carton-flow-zone-expand-icon">
                          expand_more
                        </span>
                      </mat-form-field>
                </div>
            </div>
    </mat-card-content>
</mat-card>
</div>
</div>