<div class="row">
    <div class="col-xl-6">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <mat-form-field class="w-100 custom-form-field custom-form-field-bg-white" appearance="outline">
                    <mat-label>Number of Picks</mat-label>
                    <input type="text" aria-label="Search" matInput disabled [(ngModel)]="noOfPicks">
                </mat-form-field>
            </div>
            <div class="col-xl-6">
                <mat-form-field class="w-100 custom-form-field custom-form-field-bg-white" appearance="outline">
                    <mat-label>Number of Put Aways</mat-label>
                    <input type="text" aria-label="Search" matInput disabled [(ngModel)]="noOfPutAways">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>