<div class="row" data-automation-id="sr-input-fields-wrapper">
    <div class="col-xl-6">
        <div class="row align-items-center">
            <div class="col-xl-6">
                <mat-form-field class="w-100 custom-form-field custom-form-field-bg-white" appearance="outline" data-automation-id="picks-form-field">
                    <mat-label data-automation-id="picks-label">Number of Picks</mat-label>
                    <input type="text" aria-label="Search" matInput disabled [(ngModel)]="noOfPicks" data-automation-id="picks-input">
                </mat-form-field>
            </div>
            <div class="col-xl-6">
                <mat-form-field class="w-100 custom-form-field custom-form-field-bg-white" appearance="outline" data-automation-id="putaways-form-field">
                    <mat-label data-automation-id="putaways-label">Number of Put Aways</mat-label>
                    <input type="text" aria-label="Search" matInput disabled [(ngModel)]="noOfPutAways" data-automation-id="putaways-input">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>