<div class="d-flex justify-content-between align-items-center mb-4">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Replenishment(s) Progress</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<!-- Error message FOR DEV USE-->
        <div class="label-yellow p-3 d-flex br-8 mb-4">
            <mat-icon class="material-symbols-outlined">info</mat-icon>
            <span class="ps-2 w-100"><b>Status:</b> Cleaning Up Replenishments</span>
        </div>
<div>
    <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
        <input matInput type="number" value="1" disabled>
    </mat-form-field>

<div>
    <button type="submit" mat-flat-button class="w-100 btn-lg" color="warn">Stop the Replenishment Process</button>
</div>