<div class="f-container">
    <app-header (toggleSidebarForMe)="sideBarToggler()" >
    </app-header>
    <mat-sidenav-container class="main-container">
      <mat-sidenav #sidenav mode="side" disableClose="true" [opened]="sideBarOpen">
        <app-side-nav [sideBarOpen]="sideBarOpen"></app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="dashboard-section" [ngClass]="{'side-bar-opened' : sideBarOpen}">
          <div class="breadcrumb-menu">
            <nav aria-label="breadcrumb" class="breadcrumb" >
                    </nav>
                </div>
                <div class="container-fluid p-0">

                    <div class="row mb-3 h-100">
                        <div class="col-12">

                            <mat-card class="mat-elevation-z g-card mb-4 h-100">
                                <mat-card-content>
                                    <div class="d-xl-flex justify-content-between align-items-center mb-3">
                                        <h2 class="card-header-title mb-0 d-flex align-items-center">
                                            <div class="mat-icon-wrap me-1 me-lg-3">
                                                <span class="material-symbols-outlined">
                                                    online_prediction
                                                </span>
                                            </div>
                                            <span>Workstation App</span>
                                        </h2>

                                        <mat-form-field class="action-dropdown d-block" appearance="outline">
                                            <mat-label>Actions</mat-label>
                                            <mat-select  #matRef class="employees-action" (openedChange)="actionDialog($event)"   [(value)]="selectedVariable">
                                                <mat-option value="clear_disabled" [disabled]="!wsid" (click)="clearDefaultApp()" >Clear Default App</mat-option>
                                                <mat-option value="get_client_cert">Get Client Certificate Copy</mat-option>
                                                <mat-option value="delete_workstation" [disabled]="!wsid" >Delete Workstations</mat-option>
                                            </mat-select>
                                            <span class="material-symbols-outlined icon-expand-more">
                                                expand_more
                                            </span>
                                        </mat-form-field>
                                    </div>
                                    <div class="row mb-4">
                                        <mat-label class="px-3">Apps Selected WS:
                                            <b> {{selectedItem}}</b> </mat-label>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-5 mb-3 mb-xl-0">
                                            <div class="card br-14" >
                                                <div class="card-header">Workstations</div>
                                               
                                                 <ng-scrollbar class="mat-table-scrollbar"  style="height: 500px;" track="all">
                                                    <div class="card-body table-responsive">

                                                <mat-radio-group color="primary" [(ngModel)]="selectedItem">
                                                    <div *ngFor="let item of workstationData; let i = index"
                                                        class="d-flex flex-column gap-12 mb-2"> 
                                                        <mat-radio-button [value]="item.pcName" [checked]="item.checked"
                                                            (change)="radioChange(item)">
                                                            {{item.pcName}}
                                                        </mat-radio-button>

                                                    </div>
                                                </mat-radio-group>
                                            </div>
                                                 </ng-scrollbar> 
                                        
                                            </div>
                                        </div>
                                        <div class="col-xl-7">
                                            <div class="card br-14 table-responsive borderless px-0"
                                               >
                                                <ng-scrollbar style="height: 557px;"  class="mat-table-scrollbar" track="all">

                                                <table class="table-responsive"  mat-table [dataSource]="appName_datasource">



                                                    <!-- Position Column -->
                                                    <ng-container matColumnDef="appName" mat-dialog-content>
                                                        <th mat-header-cell *matHeaderCellDef> App Name </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.displayName}}
                                                        </td>
                                                    </ng-container>

                                                    <ng-container matColumnDef="canAccess" mat-dialog-content>
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            Can Access?
                                                        </th>
                                                        <td *matCellDef="let element" style="text-align: center;">
                                                            <mat-checkbox  [disabled]="!wsid" [value]="element" (change)="onChangeCheckbox($event,element)"
                                                                [checked]="element.canAccess" color="primary">
                                                            </mat-checkbox>
                                                        </td>
                                                    </ng-container>

                                                    <!-- Radio Column -->
                                                    <ng-container matColumnDef="defaultApp" mat-dialog-content>
                                                        <th mat-header-cell *matHeaderCellDef>
                                                            Default App?
                                                        </th>

                                                        <td mat-cell  *matCellDef="let element" style="text-align: center;">
                                                            <mat-radio-button [value]="element" [disabled]="!wsid  || !element.defaultDisable" [checked]="element.defaultApp" (change)="onChangeRadio($event,element)"
                                                                color="primary">
                                                            </mat-radio-button>
                                                        </td>
                                                    </ng-container>

                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" ></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                                        (click)="selection.toggle(row)">
                                                    </tr>
                                                </table>
                                                </ng-scrollbar>
                                            </div>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>

                </div>

                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>