<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="bm-toeid-width"></div>
    <h1 class="m-0" mat-dialog-title>Tote ID Details</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="br-14 card mb-3 container-fluid tote-details-section">
    <div class="row p-2 item-bottom">
        <div class="col-xl-3">
            <span><b class="badge-ch-limit">Route ID</b></span>
        </div>
        <div class="col-xl-9">
            <span>00009999990536805584</span>
        </div>
    </div>
    <div class="row p-2 item-bottom">
        <div class="col-xl-3">
            <span><b class="badge-ch-limit">Order Number</b></span>
        </div>
        <div class="col-xl-9">
            <span>6731457</span>
        </div>
    </div>
    <div class="row p-2 item-bottom">
        <div class="col-xl-3">
            <span><b class="badge-ch-limit">Host Rec ID</b></span>
        </div>
        <div class="col-xl-9">
            <span>1038314036</span>
        </div>
    </div>
    <div class="row p-2 item-bottom">
        <div class="col-xl-3">
            <span><b class="badge-ch-limit">Tote Type</b></span>
        </div>
        <div class="col-xl-9">
            <span>J-100</span>
        </div>
    </div>
    <div class="row p-2 item-bottom">
        <div class="col-xl-3">
            <span><b class="badge-ch-limit">Status</b></span>
        </div>
        <div class="col-xl-9">
            <div class="d-flex align-items-center ">
                <span class="br-14  label px-3 f-16 label-red">EXCEPTION</span>
            </div>
        </div>
    </div>
    <div class="row p-2 item-bottom">
        <div class="col-xl-3">
            <span><b class="badge-ch-limit">Status Date</b></span>
        </div>
        <div class="col-xl-9">
            <span>2023-05-30, 10:12:12 </span>
        </div>
    </div>
    <div class="row p-2 item-bottom">
        <div class="col-xl-3">
            <span><b class="badge-ch-limit">Add Date</b></span>
        </div>
        <div class="col-xl-9">
            <span>None</span>
        </div>
    </div>
</div>

<div class="row d-flex gap-12 mt-3" mat-dialog-actions>
    <button mat-stroked-button color="primary" class="col btn-lg" disabled>
        Show / Hide Fields
    </button>
</div>