.ctl_name {
    display: flex !important;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;
  }
  .ctl_option{
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
  }
.w-140px{
  width: 140px;
}
.w-160px{
  width: 160px;
}
.w-180px{
  width: 180px;
}
.w-200px{
  width: 200px;
}
.spacer-style{
  width: 14px;
  height:2px;
}
