<mat-card class="mat-elevation-z g-card h-100">
    <mat-card-content>
        <h2 class="card-header-title mb-0 d-flex align-items-center mb-3">

            <div class="mat-icon-wrap me-lg-3 me-2">
                <span class="material-symbols-outlined">
                    receipt
                </span>
            </div>
            <span>Transactions in Reprocess</span>
        </h2>
        <div class="row align-items-center mb-2 px-2 ">
            <div class="col-md-6">
                <div class="row ">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div>
                            <h2 class="f-16 bold mb-3 d-flex align-items-center">
                                <span>Records To View</span>
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div>
                        <mat-radio-group class="d-flex align-items-center gap-12" aria-label="Select an option"
                        [ngModelOptions]="{standalone: true}"  [(ngModel)]="selectedOption" (change)="radioButtonChange($event)">

                            <mat-radio-button value="reprocess" color="primary">
                                Reprocess
                            </mat-radio-button>
                            <mat-radio-button color="primary" value="history">
                                History
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="">
                    <div class="d-flex justify-content-between align-items-center ">
                        <div>
                            <h2 class="f-16 bold mb-3 d-flex align-items-center">
                                <span>Reason Filter</span>
                            </h2>
                        </div>

                    </div>
                </div>
                <div class="mb-3">
                    <div class="d-flex align-items-center gap-12">
                        <mat-radio-group class="d-flex align-items-center gap-12" aria-label="Select an option"
                        [(ngModel)]="reasonFilter" (change)="reasonFilterChange($event)" [disabled]="history">
                            <mat-radio-button color="primary" value="none">
                                None
                            </mat-radio-button>
                            <mat-radio-button color="primary" value="hold">
                                Hold
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>

                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="d-block d-lg-flex align-items-center gap-12">
                <div class="w-100 mb-3" style="flex:1">

                    <!-- <mat-form-field class="custom-form-field custom-form-field-bg-white w-100" appearance="outline">
                        <mat-label>Order Number</mat-label>
                        <input type="text" maxlength="50" aria-label="Number" matInput
                            [matAutocomplete]="autoOrder" [(ngModel)]="orderNumber" (keypress)="getFilteredList()" (keyup)="orderSelected()">
                      
                      
                            <mat-autocomplete class="card custom-scroll" panelWidth="auto" autoActiveFirstOption
                            #autoOrder="matAutocomplete" (optionSelected)="orderSelected()">
                            <h6 class="card-header matAutoCompHeader">
                                <span>Order Number</span> <span>Date</span>
                                <span style="width:  140px;">Transaction Type</span> <span style="width:  140px;">Item Number</span> <span style="width:  140px;">Transaction Quantity</span>
                            </h6>
                            <mat-option  *ngFor="let option of orderList" [value]="option.orderNumber" class="matAutoCompTableContent">
                                <div  class="loc_option">
                                    <span  class="searchColumn" style="width:  140px;">{{option.orderNumber}}</span> <span  class="searchColumn" style="width:  140px;">{{option.dateField}}</span>
                                    <span  class="searchColumn" style="width:  140px;">{{option.transType}}</span><span  class="searchColumn" style="width:  140px;">{{option.itemNumber}}</span><span  class="searchColumn" style="width:  140px;">{{option.qty}}</span>
                                </div>
                            </mat-option>
                        </mat-autocomplete>



                    </mat-form-field>  -->
                    <mat-form-field class="w-100 bg-white" appearance="outline">
                        <mat-label>Order Number</mat-label>
                        <input type="text" maxlength="50" aria-label="Number" matInput
                            [matAutocomplete]="autoOrder" [(ngModel)]="orderNumber" (keypress)="getFilteredList()" (keyup)="orderSelected()">
                            <button matSuffix *ngIf="orderNumber" class="clear-btn"  (click)="orderNumber=''"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>

                        <mat-autocomplete class="card custom-scroll" panelWidth="auto" autoActiveFirstOption
                            #autoOrder="matAutocomplete" (optionSelected)="orderSelected()">
                            <h6 class="card-header matAutoCompHeader ">
                                <span style="width:  140px;">Order Number</span> <span style="width:  200px;">Date</span>
                                <span style="width:  160px;">Transaction Type</span> <span style="width:  140px;">Item Number</span> <span style="width:  180px;">Transaction Quantity</span>
                            </h6>
                            <mat-option class="matAutoCompTableContent" *ngFor="let option of orderList"
                                [value]="option.orderNumber">
                                <div class="loc_option">
                                    <span class="searchColumn" style="width:  140px;">{{option.orderNumber}}</span> <span class="searchColumn" style="width:  200px;">{{option.dateField}}</span>
                                    <span class="searchColumn" style="width:  160px;">{{option.transType}}</span><span class="searchColumn" style="width:  140px;">{{option.itemNumber}}</span><span class="searchColumn" style="width: 180px;">{{option.qty}}</span>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>


                </div>
                <span class="bg-tertiary-900 d-none d-lg-flex mb-3" style="width: 14px; height:2px;"></span>
                <div class="d-flex w-100 mb-3" style="flex:1">
                    <mat-form-field class="w-100 bg-white" appearance="outline">
                        <mat-label>{{fieldNames?.itemNumber}}</mat-label>
                        <input type="text" maxlength="50" matInput [matAutocomplete]="auto" [(ngModel)]="itemNumber" style="padding-left: 0px !important;">
                        <button matSuffix *ngIf="itemNumber" class="clear-btn"  (click)="itemNumber=''"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                        <mat-autocomplete class="card custom-scroll" panelWidth="auto" autoActiveFirstOption
                            #auto="matAutocomplete" (optionSelected)="listSelected($event)">
                            <h6 class="card-header matAutoCompHeader ">
                                <span style="width:  140px;">Item Number</span> <span class="searchColumn" style="width:  200px;">Date</span>
                                <span style="width:  140px;">Transaction Type</span> <span style="width:  140px;">Order Number</span> <span style="width:  180px;">Transaction
                                    Quantity</span>
                            </h6>
                            <mat-option class="matAutoCompTableContent" *ngFor="let option of itemNumberList"
                                [value]="option.itemNumber">
                                <div class="loc_option">
                                    <span class="searchColumn" style="width:  140px;">{{option.itemNumber}}</span> <span class="searchColumn" style="width:  200px;">{{option.dateField}}</span>
                                    <span class="searchColumn" style="width:  140px;">{{option.transType}}</span><span class="searchColumn" style="width:  140px;">{{option.orderNumber}}</span><span class="searchColumn" style="width:  180px;">{{option.qty}}</span>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>


                </div>
            </div>

        </div>
        <div>
            <button mat-stroked-button color="warn" class="button-remove-all-w-stroke w-100" (click)="clear(true)">
                Clear
            </button>
        </div>
    </mat-card-content>

</mat-card>
<!-- 
<span class="v-br">-</span>
<div class="d-flex g-mini-search-box w-100">



    <mat-form-field class="w-100 bg-white br-8" appearance="fill">
        <span class="material-symbols-outlined icon-search">
            search
        </span>
        <input type="text" placeholder="search" aria-label="Number" matInput
            [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option>
                2
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>


</div> -->