// .warehouse{
//     border: 1px solid var(--clr-tertiary-50);
//     border-radius: 14px;
//     padding: 30px;
// }
.mat-form-field-appearance-outline .mat-form-field-infix{
    padding: 0px !important;
}
.mat-list-base{
    padding-top: 0px !important;
}