<div class="search-box mb-3">
  <div class="d-flex g-mini-search-box">
    <mat-form-field class="w-100" appearance="fill">
      <span class="material-symbols-outlined icon-search" data-automation-id="label-search-icon">
        search
      </span>
      <input type="text" [(ngModel)]="searchGrp"  placeholder="Search Groups" maxlength="50" aria-label="Search Groups" matInput (keyup)="applyFilter($event)" [matAutocomplete]="auto"  #autoFocusField data-automation-id="groups-lookup-search-input">
      <button matSuffix *ngIf="searchGrp" class="clear-btn" (click)="clearFields()" data-automation-id="button-cancel"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [attr.data-automation-id]="'groups-lookup-option-' + option">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

  <div class="card table-responsive">
    <ng-scrollbar class="mat-table-scrollbar scrollbar-height" pointerEventsMethod="scrollbar"> 
<table  mat-table [dataSource]="group_data_source" matSort (matSortChange)="announceSortChange($event)" class="g-card-table table1 employee-location-table custom-action-clickable-table" data-automation-id="groups-lookup-table">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->
          
  <ng-container matColumnDef="groupName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header data-automation-id="label-group-name">Group Name</th>
    <td mat-cell *matCellDef="let element" [attr.data-automation-id]="'groups-lookup-cell-' + element.groupName"> {{element.groupName}} </td>
  </ng-container>


  
  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true" class="table-background"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getGrpDetails(row)" [attr.data-automation-id]="'groups-lookup-row-' + row.groupName"></tr>

</table>
</ng-scrollbar>
</div>

