table.custom-action-clickable-table tr{
    top: 0;
    left: 8px;
    right: 14px;
    bottom: 0;
    cursor: pointer;
    color:var(--clr-pure-white);
    border-radius: 8px !important;
    margin-left:15px;
  }
  
  table.custom-action-clickable-table tr td:hover{
          transition: 0.1s ease all;
          color: var(--clr-pure-white) !important;
          background: var(--clr-primary-300);
          position: relative;
          border-radius: 8px !important;
          z-index:0;
          cursor: pointer;
  }
  
  table.custom-action-clickable-table tr:hover td{
    color: var(--clr-pure-white) !important;
    border: none;
  }
  
  
  tr{
      display: table-row!important;
      white-space: nowrap;
      border-radius: 8px;
       td{
          vertical-align: middle;
          border-bottom: 1px solid var(--clr-pure-white);
          padding-right: 10px;
          &:first-child{
              padding-left: 20px !important;
              border-top-left-radius: 8px;
              border-bottom-left-radius: 8px;
          }
          &:last-child{
              padding-right:20px !important;
              border-top-right-radius: 8px;
              border-bottom-right-radius: 8px;
          }
      }
  }
  
.scrollbar-height{
    height: 560px !important;
}

.table-background{
    background-color: var(--clr-table-header) !important;
}