<mat-card class="mat-elevation-z g-card mb-4 mt-3">
    <mat-tab-group>
        <mat-tab label="General Setup">
            <app-sp-general-setup></app-sp-general-setup>
        </mat-tab>
        <mat-tab label="Location Zones">
            <app-sp-location-zones></app-sp-location-zones>
        </mat-tab>
        <mat-tab label="Field Name Mapping">
            <app-sp-field-name-mapping></app-sp-field-name-mapping>
        </mat-tab>
        <mat-tab label="Lookup Lists">
            <app-sp-lookup-lists></app-sp-lookup-lists>
        </mat-tab>
        <mat-tab label="Device Preferences">
            <app-sp-device-preference></app-sp-device-preference>
        </mat-tab>
    </mat-tab-group>
</mat-card>