<mat-card class="mat-elevation-z g-card mb-4 mt-3">
    <mat-tab-group>
        <mat-tab label="General Setup" data-automation-id="tab-general-setup">
            <app-sp-general-setup></app-sp-general-setup>
        </mat-tab>
        <mat-tab label="Location Zones" data-automation-id="tab-location-zones">
            <app-sp-location-zones></app-sp-location-zones>
        </mat-tab>
        <mat-tab label="Field Name Mapping" data-automation-id="tab-field-name-mapping">
            <app-sp-field-name-mapping></app-sp-field-name-mapping>
        </mat-tab>
        <mat-tab label="Lookup Lists" data-automation-id="tab-lookup-lists">
            <app-sp-lookup-lists></app-sp-lookup-lists>
        </mat-tab>
        <mat-tab label="Device Preferences" data-automation-id="tab-device-preferences">
            <app-sp-device-preference></app-sp-device-preference>
        </mat-tab>
    </mat-tab-group>
</mat-card>