<mat-card class="mat-elevation-z g-card mb-4 h-100">
    <mat-card-content>
        <div class="row">
            <div class="d-flex justify-content-between align-items-center mb-2">
                <div>
                    <h2 class="card-header-title mb-0 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                cable
                            </span>
                        </div>
                        <span>Connection Strings</span>
                    </h2>
                </div>
            </div>
        </div>
        <div class="py-1">

            <div class="row">
                <div class="col-6 offset-6">
                    <div class="d-flex gap-12 mb-3 justify-content-end">
                        <button (click)="addConnString()" mat-flat-button color="primary" class="add-icon-button"  [disabled]="isAddedNewRow">
                            <span class="material-symbols-outlined" matTooltip="Add Connection String" 
                                matTooltipPosition="above">
                                add
                            </span>
                        </button>

                    </div>
                </div>
            </div>

            <div class="card w-100">

                <div class="card-header">
                    <div class="row">
                        <div class="col-3 ">Connection Name</div>
                        <div class="col-3 ">Database Name</div>
                        <div class="col-2 px-2">Server Name</div>
                        <div class="col-4 "></div>
                    </div>
                </div>
                    <ng-scrollbar style="height: 500px;" track="all">
                <div class="card-body" style="overflow-x: auto;">
                    

                    <div class="row">
                        <mat-radio-group aria-label="Select an option" color="primary" class="w-100">
                            <ng-container *ngFor="let item of connectionStringData;let index = index;trackBy:trackByIndex;" track="all" mat-dialog-content>
                                <div class="row align-items-center mb-3">

                                    <div class="col-3" >
                                        <mat-form-field class="custom-form-field w-100" appearance="outline">
                                            <input matInput type="text" [(ngModel)]="item.connectionName" name="connectionName" (ngModelChange)="onInputValueChange($event,item,index)" #specialFeature maxlength="50"
                                                [value]="item.connectionName">
                                                <mat-hint class="error-message" style="color: red;font-size: 14px;padding-top:5%"
                                                *ngIf="item.isDuplicate">
                                                Field can not be duplicate
                                              </mat-hint>
                                        </mat-form-field >
                                    </div>

                                    <div class="col-3">
                                        <div class="d-xl-flex gap-12 align-items-center">

                                            <mat-form-field class="custom-form-field w-100" appearance="outline">

                                                <input matInput type="text" #specialFeature maxlength="50" name="databaseName" [(ngModel)]="item.databaseName" (ngModelChange)="onInputValueChange($event,item,index)"
                                                    [value]="item.databaseName">
                                            </mat-form-field>

                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="d-xl-flex gap-12 align-items-center">
                                            <mat-form-field class="custom-form-field w-100" appearance="outline">

                                                <input matInput type="text" #specialFeature maxlength="50"  name="databaseName" [(ngModel)]="item.serverName" (ngModelChange)="onInputValueChange($event,item,index)"
                                                    [value]="item.serverName">
                                            </mat-form-field>

                                        </div>
                                    </div>
                                    <div class="col-3" style="overflow-x: auto;">
                                        <div class="d-flex gap-12 align-items-center pe-0 pe-xl-3 justifly-content-center">
                                            <button type="button" mat-flat-button 
                                               (click)="openSqlAuth(item)" class="button-primary-i button-md"  [disabled]="item.isSqlButtonDisable" style="flex:1" > Set SQL Auth</button>

                                            <button mat-flat-button color="primary" class="xsm-icon-button m-1 m-xl-0" [disabled]="item.isButtonDisable"
                                               (click)="saveString(item,index)" #namebutton>
                                                <mat-icon class="material-symbols-outlined" matTooltip="Save" matTooltipPosition="above">save</mat-icon>
                                            </button>

                                            <button (click)="deleteString(item)" mat-flat-button color="warn" class="xsm-icon-button m-1 m-xl-0" matTooltip="Delete" matTooltipPosition="above">
                                                <mat-icon class="material-symbols-outlined">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>


                                </div>
                            </ng-container>
                        </mat-radio-group>
                    </div>
                </div>
                </ng-scrollbar>
            </div>
        </div>

    </mat-card-content>
</mat-card>