<div class="d-flex justify-content-between mb-4 align-items-center">
    <h1 class="m-0 text-center" mat-dialog-title>Filter Item Numbers</h1>
    
    <button mat-icon-button class="close-button dialog-close-button-fix" (click)="onNoClick()">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
    </div>
    
    <div>
    
        <div >
    
            <!-- Error message FOR DEV USE-->
            <div class="label-blue3 p-3 d-flex br-8 mb-4">
                <mat-icon class="material-symbols-outlined">notification_important</mat-icon>
                <span class="ps-2 w-100">This is used to copy and paste item numbers from an excel spreadsheet.</span>
            </div>
    
            <div>
                <mat-form-field class="custom-form-field w-100" appearance="outline">
                    <textarea #filter_text matInput [(ngModel)]="data" style="min-height: 100px ;" maxlength="255"></textarea>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-end pt-3">
            <button style="flex:1" mat-flat-button color="primary" class="button-primary btn-lg" (click)="filterItemNumbers()" cdkFocusInitial>Filter</button>
            </div>
    
    </div>
    