<div class="container-fluid p-0  h-auto">
    <div class="row g-3">
        <div class="col-xl-12">
            <app-markout-new-pick-totes (rowSelected)="onRowSelected($event)" data-automation-id="markout-new-pick-totes"></app-markout-new-pick-totes>
        </div>
        <div class="col-xl-12">
            <mat-tab-group dynamicHeight>
                <mat-tab label="Pick Lines">
                    <app-markout-new-pick-lines [toteId]="rowSelected?.toteId ?? null" data-automation-id="markout-new-pick-lines"></app-markout-new-pick-lines>
                </mat-tab>
                <mat-tab label="Tote Audit">
                    <app-markout-new-tote-audit [toteId]="rowSelected?.toteId ?? null" data-automation-id="markout-new-tote-audit"></app-markout-new-tote-audit>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>