::ng-deep .toast-info::before {
    background: rgba(var(--clr-primary-rgb-500), 0.1)!important
  }




  table{
    tr{
        display: table-row!important;
        white-space: nowrap;
        border-radius: 8px;
        th, td{
            vertical-align: middle;
            border-bottom: 1px solid var(--clr-pure-white);
            padding-right: 10px;
            &:first-child{
                padding-left: 20px !important;
                border-top-left-radius: 8px;
                border-bottom-left-radius: 8px;
            }
            &:last-child{
                padding-right:20px !important;
                border-top-right-radius: 8px;
                border-bottom-right-radius: 8px;
            }
        }
    }

    .highlight-row {
        background-color: #FCEAEE;
      }
      
.selected {
    background-color: var(--clr-primary-300) !important;
    border-radius: 0px !important;

    color: var(--clr-pure-white);
    // &:before{
    //   content: '';
    //   background-color: var(--clr-primary-300);
    //   height: 100%;
    //   width: 100%;
    //   position: absolute;
    //   left: 0px;
    //   top: 0px;
    //   z-index: -1;
      
    // }
    // &:first-child{
    //   &:before{
    //   border-top-left-radius: 0px;
    //   border-bottom-left-radius: 0px;
    //   margin-left: 8px;
    //   }
    // }
    // &:last-child{
    //   &:before{
    //   border-top-right-radius: 0px;
    //   border-bottom-right-radius: 0px;
    //   right: 12px;
    //   left: auto;
    //   }
    // }
    
  }
}

.stickyHeader{
  position: sticky;
  top: 0px;
  z-index: 200000000;
}


// .custom-action-clickable-table .mat-row{
//   position: relative;
// }
.toolTipConf{
  padding: 10px 12px;
   border: 0; 
   text-overflow: ellipsis;
    overflow: hidden; 
    max-width: 23ch;
     white-space: nowrap;
}


table.custom-action-clickable-table tr{
  top: 0;
  left: 0px;
  right: 14px;
  bottom: 0;
  cursor: pointer;
  color:var(--clr-pure-white);
  border-radius: 8px !important;
  margin-left:15px;
}

table.custom-action-clickable-table tr:hover{
        transition: 0.3s ease all;
        color: var(--clr-pure-white) !important;
        background: var(--clr-primary-300);
        position: relative;
        border-radius: 8px !important;
        z-index:0;
        cursor: pointer;
}

table.custom-action-clickable-table tr:hover td{
  color: var(--clr-pure-white) !important;
  border: none;
}
.scroll-color{
  --scrollbar-track-color: var(--clr-pure-white) !important;
  // --scrollbar-thumb-color: rgb(200, 200, 200) !important;
  --scrollbar-padding: 0px;
  // --scrollbar-size: 10px;
  
  }

.divWithClass{
    width:48px !important;
}
.scrolBar-colorStyle{
  height:65vh !important;
}

  .otocompletestyle{
    padding-bottom: 16px !important; 
    padding-top: 16px !important;
  }
  .locationStickyHeaderStyle{
    padding: 0px 25px !important; 
    border: 0 !important; 
    text-overflow: ellipsis !important; 
    overflow: hidden !important; 
    width:70% !important; 
    white-space: nowrap !important;
  }
  .zoneStickyHeaderStyle{
    padding: 0px 0px !important; 
    border: 0 !important; 
    text-overflow: ellipsis !important; 
    overflow: hidden !important;
     width:30% !important; 
    white-space: nowrap !important;
  }
  .optionLocationNameStyle{
    padding: 10px 12px !important; 
    border: 0 !important; 
    text-overflow: ellipsis !important; 
    overflow: hidden !important; 
    width:70% !important; 
    white-space: nowrap !important;
  }
  .optionZoneStyle{
    padding: 10px 12px !important; 
    border: 0 !important; 
    text-overflow: ellipsis !important; 
    overflow: hidden !important; 
    width:30% !important; 
    white-space: nowrap !important;
  }
  .zone-padding{
    padding: 0px 25px !important; 
  }
  .location-padding{
    padding: 0px 16px !important; 
  }
  
  

  .unfoldMoreStyleC{
    color:var(--clr-tertiary-900); transform: rotate(45deg) !important;
  }

.itemNumAutostyleC{
  padding-bottom: 16px !important; 
  padding-top: 16px !important;
}
.itemNumberStyleCC{
  padding: 0px 25px !important; 
  border: 0 !important; 
  text-overflow: ellipsis !important; 
  overflow: hidden !important; 
  width:30% !important; 
  white-space: nowrap !important;
}
.DescriptionsyleCC{
  padding: 0px 25px !important; 
  border: 0 !important; 
  text-overflow: ellipsis !important; 
  overflow: hidden !important; 
  width:70% !important; 
  white-space: nowrap !important;
}
.itemNumberOptionStyleCC{
  padding: 10px 12px !important; 
  border: 0 !important; 
  text-overflow: ellipsis !important; 
  overflow: hidden !important; 
  width:30% !important; 
  white-space: nowrap !important;
}
.DescriptionOptionsyleCC{
  padding: 10px 20px !important; 
  border:  0 !important; 
  text-overflow: ellipsis !important; 
  overflow: hidden !important; 
  width:70% !important; 
  white-space: nowrap !important;
}

.rotate-45 {
  transform: rotate(45deg)
}
.h-65vh{
  height: 65vh;
}


