<div class="main-section-options">
    <div class="container-fluid">
      <div class="row g-4">
        <!-- Main Section Option (Import Export) -->
        <div class="col-xl-3 col-lg-6">
          <div 
          matRipple 
          [matRippleColor]="tab_hover_color" 
          class="main-section-option" 
          routerLink="/InductionManager/ProcessPutAways"
          [ngClass]="isAuthorized('Tote Transactions') ? 'isDivDisabled' : ''"
          (click)="updateMenu('induction', '/InductionManager/ProcessPutAways')"
          >
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                dashboard
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Process Put Aways</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Admin) -->
        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option" 
            routerLink="/InductionManager/ProcessPicks" 
            (click)="updateMenu('induction', '/InductionManager/ProcessPicks')"
            [ngClass]="isAuthorized('Tote Transactions') ? 'isDivDisabled' : ''">
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                directions_alt 
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Process Picks</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Induction Manager) -->
        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option" 
            (click)="updateMenu('induction', '/InductionManager/SuperBatch')"
            [ngClass]="isAuthorized('Induction Manager') ? 'isDivDisabled' : ''"
            routerLink="/InductionManager/SuperBatch">
            <!-- <a class="main-section-option-link" href="#"></a> -->
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                line_style
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Super Batch</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Work Manager) -->
    

        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option" 
            (click)="updateMenu('induction', '/InductionManager/PalletReceiving')"
            [ngClass]="isAuthorized('Induction Manager') ? 'isDivDisabled' : ''"
            routerLink="/InductionManager/PalletReceiving">
            <!-- <a class="main-section-option-link" href="#"></a> -->
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                linear_scale

              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Pallet Receiving</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Consolidation Manager) -->
     

        
        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option" 
            (click)="updateMenu('induction', '/InductionManager/MarkEmptyReels')"
            [ngClass]="isAuthorized('Induction Manager') ? 'isDivDisabled' : ''"
            routerLink="/InductionManager/MarkEmptyReels">
            <!-- <a class="main-section-option-link" href="#"></a> -->
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                edit_attributes
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Mark Empty Reels</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Order Manager) -->
        <div class="col-xl-3 col-lg-6" routerLink="Admin" (click)="updateMenu('transaction-admin')" [ngClass]="isAuthorized('Tote Admin Menu') ? 'isDivDisabled' : ''">
          <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                manage_accounts
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Admin</h4>
          </div>
        </div>

        <!-- Main Section Option (Import Export) -->
        <div class="col-xl-3 col-lg-6" [ngClass]="isAuthorized('Induction Manager') || !useInZonePickScreen ? 'isDivDisabled' : ''">
          <div 
          matRipple 
          [matRippleColor]="tab_hover_color" 
          class="main-section-option" 
          routerLink="/InductionManager/CompletePickBatch"
          [ngClass]="isAuthorized('Induction Manager') || !useInZonePickScreen ? 'isDivDisabled' : ''"
          (click)="updateMenu('induction', '/InductionManager/CompletePickBatch')"
          >
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                library_add_check 
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Complete Pick Batch</h4>
          </div>
        </div>

      </div>
    </div>
  </div>