.container.location_detail,
.item_detail {
  border: 1px solid var(--clr-tertiary-50);
  border-radius: 14px;
  padding: 30px;
}

.ld_checks {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.ld_checkbox {
  margin: 0 10px;
}

.loc_name {
  display: flex !important;
  justify-content: space-between;
  padding: 10px 20px 0px 20px;
}
.loc_option{
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.loc_optionZ{
  display: flex;
  justify-content: space-around;
  text-overflow: ellipsis;
}
.itemNum  {
  display: flex;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.newEntry{
  padding: 30px;
}

.divWithClass{
  width:48px !important;
}