<form [formGroup]="auditTransferForm" (ngSubmit)="onSave()">
    <div class="d-flex justify-content-between mb-4 align-items-center">
        <div class="div-width"></div>
        <h1 class="m-0" mat-dialog-title>Audit Transfer File Path Setup</h1>
        <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>
    <div>
        <div class="card p-3 mb-3">
            <div class="mb-3">
                <div class="d-flex align-items-center">
                    <mat-form-field class="custom-form-field flex-grow-1 mb-0 me-2" appearance="outline">
                        <mat-label>Backup File Path</mat-label>
                        <input matInput formControlName="backupFilePath" placeholder="Backup File Path" />
                    </mat-form-field>
                    <input type="file" #backupFileInput style="display:none" (change)="onBackupFileSelected($event)">
                    <button mat-stroked-button type="button" class="button-secondary flex-shrink-0" (click)="backupFileInput.click()">Browse</button>
                </div>
            </div>
            <div class="mb-3">
                <div class="d-flex align-items-center">
                    <mat-form-field class="custom-form-field flex-grow-1 mb-0 me-2" appearance="outline">
                        <mat-label>Import File Path</mat-label>
                        <input matInput formControlName="importFilePath" placeholder="Import File Path" />
                    </mat-form-field>
                    <input type="file" #importFileInput style="display:none" (change)="onImportFileSelected($event)">
                    <button mat-stroked-button type="button" class="button-secondary flex-shrink-0" (click)="importFileInput.click()">Browse</button>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-4 mb-3">
                    <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                        <mat-label>Transaction Type</mat-label>
                        <input matInput formControlName="transactionType" placeholder="Transaction Type"
                            [readonly]="true" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 mb-3">
                    <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                        <mat-label>Extension Import File</mat-label>
                        <input matInput formControlName="extensionImportFile" placeholder="Extension Import File" />
                    </mat-form-field>
                </div>
                <div class="col-md-4 d-flex align-items-center mb-3">
                    <mat-label class="me-2">Active</mat-label>
                    <mat-slide-toggle color="primary" formControlName="active"></mat-slide-toggle>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center mt-4">
        <button mat-flat-button color="primary" class="btn-lg flex-grow-1" type="submit"
            [disabled]="!auditTransferForm.valid">
            Save
        </button>
    </div>
</form>