<div>
    <form  class="inner-layout-1"  [formGroup]="processForm" (ngSubmit)="processPallet()">
    <div  class="main-content d-flex flex-column">
        <mat-card class="mat-elevation-z g-card mt-3 mb-3">
            <mat-card-content>
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <app-icon-heading-component heading="Receive Pallet" icon="linear_scale">
                    </app-icon-heading-component>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" style="cursor: context-menu !important;">
                            <mat-label>Tote ID</mat-label>
                            <input matInput type="text" maxlength="50" formControlName="toteID" #autoFocusField [(ngModel)]="toteIDCrossBtn">
                            <button matSuffix *ngIf="toteIDCrossBtn" class="clear-btn" (click)=" toteIDCrossBtn='' " ><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>  
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4">
                        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" style="cursor: context-menu !important;">
                            <mat-label>Item No.</mat-label>
                            <input matInput  type="text" maxlength="50" formControlName="itemNo" [(ngModel)]="itemNoCrossBtn">
                            <button matSuffix *ngIf="itemNoCrossBtn" class="clear-btn" (click)=" itemNoCrossBtn='' " ><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button> 
                        </mat-form-field>
                    </div>
                    <div class="col-xl-4">
                        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" style="cursor: context-menu !important;">
                            <mat-label>Quantity</mat-label>
                            <input [NumbersOnly]="true" matInput type="number"  formControlName="quantity" >
                        </mat-form-field>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>
    </div>

    <div>
        <button type="submit" mat-flat-button class="btn-lg w-100" color="primary">Process Pallet</button>
    </div>
</form>
</div>