.inner-layout-1{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .main-content{
        flex: 1;
        height: 100%;
        margin-bottom: 10px;
    }
}

.custom-form-field{
    cursor: context-menu !important;
}