<mat-card class="mat-elevation-z g-card mb-4 h-100">
  <mat-card-content>

    <div class="d-flex justify-content-between align-items-center mb-4">
      <div>
        <h2 class="card-header-title mb-0 d-flex align-items-center">
          <div class="mat-icon-wrap me-1 me-lg-3">
            <span class="material-symbols-outlined">
              playlist_add_check_circle
            </span>
          </div>
          <span>Order Selection List</span>
        </h2>
      </div>
      <!-- <div>
          <button mat-stroked-button color="button-default" class="default-btn bg-white text-primary-900 br-14" (click)="addRemoveAllOrder()">
            <mat-icon>add</mat-icon>
            Add All
          </button>
        </div>  -->
    </div>
    <ng-container>

      <div class="row" *ngIf="extraField != '' || extraField !=0 ;else autoBatch">
        <div class="col-12 col-xl-6">
          <div class="mb-3  w-100 ">
            <button (click)="appendMax()" style="color:#1A1AD3!important" mat-button mat-stroked-button color="default-btn" class="button-add-all bg-white br-18 w-100">
              Append Max Orders
        </button>
          </div>
        </div>
        <div class="col-12 col-xl-6">
          <div class="mb-3  w-100 ">
            <button (click)="addRemoveAllOrder()" mat-flat-button color="primary"
              class="br-18 w-100 form-button-submit">
              Selected Orders in Auto Batch Zone
            </button>
          </div>
        </div>
      </div>
      <ng-template #autoBatch>
        <div class="d-flex justify-content-center bg-white">
          <div class="m-3  w-100 ">
            <button (click)="addRemoveAllOrder()" mat-flat-button color="primary"
              class="br-18 w-100 form-button-submit">
              Selected Orders in Auto Batch Zone
            </button>
          </div>
        </div>



      </ng-template>


    </ng-container>
    <div class="card table-responsive br-14">

      <table mat-table [dataSource]="tableData" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="orderNumber">
          <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header
            sortActionDescription="Sort by orderNumber"> Order No. </th>
          <td mat-cell *matCellDef="let element"> {{element.orderNumber}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="countOfOrderNumber">
          <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header
            sortActionDescription="Sort by countOfOrderNumber"> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.countOfOrderNumber}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="minOfPriority">
          <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header
            sortActionDescription="Sort by minOfPriority"> Priority </th>
          <td mat-cell *matCellDef="let element"> {{element.minOfPriority}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="detail">
          <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header
            sortActionDescription="Sort by detail"> Details </th>
          <td mat-cell *matCellDef="let element">
            <!-- <button mat-stroked-button color="button-default" class="default-btn bg-white text-primary-900 br-14" >
                  View
                </button> -->

            <div (click)="openView(element)" class="__pointer_cursor custom-add-button-color br-14">
              View
            </div>
            <!-- <div (click)="openBatchViewDetail()">Option 2</div> -->
          </td>
        </ng-container>

        <!-- Action Column -->
        <ng-container matColumnDef="action">
          <th class="bg-light-blue" mat-header-cell *matHeaderCellDef mat-sort-header
            sortActionDescription="Sort by action"> Actions </th>
          <td mat-cell *matCellDef="let element">
            <div >
              <!-- class="text-end" -->
              <button mat-flat-button class="bg-white custom-add-button-color" (click)="addOrders(element)">
                <mat-icon>add_circle</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell notify-center-table" [attr.colspan]="displayedColumns.length">
            No data available in table.
          </td>
        </tr>
      </table>

      <div class="d-flex justify-content-between bg-white">
        <mat-paginator [pageSize]="10" showFirstLastButtons [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        <!-- <div class="m-3">
              <button mat-flat-button color="primary" class="br-14" >
                Selected Orders in Auto Batch Zone
              </button>
            </div>                   -->
      </div>

    </div>


  </mat-card-content>
</mat-card>