.custom-button-width{
    width: 90% !important;
}
.custom-button-height{
    height: 90% !important;
}
.notify-center-table{
    text-align: center;
    color:rgba(0, 0, 0, .54)
}

.custom-add-button-color{
    color:var(--clr-primary-500);
}