<div class="row mt-4 mx-0">
                                
    <div class="d-flex justify-content-between mb-3">
      Pick<mat-slide-toggle color="primary">
      </mat-slide-toggle>
    </div>
    <div class="d-flex justify-content-between mb-3">
        Put Aways<mat-slide-toggle color="primary">
        </mat-slide-toggle>
      </div>
      <div class="d-flex justify-content-between mb-3">
        Counts<mat-slide-toggle color="primary">
        </mat-slide-toggle>
      </div>
      <div class="col-xl-12 mt-2 mb-3">
        <mat-form-field
          class="action-dropdown custom-form-field-bg-white w-100 mb-2"
          appearance="outline"
        >
          <mat-label>Pick Locations Assigned By</mat-label>
          <mat-select class="employees-action">
            <mat-option value="123456">123</mat-option>
            <mat-option value="987654">987</mat-option>
            <mat-option value="147852">147</mat-option>
          </mat-select>
          <span class="material-symbols-outlined icon-expand-more">
            expand_more
          </span>
        </mat-form-field>
      </div>
      <div class="d-flex justify-content-between mb-3">
        Dynamic Warehouse Locations<mat-slide-toggle color="primary">
        </mat-slide-toggle>
      </div>
      <div class="d-flex justify-content-between mb-3">
        Auto Complete Back Order<mat-slide-toggle color="primary">
        </mat-slide-toggle>
      </div>
      <div class="d-flex justify-content-between mb-3">
        Print Reprocess Report After Location Assignment<mat-slide-toggle color="primary">
        </mat-slide-toggle>
      </div>
</div>