<mat-toolbar>
  <button mat-icon-button aria-label="icon-button with menu icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="breadcrumb-menu ps-1 ps-xl-3" style="height: 30px;">


    <ul aria-label="breadcrumb" class="breadcrumb m-0">
      <li style="cursor:pointer;" *ngIf="isConfigUser" (click)="routeToLogin()">
        LogixPro
      </li>
      
      <ng-container *ngFor="let item of breadcrumbList; index as i;">      
        <li *ngIf="i < (breadcrumbList.length-1) && !isConfigUser" class="breadcrumb-item"  style="cursor:pointer;" (click)="breadCrumbClick(item.menu,i)">
          {{item?.name}}
        </li>
        
        <li *ngIf="i>=(breadcrumbList.length-1) " class="breadcrumb-item active" style="cursor:pointer;" (click)="breadCrumbClick(item.menu)">
          {{item.name}}
        </li>
      </ng-container>      
    </ul>
  </div>
  <span class="full-spacer"></span>
  <div class="row mr-2 ml-auto">
    <ul class="row m-0 align-items-center">
      <li>
        <button mat-button [matMenuTriggerFor]="menu" class="user">
          <mat-icon class="material-symbols-outlined me-1">account_circle</mat-icon>
          <ng-container *ngIf="!ConfigUserLogin">
            {{userData.userName}}
          </ng-container>
          <ng-container *ngIf="ConfigUserLogin">
            {{configUser.userName}}
          </ng-container>
          <mat-icon class="user-image-icon" style="height: 18px ;">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu="matMenu" class="custom mat-menu-panel " xPosition="before">
          <button mat-menu-item (click)="openPrintSetting()">
            <mat-icon class="material-symbols-outlined">
              print
            </mat-icon>
            Printer Settings
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>


</mat-toolbar>
<div class="overlay" *ngIf="spinnerService.visibility | async" style="z-index: 999999;">
  <div class="center">
    <mat-spinner [diameter]="50"></mat-spinner>
  </div>
</div>