.full-spacer {
  flex: 1 1 auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay {
  height: 100vh;
  width: 100%;
  background-color: rgba(232, 209, 209, 0.286);
  z-index: 10;
  top: 0;
  left: 0;
  position: fixed;
}

// .mat-toolbar {
//   z-index: 10000;
// }

.h-30px{
  height: 30px;
}
.cursor-pointer{
  cursor: pointer;
}
.h-18px{
  height: 18px;
}
.z-index-999999{
  z-index: 999999;
}