.divWithClass{
    width:48px !important;
}
.WSize140px{
    width:  140px !important;
}
.optionDescStyle{
    width:  140px !important; 
    text-overflow: ellipsis !important; 
    overflow: hidden !important; 
    max-width: 20ch !important; 
    white-space: nowrap !important;
}