<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
<h2 class="card-header-title m-0">{{form_heading}}</h2>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>
<div>
    <div mat-dialog-content>

        <form class="form pb-4" #zoneForm="ngForm" (ngSubmit)="onSend(zoneForm)">

            <mat-form-field class="mb-3 w-100" appearance="outline">
                <mat-label>Start Location</mat-label>
                <input  #start_location  type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                [(ngModel)]="startLocation"
                [matAutocomplete]="auto"
                name="startLocation" re
                quired="required"
                (keyup)="getstartLocationList()" (focusout)="onBlur()" >
                <mat-autocomplete #auto="matAutocomplete" >
                    <mat-option *ngFor="let option of startLocationList" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-autocomplete>
                <!-- <input matInput type="text" name="startLocation" required="required" [(ngModel)]="startLocation"> -->
            </mat-form-field>
            <mat-form-field class="mb-3 w-100" appearance="outline">
                <mat-label>End Location</mat-label>
                <input type="text"
                placeholder="Pick one"
                aria-label="Number"
                matInput
                [(ngModel)]="endLocation"
                [matAutocomplete]="auto1"
                name="endLocation" required="required"
                (keyup)="getendLocationList()" (focusout)="onBlur()">
                <mat-autocomplete #auto1="matAutocomplete" >
                    <mat-option *ngFor="let option of endLocationList" [value]="option">
                      {{option}}
                    </mat-option>
                </mat-autocomplete>
              <!-- //  <input matInput type="text" name="endLocation" required="required" [(ngModel)]="endLocation"> -->
            </mat-form-field>
            <mat-dialog-actions align="end">
                <!-- <button mat-button matDialogClose="no" color="danger">Cancel</button> -->
                

                <button type="submit"  [disabled]="!(startLocation&&endLocation)" mat-flat-button class="form-button-submit w-100 btn-lg"
                    color="primary">{{form_btn_label}}</button>
            </mat-dialog-actions>

        </form>
    </div>
</div>
