<div class="row mt-4 mx-0">
    <div class="col-xl-12">
      <div class="custom bg-white bg-50 br-14 mb-3">
          <div class="counter bg-transparent mt-0 pt-0">
            <div>
              <div class="d-flex gap-20 justify-content-center">
                <div class="employees text-center">
                  <app-stats-circle value="567" title="Picks"></app-stats-circle>
                </div>
              </div>
            </div>
          </div>
          <div class="counter bg-transparent mt-0 pt-0">
              <div>
                <div class="d-flex gap-20 justify-content-center">
                  <div class="employees text-center">
                    <app-stats-circle value="567" title="Put Aways"></app-stats-circle>
                  </div>
                </div>
              </div>
            </div>
            <div class="counter bg-transparent mt-0 pt-0">
              <div>
                <div class="d-flex gap-20 justify-content-center">
                  <div class="employees text-center">
                    <app-stats-circle value="567" title="Counts"></app-stats-circle>
                  </div>
                </div>
              </div>
            </div>
        </div>
      
    </div>
    
    
</div>