<div class="row mb-3"> 

  <div class="col-xl-6"> 
    <app-count-order-selection-component [searchOrder]="searchOrder" [leftTable]="leftTable"
      [displayedColumns]="displayedColumns" (applyFilterEmit)="applyFilter($event)"
      (addOrdereDialogEmit)="addOrdereDialog()" (announceSortChangeEmit)="announceSortChange($event.sortState)"
      (addEmit)="add($event)"></app-count-order-selection-component> 
  </div> 
  <div class="col-xl-6">  
    <app-count-select-orders-component [searchOrder1]="searchOrder1" [rightTable]="rightTable"
   
      [displayedColumns1]="displayedColumns1" (announceSortChange1Emit)="announceSortChange1($event.sortState)"
      (applyFilter1Emit)="applyFilter1($event)" (deleteItemEmit)="deleteItem()"
      (removeEmit)="remove($event)"></app-count-select-orders-component> 
  </div> 
</div>


<button color="primary" class="mat-focus-indicator w-100 btn-lg mat-flat-button mat-button-base mat-primary mb-3"
  style="flex: 1;" ng-reflect-color="primary" ng-reflect-disabled="false" (click)="quarantineDialog()"><span
    class="mat-button-wrapper"> Location Assignment
  </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
    ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>

<ng-template #deleteAction>

  <div class="d-flex flex-column justify-content-center px-2 py-4">
    <div class="d-flex justify-content-between">
      <h2 class="p-0 me-2">Mark Selected Orders for Pick Location Assignment</h2>
      <button mat-icon-button class="close-button br-14" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
      </button>
    </div>
    <div>
      <p class="bold text-tritary-900 mb-4 pt-4">Do you want to mark these orders for location assignment?</p>
      <div class="d-flex justify-content-end text-center">
        <button mat-flat-button color="primary" class="custom-btn" (click)="locationAssignment()">
          Continue
        </button>
      </div>
    </div>
  </div>
</ng-template>