<div class="d-flex justify-content-between align-items-center" mat-dialog-title>
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title>Location Assignment</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <div class="card p-3">

        <div class="row">
            <div class="col-xl-12">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Location</mat-label>
                    <input #locFocus (keydown.shift.enter)="$event.preventDefault()" matInput type="text" [(ngModel)]="location" [matAutocomplete]="item" (ngModelChange)="this.searchByItem.next($event)">

                    <mat-autocomplete class="card custom-scroll" #item="matAutocomplete">
            
                        <h6 class="card-header matAutoCompHeader">
                            <span class="w-190">Loc. Number</span> 
                            <span class="w-190">Whse</span> 
                            <span class="w-190">Loc.</span> 
                            <span class="w-140">Item #</span> 
                            <span class="w-140">Cell</span> 
                            <span class="w-140">Velocity</span> 
                            <span class="w-140">Stock</span> 
                            <span class="w-140">Max Qty</span> 
                            <span class="w-140">Qty Alloc</span> 
                        </h6>
                    
                        <mat-option *ngFor="let option of searchAutocompleteItemNum" [value]="option.locNum" class="matAutoCompTableContent">
                            <div class="loc_option" (click)="selectLoc(option)">
                                <span class="searchColumn" class="w-190">{{option.locNum}}</span> 
                                <span class="searchColumn" class="w-190">{{option.warehouse}}</span>
                                <span class="searchColumn" class="w-190">{{option.location}}</span>
                                <span class="searchColumn" class="w-140">{{option.itemNumber}}</span>
                                <span class="searchColumn" class="w-140">{{option.cellSize}}</span>
                                <span class="searchColumn" class="w-140">{{option.velocity}}</span>
                                <span class="searchColumn" class="w-140">{{option.qty}}</span>
                                <span class="searchColumn" class="w-140">{{option.max}}</span>
                                <span class="searchColumn" class="w-140">{{option.qtyPut}}</span>
                            </div>
                        </mat-option>

                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>  
       
    </div>
</div>

<div class="d-flex gap-12 mb-1" mat-dialog-actions>
    <button mat-stroked-button color="primary" class="btn-lg" [mat-dialog-close]="true">
        Close
    </button>
    <button [disabled]="selectedLocation ? false : true" mat-flat-button color="primary" class="btn-lg flex-1"  (click)="submit()">
        Submit
    </button>
</div>