.success-button {
    width: 72px;
    height: 20px;
    color: var(--clr-success-shade);
    background: rgba(29, 134, 92, 0.15);
    border-radius: 14px;
    padding: 4px 12px;
    
  }
  .delete-button {
    color:white!important;
    background-color: var(--clr-danger-shade)!important;
  }
  
  .disabled-button {
    color:white!important;
    background-color: var(--clr-chrome-600)!important; 
  }
  
  .fields-width{
    width: 156px!important;
  }
  .Compete-cart{
    background-color: #C8E2D8;
    color:#114D35
   
  }
  .Reprocess-card{
    background-color: #F7D0DA;
    color:#4D0D1D
   
  }
  .Open-card{
    background-color: #FFF0D6;
    color:#4D3B1A
   
  }
  .Order-type{
    background-color: #F1D4EC;
    color:#4D2045
   
  }
  .Total-lines{
    background-color: var(--clr-primary-10);
    color:var(--clr-tertiary-900)
   
  }
  .Current-status{
    background-color: var(--clr-primary-10);
    color:var(--clr-tertiary-900);
    font-size: 12px!important;
   
  }
.min-width-40px{
  min-width:40px
}
.flex-1{
  flex: 1;
}
.text-pure-white{
  color:var(--clr-pure-white) !important;
}
.min-w-20px{
  min-width: 20px !important;
}



.order-no-col{
  width:  180px !important;
  white-space: nowrap;
}

.com-date-col{
  width:  180px !important;
  white-space: nowrap;
}

.width-20{

  width:  20% !important;

}

.min-height
{
  min-height: 450px !important;
}

.padding{
  padding: 10px 12px !important; 
  text-overflow: ellipsis !important; 
  overflow: hidden !important; 
  width:30% !important; 
  white-space: nowrap !important;
}

.padding-width-20
{
  padding: 10px 12px; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  width:20%; 
  white-space: nowrap;
}