.selected {
    background-color: var(--clr-primary-300) !important;
    color: var(--clr-pure-white);
}

.h-280{
    height: 280px;
}

.w-200{
    width: 200px;
}

.w-48px {
    width: 48px;
}

.orders-table {
    th {
        white-space: nowrap;
    }
}

