<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title data-automation-id="short-transaction-heading">Short Transaction</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true" data-automation-id="close-button">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
   
</div>
<mat-dialog-content>
<div class="row">
    <div class="col-xl-4">
        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" data-automation-id="order-number-field">
            <mat-label data-automation-id="order-number-label">Order Number</mat-label>
            <input matInput disabled [(ngModel)]="selectedTransaction.orderNumber" data-automation-id="order-number-input">
        </mat-form-field>
    </div>
    <div class="col-xl-4">
        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" data-automation-id="tote-id-field">
            <mat-label data-automation-id="tote-id-label">Tote ID</mat-label>
            <input matInput disabled [(ngModel)]="selectedTransaction.toteId" data-automation-id="tote-id-input">
        </mat-form-field>
    </div>
    <div class="col-xl-4">
        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" data-automation-id="item-number-field">
            <mat-label data-automation-id="item-number-label">Item Number</mat-label>
            <input matInput disabled [(ngModel)]="selectedTransaction.itemNumber" data-automation-id="item-number-input">
        </mat-form-field>
    </div>

</div>

<div class="row">
    <div class="col-xl-4">
        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" data-automation-id="location-field">
            <mat-label data-automation-id="location-label">Location</mat-label>
            <input matInput disabled [(ngModel)]="selectedTransaction.location" data-automation-id="location-input">
        </mat-form-field>
    </div>
    <div class="col-xl-4">
        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" data-automation-id="transaction-quantity-field">
            <mat-label data-automation-id="transaction-quantity-label">Transaction Quantity</mat-label>
            <input matInput disabled [(ngModel)]="selectedTransaction.transactionQuantity" data-automation-id="transaction-quantity-input">
        </mat-form-field>
    </div>
    <div class="col-xl-4">
        <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline" data-automation-id="tote-quantity-field">
            <mat-label data-automation-id="tote-quantity-label">Tote Quantity</mat-label>
            <input 
            matInput 
            [(ngModel)]="toteQuantity"  
            type="number"
            min="0"
            inputmode="numeric"
            pattern="[0-9]*" 
            (keydown)="restrictKeyboard($event)"
            #toteQty
            data-automation-id="tote-quantity-input">
        </mat-form-field>
    </div>

</div>

<button mat-flat-button color="primary" class="btn-lg w-100" (click)="ShortTransaction()" data-automation-id="short-transaction-button">Short Transaction</button>
</mat-dialog-content>