.Compete-cart{
    background-color: #C8E2D8;
    color:#114D35
   
  }
  .Reprocess-card{
    background-color: #F7D0DA;
    color:#4D0D1D
   
  }
  .Open-card{
    background-color: #FFF0D6;
    color:#4D3B1A
   
  }
  .Order-type{
    background-color: #F1D4EC;
    color:#4D2045
   
  }
  .Total-lines{
    background-color: #F2F2FF;
    color:#090948
   
  }
  .Current-status{
    background-color: #F2F2FF;
    color:#090948;
    font-size: 12px!important;
   
  }