<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Workstation Zones </h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" (click)="closeBatchDialog()">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="d-flex gap-12 my-4 justify-content-end">
    <button mat-flat-button color="primary" class="add-icon-button" (click)="addVLRow($event)" [disabled]="allZoneList.length >= 1">
        <span class="material-symbols-outlined">
            add
        </span>
    </button>
</div>

<div class="warehouse">
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-6" style="padding-left:64px;">
                    Zone
                </div>
            </div>
        </div>

        <ng-scrollbar style="height: 250px;">
            <div class="card-body">
                <ng-container *ngFor="let zone of allZoneList;let i = index">
                    <div class="d-flex align-items-center mb-3" *ngIf="allZoneList.length > 0">
                        <div class="container w-100">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-between align-items-center gap-12">
                                        <mat-form-field class="d-block w-100" appearance="outline">
                                            <mat-label>Zones</mat-label>
                                            <mat-select class="employees-action" (selectionChange)="onSelectZone($event.value)">
                                                <mat-option name="zones" ngDefaultControl *ngFor="let zone of zones" value="{{zone}}">{{zone}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="d-flex gap-12">
                                            <button  mat-flat-button color="primary"
                                                class="xsm-icon-button" (click)="saveVlCode()">
                                                <mat-icon class="material-symbols-outlined">save</mat-icon>
                                            </button>
                                            <button mat-flat-button color="warn" class="xsm-icon-button"
                                                (click)="dltZone();">
                                                <mat-icon class="material-symbols-outlined">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngFor="let vlcode of velocity_code_list;let i = index">
                    <div class="d-flex align-items-center mb-3">
                        <div class="container w-100">
                            <div class="row">
                                <div class="col-12">
                                    <div class="d-flex justify-content-between align-items-center gap-12">
                                        <mat-form-field class="d-block w-100" appearance="outline">
                                            <input #field_focus (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                                #vlname name="{{vlcode.zone}}" value="{{vlcode.zone}}"
                                                [disabled]="vlcode.isSaved">
                                        </mat-form-field>
                                        <div class="d-flex gap-12">
                                            <!-- <button *ngIf="!vlcode.isSaved" mat-flat-button color="primary"
                                                class="xsm-icon-button" (click)="saveVlCode(vlname.value, vlcode)">
                                                <mat-icon class="material-symbols-outlined">save</mat-icon>
                                            </button> -->
                                            <button mat-flat-button color="warn" class="xsm-icon-button"
                                                (click)="delete(vlname.value);">
                                                <mat-icon class="material-symbols-outlined">close</mat-icon>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
          
            </div>
        </ng-scrollbar>
    </div>
</div>