.selected {
  background-color: var(--clr-primary-300) !important;
  color: var(--clr-pure-white);
}

.h-default {
  height: 500px;
}

.w-48px {
  width: 48px;
}

.pl-64 {
  padding-left: 64px;
}

.w-140 {
  width: 140px;
}
