<div class="row w-100 mt-2 mx-0">
  <div class="d-block d-xl-flex justify-content-between align-items-center">
    <app-icon-heading-component class="card-header-title mb-3 d-flex align-items-center" heading="Location Zones" icon="location_on" [automationId]="'location-zones-heading'"></app-icon-heading-component>
    <div class="d-block d-xl-flex justify-content-end">
      <button
        mat-flat-button
        color="primary"
        class="add-icon-button mb-3"
        (click)="addNewLocation()" data-automation-id="add-location-zone-button"
      >
        <span
          class="material-symbols-outlined"
          matTooltip="Add new zone"
          matTooltipPosition="above"
        >
          add
        </span>
      </button>
    </div>
  </div>
  <div
    *ngIf="newLocation"
    class="col-xl-12 d-flex align-items-baseline justify-content-start"
  >
    <div class="col-xl-6">
      <mat-form-field
        class="custom-form-field custom-form-field-bg-white w-100 mb-1"
        appearance="outline"
      >
        <mat-label data-automation-id="new-zone-name-label">New Zone Name</mat-label>
        <input
          type="text"
          [(ngModel)]="newLocationVal"
          (ngModelChange)="newLocationValue()"
          matInput
          maxlength="2" data-automation-id="new-zone-name-input"
        />
      </mat-form-field>
    </div>
    <div class="col-xl-2">
      <ng-container>
        <div class="d-flex gap-12 cl justify-content-center">
          <button
            matTooltip="Save"
            [disabled]="locationSaveBtn"
            (click)="saveNewLocation()"
            mat-flat-button
            color="primary"
            class="xsm-icon-button" data-automation-id="button-save"
          >
            <mat-icon class="material-symbols-outlined"> save </mat-icon>
          </button>
          <button
            (click)="closeNewLocation()"
            matTooltip="Delete"
            mat-flat-button
            color="warn"
            class="xsm-icon-button" data-automation-id="button-close"
          >
            <mat-icon class="material-symbols-outlined"> close </mat-icon>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
  <ng-container>
    <mat-accordion *ngFor="let i of locationzone; let index = index">
      <div class="mb-2">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Zone: {{ i.zone }} </mat-panel-title>
            <mat-panel-description> </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row">
            <div class="col-xl-12">
              <div class="row">
                <div
                  class="col-xl-3"
                  *ngFor="let feature of toggleSwitches; let j = index"
                >
                  <div class="d-flex justify-content-between mb-3">
                    {{ feature.label }}
                    <mat-slide-toggle
                      [name]="feature.name"
                      [(ngModel)]="i[feature.property]"
                      (ngModelChange)="zoneChange(i, false, feature.property)"
                      [checked]="i[feature.property]"
                      color="primary" [attr.data-automation-id]="'zone-toggle-' + i.zone + '-' + feature.property"
                    ></mat-slide-toggle>
                  </div>
                </div>
                <div class="col-12">
                  <div class="row">
                <div class="col-xl-3">
                  <mat-form-field
                    class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="zone-label">Zone</mat-label>
                    <input
                      type="text"
                      [(ngModel)]="i.zone"
                      (ngModelChange)="zoneChange(i, false)"
                      matInput
                      maxlength="2" data-automation-id="zone-name-input-{{i.zone}}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                    (click)="locationName(i)"
                  >
                    <mat-label data-automation-id="location-name-label">Location Name</mat-label>
                    <input
                      type="text"
                      [(ngModel)]="i.locationName"
                      matInput
                      maxlength="255"
                      readonly="true" data-automation-id="location-name-input-{{i.zone}}"
                    />
                    <span matSuffix>
                      <mat-icon class="text-tertiary-900 rotate-45">unfold_more</mat-icon>
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="parent-zone-label">Parent Zone</mat-label>
                    <mat-select
                      [disabled]="!i.includeCFCarouselPick"
                      [(ngModel)]="i.parentZone"
                      (ngModelChange)="zoneChange(i, false)"
                      [disableOptionCentering]="true"
                      class="employees-action" data-automation-id="parent-zone-select-{{i.zone}}"
                    >
                      <mat-option
                        *ngFor="let s of parentZones"
                        value="{{ s }}"
                        >{{ s }}</mat-option
                      >
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more" data-automation-id="parent-zone-expand-icon">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="sequence-label">Sequence</mat-label>
                    <input
                      type="number"
                      [(ngModel)]="i.sequence"
                      (ngModelChange)="zoneChange(i, false)"
                      matInput
                      maxlength="6" data-automation-id="sequence-input-{{i.zone}}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="carousel-label">Carousel</mat-label>
                    <input
                      type="text"
                      [(ngModel)]="i.label1"
                      (ngModelChange)="zoneChange(i, false)"
                      matInput
                      maxlength="20" data-automation-id="carousel-input-{{i.zone}}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="row-label">Row</mat-label>
                    <input
                      type="text"
                      [(ngModel)]="i.label2"
                      (ngModelChange)="zoneChange(i, false)"
                      matInput
                      maxlength="20" data-automation-id="row-input-{{i.zone}}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="shelf-label">Shelf</mat-label>
                    <input
                      type="text"
                      [(ngModel)]="i.label3"
                      (ngModelChange)="zoneChange(i, false)"
                      matInput
                      maxlength="20" data-automation-id="shelf-input-{{i.zone}}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="bin-label">Bin</mat-label>
                    <input
                      type="text"
                      [(ngModel)]="i.label4"
                      (ngModelChange)="zoneChange(i, false)"
                      matInput
                      maxlength="20" data-automation-id="bin-input-{{i.zone}}"
                    />
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="case-label-label">Case Label</mat-label>
                    <mat-select
                      [(ngModel)]="i.caseLabel"
                      (ngModelChange)="zoneChange(i, false)"
                      [disabled]="i.carousel || i.includeCFCarouselPick"
                      class="employees-action" data-automation-id="case-label-select-{{i.zone}}"
                    >
                      <mat-option
                        *ngFor="let option of caseLabelOptions"
                        [value]="option.value"
                        >{{ option.label }}</mat-option
                      >
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more" data-automation-id="case-label-expand-icon">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-xl-3">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-3"
                    appearance="outline"
                  >
                    <mat-label data-automation-id="case-label-label">Case Label</mat-label>
                    <mat-select
                      [(ngModel)]="i.caseLabel"
                      (ngModelChange)="zoneChange(i, false)"
                      [disabled]="i.carousel || i.includeCFCarouselPick"
                      [disableOptionCentering]="true"
                      class="employees-action" data-automation-id="case-label-select-{{i.zone}}"
                    >
                      <mat-option
                        *ngFor="let option of caseLabelOptions"
                        [value]="option.value"
                        >{{ option.label }}</mat-option
                      >
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more" data-automation-id="case-label-expand-icon">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                </div>
              </div>
                <div class="col-xl-3 offset-xl-9 text-end">
                  <div>
                    <button
                      mat-button
                      class="w-100 btn-regular"
                      color="warn"
                      (click)="delLocationZone(i.zone)" data-automation-id="delete-location-zone-button-{{i.zone}}"
                    >
                      Delete Location Zone
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </ng-container>
</div>
