table{
    th,td{
      white-space: nowrap;
      padding-right: 10px;

    }
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 15px;
    }
  }

  .Open-card{
    background-color: #FFF0D6;
    color:#4D3B1A;
    border-radius: 100px;
    position: absolute;
    padding: 10px;
    padding-right: 20px !important;

  }
  .Current-status{
    background-color: var(--clr-primary-10);
    color:var(--clr-tertiary-900);
    border-radius: 100px;
    position: absolute;
    padding: 10px;
    padding-right: 20px !important;

  }
.h-545px{
  height: 545px;
}