<mat-card class="mat-elevation-z g-card">
   <mat-card-content>
      <div class="d-flex justify-content-between align-items-center mb-3">
         <h2 class="card-header-title mb-0 d-flex align-items-center">
            <div class="mat-icon-wrap me-lg-3">
               <span class="material-symbols-outlined">
                  contacts
               </span>
            </div>
            <span>Global User Account</span>
         </h2>
      </div>

      <form [formGroup]="addLoginForm" (ngSubmit)="changeGlobalAcc()" name="addLoginForm">
         <div class="row">
            <div class="col-xl-3">
               <div class="mb-3">
                  <mat-form-field class="w-100 "appearance="outline">
                     <mat-label>Username</mat-label>
                     <input disabled [value]="username" matInput
                    type="text">
                       
                  </mat-form-field>
                  <mat-hint class="error-message" style="color: red;font-size: 14px;"
                     *ngIf="addLoginForm.controls['username'].invalid && (addLoginForm.controls['username'].dirty || addLoginForm.controls['username'].touched)">
                     Username is required
                  </mat-hint>

                  <mat-hint class="error-message" style="color: red;font-size: 14px;"
                     *ngIf="addLoginForm.get('username')?.hasError('whitespace')">
                     Please enter valid username
                  </mat-hint>
               </div>
            </div>
            <div class="col-xl-3">
               <div class="mb-3">
               <mat-form-field class="d-block w-100" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input [(ngModel)]="password" [value]="password" formControlName="password"   [maxLength]="32" matInput  [type]="toggle_password ? 'password' : 'text'"
                    >
                     <mat-icon matPrefix style="color: #090948;">lock</mat-icon>
                     <button type="button" mat-icon-button matSuffix (click)="toggle_password = !toggle_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggle_password">
                       <mat-icon>{{toggle_password ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>
               </mat-form-field>
               <mat-hint class="error-message" style="color: red;font-size: 14px;"
                  *ngIf="addLoginForm.controls['password'].invalid && (addLoginForm.controls['password'].dirty || addLoginForm.controls['password'].touched)">
                  Password is required
               </mat-hint>
               <br>
               <mat-hint class="error-message" style="color: red;font-size: 14px;"
                  *ngIf="addLoginForm.get('password')?.hasError('whitespace')">
                  Please enter valid password
               </mat-hint>
               </div>
            </div>
            <div class="col-xl-3 offset-xl-3">
               <button mat-flat-button color="primary" [disabled]="password==='' || password===passwordCompare" class="btn-regular w-100">
                  Submit
               </button>
            </div>
         </div>
      </form>


   </mat-card-content>
</mat-card>