table{
    th,td{
      white-space: nowrap;
      padding-right: 10px;

    }
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 15px;
    }
  }
  ::ng-deep .w-48px {
    width: 48px;
  }
  ::ng-deep .height-545 {
      height: 545px;
    }
    
    ::ng-deep  .table-settings-tr{
        background-color: var(--clr-table-header);
    }