<mat-card class="mat-elevation-z g-card mb-3">
    <mat-card-content>
        <div class="row">
            <div class="d-xl-flex justify-content-between">
                  <div class="d-xl-flex align-items-center">
                  <h2 class="card-header-title mb-0 me-4 d-flex align-items-center mb-3 mb-xl-0">
                      <div class="mat-icon-wrap me-1 me-lg-3">
                          <span class="material-symbols-outlined">
                            production_quantity_limits
                          </span>
                      </div>
                      <span>Discrepancies</span>
                  </h2>
                  <mat-checkbox class="custom-checkbox mb-3 mb-xl-0" color="primary">Print CC Disc Directly</mat-checkbox>
                </div>
                <mat-form-field class="action-dropdown d-block" appearance="outline">
                  <mat-label>Actions</mat-label>
                  <mat-select #matRef class="employees-action">
                    <mat-option value="0">Set import field mappings</mat-option>
                    <mat-option value="1">Import Discrepancies</mat-option>
                  </mat-select>
                  <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                  </span>
                </mat-form-field>
                <!-- <div class="d-flex gap-12">
                    <button mat-flat-button color="primary" class=" mat-button-icon" style="min-width: 48px !important;">
                        <span class="material-symbols-outlined">
                          add
                        </span>
                      </button>
                      <button mat-stroked-button color="primary" class="br-14 bg-white primary-btn" (click)="importFieldMapping()">
                        <mat-icon>settings_applications</mat-icon>
                        Set Import Field Mapping
                      </button>
                      <button mat-stroked-button color="primary" class="br-14 bg-white primary-btn" >
                        <mat-icon>label_important</mat-icon>
                        Import Discrepancies
                      </button>
                </div> -->

            </div>
        </div>

        <div class="d-xl-flex justify-content-end align-items-center mb-2 mt-2">

          <div class="d-xl-flex gap-12">

              <!-- <mat-checkbox class="example-margin custom-checkbox" color="primary">Print CC Disc Directly</mat-checkbox>

            <button mat-stroked-button color="button-default" class="default-btn bg-white text-primary-900 br-14" style="margin-left: 15px;">
              <mat-icon>print</mat-icon>
              Print
            </button> -->
            <button type="submit" mat-stroked-button class="mb-3 mb-xl-0 button-remove-all-w-stroke m-1 m-xl-0"
                    color="warn">Remove All</button>
            <button type="submit" mat-stroked-button class="mb-3 mb-xl-0 form-button-submit m-1 m-xl-0"
                    color="primary">Append All</button>
            <button type="submit" mat-flat-button class="mb-3 mb-xl-0 form-button-submit m-1 m-xl-0"
                    color="primary">Print Discrepancy Report</button>
          </div>
        </div>
      <div class="card br-14 table-responsive borderless">
        <ng-scrollbar class="mat-table-scrollbar" style="height:200px" track="all">

            <table class="w-100 table-borderless" mat-table [dataSource]="tableData" matSort>
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef> Item No. </th>
                <td mat-cell *matCellDef="let element"> {{element.position}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Qty Difference </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef> Warehouse </th>
                <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="symbol">
                <th mat-header-cell *matHeaderCellDef> Lot No. </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>

              <ng-container matColumnDef="ex">
                <th mat-header-cell *matHeaderCellDef> Expiration Date</th>
                <td mat-cell *matCellDef="let element"> October 13, 2014 11:13:00</td>
              </ng-container>

              <ng-container matColumnDef="srno">
                <th mat-header-cell *matHeaderCellDef> Serial No. </th>
                <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
              </ng-container>
              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <div class="d-flex justify-content-end">
                    <button mat-icon-button aria-label="Delete Function" matTooltip="Add" matTooltipPosition="above">
                      <mat-icon class="icon-circle-edit">add</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style=" background-color: #F9F9FF;"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </ng-scrollbar>
      </div>
      <div class="d-flex justify-content-between bg-white">
        <mat-paginator [pageSize]="5" showFirstLastButtons [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
        <!-- <div class="m-3">
          <button mat-flat-button color="primary" class="br-14" >
            Append All
          </button>
        </div> -->
      </div>



    </mat-card-content>
</mat-card>
