<div class="d-flex justify-content-between align-items-center mb-2">
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title data-automation-id="heading-confirm-and-packing">Confirm And Packing</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true" data-automation-id="close-dialog-button">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <ng-container *ngIf="!isLoading">
    <div *ngIf="shipComp!=''&&shipComp!=null" class="mat-card d-flex mat-elevation-z g-card br-14 label-red w-100 mb-2">
        <div class="mat-icon me-lg-3">
            <span class="material-symbols-outlined">
                info
            </span>
        </div>
        <span>Order Number: {{orderNumber}} is marked as Shipping Complete</span>
    </div>
    <div *ngIf="(shipComp==''||shipComp==null) && (confPackEnable != '' && confPackEnable != null && confPackEnable=='Disable')" class="mat-card d-flex mat-elevation-z g-card br-14 label-green w-100 mb-2">
        <div class="mat-icon me-lg-3">
            <span class="material-symbols-outlined">
                info
            </span>
        </div>
        <span>Order Number:  {{orderNumber}}  is confirmed and packed</span>
    </div>
</ng-container>
    <!-- packing -->

    <div class="row">
        <div class="col-xl-6">
            <div class="card p-3">
                <div class="d-flex justify-content-between">
                    <h2 class="card-header-title mb-3 d-flex align-items-center" data-automation-id="heading-packing">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                local_mall
                            </span>
                        </div>
                        <span>Packing</span>
                    </h2>
                </div>
                <div class="card br-14 d-flex p-3 mb-3">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-7 pe-xl-0">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label data-automation-id="label-order-number">Order Number</mat-label>
                                    <input #orderFocus matInput type="text" [(ngModel)]="orderNumber" disabled (keyup.enter)="ConfirmAndPackingIndex()" data-automation-id="input-order-number"  >
                                </mat-form-field>
                            </div>
                            <div class="col-xl-5">
                                <button mat-flat-button color="primary" class="primary-button btn-regular w-100" (click)="printPackList()" data-automation-id="print-packing-list-button">
                                    Print Packing List
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card br-14 d-flex p-3 mb-3">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-7 pe-xl-0">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-label data-automation-id="label-container-id">Container ID</mat-label>
                                    <input matInput type="text" [(ngModel)]="contID" [disabled]="(confPackEnable != '' && confPackEnable != null)" data-automation-id="input-container-id">
                                </mat-form-field>
                            </div>
                            <div class="col-xl-5">
                            <button mat-flat-button color="primary" [disabled]="(confPackEnable != '' && confPackEnable != null)" (click)="NextContID()" class="primary-button btn-regular w-100" data-automation-id="next-container-id-button">
                                    Next Container ID
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card br-14 d-flex p-3 mb-3">
                    <div>
                        <div class="row align-items-center">
                            <div class="col-xl-7 pe-xl-0">
                                <mat-form-field class="action-dropdown w-100" appearance="outline">
                                    <mat-label data-automation-id="label-containers-in-order">Containers in Order:</mat-label>
                                    <mat-select #matRef class="employees-action" placeholder="Actions" [attr.data-automation-id]="'select-containers-in-order-' + matRef.value">
                                        <mat-option *ngFor="let item of contIDDrop; let i = index" [value]="item" [attr.data-automation-id]="'option-containers-in-order-' + item">{{item}}</mat-option>
                                        </mat-select>
                                    <span class="material-symbols-outlined icon-expand-more">
                                        expand_more
                                    </span>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-5"> 
                                    <button mat-flat-button color="primary"  [matMenuTriggerFor]="appMenu1" class="primary-button btn-regular w-100" data-automation-id="print-button">
                                        Print <span matSuffix></span>
                                        <span class="material-symbols-outlined icon-expand-more">
                                            expand_more
                                        </span></button>
                                        
                                    <mat-menu #appMenu1="matMenu"> 
                                        <button mat-menu-item (click)="print('list')" data-automation-id="print-list-menu-button">Print List</button>
                                        <button mat-menu-item (click)="print('label')" data-automation-id="print-label-menu-button">Print Label</button>
                                        <button mat-menu-item (click)="print('both')" data-automation-id="print-both-menu-button">Print Both</button> 
                                    </mat-menu> 
                         
 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Tote Information -->
        <div class="col-xl-6">
            <div class="card p-3">
                <div class="d-flex justify-content-between">
                    <h2 class="card-header-title mb-3 d-flex align-items-center" data-automation-id="heading-tote-information">
                        <div class="mat-icon-wrap me-lg-3">
                            <span class="material-symbols-outlined">
                                inbox
                            </span>
                        </div>
                        <span>Tote Information</span>
                    </h2>
                </div>


                <div class="card br-14 borderless px-0 overflow-auto">
                    <ng-scrollbar track="all" class="mat-table-scrollbar h-258px">
                        <table class="w-100 table-borderless" mat-table matSort #sort1 [dataSource]="toteTable"
                        (matSortChange)="announceSortChange1($event)" 
                        >
                            <ng-container matColumnDef="toteID">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="71" data-automation-id="table-header-Tote ID"> Tote ID </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Tote ID-' + (element.toteID ? element.toteID : ' ')">{{element.toteID}}</td>
                            </ng-container>
                            <ng-container matColumnDef="stagingLocation">
                                <th mat-header-cell *matHeaderCellDef  mat-sort-header
                                (sortActionDescription)="89" data-automation-id="table-header-Location"> Location </th>
                                <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Location-' + (element.stagingLocation ? element.stagingLocation : ' ')">{{element.stagingLocation}}</td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-backcolor">
                            </tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </ng-scrollbar>
                </div>
                <div class="d-flex justify-content-between bg-white"> 
                    <mat-paginator #paginator1 showFirstLastButtons  [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons data-automation-id="table-paginator"></mat-paginator>
                </div>
            </div>
        </div>
    </div>


    <!-- Transaction -->
    <div class="col-lg-12 card br-14 table-responsive borderless px-0 mb-4 mt-3">
        <div class="d-flex justify-content-between">
            <h2 class="card-header-title m-3 d-flex align-items-center" data-automation-id="heading-transaction">
                <div class="mat-icon-wrap me-lg-3">
                    <span class="material-symbols-outlined">
                        dvr
                    </span>
                </div>
                <span>Transaction</span>
            </h2>
        </div>
        <div class="p-3 pt-0">
            <div class="col-xl-3 mb-2">

                <mat-form-field class="custom-form-field w-100" appearance="outline">
                    <mat-label data-automation-id="label-scan-item-number">Scan <span replacePlaceholder [replacePlaceHolder]="placeholders.itemNumber" [fallbackPlaceHolder]="placeholders.itemNumberFallback">Item Number</span></mat-label>
                    <input matInput type="text" [(ngModel)]="itemNumber"
                    (keyup)="ItemKeyUp()"
                    (keypress)="ScanItemNum($event)" 
                    [disabled]="(confPackEnable != null && confPackEnable != '') " data-automation-id="input-scan-item-number">
                </mat-form-field>
            </div>

            <div class="card br-14 borderless px-0 overflow-auto">
                <ng-scrollbar track="all" class="mat-table-scrollbar h-260px">
                    <table class="w-100 table-borderless" id="ShipTransTable" mat-table matSort #MatSort2="matSort" #sort2 
                    (matSortChange)="announceSortChange2($event)" 
                    [dataSource]="transTable" data-automation-id="ConfirmPackingTable">
                        <ng-container matColumnDef="sT_ID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="1" data-automation-id="table-header-ID"> ID </th>
                            <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-ID-' + (element.sT_ID ? element.sT_ID : ' ')">{{element.sT_ID}}</td>
                        </ng-container>
                        <ng-container matColumnDef="itemNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="2" data-automation-id="table-header-Item Number"> {{itemNumber}} </th>
                            <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Item Number-' + (element.itemNumber ? element.itemNumber : ' ')">{{element.itemNumber}}</td>
                        </ng-container>
                        <ng-container matColumnDef="lineNumber">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="3" data-automation-id="table-header-Line No"> Line No.</th>
                            <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Line No-' + (element.lineNumber ? element.lineNumber : ' ')">{{element.lineNumber}}</td>
                        </ng-container>
                         
                        <ng-container matColumnDef="transactionQuantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="4" data-automation-id="table-header-Order Qty"> Order Qty </th>
                            <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Order Qty-' + (element.transactionQuantity !== null && element.transactionQuantity !== undefined ? element.transactionQuantity : ' ')">{{element.transactionQuantity}}</td>
                        </ng-container>
                        <ng-container matColumnDef="completedQuantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="5" data-automation-id="table-header-Picked Qty"> Picked Qty </th>
                            <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Picked Qty-' + (element.completedQuantity !== null && element.completedQuantity !== undefined ? element.completedQuantity : ' ')">{{element.completedQuantity}}</td>
                        </ng-container>
                        <ng-container matColumnDef="containerID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="6" data-automation-id="table-header-Container ID"> Container ID </th>
                            <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Container ID-' + (element.containerID ? element.containerID : ' ')">{{element.containerID}}</td>
                        </ng-container>
                        <ng-container matColumnDef="shipQuantity">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header
                                (sortActionDescription)="7" data-automation-id="table-header-Ship Qty"> Ship Qty </th>
                            <td mat-cell *matCellDef="let element; let i = index" [attr.data-automation-id]="'table-data-Ship Qty-' + (element.shipQuantity !== null && element.shipQuantity !== undefined ? element.shipQuantity : ' ')">{{element.shipQuantity}}</td>
                        </ng-container>

                        <ng-container matColumnDef="complete" stickyEnd>

                            <th mat-header-cell *matHeaderCellDef>
                            </th>

                            <td mat-cell *matCellDef="let element; let i = index" width="5%" class="text-right">
                                <button mat-icon-button [matMenuTriggerFor]="appMenu" class="circle-icon-o me-1 active-btn"
                                    mat-icon-button aria-label="" [ngClass]="{'active-btn':element.selected}" matTooltip="" matTooltipPosition="above" [attr.data-automation-id]="'more-options-button-' + i">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>

                                <mat-menu  #appMenu="matMenu"> 
                                    <button class="text-tertiary-800" mat-menu-item (click)="itemLabel(element)" [attr.data-automation-id]="'item-label-menu-button-' + i"><b>Item Label</b></button>

                                    <button mat-menu-item  [disabled]="(confPackEnable != '' && confPackEnable != null)"  (click)="UnPack(element.sT_ID)" [attr.data-automation-id]="'unpack-menu-button-' + i">Unpack</button>

                                </mat-menu>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumnsForItems"  >
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumnsForItems;" (click)="selectRow(row)"></tr>
                    </table>
                </ng-scrollbar>
            </div>
            <div class="d-flex justify-content-between bg-white"> 
                <mat-paginator   #paginator2  showFirstLastButtons [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons data-automation-id="table-paginator"></mat-paginator>
            </div>
        </div>

    </div>

</div>
<button mat-flat-button="" *ngIf="authService.UserPermissonByFuncName('Consolidation Mgr Confirm All')" color="primary"
    class="mat-focus-indicator w-100 btn-lg mat-flat-button mat-button-base mat-primary flex-grow-1"
    ng-reflect-color="primary" [disabled]="(confPackEnable != '' && confPackEnable != null)" (click)="ClickConfirmAll()" data-automation-id="confirm-all-button"><span class="mat-button-wrapper"> Confirm All </span><span
        matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
        ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>

        