<div class="d-xl-flex justify-content-between align-items-center">
    <h2 class="card-header-title mb-0 mb-sm-3 mb-md-3 mb-lg-0 d-flex align-items-center" data-automation-id="group-mgmt-heading">
      <div class="mat-icon-wrap me-lg-3" *ngIf="isGroupLookUp" (click)="backGroupAction()">
        <span class="material-symbols-outlined cursor-pointer" matTooltip="Back to group list"
          matTooltipPosition="above" data-automation-id="button-back">
          arrow_back
        </span>
      </div>
      <div class="mat-icon-wrap me-1 me-lg-3">
        <span class="material-symbols-outlined" data-automation-id="label-group-icon">
          diversity_2
        </span>
      </div>
      <span data-automation-id="label-employee-group-management">Employee Group Management</span>
    </h2>
    <mat-form-field class="action-dropdown d-block" appearance="outline" data-automation-id="group-mgmt-actions-ff">
      <mat-label data-automation-id="label-actions">Actions</mat-label>
      <mat-select class="employees-action"
        (selectionChange)="actionGroupDialog($event.value, grpData, $event)" data-automation-id="group-mgmt-actions-select">
        <mat-option *ngIf="!isGroupLookUp" (click)="openGroupDialog()" data-automation-id="add-group-option">Add new group</mat-option>
        <mat-option *ngIf="isGroupLookUp" value="delete" data-automation-id="button-delete">Delete</mat-option>
        <mat-option value="clone" *ngIf="env !== 'SD' && isGroupLookUp" data-automation-id="clone-group-option">Clone</mat-option>
        <mat-option value="print selected" [disabled]="!this.grpData.groupName" (click)="printSelected()" data-automation-id="print-selected-group-option">Print Selected Group</mat-option>
        <mat-option value="print all" (click)="printAll()" data-automation-id="print-all-groups-option">Print All Groups</mat-option>
      </mat-select>
      <span class="material-symbols-outlined icon-expand-more">
        expand_more
      </span>
    </mat-form-field>
  </div>
  <div class="groups-details details-wrap g-details-wrap" *ngIf="!isGroupLookUp">

    <!-- groups lookup here -->
    <app-groups-lookup [updateGrpTable]="updateGrpTable" [childGroupLookUp]="isGroupLookUp"
      (updateGrpLookUp)="updateGrpLookUp($event)" [tab]="selectedIndex">
    </app-groups-lookup>

  </div>
  <div class="group-details details-wrap g-details-wrap" *ngIf="isGroupLookUp">
    <div class="g-detail">
      <label class="g-field-label" data-automation-id="label-group-name">Group Name</label>
      <div class="g-field-content" data-automation-id="group-mgmt-groupname-content">{{grpData.groupName }}</div>
    </div>
  </div>
