.markout-search{
    min-height: 140px;
}
@media (max-height: 800px) {
::ng-deep .action-dropdowncustom.mat-form-field-appearance-outline .mat-form-field-infix{
    min-width: 120px!important;
}
}

.m-action-d-d{
    width: 180px;
    mat-select{
        width: 130px;
    }
}