<mat-card class="mat-elevation-z g-card h-100">
    <mat-card-content>

        <div class="row mb-3 ">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h2 class="card-header-title mb-0 d-flex align-items-center">
                    <div class="mat-icon-wrap me-lg-3">
                        <span class="material-symbols-outlined">
                            border_horizontal
                        </span>
                    </div>
                    <span>Location Zones</span>
                </h2>
            </div>
        </div>

        <div class="row align-items-center ">
            <div class="col-12 h-100">
                <div class="card br-14 table-responsive">
                    <ng-scrollbar style="height:260px;" track="all"  class="mat-table-scrollbar">
                        <table   #zoneSort="matSort"  mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)" class="w-100" >
                            <ng-container matColumnDef="carousel">
                                <th mat-header-cell mat-sort-header  *matHeaderCellDef>Carousel </th>
                                <td mat-cell *matCellDef="let element"><div class="d-flex align-items-center "><span class="br-14  label px-3 f-16" [ngClass]="{'label-green': element.carousel === 'on', 'label-red' : element.carousel === 'off' }">{{element.carousel}}</span></div> </td>
                            </ng-container>

                            <ng-container matColumnDef="zone">
                                <th mat-header-cell mat-sort-header  *matHeaderCellDef>Zone </th>
                                <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
                            </ng-container>

                            <ng-container matColumnDef="locationName">
                                <th mat-header-cell mat-sort-header  *matHeaderCellDef> Location Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.locationName}} </td>
                            </ng-container>

                            <ng-container matColumnDef="totalLines">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef> Total Lines </th>
                                <td mat-cell *matCellDef="let element"> {{element.totalLines}} </td>
                            </ng-container>

                            <ng-container matColumnDef="open">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef> Open </th>
                                <td mat-cell *matCellDef="let element"> {{element.open}} </td>
                            </ng-container>
                            <ng-container matColumnDef="completed">
                                <th mat-header-cell mat-sort-header *matHeaderCellDef> Completed </th>
                                <td mat-cell *matCellDef="let element"> {{element.completed}} </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                                (click)="selection.toggle(row)">

                            </tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell notify-center-table" [attr.colspan]="displayedColumns.length">
                                    No data available in table.
                                </td>
                            </tr>
                        </table>
                    </ng-scrollbar>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>