table{
    th,td{
      white-space: nowrap;
      padding-right: 12px;
    }
  }

  .batch-manager-card{
  overflow-x: auto;
  }
  .batch-height{
    height: 400px;
    
  }

  .batch-card-width{
    width:48px;
  }
  .h-400px{
    height: 400px;
  }