<div class="d-flex justify-content-between mb-4 align-items-center ">
    <div  class="batch-card-width"></div>
<h2 class="card-header-title m-0">Batch Manager Detail View</h2>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
    <mat-icon class="close-icon">close</mat-icon>
</button>
</div>

<div class="card br-14 px-0 borderless batch-manager-card overflow-auto" >
    <ng-scrollbar track="all" class="mat-table-scrollbar batch-height h-400px" >
    <table class="w-100" mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"> 
  
      <ng-container matColumnDef="item_no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldNames.itemNumber}} </th>
        <td mat-cell *matCellDef="let element"> {{element.itemNumber}} </td>
      </ng-container>

       <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>
    
      <ng-container matColumnDef="transaction_qty">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Transaction Quantity </th>
        <td mat-cell *matCellDef="let element"> {{element.transactionQuantity}} </td>
      </ng-container>
    
      <ng-container matColumnDef="uom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{fieldNames.unitofMeasure}} </th>
        <td mat-cell *matCellDef="let element"> {{element.unitofMeasure}} </td>
      </ng-container>

      <ng-container matColumnDef="lotNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Lot Number </th>
          <td mat-cell *matCellDef="let element"> {{element.lotNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="expiration_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Expiration Date </th>
          <td mat-cell *matCellDef="let element"> {{element.expirationDate}} </td>
        </ng-container>

        <ng-container matColumnDef="serial_no">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial Number </th>
          <td mat-cell *matCellDef="let element"> {{element.serialNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="notes">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Notes </th>
          <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location}} </td>
        </ng-container>
                    
        <ng-container matColumnDef="warehouse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Warehouse </th>
          <td mat-cell *matCellDef="let element"> {{element.warehouse}} </td>
        </ng-container>

        <ng-container matColumnDef="userField1">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{fieldNames.userField1}}</th>
          <td mat-cell *matCellDef="let element"> {{element.userField1}} </td>
        </ng-container>

        <ng-container matColumnDef="userField2">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{fieldNames.userField2}} </th>
          <td mat-cell *matCellDef="let element"> {{element.userField2}} </td>
        </ng-container>
        <ng-container matColumnDef="toteID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Tote ID </th>
          <td mat-cell *matCellDef="let element"> {{element.toteID}} </td>
        </ng-container>

      <tr mat-header-row *matHeaderRowDef="batchDisplayedColumns sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: batchDisplayedColumns;"></tr>
    
    
</table>
</ng-scrollbar>
</div>
<div class="d-flex justify-content-between bg-white mb-3">
  <mat-paginator showFirstLastButtons [pageSize]="5"> </mat-paginator>
</div>