table{
    th,td{
        padding-right: 15px;
        &:nth-child(3){
            width: 150px;
            mat-form-field{
                width: 140px;
            }
        }
        &:last-child{
            width: 20px;
        }
    }
    tr{
        &:first-child{
            td{
            padding-top: 10px;
        }
        }
    }
}
.h-390px{
  height: 390px;
}
.table-header-bg{
    background-color: var(--clr-table-header);
}