<div class="row w-100 mt-4 mx-0">
    <div class="col-xl-12 mb-3 mb-xl-0">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <app-icon-heading-component heading="Custom Apps" icon=" devices_other">
            </app-icon-heading-component>
        </div>
    </div>

    <h2 class="f-16 bold mb-3 d-flex align-items-center">
        <span>Main Menu</span>
    </h2>
    <div>
        <div class="card p-3 mb-4" style="padding-bottom: 1px !important;">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Application</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Screen</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Test on Button</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <h2 class="f-16 bold mb-3 d-flex align-items-center">
        <span>Admin Menu</span>
    </h2>
    <div>
        <div class="card p-3 mb-4" style="padding-bottom: 1px !important;">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Application</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Screen</mat-label>
                        <input matInput type="text" value="123456"> 
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Test on Button</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <h2 class="f-16 bold mb-3 d-flex align-items-center">
        <span>Hot Put Away</span>
    </h2>
    <div>
        <div class="card p-3 mb-4" style="padding-bottom: 1px !important;">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Application</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Screen</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <h2 class="f-16 bold mb-3 d-flex align-items-center">
        <span>Custom Reports</span>
    </h2>
    <div>
        <div class="card p-3 mb-4" style="padding-bottom: 1px !important;">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Application</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline">
                        <mat-label>Custom Screen</mat-label>
                        <input matInput type="text" value="123456">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

</div>