<div class="row w-100 mt-4 mx-0">
    <div class="col-xl-12 mb-3 mb-xl-0">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <app-icon-heading-component heading="Custom Apps" icon=" devices_other" [automationId]="'custom-apps-heading'">
            </app-icon-heading-component>
        </div>
    </div>

    <h2 class="f-16 bold mb-3 d-flex align-items-center" data-automation-id="main-menu-heading">
        <span>Main Menu</span>
    </h2>
    <div>
        <div class="card p-3 mb-4 pb-1px">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="main-menu-form-field-custom-application">
                        <mat-label data-automation-id="main-menu-label-custom-application">Custom Application</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="main-menu-custom-application-input">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="main-menu-form-field-custom-screen">
                        <mat-label data-automation-id="main-menu-label-custom-screen">Custom Screen</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="main-menu-custom-screen-input">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="main-menu-form-field-custom-test-on-button">
                        <mat-label data-automation-id="main-menu-label-custom-test-on-button">Custom Test on Button</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="main-menu-custom-test-on-button-input">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <h2 class="f-16 bold mb-3 d-flex align-items-center" data-automation-id="admin-menu-heading">
        <span>Admin Menu</span>
    </h2>
    <div>
        <div class="card p-3 mb-4 pb-1px">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="admin-menu-form-field-custom-application">
                        <mat-label data-automation-id="admin-menu-label-custom-application">Custom Application</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="admin-menu-custom-application-input">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="admin-menu-form-field-custom-screen">
                        <mat-label data-automation-id="admin-menu-label-custom-screen">Custom Screen</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="admin-menu-custom-screen-input"> 
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="admin-menu-form-field-custom-test-on-button">
                        <mat-label data-automation-id="admin-menu-label-custom-test-on-button">Custom Test on Button</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="admin-menu-custom-test-on-button-input">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <h2 class="f-16 bold mb-3 d-flex align-items-center" data-automation-id="hot-put-away-heading">
        <span>Hot Put Away</span>
    </h2>
    <div>
        <div class="card p-3 mb-4 pb-1px">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="hot-put-away-form-field-custom-application">
                        <mat-label data-automation-id="hot-put-away-label-custom-application">Custom Application</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="hot-put-away-custom-application-input">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="hot-put-away-form-field-custom-screen">
                        <mat-label data-automation-id="hot-put-away-label-custom-screen">Custom Screen</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="hot-put-away-custom-screen-input">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>
    <h2 class="f-16 bold mb-3 d-flex align-items-center" data-automation-id="custom-reports-heading">
        <span>Custom Reports</span>
    </h2>
    <div>
        <div class="card p-3 mb-4 pb-1px">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="custom-reports-form-field-custom-application">
                        <mat-label data-automation-id="custom-reports-label-custom-application">Custom Application</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="custom-reports-custom-application-input">
                    </mat-form-field>
                </div>
                <div class="col-xl-4">
                    <mat-form-field class="custom-form-field w-100 mb-2" appearance="outline" data-automation-id="custom-reports-form-field-custom-screen">
                        <mat-label data-automation-id="custom-reports-label-custom-screen">Custom Screen</mat-label>
                        <input matInput type="text" value="123456" data-automation-id="custom-reports-custom-screen-input">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

</div>