.div1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.div2{
    min-height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}