<div class="container-fluid p-0" *ngIf="!verifyBulkPicks">
    <div class="row">
        <div class="col-xl-7 mb-3">
            <app-bp-search-bar (changeViewEmitter)="changeView($event)" [status]="status" [view]="view" [orders]="orders" [selectedOrders]="selectedOrders" (addItemEmitter)="selectOrder($event)" (printDetailList)="printDetailList($event)"></app-bp-search-bar>
        </div>
        <div class="col-xl-5 mb-3">
            <app-bp-status [status]="status"></app-bp-status>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-7 mb-3">
            <app-bp-order-selection-list  [batchSeleted]="batchSeleted" [orders]="orders" [view]="view" [ordersDisplayedColumns]="ordersDisplayedColumns" (selectOrderEmitter)="selectOrder($event)" (appendAllEmitter)="appendAll()"></app-bp-order-selection-list>
        </div>
        <div class="col-xl-5 mb-3">
            <app-bp-selected-orders [selectedOrders]="selectedOrders" [view]="view" [selectedOrdersDisplayedColumns]="selectedOrdersDisplayedColumns" (removeOrderEmitter)="removeOrder($event)" (removeAllEmitter)="removeAll()"></app-bp-selected-orders>
        </div>
    </div>
    <div>
        <button mat-flat-button color="primary" class="btn-lg w-100" (click)="pickProcess()" [disabled]="!(selectedOrders.length > 0)">
            Verify Bulk Picks
        </button>
    </div>
</div>

<app-bp-verify-bulk-pick *ngIf="verifyBulkPicks" [SelectedList]="selectedOrders" [NextToteID]="this.NextToteID" (back)="changeVisibiltyVerifyBulk($event)"></app-bp-verify-bulk-pick>
