<div class="mat-modal-wrap text-center">
    <mat-dialog-content>
      <div class="prompt-wrap">
        <div class="d-flex justify-content-center prompt-icon-wrap">
            <span #cancel class="material-symbols-outlined prompt-icon-add text-20">
                info
            </span>

        </div>
        <p class="prompt-message py-4 mb-0 bold">
            Send all completed transactions in Open Transactions to history?
        </p>
  
      </div>
    </mat-dialog-content>
    <mat-dialog-actions >
      <div class="d-flex flex-column justify-content-center w-100">
        <button type="button" (click)="sendTranHistory()" class="mat-button-base prompt-action-accent-button mb-3 btn-lg w-100" mat-stroked-button color="primary">Ok</button>
      <button class="mat-button-base prompt-action-basic-button btn-lg w-100 mb-3 mx-0" mat-stroked-button mat-dialog-close color="secondary">
        Cancel
      </button>
      
    </div>
    </mat-dialog-actions>
  </div>

