::ng-deep .pac-container {   
    z-index: 9999;
}
::ng-deep  .cdk-overlay-container { z-index: 9999; }

.divWithClass{
    width:48px !important;
}
.ngScrollbarclass-style{
    height: 70vh !important;
}
.h-70vh{
    height: 70vh;
}
