.mat-column-select {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 80px !important;
    width: 80px !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.mat-column-zone,.mat-column-locationdesc {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 50% !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
table{
    tr{
        &:first-child{
            td{
                padding-top: 10px;
            }
        }
    }
}