.mat-column-select {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 80px !important;
    width: 80px !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-zone,
.mat-column-locationdesc {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 50% !important;
    overflow-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

table {
    tr {
        &:first-child {
            td {
                padding-top: 10px;
            }
        }
    }
}

::ng-deep.w-48px {
    width: 48px;
}

::ng-deep.h-160 {
    height: 160px;
}

::ng-deep.h-100- {
    height: 100%;
}

::ng-deep.w-140 {
    width: 140px;
}

::ng-deep.w-43P {
    width: 43%
}
::ng-deep.auto-com-span {
    margin-left: 5%;
    width: 140px;
}::ng-deep.auto-option-span {
    padding: 10px 12px;
    border: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 45%;
    white-space: nowrap; 
}