table{
    th{
        white-space: nowrap;
        padding-right: 12px;
    }

    th,td{
        padding-right: 15px;
        padding-left: 10px;
    }
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}