<div class="container-fluid p-0 mt-2">
    <div class="row row-flex">
        <div class="mb-4" [ngClass]="isHistory === true ? 'col-xl-8' : 'col-xl-8'">
            <app-tran-in-reprocess 
           
            (reprocessSelectionEvent)="getProcessSelection($event)"
            (reasonFilterEvent)="reasonFilterEvent($event)"
            (selectedOrderNumber)="selectedOrderNumber($event)" 
            (selectedItemNum)="selectedItemNum($event)" 
            (filterCleared)="filterCleared($event)"
            (radioChangeEvent)="getObjChange($event)"
            (selectedOptionChange)="selectedOptionChange($event)"

          
            ></app-tran-in-reprocess>
        </div>

        <div class="col-xl-4">



            <mat-card class="mat-elevation-z g-card mb-4">
                <mat-card-content>
                    <h2 class="card-header-title mb-4 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3 me-2">
                            <span class="mat-icon material-symbols-outlined">
                                backup_table
                            </span>
                        </div>
                        <span>Selected Transaction Info</span>
                    </h2>
                    <div>
                        <mat-form-field class="d-block w-100 mb-3" appearance="outline">
                            <mat-label>Record Created By</mat-label>
                            <input matInput name="maximumQuantity" type="text" value="{{createdBy}}" [disabled]='true'>
                        </mat-form-field>

                        <mat-form-field class="d-block w-100 mb-3" appearance="outline">
                            <mat-label>Transaction Date/Time</mat-label>
                            <input matInput name="maximumQuantity" type="text" value="{{transactionDateTime}}" [disabled]='true'>
                        </mat-form-field>

                        <mat-form-field class="d-block w-100 mb-3" appearance="outline">
                            <mat-label>Reason</mat-label>
                            <input matInput value="{{reason}}" type="text" [disabled]='true'>
                        </mat-form-field>

                        <mat-form-field class="d-block w-100 mb-3" appearance="outline" (click)="openReasonDialog(reasonMessage)">
                            <mat-label>Reason Message</mat-label>
                            <span matSuffix>
                                <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                            </span>
                            <input matInput value="{{reasonMessage}}" type="text" readonly [disabled]='isEnabled'>
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-flat-button color="primary" class="w-100 btn-regular" [disabled]='isEnabled' (click)="openReprocessTransactionDialogue(transactionID)">
                            <ng-container *ngIf="!isHistory">Edit This Transaction</ng-container>
                            <ng-container *ngIf="isHistory">View This Transaction</ng-container> 
                            <mat-icon style="color:#fff; transform: rotate(45deg);">unfold_more</mat-icon>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card>


            

    </div>
    </div>
    <div class="row">
        <div class="mb-4" [ngClass]="isHistory === true ? 'col-xl-12' : 'col-xl-8'">
            <mat-card class="mat-elevation-z g-card  mb-3 h-100">
                <mat-card-content>
    
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <h2 class="card-header-title mb-0 d-flex align-items-center">
                                <div class="mat-icon-wrap me-lg-3 me-2">
                                    <span class="material-symbols-outlined">
                                        list_alt
                                    </span>
                                </div>
                                <span>Order Selection List</span>
                            </h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-7">
                            <div class="d-block d-xl-flex gap-12 align-items-center">
                                <mat-form-field class="action-dropdown w-100 mb-3" appearance="outline" style="flex:1">
                                    <mat-label>Select</mat-label>
                                    <mat-select class="employees-action" [(ngModel)]="this.columnSearch.searchColumn.colDef"
                                        (selectionChange)="resetFields($event.value)">
                                        <mat-option value="" (click)="this.orderSelectionSearch = true"></mat-option>
                                        <mat-option *ngFor="let item of displayedColumns | sort:'colDef':false" [value]="item.colDef">
                                            {{item.colDef}}
                                        </mat-option>
                                    </mat-select>
                                    <span class="material-symbols-outlined icon-expand-more">
                                        expand_more
                                    </span>
                                </mat-form-field>
    
                                <span class="v-br d-none d-xl-flex mb-3">-</span>
                                <div class="d-flex g-mini-search-box w-100 mb-3">
                                    <mat-form-field class="w-100 bg-white br-8" appearance="fill"
                                        [floatLabel]="getFloatFormabelValue()"
                                        [hideRequiredMarker]="hideRequiredFormControl.value">
                                        <span class="material-symbols-outlined icon-search">
                                            Search
                                        </span>
                                        <input type="text" placeholder="Search" aria-label="Search" matInput
                                            [(ngModel)]='this.columnSearch.searchValue' [matAutocomplete]="search"
                                            (ngModelChange)="this.searchByColumn.next($event)"  [disabled]="orderSelectionSearch">
                                            <button matSuffix *ngIf="this.columnSearch.searchValue" class="clear-btn"  (click)="clear()"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                                        <mat-autocomplete #search="matAutocomplete" (optionSelected)="searchData()">
                                            <mat-option *ngFor="let option of searchAutocompleteListByCol" [value]="option">
                                                {{option}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
    
    
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 offset-xl-3 d-flex justify-content-end">
                            <div class="d-block d-lg-flex d-flex w-100 justify-content-end">
                            <mat-form-field class="action-dropdown mb-3" appearance="outline" style="flex:1 auto">
                                <mat-label>Action</mat-label>
                                <mat-select [(value)]="selectedVariable" class="employees-action"
                                    (openedChange)="actionDialog($event)">
                                    <mat-option value="set_column_sq">Set Column Sequence</mat-option>

                                    <mat-option *ngIf="print" (click)="printPreview('selected',false)" value="printPreview">Print Preview Selected</mat-option>
                                    <mat-option (click)="printPreview('all',false)" value="printPreviewAllRecords">Print Preview All Records</mat-option>
                                    <mat-option *ngIf="print" (click)="printPreview('reason',false)"  value="printPreviewSelectedReason">Print Preview By Selected Reason</mat-option>
                                    <mat-option *ngIf="print" (click)="printPreview('message',false)"  value="printPreviewSelectedMessage">Print Preview By Selected Message</mat-option>
                                    <mat-option *ngIf="print" (click)="printPreview('date',false)"  value="printPreviewDateTime">Print Preview By Date/Time</mat-option>
                                    <mat-option *ngIf="this.itemNumber != ''" (click)="printPreview('item',false)"  value="printPreviewItemNumber">Print Preview By Item Number</mat-option>
                                    <mat-option *ngIf="this.orderNumber != ''" (click)="printPreview('order',false)"  value="printPreviewItemNumber">Print Preview By Order Number</mat-option>

                                    <mat-option *ngIf="print" (click)="printPreview('selected')" value="printPreview">Print Selected</mat-option>
                                    <mat-option (click)="printPreview('all')" value="printPreviewAllRecords">Print All Records</mat-option>
                                    <mat-option *ngIf="print" (click)="printPreview('reason')"  value="printPreviewSelectedReason">Print By Selected Reason</mat-option>
                                    <mat-option *ngIf="print" (click)="printPreview('message')"  value="printPreviewSelectedMessage">Print By Selected Message</mat-option>
                                    <mat-option *ngIf="print" (click)="printPreview('date')"  value="printPreviewDateTime">Print By Date/Time</mat-option>
                                    <mat-option *ngIf="this.itemNumber != ''" (click)="printPreview('item')"  value="printPreviewItemNumber">Print By Item Number</mat-option>
                                    <mat-option *ngIf="this.orderNumber != ''" (click)="printPreview('order')"  value="printPreviewItemNumber">Print By Order Number</mat-option>

                                    <mat-option *ngIf="deleteReplenishment" value="deleteReplenishment">Delete Replenishment</mat-option>
                                    <mat-option *ngIf="deleteSelected" value="deleteSelected">Delete Selected</mat-option>
                                    <mat-option *ngIf="deleteBySelectedReason" value="deleteBySelectedReason">Delete By Selected Reason</mat-option>
                                    <mat-option *ngIf="deleteBySelectedMessage" value="deleteBySelectedMessage">Delete By Selected Message</mat-option>
                                    <mat-option *ngIf="deleteByDateTime" value="deleteByDateTime">Delete By Date Time</mat-option>
                                    <mat-option *ngIf="deleteByItemNumber" value="deleteByItemNumber">Delete By Item Number</mat-option>
                                    <mat-option *ngIf="deleteByOrderNumber" value="deleteByOrderNumber">Delete By Order Number</mat-option>



                                </mat-select>
                                <span class="material-symbols-outlined icon-expand-more">
                                    expand_more
                                </span>
                            </mat-form-field>
                            </div>
                        </div>
                    </div>
    
    
    
                    <!-- <div class="card br-14 table-responsive my-3"
                    *ngIf="columnValues?.length>0 && displayedColumns && dataSource?.data?.length>0"> -->
    
                    <div class="card br-14 table-responsive my-3">
                        <!-- <ng-scrollbar style="height: 200px;"></ng-scrollbar> -->
                        <ng-scrollbar style="height:600px" track="all" appearance="compact" visibility="always" pointerEventsMethod="scrollbar" class="mat-table-scrollbar scroll-fix">
<!-- <div class="custom-scrollbar"> -->
                            <table mat-table class="custom-table table-fix custom-action-clickable-table" #table [dataSource]="dataSource" matSort
                                (matSortChange)="sortChange($event)">

                                <ng-container [matColumnDef]="col.colDef"
                                    *ngFor="let col of displayedColumns; let indexOfelement=index;">
    
                                    <th class="header" mat-header-cell *cdkHeaderCellDef mat-sort-header
                                        (sortActionDescription)="indexOfelement"
                                        style="width:auto; padding: 5px 12px; border-bottom: 1px solid var(--clr-tertiary-50);">
                                        {{ col.colDef }}
    
                                    </th>

                                    <td *matCellDef="let element; let i = index"   style="padding: 10px 12px; border: 0; text-overflow: ellipsis; overflow: hidden; max-width: 20ch; white-space: nowrap;" 
                                    [ngClass]="'w-100'"   #tooltip="matTooltip" [matTooltip]="element[col.colHeader]"   matTooltipPosition="above" [matTooltipDisabled]="element[col.colHeader] && element[col.colHeader].length>=25?false:true">
                                        
                                        {{element[col.colHeader] }}</td>
    
                                </ng-container>
                                
                                
                                <tr class="mat-row w-100" *matNoDataRow  [attr.colspan]="displayedColumns && displayedColumns.length">
                                  <div class="p-3">
                                        No data available in table.
                                    </div>
                                </tr>
                                <tr mat-header-row *matHeaderRowDef="columnValues; sticky: true"></tr>
                                <tr mat-row  [class.selected] = "rowClicked == row.id"   *matRowDef="let row; columns: columnValues;" (click)="getTransaction(row);changeTableRowColor(row.id);getTransactionInfo(false)" ></tr>
                                <!-- <mat-row [style.color]="rowClicked == row.id ? 'white' :''" [style.border-radius]="rowClicked == row.id ? '8px' :''"  [class.mx-2] = "rowClicked == row.id"   *matRowDef="let row; columns: columnValues;" (click)="getTransaction(row);changeTableRowColor(row.id);getTransactionInfo(false)" [style.background-color]="rowClicked == row.id ? 'var(--clr-primary-300)' :'white'"></mat-row> -->

                            </table>
                        <!-- </div> -->
                        </ng-scrollbar>
                    </div>
                    <div class="table-pagination d-flex justify-content-start" *ngIf="columnValues.length>0 && displayedColumns && dataSource">
                        <mat-paginator [length]="this.customPagination.total" [pageSize]="20"
                        showFirstLastButtons   [pageSizeOptions]="[10, 20, 100]" (page)="handlePageEvent($event)"></mat-paginator>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xl-4" [hidden]="isHistory">
            <app-reprocess-choice (itemUpdatedEvent)="itemUpdatedEvent($event)" [reprocessCount]="orders"
            [isEnabled]="isEnabled" [transactionID]="transactionID" [userData]="this.userData"
            [isReprocessedChecked]="isReprocessedChecked" 
            [isCompleteChecked]="isCompleteChecked" 
            [isHistoryChecked]="isHistoryChecked" 
            
            ></app-reprocess-choice>

            <mat-card class="mat-elevation-z g-card mt-4">
                <mat-card-content>
                    <h2 class="card-header-title mb-4 d-flex align-items-center">
                        <div class="mat-icon-wrap me-lg-3 me-2">
                            <span class="mat-icon material-symbols-outlined">
                                filter_frames
                            </span>
                        </div>
                        <span>Selected Orders</span>
                    </h2>
                    <div class="pb-5 mb-3">
                        <mat-tab-group dynamicHeight>
                            <mat-tab label="Reprocess ({{orders.reprocess}})">
                                <div class="d-flex gap-12 my-2">
                                    <button mat-stroked-button color="primary" [disabled]="this.orders.reprocess<=0" class="button-add-all w-100" (click)="deleteOrder(0,'reprocess')">
                                        Mark All
                                    </button>

                                    <button mat-stroked-button color="warn" [disabled]="this.orders.reprocess<=0" class="button-remove-all-w-stroke w-100" (click)="deleteOrder(-1,'reprocess')">
                                        Unmark All
                                    </button>
                                </div>
                                <div class="card br-14 table-responsive px-0 mt-2">
                                    <ng-scrollbar style="height: 250px;">
                                        <mat-list class="zones-list g-card-list list-style-1" role="list">
                                            <ng-scrollbar style="height: 380px">
                                              <mat-list-item   (click)="selectOrder(order)" role="listitem" *ngFor="let order of orders.reprocessOrders">
                                                <span class="list-label zone-list-label">
                                                  {{order.orderNumber}}
                                                </span>
                                                <span class="list-label zone-list-label">
                                                    {{order.itemNumber}}
                                                  </span>
                                                <button mat-icon-button aria-label="Delete Function" (click)="deleteOrder(order.id,'reprocess')" matTooltip="Remove" matTooltipPosition="above">
                                                  <mat-icon class="icon-circle-cancel">close</mat-icon>
                                                </button>
                                              </mat-list-item>
                                            </ng-scrollbar>
                                          </mat-list>

                                    </ng-scrollbar>
                                </div>
                            </mat-tab>
                            <mat-tab label="Complete ({{orders.complete}})">
                                <div class="d-flex gap-12 my-2">
                                    <button mat-stroked-button color="primary" [disabled]="this.orders.complete<=0" class="button-add-all w-100" (click)="deleteOrder(0,'complete')">
                                        Mark All
                                    </button>

                                    <button mat-stroked-button color="warn" [disabled]="this.orders.complete<=0" class="button-remove-all-w-stroke w-100" (click)="deleteOrder(-1,'complete')">
                                        Unmark All
                                    </button>
                                </div>
                                <div class="card br-14 table-responsive px-0 mt-2">
                                    <ng-scrollbar style="height: 250px;">
                                        <mat-list class="zones-list g-card-list list-style-1" role="list">
                                            <ng-scrollbar style="height: 380px">
                                              <mat-list-item (click)="selectOrder(order)"  role="listitem" *ngFor="let order of orders.completeOrders">
                                                <span class="list-label zone-list-label">
                                                  {{order.orderNumber}}
                                                </span>
                                                <span class="list-label zone-list-label">
                                                    {{order.itemNumber}}
                                                  </span>
                                                <button mat-icon-button aria-label="Delete Function" (click)="deleteOrder(order.id,'complete')" matTooltip="Remove" matTooltipPosition="above">
                                                  <mat-icon class="icon-circle-cancel">close</mat-icon>
                                                </button>
                                              </mat-list-item>
                                            </ng-scrollbar>
                                          </mat-list>
                                    </ng-scrollbar>
                                </div>
                            </mat-tab>
                            <mat-tab label="History ({{orders.history}})">
                                <div class="d-flex gap-12 my-2">
                                    <button mat-stroked-button color="primary" [disabled]="this.orders.history<=0" class="button-add-all w-100" (click)="deleteOrder(0,'history')">
                                        Mark All
                                    </button>

                                    <button mat-stroked-button color="warn" [disabled]="this.orders.history<=0" class="button-remove-all-w-stroke w-100" (click)="deleteOrder(-1,'history')">
                                        Unmark All
                                    </button>
                                </div>
                                <div class="card br-14 table-responsive px-0 mt-2">
                                    <ng-scrollbar style="height: 250px;">
                                        <mat-list class="zones-list g-card-list list-style-1" role="list">
                                            <ng-scrollbar style="height: 380px">
                                              <mat-list-item (click)="selectOrder(order)"  role="listitem" *ngFor="let order of orders.historyOrders">
                                                <span class="list-label zone-list-label">
                                                  {{order.orderNumber}}
                                                </span>
                                                <span class="list-label zone-list-label">
                                                    {{order.itemNumber}}
                                                  </span>
                                                <button mat-icon-button aria-label="Delete Function" (click)="deleteOrder(order.id,'history')" matTooltip="Remove" matTooltipPosition="above">
                                                  <mat-icon class="icon-circle-cancel">close</mat-icon>
                                                </button>
                                              </mat-list-item>
                                            </ng-scrollbar>
                                          </mat-list>
                                    </ng-scrollbar>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>


<ng-template #description>

    <div class="d-flex justify-content-between mb-4 align-items-center">
        <div style="width:48px"></div>
        <h1 class="m-0" mat-dialog-title>Description</h1>

        <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>

    <div class="">
        <div class="w-100">
            <div class="col-12 mb-2">
                <mat-form-field class="custom-form-field w-100" appearance="outline">

                    <textarea matInput [(ngModel)]="reasonMessage" readonly="true"
                        style="min-height:100px"></textarea>
                </mat-form-field>
            </div>
            <!-- <div class="d-flex justify-content-end pt-3">
                <button mat-flat-button color="primary" class="button-primary btn-lg w-100" [mat-dialog-close]="true"
                    cdkFocusInitial>Submit</button>
            </div> -->

            <button mat-stroked-button color="basic" class="custom-btn bg-white w-100 btn-lg" [mat-dialog-close]="true">
                Close
              </button>
        </div>

    </div>

          

</ng-template>