<div class="main-section-options">
    <div class="container-fluid">
      <div class="row g-4">
        <!-- Main Section Option (Import Export) -->
        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option"  
            (click)="updateMenu('transaction-admin', '/InductionManager/Admin/InventoryMap')"
            routerLink="/InductionManager/Admin/InventoryMap">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                
                directions_alt
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Inventory Map</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Admin) -->
        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option" 
            (click)="updateMenu('transaction-admin', '/InductionManager/Admin/InventoryMaster')"
            routerLink="/InductionManager/Admin/InventoryMaster">
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                dashboard
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Inventory</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Induction Manager) -->
        <div class="col-xl-3 col-lg-6 ">
          <div matRipple [matRippleColor]="tab_hover_color"
           class="main-section-option"
           (click)="updateMenu('transaction-admin', '/InductionManager/Admin/ToteTransactionManager')"
           routerLink="/InductionManager/Admin/ToteTransactionManager"
           >
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                inventory_2
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Tote Transaction Manager</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Work Manager) -->
        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option" 
            (click)="updateMenu('transaction-admin', '/InductionManager/Admin/ManualTransactions')"
            routerLink="/InductionManager/Admin/ManualTransactions">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                ads_click
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Manual Transactions</h4>
          </div>
        </div>


        <!-- Main Section Option (Induction Manager) -->
        <div class="col-xl-3 col-lg-6">
          <div matRipple 
            [matRippleColor]="tab_hover_color" 
            class="main-section-option" 
            (click)="updateMenu('transaction-admin', '/InductionManager/Admin/ImToteManager')"
            routerLink="/InductionManager/Admin/ImToteManager">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                elevator
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Tote Manager</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Consolidation Manager) -->
        <div class="col-xl-3 col-lg-6" routerLink="/admin/transaction">
          <div matRipple 
              [matRippleColor]="tab_hover_color" 
              class="main-section-option" 
              (click)="updateMenu('transaction-admin', '/InductionManager/Admin/TransactionJournal')"
              routerLink="/InductionManager/Admin/TransactionJournal">
            <a class="main-section-option-link" href="#"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                post_add
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Transaction Journal</h4>
          </div>
        </div>
  
        <!-- Main Section Option (Order Manager) -->
        <div class="col-xl-3 col-lg-6 ">
          <div matRipple [matRippleColor]="tab_hover_color" 
          (click)="updateMenu('transaction-admin', '/InductionManager/Admin/Reports')"
           routerLink="Reports" class="main-section-option">
            <a class="main-section-option-link" href="/InductionManager/Admin/Reports"></a>
            <div class="main-section-icon">
              <span class="material-symbols-outlined">
                analytics
              </span>
            </div>
            <h4 class="main-section-title" style="font-size:22px;">Reports </h4>
          </div>
        </div>

        <div class="col-xl-3 col-lg-6">
            <div matRipple [matRippleColor]="tab_hover_color" class="main-section-option" routerLink="/InductionManager/Admin/AdminPrefrences">
              <div class="main-section-icon">
                <span class="material-symbols-outlined">
                  tune
                </span>
              </div>
              <h4 class="main-section-title" style="font-size:22px;">Preferences </h4>
            </div>
          </div>
      </div>
    </div>
  </div>