.Compete-cart{
    background-color: #C8E2D8;
    color:#114D35
   
  }
  .Reprocess-card{
    background-color: #F7D0DA;
    color:#4D0D1D
   
  }
  .Open-card{
    background-color: #FFF0D6;
    color:#4D3B1A
   
  }
  .Order-type{
    background-color: #F1D4EC;
    color:#4D2045
   
  }
  .Total-lines{
    background-color: #F2F2FF;
    color:#090948
   
  }
  .Current-status{
    background-color: #F2F2FF;
    color:#090948;
    font-size: 12px!important;
   
  }
  .title-wrap{
    white-space: nowrap;
  }
  .primary{
    background-color:  #F2F2FF;
    color: #17171A;
  }
  .threshold-card {
    padding: 15px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .title {
    display: flex;
    font-weight: bold;
    font-size: 16px;
    //margin-bottom: 10px;
  }
  
  mat-slider {
    width: 100%;
  }
  .threshold-container{
    height: 30px;
    label{
      white-space: nowrap;
    }
  }