.transform{
    color:var(--clr-pure-white) !important; 
    transform: rotate(45deg) !important; 
    padding-top: 4px !important;
}

.display{
    display: flex !important; 
    justify-content: space-between !important;
}