table {
  th {
    white-space: nowrap;
  }

  td {
    padding-right: 20px;
    white-space: nowrap;
    max-width: 25ch;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

::ng-deep.w-48px {
  width: 48px;
}

::ng-deep.height-545 {
  height: 545px;
}

::ng-deep .table-settings-tr {
  background-color: var(--clr-table-header);
}