<div class="d-flex justify-content-between align-items-center" mat-dialog-title>
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title>Number Selection</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div mat-dialog-content>
    <div class="card p-3 mb-3">
        <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mat-form-field-disabled mb-3" appearance="outline">
            <mat-label>Current Quantity</mat-label>
            <input matInput type="text" readonly [(ngModel)]="data.completedQuantity">
        </mat-form-field>
        <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type="text" pattern="[0-9]*" [(ngModel)]="newQuantity" readonly>
            <button matSuffix class="clear-btn" matTooltip="Clear" matTooltipPosition="above" (click)="this.newQuantity = ''"><mat-icon class="text-22 text-chrome-600  d-flex align-items-center">cancel</mat-icon></button>
        </mat-form-field>

        <div class="d-flex gap-12 justify-content-between">
            <div class="d-flex flex-wrap justify-content-center gap-12 w-288px">
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('1')">
                    1
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('2')">
                    2
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('3')">
                    3
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('4')">
                    4
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('5')">
                    5
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('6')">
                    6
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('7')">
                    7
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('8')">
                    8
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('9')">
                    9
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('0')">
                    0
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('00')">
                    00
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('000')">
                    000
                </button>
                <button mat-mini-fab color="Default" class="button-default-i icon-button-8br text-primary-500 bold" (click)="add('.')">
                    .
                </button>

            </div>
        </div>
    </div>
</div>

<div class="d-flex gap-12 mb-1" mat-dialog-actions>
    <button mat-flat-button color="primary" class="btn-lg flex-grow-1" (click)="done()">
        Done
    </button>
  </div>