.selected {
    background-color: var(--clr-primary-300) !important;
    color: var(--clr-pure-white);
}

.stickyHeader {
    position: sticky;
    top: 0px;
    z-index: 200000000;
}

table {
    th {
        white-space: nowrap;
        // padding-left: 12px;
        // padding-right: 12px;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    td {
        // padding-left: 12px;
        // padding-right: 12px;
        width: auto;
        max-width: 25ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }
}

   .w-170{
     width: 170px;
  }
.w-48px {
    width: 48px;
}

 .w-100 {
    width: 100px;
}
 .h-280{
    height: 280px;
}
 .overflow-hidden{
    overflow: hidden;
}

 .height-280 {
    height: 280px
}
 .w-160{
    width: 160px;
}
 .auto-com {
    padding-bottom: 16px;
    padding-top: 16px;
}
 .h-180{
    height: 180px;
}
 .w-80{
    width: 80px;
}
.w-90{
    width:90px;
}

 .span-batch {
    padding: 0px 25px;
    border: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}
 .w-60{
    width: 60px;
}
 .w-90{
    width:90px;
}

 .span-option {
    padding: 10px 12px;
    border: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    white-space: nowrap;
}

.mat-input-element[type=date]::after, .mat-input-element[type=datetime]::after, .mat-input-element[type=datetime-local]::after, .mat-input-element[type=month]::after, .mat-input-element[type=week]::after, .mat-input-element[type=time]::after{
    content: none !important;
  }

// Remove the custom sticky-action-column class and replace with standard classes
// .custom-header-cell {
//   border: 0;
//   height: 67px;
//   padding-left: 65px;
//   border-bottom: 1px solid var(--clr-tertiary-50);
//   min-width: 120px;
//   width: 120px;
//   position: sticky;
//   right: 0;
//   background: var(--clr-table-header);
//   z-index: 10;
// }

// .custom-cell {
//   border: 0;
//   padding-left: 24px;
//   background: var(--clr-pure-white);
//   min-width: 120px;
//   width: 120px;
//   position: sticky;
//   right: 0;
//   z-index: 10;
// }

// Table overflow styles
// .table-overflow-x {
//     overflow-x: auto;
// }

// Table minimum width styles - increase to prevent overlap
// .table-min-width-filter {
//     min-width: 1200px;
// }

// .table-min-width-order {
//     min-width: 800px;
// }

// Ensure proper table cell spacing
table {
    th {
        white-space: nowrap;
        padding-left: 0px;
        padding-right: 12px;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }

    td {
        padding-left: 0px;
        padding-right: 12px;
        width: auto;
        max-width: 25ch;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        white-space-collapse: collapse;

        &:first-child {
            padding-left: 20px;
        }

        &:last-child {
            padding-right: 20px;
        }
    }
}

// Ensure proper scrollbar styling
.mat-table-scrollbar {
  --scrollbar-thumb-color: rgb(200, 200, 200) !important;
}
