<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Reel Transactions</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <div class="card p-3">
        <div class="row mb-2">
            <div class="col-xl-4 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>{{fieldNames.itemNumber}}</mat-label>
                    <input matInput disabled [(ngModel)]="itemNumber">
                </mat-form-field>
            </div>
            <div class="col-xl-8 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput disabled [(ngModel)]="description">
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-xl-6 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>Total Parts To Be Inducted</mat-label>
                    <input #field_focus  matInput type="number" [(ngModel)]="partsInducted"  min=0 oninput="validity.valid||(value='');" (change)="updateRemaining()" >
                </mat-form-field>
            </div>
            <div class="col-xl-6 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>Number Of Parts Not Assigned </mat-label>
                    <input matInput type="number" disabled [(ngModel)]="partsNotAssigned" >
                </mat-form-field>
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-xl-6 ">
                <mat-form-field class="custom-form-field __grab_cursor w-100" appearance="outline">
                    <mat-label>Number Of Reels To Be Inducted</mat-label>
                    <input matInput [(ngModel)]="noOfReels" min=0 oninput="validity.valid||(value='');"  type="number" #noOfReeltemp  (keyup)="initiateReelGenrator($event)"  (keyup)="limitNoOfReels()">
                </mat-form-field>
            </div>
            <div class="col-xl-6 mt-1">
                <button mat-flat-button color="primary" class="btn-regular w-100" (click)="OpenReelSerial()">
                    Auto Generate Reels & Serial Number
                </button>
            </div>
        </div>
    </div>

<div *ngIf="AutoGenerateReel">
    <div class="card br-14 table-responsive borderless px-0 my-3">
        <ng-scrollbar track="all" class="mat-table-scrollbar  scrollbar-hover-padding" style="height: 350px;">

            <table mat-table [dataSource]="generateReelAndSerial"
                class="w-100">

                <ng-container matColumnDef="reel_serial_number">
                    <th mat-header-cell *matHeaderCellDef> Reel Serial No.
                    </th>
                    <td mat-cell *matCellDef="let element;let i=index"  >
                        <mat-form-field class="custom-form-field w-100 pe-2 "   appearance="outline">
                            <input   (input)="changeVal($event,i)" matInput type='text' value="{{element.reel_serial_number}}"  [(ngModel)]="element.reel_serial_number"
                            #serialTemp
                            name="reel_serial_number"
                            required>
                    </mat-form-field>
                    </td>

                </ng-container>

                <ng-container matColumnDef="button">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let element ;let i =index">
                        <div>
                            <button mat-stroked-button class="btn-regular me-3" color="primary" (click)="GenerateSerialNumber(i)">Next Serial Number
                            </button>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="reel_part_quantity">
                    <th mat-header-cell *matHeaderCellDef> Reel Part Quantity
                    </th>
                    <td mat-cell *matCellDef="let element;let i =index">
                        <mat-form-field class="custom-form-field w-100 pe-2" appearance="outline">
                            <input matInput type="number" value="{{element.reel_part_quantity}}" min=0 oninput="validity.valid||(value='');" (keyup)="onChange($event,i)" >
    </mat-form-field>
                    </td>
                </ng-container>

                <ng-container matColumnDef="action" stickyEnd>
                    <th width="10%"  mat-header-cell *matHeaderCellDef class="ps-2"> Actions </th>
                    <td mat-cell *matCellDef="let element ;let i =index " class="ps-2">
                    <div class="d-flex gap-12 align-items-center">
                            <button mat-flat-button color="primary" class="xsm-icon-button" (click)="OpenDetails(i,element)">
                                <mat-icon class="material-symbols-outlined">border_color</mat-icon>
                            </button>
                            <button mat-flat-button color="primary" class="xsm-icon-button" (click)="print(i,element)">
                                <mat-icon class="material-symbols-outlined">print</mat-icon>
                            </button>

                        </div>
                    </td>
                </ng-container>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" [attr.colspan]="displayedColumns.length">
                        No data available in table.
                    </td>
                </tr>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            </table>
        </ng-scrollbar>
    </div>
</div>

    <button mat-flat-button color="primary" class="btn-lg w-100 mt-2" (click)="reeloverviewsubmit()">Submit</button>
</mat-dialog-content>