table{
    tr{
        &:first-child{
            td{
                padding-top: 10px;
            }
        }
        td{
            padding-bottom: 10px;
        }
    }
}
.h-350px{
    height: 350px;
}