table{
    tr{
        &:first-child{
            td{
                padding-top: 10px;
            }
        }
        td{
            padding-bottom: 10px;
        }
    }
}


.w-48px {
    width: 48px;
}
 .mat-icon-warehouse{
    color:var(--clr-tertiary-900); transform: rotate(45deg);
 }
   .h-350{
    height: 350px;
 }
