.mat-column-ruleType {
  width: 10% !important;
}
.mat-column-modelRestriction {
  width: 34% !important;
}
.mat-column-disabled {
  width: 5% !important
}

mat-row, mat-header-row, mat-footer-row{
  display: table-row;
  white-space: nowrap;
}

.mat-column-Order-Number{
  max-width: 50ch !important;
}
.h-500px{
  height: 500px;
}