<mat-card class="mat-elevation-z g-card mb-4">
    <mat-card-content>

        <div class="row">
            <div class="col-xl-5">
                <div class="d-block d-xl-flex gap-12 align-items-center">
                    <mat-form-field class="action-dropdown w-100 mb-3" appearance="outline" style="flex:1">
                        <mat-label>Search</mat-label>
                        <mat-select class="employees-action" [(ngModel)]="selectedDropdown"
                            (selectionChange)="selectStatus($event.value)">
                            <mat-option value=""></mat-option>
                            <mat-option *ngFor="let item of displayedColumns | sort:'colDef':false" [value]="item.colDef">
                                {{item.colDef}}
                            </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>

                    <span class="v-br d-none d-xl-flex mb-3">-</span>
                    <div class="d-flex g-mini-search-box w-100 mb-3">



                        <mat-form-field class="w-100 bg-white br-8" appearance="fill"
                            [floatLabel]="getFloatLabelValue()" [hideRequiredMarker]="hideRequiredControl.value">
                            <span class="material-symbols-outlined icon-search">
                                search
                            </span>
                            <input type="text" placeholder="Search" aria-label="Number" matInput
                                [(ngModel)]='this.columnSearch.searchValue' [matAutocomplete]="auto"
                                (ngModelChange)="this.searchBar.next($event)" (input)="onInputChange($event)" [disabled]="!this.selectedDropdown" [min]="0">
                                <button matSuffix *ngIf="this.columnSearch.searchValue" class="clear-btn"  (click)="clear()"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="searchData()" >
                                <mat-option *ngFor="let option of searchAutocompleteList" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>


                    </div>
                </div>
            </div>
            <div class="col-xl-2 offset-xl-5 d-flex justify-content-end">
                <div class="d-block d-lg-flex d-flex w-100 justify-content-end">
                <mat-form-field class="action-dropdown mb-3" appearance="outline" style="flex:1 auto">
                    <mat-label>Action</mat-label>
                    <mat-select   #matRef class="employees-action" (openedChange)="actionDialog($event)"
                        [(value)]="selectedVariable">
                        <mat-option value="set_column_sq">Set Column Sequence</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                        expand_more
                    </span>
                </mat-form-field>
            </div>

            </div>
        </div>

        <div class="card br-14 table-responsive my-3">
            <ng-scrollbar style="height:500px" track="all" class="mat-table-scrollbar">
                <table  mat-table class="custom-table table-fix" #table [dataSource]="dataSource" matSort 
                    (matSortChange)="sortChange($event)" fixedLayout="true">
 
                    <ng-container [matColumnDef]="col.colDef"  style="display: table-row;" 
                        *ngFor="let col of displayedColumns; let indexOfelement=index;">

                        <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header
                            (sortActionDescription)="indexOfelement" 
                            style="width:auto; padding: 5px 12px; border-bottom: 1px solid var(--clr-tertiary-50);">
                            {{ col.colDef }}

                        </th>

                        <td mat-cell *matCellDef="let element" 
                        (contextmenu)="onContextMenu($event, element[col.colHeader], col.colDef)"
                        #tooltip="matTooltip" [matTooltip]="element[col.colHeader]"   matTooltipPosition="above"  [matTooltipDisabled]="element[col.colHeader] && element[col.colHeader].length>=19?false:true"
                            style="padding: 10px 12px; border: 0; text-overflow: ellipsis; overflow: hidden; max-width: 19ch; white-space: nowrap;">
                            {{ element[col.colHeader] }}</td>

                    </ng-container>
                    <tr (contextmenu)="onContextMenu($event, undefined, '')" class="mat-row  d-flex w-100 justify-content-center position-absolute" *matNoDataRow [attr.colspan]="displayedColumns && displayedColumns.length">
                        <div class="p-3 ">
                            No data available in table.
                        </div>
                    </tr>

                    <mat-header-row *matHeaderRowDef="columnValues;sticky: true" style=" border: 0"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: columnValues;"></mat-row>
                </table>
            </ng-scrollbar>
        </div>

        <div class="table-pagination d-flex justify-content-start"
            *ngIf="columnValues.length>0 && displayedColumns && dataSource">
            <mat-paginator [length]="this.customPagination.total" [pageSize]="20" showFirstLastButtons [pageSizeOptions]="[10, 20, 100]"
                (page)="handlePageEvent($event)"></mat-paginator>


        </div>
    </mat-card-content>
</mat-card>


<div #trigger="matMenuTrigger"
    style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenuFilter"
    ></div>
    <mat-menu #contextMenuFilter="matMenu">
    <ng-template matMenuContent let-item="item">
      <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'equals to',getType(item.SelectedItem))"> Equals</button>
      <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is not equals to', getType(item.SelectedItem))">Not Equals</button>
      <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is greater than or equal to', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'number' || getType(item.FilterColumnName) == 'date'" >Greater than or Equal</button>
      <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is less than or equal to', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'number' || getType(item.FilterColumnName) == 'date'" >Less than or Equal</button>
      <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is like', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'string' && getType(item.FilterColumnName) != 'date'" >Like</button>
      <button mat-menu-item (click)="onContextMenuCommand(item.SelectedItem, item.FilterColumnName, 'is not like', getType(item.SelectedItem))" *ngIf="getType(item.SelectedItem) == 'string' && getType(item.FilterColumnName) != 'date'" >Not Like</button>
      <button mat-menu-item [matMenuTriggerFor]="InputFiltersList" [matMenuTriggerData]="{category: item}" *ngIf="getType(item.SelectedItem) != 'boolean'" >Input FIlters</button>
      <button mat-menu-item (click)="onContextMenuCommand('', '', 'clear', '')">Clear Filters</button>
    </ng-template>
    </mat-menu>
    
    <mat-menu #InputFiltersList="matMenu">
        <ng-template matMenuContent let-category="category">
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'equals to', getType(category.SelectedItem))">Equals</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is not equals to', getType(category.SelectedItem))">Not Equals</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'begins with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Begins</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'does not begins with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Does Not Begin</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'ends with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Ends With</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'does not ends with', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Does Not End With</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'contains', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Contains</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'does not contains', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'string' && getType(category.FilterColumnName) != 'date'">Does Not Contain</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is less than', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'number' || getType(category.FilterColumnName) == 'date'">Less Than</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is greater than', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'number' || getType(category.FilterColumnName) == 'date'">Greater Than</button>
          <button mat-menu-item (click)="InputFilterSearch(category.FilterColumnName, 'is between', getType(category.SelectedItem))" *ngIf="getType(category.SelectedItem) == 'number' || getType(category.FilterColumnName) == 'date'">Between</button>
        </ng-template>
    </mat-menu>   