.mat-column-ruleType {
  width: 10% !important;
}
.mat-column-modelRestriction {
  width: 34% !important;
}
.mat-column-disabled {
  width: 5% !important
}

mat-row, mat-header-row, mat-footer-row{
  display: table-row;
  white-space: nowrap;
}

.mat-column-Order-Number{
  max-width: 50ch !important;
}
.h-500px{
  height: 500px;
}
.transaction-header-cell{
  width:auto;
  padding: 5px 12px; 
  border-bottom: 1px solid var(--clr-tertiary-50);
}
.transaction-cell-style{
  padding: 10px 12px; 
  border: 0; 
  text-overflow: ellipsis; 
  overflow: hidden; 
  max-width: 19ch; 
  white-space: nowrap;
}
.border-0{
  border: 0;
}

.custom-header-cell {
  border: 0;
  height: 67px;
  padding-left: 65px;
  border-bottom: 1px solid var(--clr-tertiary-50);
}

.custom-cell {
  border: 0;
  padding-left: 24px;
  background: var(--clr-pure-white);
}

.no-data-cell {
  position: relative;
  height: 60px;
  padding: 0;
  border: 0;
}

.no-data-message {
  position: sticky;
  top: 50%;
  width: 500px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 16px;
  white-space: nowrap;
  z-index: 1;
}