.custom-scrollbar {
height: 63vh;
overflow-y: scroll;
-webkit-overflow-scrolling: touch;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 11px;
    -webkit-overflow-scrolling: touch;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(216, 215, 215);
    border-radius: 10px;
}
@media screen and (max-width: 769px) {
button.restore-to-default-btn {
    margin-left: 2px !important;
}
}


@media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Add custom scrollbar styles here */
    .custom-scrollbar {
      /* Add your desired scrollbar styles */
      overflow-y: scroll; /* Ensure vertical scrollbar is shown */
      scrollbar-width: thin; /* Width of the scrollbar (thin or auto) */
      scrollbar-color: #888888 #f0f0f0; /* Color of the scrollbar (track color and thumb color) */
    }
  }