<div class="d-flex justify-content-between align-items-center" mat-dialog-title>
  <div class="column-sequence-card"></div>
  <div class="d-flex flex-column justify-content-between align-items-center">
    <h1 class="m-0 mb-4" mat-dialog-title data-automation-id="heading-set-column-sequence">Set Column Sequence</h1>
    <h5 data-automation-id="colseq-default-sort-info">Default sort will be on the first column Ascending</h5>
  </div>

  <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false" data-automation-id="close-button">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>

<div class="d-flex flex-column justify-content-between" mat-dialog-content>
    <div class=" mb-3" cdkDropListGroup>
        <div class="row" >
            <div class="col-6">
                <div class="card w-100">
                    <div class="card-header" data-automation-id="unordered-columns-header">
                        Unordered Columns
                    </div>
                    <div class="card-body py-0 example-container">
                            <div cdkScrollable scrollViewport  class="custom-scrollbar column-sequence-height h-53vh webkit-overflow" >
                                <mat-list cdkDropList [cdkDropListData]="unorderedCol" class="example-list"
                                    (cdkDropListDropped)="drop($event)" class="zones-list g-card-list list-style-1"
                                    role="list" data-automation-id="colseq-unordered-list">

                                    <mat-list-item *ngFor="let item of unorderedCol ; let indexOfelement=index;"
                                        class="pe-0" role="listitem" cdkDrag [attr.data-automation-id]="'unordered-col-list-item-' + indexOfelement+ '-' + item">
                                        <div class="d-flex w-100 justify-content-between __grab_cursor ">
                                            <span class="list-label zone-list-label d-flex align-items-center">
                                                <mat-icon class="me-2" matTooltip="Drag"
                                                    matTooltipPosition="left" cdkDragHandle data-automation-id="drag-icon-unordered-{{indexOfelement}}">drag_indicator</mat-icon>
                                                <span id="grid-listing" replacePlaceholder data-automation-id="unordered-col-label-{{indexOfelement}}-{{item}}">{{item}}</span>
                                            </span>
                                            <button (click)="addArr(indexOfelement)" mat-icon-button
                                                aria-label="Add Function" matTooltip="Add" matTooltipPosition="right" [attr.data-automation-id]="'add-unordered-col-button-' + indexOfelement">
                                                <mat-icon class="icon-circle-edit" [attr.data-automation-id]="'add-icon-unordered-' + indexOfelement">add</mat-icon>
                                            </button>
                                        </div>
                                    </mat-list-item>

                                </mat-list>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-6">
                <div class="card w-100">
                    <div class="card-header" data-automation-id="default-columns-header">
                        Default Columns
                    </div>
                    <div class="card-body py-0 example-container">
                            <div cdkScrollable scrollViewport class="custom-scrollbar column-sequence-height h-53vh webkit-overflow" >
                                <mat-list cdkDropList [cdkDropListData]="defaultCol" class="example-list"
                                    (cdkDropListDropped)="drop($event)" class="zones-list g-card-list list-style-1"
                                    role="list" data-automation-id="colseq-default-list">

                                    <mat-list-item *ngFor="let item of defaultCol ; let indexOfelement=index;"
                                        class="pe-0" role="listitem" cdkDrag [attr.data-automation-id]="'default-col-list-item-' + indexOfelement+ '-' + item">
                                        <div class="d-flex w-100 justify-content-between __grab_cursor ">
                                            <span class="list-label zone-list-label d-flex align-items-center">
                                                <mat-icon class="me-2" matTooltip="Drag"
                                                    matTooltipPosition="left" cdkDragHandle data-automation-id="drag-icon-default-{{indexOfelement}}">drag_indicator</mat-icon>
                                                <span id="grid-listing" replacePlaceholder data-automation-id="default-col-label-{{indexOfelement}}-{{item}}">{{item}}</span>
                                            </span>
                                            <button (click)="remove(indexOfelement)" mat-icon-button
                                                aria-label="Remove Function" matTooltip="Remove" matTooltipPosition="right" [attr.data-automation-id]="'remove-default-col-button-' + indexOfelement">
                                                <mat-icon class="icon-circle-cancel" [attr.data-automation-id]="'remove-icon-default-' + indexOfelement">close</mat-icon>
                                            </button>
                                        </div>
                                    </mat-list-item>
                                </mat-list>

                            </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<mat-dialog-actions class="d-block">
    <div class="d-xl-flex d-lg-block gap-12 mb-0 mb-xl-3">
        <button (click)="deleteColSeq()" mat-stroked-button class="form-button-submit btn-lg m-1 m-xl-0 " color="warn" data-automation-id="clear-all-button">Clear All</button>
        <button type="submit" (click)="autofill()"  mat-stroked-button class="form-button-submit btn-lg m-1 m-xl-0" color="primary" data-automation-id="autofill-column-button">Autofill
            Column</button>
        <button type="submit"  (click)="restoreCol()"  mat-stroked-button class="restore-to-default-btn form-button-submit btn-lg m-1 m-xl-0" color="primary" data-automation-id="restore-to-default-button">Restore To
            Default</button>
        <button type="submit" (click)="save()"  mat-flat-button class="w-100 form-button-submit btn-lg m-1 m-xl-0 flex-grow-1 flex-basis-0" color="primary" data-automation-id="save-as-default-button">Save as
            Default</button>
    </div>
</mat-dialog-actions>
