.notify-center-table {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
}
:host ::ng-deep .create-batch-btn-custom {
  position: absolute;
  left: 10px;
  width: calc(100% - 50px);

  padding: 6px;
  text-align: center;
  box-sizing: border-box;
}

 .td-right-align{
    text-align: right;
 }

 ::ng-deep .mat-menu-panel{
   display: flex;
   width: 100vh;
   max-width: 290px;
   .mat-menu-content{
      width: 100%;
   }
 }
.custom-menu {
  width: 200px; /* Set your desired width */
}

.count-table-scrollbar{
  height: calc(28vh - 70px);
}