<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <DirectoryRef Id="INSTALLFOLDER">
            
            <Component Id="cmpOGkoJkApsx09TmwlmeSYNXu8O2k" Guid="{ABC25818-5131-4972-8BE3-F0692557CE0E}">
                <File Id="filhOmU2zCUvc3hRee0kCgcGDUVj8c" KeyPath="yes" Source="$(var.FilesDir)\appsettings.json" />
            </Component>
            <Component Id="cmpcdo6rpFXtOicErwRA1C.2TtceeE" Guid="{89446E0F-ACDC-449D-9DE0-4EFB2F54EF18}">
                <File Id="filcwrw2YZLIm.kvl9yZfZtHMUJsCk" KeyPath="yes" Source="$(var.FilesDir)\appsettings.Production.json" />
            </Component>
            <Component Id="cmpK5ySGSiRoF97d_uIMN9lDAvs51Q" Guid="{ABACC555-DD4D-4595-944A-E57C480F415C}">
                <File Id="filnRZXro4jqlWY3zQ6yi6T.QpieEM" KeyPath="yes" Source="$(var.FilesDir)\aspnetcorev2_inprocess.dll" />
            </Component>
            <Component Id="cmpNKUuGYO_pf7717IrJY9bIPl_GkA" Guid="{15D6174C-0F52-4D9B-9720-38EBD13F08E8}">
                <File Id="filqB53zuR42CPJBsK23KsAzHCro_E" KeyPath="yes" Source="$(var.FilesDir)\getfilesiginforedist.dll" />
            </Component>
            <Component Id="cmpb2MAsxkPBkIPtvnY78CfLAG0p1E" Guid="{BDBD4074-C716-429B-A324-E36568DD2747}">
                <File Id="filsCeGo9dd2i88tuo2_f19wxc2zNU" KeyPath="yes" Source="$(var.FilesDir)\LogixProServer.exe" />
            </Component>
            <Component Id="cmpRDs8x4kZglOxWP49BiHGjVqSVPE" Guid="{733650FB-1AE4-4C2E-A547-BF488A059C71}">
                <File Id="filAoVMG9O6ifnkc9PH05iRiluUR7A" KeyPath="yes" Source="$(var.FilesDir)\LogixProServer.staticwebassets.endpoints.json" />
            </Component>
            <Component Id="cmpctpvHgF.KboXjPvxoZvGvZYbEfw" Guid="{060015D9-2C18-426F-9772-EC943CB82BB5}">
                <File Id="filmVHLTz7tnHdusHQ4tEFcy77w.MQ" KeyPath="yes" Source="$(var.FilesDir)\microsoft.management.infrastructure.native.unmanaged.dll" />
            </Component>
            <Component Id="cmpKT2uPqYbpPvRJpwOCU6gfTc5r8w" Guid="{6CB7B995-2AB9-4624-8BFF-A13095269BB2}">
                <File Id="filXdJIQukpn3mSr_fYgkK5tlrx7So" KeyPath="yes" Source="$(var.FilesDir)\PowerShell.Core.Instrumentation.dll" />
            </Component>
            <Component Id="cmpItcIcpJ0ogIOkIUvy2tmkKd3kk0" Guid="{4617D22E-F696-49A3-8EB0-E9A2095CF564}">
                <File Id="fil7PQlPMf1kl.TqlDZHqc1EYo80Lw" KeyPath="yes" Source="$(var.FilesDir)\pwrshplugin.dll" />
            </Component>
            <Component Id="cmpLDAQBANRAtytN1I8w7lteQ2jE7o" Guid="{C2F7E58F-7B3F-4EC1-9CBD-F355D9256ECC}">
                <File Id="fil4MRgks159h47JdB.ZcR_hliUtLI" KeyPath="yes" Source="$(var.FilesDir)\sni.dll" />
            </Component>
            <Component Id="cmp6e_0_mvckeg6ezzAKTmyoz1f014" Guid="{1B05EB55-D2D9-4E04-9D91-8A6CD33D4535}">
                <File Id="filTz2.bmhJNV5fU.37dPKTygTf73U" KeyPath="yes" Source="$(var.FilesDir)\web.config" />
            </Component>
            <Directory Id="dirLvDLgTxzEbCkhw2_kZ.OUtkYhdA" Name="wwwroot">
                <Component Id="cmpHKhkm9WtVamN28XHj3dnJ.0b1XI" Guid="{395FAD50-50E9-4ED3-B950-B32266CE020C}">
                    <File Id="filv6fFGKaoBa1rbGd0nVHTVSfI6Xg" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\216.76643f65f9c9053f.js" />
                </Component>
                <Component Id="cmpqZFTAqxpWc0q25r4MsJmAM1fkpo" Guid="{2E3A8FAB-321D-49C3-A4FB-07FC5E6D1729}">
                    <File Id="fil_cg9ppcnkoYffF9TXv2RtJoMmAU" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\216.76643f65f9c9053f.js.map" />
                </Component>
                <Component Id="cmpiZh7I0xnNK.x_UryPXypLoS04Qo" Guid="{C649FB1C-36BF-4FA3-BA37-064022EA0198}">
                    <File Id="filo9HhkAnixr_JT8jcMZ0H9lvBcBQ" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\229.1619037d7f85bcb3.js" />
                </Component>
                <Component Id="cmp3ZZjyy_EooP5cDF_96GmyJi0dzQ" Guid="{6A261A65-3C27-4BB8-9BE3-EF4F05975751}">
                    <File Id="filmtvTFM5gdBfmwGtthHvlKAMp.hQ" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\229.1619037d7f85bcb3.js.map" />
                </Component>
                <Component Id="cmpupBzsFJMh0qyNe1yFN29sRQ3nuc" Guid="{C3764CD9-1FDA-49CB-B450-C07A2DB8C86E}">
                    <File Id="filhMfHyV2HQdvV4xwlGV1EcdnUnTg" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\337.15b126b2800c6392.js" />
                </Component>
                <Component Id="cmpINqT7kILMoKlzVlZxrVPoKxuKrE" Guid="{E8F6A7FD-8E45-45C1-8492-5C5EF3A03CB8}">
                    <File Id="filldUeNHZ2FLuGcyXhn9tuOtQ2bqk" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\337.15b126b2800c6392.js.map" />
                </Component>
                <Component Id="cmpehIbRZ83neMpIyNYlD8FQNzQGMM" Guid="{AC2D5834-8AE5-402E-93FA-9E144EB14AA0}">
                    <File Id="filEKrgY32xJ4WhZsWTvZ_NDEWbKM8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\372.c9ae3c67e46a6da7.js" />
                </Component>
                <Component Id="cmpPPlLUWnM1frokzJhKs79gSaXBxk" Guid="{A2785383-FE59-4DBE-9B5F-D0EA30ED2E5F}">
                    <File Id="filqNieTvrxLXI1d_NsnEDjUQlpqG4" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\372.c9ae3c67e46a6da7.js.map" />
                </Component>
                <Component Id="cmpyg9gDNrQpK_J9uhzkjwVLOq.lKc" Guid="{4685F1D4-9DB2-4804-A474-A2F3538C7E9E}">
                    <File Id="filpqvQXJlMzqe_8vGrPFcBQiqqtUw" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\3rdpartylicenses.txt" />
                </Component>
                <Component Id="cmpyne8bb0sjh4c05qnN_XKjdYk4bo" Guid="{DE25B45D-C9DC-41E0-84B8-0633D389D1E1}">
                    <File Id="filJrGIRiXGEgkrXP4Hz17rIJeJIgw" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\528.272ab0a75032e591.js" />
                </Component>
                <Component Id="cmpEFj5o.TvqI1SexUg_mAigBI1Bvs" Guid="{B6F4EC52-609C-4274-B79F-38D93009A290}">
                    <File Id="filsuwbCWM4w.rMhveaCxVKjXWBtb0" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\528.272ab0a75032e591.js.map" />
                </Component>
                <Component Id="cmpEM1n0v6MS8KTjDuHVVQkduI6ev4" Guid="{79BE66AC-9D39-48DD-A1A2-DFC0AD2BBB02}">
                    <File Id="filA5fKlm5LN9m8NQJks6eRXTB7Zx4" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\563.aecd760035158be4.js" />
                </Component>
                <Component Id="cmpdzj63CkWjJ18.oho7S4Ly.IMw_I" Guid="{D383679A-2FD4-4ABC-8E87-1C613D357BEB}">
                    <File Id="filNyUX9pbdXPS00h3XXT_DAWq.xyk" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\563.aecd760035158be4.js.map" />
                </Component>
                <Component Id="cmplq3jYJup6cHSVYxNXRlu9UfI.Lg" Guid="{643C2429-C045-4A26-82A4-AE4A935D91DB}">
                    <File Id="filLu4Q0uLJCL1NpyUmcanf.QMEYXE" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\579.2aa31c8fb2eebe4f.js" />
                </Component>
                <Component Id="cmp1Z3Lp61P.waw2ft8mlqzdk1uOk8" Guid="{7D43CB73-5EA2-4842-95CD-9078087F2B7B}">
                    <File Id="fil7aOOdgI8JcHlqF72gfmzUkdXKB8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\579.2aa31c8fb2eebe4f.js.map" />
                </Component>
                <Component Id="cmpKQk40FOwsbFUjf5GTKOHaRtD_6Y" Guid="{919CE0EB-AB02-4364-BAB6-58F6B9927BCE}">
                    <File Id="filBLKRk63ze811yCH9n7AFrF0Jqz8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\595.a107e91bc4123d90.js" />
                </Component>
                <Component Id="cmpzNqSJqorMAqpFrF_uit4OTg6r0s" Guid="{54012B2C-63EE-4D85-BEB6-475AD9E36915}">
                    <File Id="fildbPx878_e9enhRxuF7KZbCWTsiM" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\595.a107e91bc4123d90.js.map" />
                </Component>
                <Component Id="cmpAFm1ORN5u.l1FkCE8hWopJ7FXK4" Guid="{DF708371-981D-40C1-9713-6FA3E5D861B0}">
                    <File Id="filhamESMqAXPDk4GNI2BseBBUkI7c" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\730.b536a093c3a7b691.js" />
                </Component>
                <Component Id="cmpzo1hj_Q_29XNFYNpqHW7uzC1Hlo" Guid="{C20D9F4A-2767-42C2-8889-48088A874501}">
                    <File Id="filpkfbqm.x2dv6xxPu.WI3khHhWAI" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\730.b536a093c3a7b691.js.map" />
                </Component>
                <Component Id="cmp4IYOgMXcQyFu17f1zfzv7V9wLGQ" Guid="{804C2A1D-32AB-469D-BB9F-2D3D5647295A}">
                    <File Id="filqYjl4NHlX83I.Z_SpUl.c0i5QXU" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\757.7fabc80dc01e151c.js" />
                </Component>
                <Component Id="cmp.7EMHrXqZTYsz9Y4KuPS4XvQDus" Guid="{D5029502-C74C-4F37-A43F-04418718E9E6}">
                    <File Id="filW4lzuDfxz4ouMo0mLuMi9eY.C9Y" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\757.7fabc80dc01e151c.js.map" />
                </Component>
                <Component Id="cmp.8UluHpVvaU.VzdVgZsUZI7A1.s" Guid="{AF894060-2A19-4EF1-B035-7512A04C15E2}">
                    <File Id="filO0ID7.XqSv78po0P.2kbOUqSdMY" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\804.d7774fe818ccd4a3.js" />
                </Component>
                <Component Id="cmpQsEQ6XT4s4LNcguVOhdA1yjcGTY" Guid="{08E797F7-E766-40BE-AA4F-3E53BF144F97}">
                    <File Id="fil7lXg_Ja4SfOS4LsHq_8i4UJ.vAw" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\804.d7774fe818ccd4a3.js.map" />
                </Component>
                <Component Id="cmpVbmONyezvtTxlZVm8aDwFrqVR.A" Guid="{00A68C77-7267-41C4-A1B1-5C2A3D12C6CB}">
                    <File Id="filGxWrDunUZLifDESnhIRqm5xCIrI" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\849.314e6c731a92789b.js" />
                </Component>
                <Component Id="cmpl_1W0nAEbYBnyqlw56mP__AeCkk" Guid="{2C70C159-BD75-4F9D-A644-D178B9D0674F}">
                    <File Id="filLfN6Tv.rAS2osU5KFoF_Dq10v0k" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\849.314e6c731a92789b.js.map" />
                </Component>
                <Component Id="cmpOOJQlsu97tn9pb5PzLlq6.L5VaM" Guid="{FE1E6154-349A-4AD7-ABE3-2AC4601F44A3}">
                    <File Id="filIwdaD8olR9QcIszCIBhm5PxKmIk" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\95.f7b004f8d474848c.js" />
                </Component>
                <Component Id="cmpCza_YnyCaT6ngdq9KrC.DSQJbaU" Guid="{1C6F0D60-5AF3-4020-8BB3-374C58D61479}">
                    <File Id="filC720LgmnuaYM5_MkhwgFEtkBucc" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\95.f7b004f8d474848c.js.map" />
                </Component>
                <Component Id="cmpcXutcd0cPKJZGWH9vIHuVneXHkM" Guid="{D376FFD2-77FC-42D2-B8C0-B2C90E105515}">
                    <File Id="filnYUJ1wPRN.oqCNN3Hme37Jclg1U" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\953.cbcb3f263eec0065.js" />
                </Component>
                <Component Id="cmpNDEQT0KMyE8asFCeqYIX_ietSYg" Guid="{D9438E72-7A5C-4991-A80A-B8D935856AF8}">
                    <File Id="filM35TzNo36OYiO8L.fakMt4OiNs8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\953.cbcb3f263eec0065.js.map" />
                </Component>
                <Component Id="cmpASvEd2tWjVfHGI7B_mUoQ.YZ2zg" Guid="{C4EA8902-5AFA-44C2-BEDD-E274FFBC68EE}">
                    <File Id="fil7CxQ.TEeoDOMqlWE6t5jnyokFJU" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\favicon.ico" />
                </Component>
                <Component Id="cmpnlc1Msc8RvybZcVOJewKgpeHqww" Guid="{652F7266-94B7-4FFA-8462-C49AFA2299C6}">
                    <File Id="fil45HLZOjZFVyKiZKV2rICc0QyyIo" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\index.html" />
                </Component>
                <Component Id="cmpXWAMYZ_uYwOWrvgnOSe_aM5vBMA" Guid="{831F5207-5909-4445-B560-0783F8D6D147}">
                    <File Id="filB15oPVkBjkK.jZesFWcpvl8m67Q" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\LogixPro-login-image2.88f9f1d69edbbf6a.jpg" />
                </Component>
                <Component Id="cmpT8g6Pp.x7RXTQhwON93jeoEha1w" Guid="{B0B4178B-4369-4750-811B-167E73562B2D}">
                    <File Id="filWzykYF._ZC53qvFtoOiA9Wkea.U" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\main.7cadf3aec0122db5.js" />
                </Component>
                <Component Id="cmp6f2_VAdWjMWwuR3h8DUn_9E9t2o" Guid="{FDD5F6F0-3EE5-4695-820C-A694AFA55C4B}">
                    <File Id="fily0kVpMbJmNn.ABXBLsYzEF3TPTA" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\main.7cadf3aec0122db5.js.map" />
                </Component>
                <Component Id="cmpTdvVLf..8gLEbugSBT4yOlSF89o" Guid="{EDFFA299-4688-4B7D-BBDA-F85457F9A49F}">
                    <File Id="fileczldPebVqQDLGjnPPaOgfJEMZc" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\MaterialIcons-Regular.59322316b3fd6063.woff2" />
                </Component>
                <Component Id="cmp23i5Lepmt2KquTdu_Vwa3gteiWc" Guid="{238D1D05-3BD8-4DCE-A184-206047800714}">
                    <File Id="filvPD9lEHteN2O84TWr7DzR4YQBtk" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\MaterialIconsOutlined-Regular.bdba7ed23b427f19.woff2" />
                </Component>
                <Component Id="cmpj2jSk9mbMwn30I8ULqYtENhzZYE" Guid="{73CF13BD-4D6B-4707-82ED-0B8CFCA524CF}">
                    <File Id="fil.AVp90k2K1FLhNc9OicSoWpjAJI" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\package.json" />
                </Component>
                <Component Id="cmps7gUb0cqLYEsa.Pe7MtwkIsz8mM" Guid="{24F0425B-90FB-455C-942E-C4AF57C3E495}">
                    <File Id="fili3TQ9C1H7nCbKK7CVYo6kJ9aff8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\polyfills.9ae035181924bed8.js" />
                </Component>
                <Component Id="cmpfTVHcs56wxwiZO5kSpsPfaETojU" Guid="{2B46F537-1A7B-4CF2-B5A6-3EBBC0E759D9}">
                    <File Id="filpsqclA8NInXKLurnLauiom8aRRA" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\polyfills.9ae035181924bed8.js.map" />
                </Component>
                <Component Id="cmpgjRUJKdri6enSDgXYoLXsAojBd8" Guid="{E5115CCA-0C58-4B38-A7D6-7961E0619875}">
                    <File Id="fil_EntFHXL3Uyuy0jbRXtVA9aDKgs" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\runtime.eb09ed3d466af34c.js" />
                </Component>
                <Component Id="cmppvC4cTfNhN0glWRtkKwDJHjdGgQ" Guid="{7A54779D-CFC5-49C2-AA18-1AA4092C9480}">
                    <File Id="fill1jIHWKAtxeYm5X4R1aC_ICN._k" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\runtime.eb09ed3d466af34c.js.map" />
                </Component>
                <Component Id="cmp8V_cFRUd49aPIMrQohD7dxe4zHE" Guid="{4A25831A-B11D-4115-AA30-B5145020248A}">
                    <File Id="filM2h.Drm6QLtXMbU6I4JqCwoQQzM" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\scripts.6db616db16f505d3.js" />
                </Component>
                <Component Id="cmp6hG44ZP.c9ZLLmsXdK_GFBvY6wY" Guid="{121408F0-8E8D-48D6-BB90-725B4DFEEC14}">
                    <File Id="filx1.3bz1ajoed1vrxg162HjlwLEk" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\scripts.6db616db16f505d3.js.map" />
                </Component>
                <Component Id="cmpt2yZGbe3wwqjrJbqojhSoEorCoI" Guid="{C543DA53-D60F-4FCE-9221-24551388B646}">
                    <File Id="fil.rhR0lmiwCBSJTqRZVPloGzjNBM" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\styles.8a3ba9f51038dbd6.css" />
                </Component>
                <Component Id="cmpaOiErrtR4grOel3v.JC.ict8vhU" Guid="{64CEF5CD-DC92-4754-BE36-C396EC21FD7D}">
                    <File Id="fil9eiOz2CHLpCP0ILwhshzgfWAlJk" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\styles.8a3ba9f51038dbd6.css.map" />
                </Component>
                <Directory Id="dirVUGVB82ag7Qdfw1VXGsxwou90gs" Name="assets">
                    <Component Id="cmpt9kvEw4EQRWv0jVjcxsRcO_3gVc" Guid="{313EAAD6-0CD0-4CB5-99BB-8C60092E1FCD}">
                        <File Id="filhMmZrTlzdibCmtEwrvIBAWiJ3yc" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\bmw-logo.svg" />
                    </Component>
                    <Component Id="cmp0Ca4MvGnyxdEpnaGrA39indWoIk" Guid="{E7744E7B-BDEC-4D07-B286-25E1D353D44E}">
                        <File Id="file8cA5w5QarpvcYBNOprzhAmKmcI" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\Brand Flourish.png" />
                    </Component>
                    <Directory Id="dirRu.mHmKEh99zAhf.j098CXGlMhs" Name="design-system">
                        <Component Id="cmpnGvZYcZ5YmT29j.c4iekC1b67As" Guid="{D39FEC19-5FB3-47DF-B265-124B260E1871}">
                            <File Id="filcjDt9UFeEQjc8SDffou6taJp_po" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\d-main.scss" />
                        </Component>
                        <Component Id="cmpjhX359W2dFtgn55H3fNnSZrcbgA" Guid="{43E68D2F-BD05-48FD-A176-68C86D91F008}">
                            <File Id="filUEQ_xRQ7LGpp0K1_qXZ4ifbUelg" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\styles-hc-v1.css" />
                        </Component>
                        <Component Id="cmpc86AggaQYrZI92C5qQM4yGGXzdY" Guid="{732D404C-D78B-4EDA-AC79-4FCC753BC5B1}">
                            <File Id="filLe_mdUSW0ILVxauqDlVOnOpm71E" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\styles-hc-v2.css" />
                        </Component>
                        <Component Id="cmp98kpuvpE2M1m2mTfxPWlCI47P1A" Guid="{C62DE19B-3A2A-4970-9552-70E2EFBEE986}">
                            <File Id="filPAs51SHhUIu39gAmZeE0UzbBy9s" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\styles-hc.css" />
                        </Component>
                        <Component Id="cmphaGTniey_WhQ3g9_zj1SpoGXmxk" Guid="{F77451C8-BD2A-4242-A10C-AF2C4791DD23}">
                            <File Id="filZn8vBMlDerTNvQGqr2LofhcGl4k" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\styles-hhc.css" />
                        </Component>
                        <Component Id="cmpb7cOqv5HGPam0s8mQKRqr9xT1SE" Guid="{EA206F9C-30DF-4FB0-BF04-B8CB1A1D5650}">
                            <File Id="filF8MY_2C9VaLFJwZoAXvGj0yNu9w" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\styles-normal.css" />
                        </Component>
                        <Component Id="cmpkQLXOjbvhurgpW5xjJSp9vYErno" Guid="{62E9AF5A-7D9C-4984-B9C2-B3518D7365A5}">
                            <File Id="filwlifCsD4zVjTOfZUwrKmBRN2Oxs" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\_colors.scss" />
                        </Component>
                        <Component Id="cmpPheGpmWD_zOK6YnBwzN0r6SGxuU" Guid="{836A00AD-DFE4-4B9B-94BC-5E70603E00DB}">
                            <File Id="filZT7Nf6nOXq.ZoB2OHeFidfbNjgE" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\_root.scss" />
                        </Component>
                        <Component Id="cmpeIoATOY2i.hOFtmJZOAAkEOwZU0" Guid="{9A485396-EF01-4FF5-A8AA-DF94B60394B4}">
                            <File Id="filTKxnpQn67313y_PZdTr23CYkOso" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\_typography.scss" />
                        </Component>
                        <Component Id="cmp2C8JUW.5BOPdPAjam8YEwufqTH4" Guid="{B58D1066-DBC5-458A-86AD-C44ACE75CB44}">
                            <File Id="fil5WDAmoqJqpsZj1Ts2kMycV2h.uo" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\design-system\_utilities.scss" />
                        </Component>
                    </Directory>
                    <Directory Id="dirY5w1rwIq3LZAi1weO.ZEQc3a8Dc" Name="font">
                        <Component Id="cmpZhOsVyUiG1EM_io_UEEktdeudx0" Guid="{EAA4D519-8371-44DE-93A9-B6A381B1D41B}">
                            <File Id="filth.1EtFNFY6MoaEjesdDKOAJMYU" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\mulish-font.css" />
                        </Component>
                        <Component Id="cmpvAdxaBVPF_lqZrRA0w.gH1QCdkA" Guid="{CE2E5AFD-E899-4566-86DE-3A81EBFE4BBB}">
                            <File Id="filza612iVXOSJO7wCAb.13u9QO2_Q" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\Mulish-Italic-VariableFont_wght.ttf" />
                        </Component>
                        <Component Id="cmphpzFuSpW2henfgrwDYLJKdqGxWA" Guid="{4E13109C-53C4-45EA-9F3C-0865CD9EB5B2}">
                            <File Id="filiRm0eoePoEFTMMM7l.BQCEbeThI" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\Mulish-VariableFont_wght.ttf" />
                        </Component>
                        <Directory Id="dirg6qMw8WlkWHH4eH8IpwSjW53kLI" Name="static">
                            <Component Id="cmpc0h4bN3QplR_pOsr1zlCXBnYPvI" Guid="{8AEA35C6-D406-47C4-B687-8177728F1747}">
                                <File Id="fil0_e6HMz2PnwJ1fNTbO_4RS6XVn8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-Black.ttf" />
                            </Component>
                            <Component Id="cmpSgI1uqnY45o4Nss4KL_W2IqyS1k" Guid="{3BA10235-BED2-4664-9A15-85FFC88C5AA0}">
                                <File Id="fild4NkNeOJrIOUz83DMf_aKX1Y_0w" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-BlackItalic.ttf" />
                            </Component>
                            <Component Id="cmpyC7OuRVMbG_idCeigUsE2zr.aUs" Guid="{A5DA30C3-0D17-43AB-BFA5-99E307CDB134}">
                                <File Id="filwP5PK947g9JmaoRY4WiOrDWhM98" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-Bold.ttf" />
                            </Component>
                            <Component Id="cmposoVHVqdK2MA9EZJxFR.1rUNx3I" Guid="{71B6C5C9-CE84-4F91-BD2B-2B0C16DE6FCE}">
                                <File Id="filiQ3cmJR.vGXDKEfFWYyooHVcTf4" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-BoldItalic.ttf" />
                            </Component>
                            <Component Id="cmpyGTfZ1mudxHHjh9IDQ7JmvknrKU" Guid="{C96EFD2F-202F-42B4-AD34-77788FE66285}">
                                <File Id="filwcylWdSA1MtSHqzecgCgDDJDBJ4" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-ExtraBold.ttf" />
                            </Component>
                            <Component Id="cmp2DDq3HHMiYqg.sFJnRsdT3kBcYU" Guid="{8CB59731-AF64-4B56-95EC-E05546030064}">
                                <File Id="fil8rk7VeD5RnKQ0m46t8gQiOpP4bY" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-ExtraBoldItalic.ttf" />
                            </Component>
                            <Component Id="cmp0_IRNkJ0BzzUFEL8tSn7T6WbPg4" Guid="{AA902E42-8D4B-4429-98FA-446F8B850D99}">
                                <File Id="fil5XwlWVTYFN8zYaF9pHFbkvqH4yo" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-ExtraLight.ttf" />
                            </Component>
                            <Component Id="cmp3OQC.jOda_WIDfWMnApjwCUMQXA" Guid="{6C1A0BDC-B919-48D6-836C-C66CC92EB3B5}">
                                <File Id="filqnyxCGzSeu3z6l8.a3aYm8XLoK0" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-ExtraLightItalic.ttf" />
                            </Component>
                            <Component Id="cmptyLuTuD8sv_O0xvxSfHE_cs1HFY" Guid="{E648EBE4-4EAB-409C-A68E-A2F51ACA82C9}">
                                <File Id="filF4KzCKPHduR6lIUA0BeI6HyQciU" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-Italic.ttf" />
                            </Component>
                            <Component Id="cmppepmH52kN1AM0RuaFIeWFB3u5kg" Guid="{606C1DE5-E21A-4B5E-A4EB-1A5E66B4A34F}">
                                <File Id="filBZ8KJQlyc0NyVfQvN_KeKrV3T48" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-Light.ttf" />
                            </Component>
                            <Component Id="cmptPPjK1TQzPlFTejkdYcejAh5.Qw" Guid="{0F14D88D-1F95-4ED2-9769-52B7BAF8F02C}">
                                <File Id="filnMyNf_9Zg8r4b6PdqU3E0q0RRIc" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-LightItalic.ttf" />
                            </Component>
                            <Component Id="cmpjiTqAWwQO6UrDn_71o0ZkDj8fwY" Guid="{3B3AABBE-B208-4A29-8C19-AA530DFEB856}">
                                <File Id="fil.Uuuu9cDx30p43IxObinot3sRrU" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-Medium.ttf" />
                            </Component>
                            <Component Id="cmpoTpCX5MI269Dkfsx.w5Vr1OThZ0" Guid="{147E3F31-28E6-4786-8E94-5A5833E6E8FD}">
                                <File Id="filmn8iaaYrFGnH3jm.Ye3x_jZxXEg" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-MediumItalic.ttf" />
                            </Component>
                            <Component Id="cmpHzqRhnTyagh6hPBvyKUJQLIKaE0" Guid="{8193C358-4607-4CCE-84D4-1D8BD4DC9828}">
                                <File Id="filJS2N9Xy7NWkvf4P9ysf4zJkUE6I" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-Regular.ttf" />
                            </Component>
                            <Component Id="cmpPekE7wJCd0jHlVXa1ajutE6Jpdg" Guid="{83F87196-CAF9-4918-BADD-52346E55FA7B}">
                                <File Id="filpoMqqznjQ6PmE9xvPLeVbBVT5mo" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-SemiBold.ttf" />
                            </Component>
                            <Component Id="cmpsh.5EXP8sJBwvlZ_aF3SlZL1CFA" Guid="{7476090B-F79E-4670-99EC-37E39F1A1973}">
                                <File Id="filtq2HTyYLEL9IFSdnwsbAswhzVkw" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font\static\Mulish-SemiBoldItalic.ttf" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dirNO9nHPUnW0lNRu.ci_qTlDIGDgg" Name="font-icon">
                        <Component Id="cmph_hJrNll9ZczmeTZ1aIgxO_aPLQ" Guid="{BAB2164C-2A16-43E8-9647-646F824BB66A}">
                            <File Id="filml8D8TPZHKdw.oHdvi.XEbQKW7c" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\material.css" />
                        </Component>
                        <Component Id="cmptnVqBxPy3SsybHFxu5q979vIyb4" Guid="{132367AD-9320-4EF4-B597-9981EED9B5FD}">
                            <File Id="filolJJ4Hm.dc_o0dbHZzxLD.AC7pQ" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\MaterialIcons-Regular.ttf" />
                        </Component>
                        <Component Id="cmpTUM.bAfDn6NZN3exqu3qfULbs3E" Guid="{A39A598F-22EB-4CEC-AFE9-036AC9874AC8}">
                            <File Id="filBFOLKW5GBMm5mleU6FQ8zcOhsd0" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\MaterialIcons-Regular.woff2" />
                        </Component>
                        <Component Id="cmp2ZHEwHp0UH7TPcB1X3u7enZsPKE" Guid="{08598D0D-F9BE-4845-8673-73E4AC557B39}">
                            <File Id="filRvy4qpVszBFGe3joVuMrT61IiF8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\MaterialIconsOutlined-Regular.otf" />
                        </Component>
                        <Component Id="cmpH9zoBAIeE9.u0EFE3IlfM9afcn8" Guid="{C3645485-8556-4A7E-AA6A-3F1CC19C7201}">
                            <File Id="file_LozpMEgAANNdXUnYBg02mVesg" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\MaterialIconsOutlined-Regular.woff2" />
                        </Component>
                        <Component Id="cmpdpVYDrsrUmMOmasT2QT9dVbzUWo" Guid="{A2A5F472-CB3E-4674-8230-D603D5B1FEB0}">
                            <File Id="filEEBGbm47yecgGAxJctI7r9UMh5k" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\MaterialIconsRound-Regular.otf" />
                        </Component>
                        <Component Id="cmpGcxGgx.yuQfZ_UztWiArs2hn7So" Guid="{0CD40DB6-4DFD-49F2-A04D-40FA1164D2B5}">
                            <File Id="fil15N4EMYLE2uwY7BLU09s.Z083BQ" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\MaterialIconsSharp-Regular.otf" />
                        </Component>
                        <Component Id="cmpKOcaw5Npn.t08GAewEuvwCvb8IA" Guid="{EAFC290C-3798-4041-A26A-9D53527BCDA6}">
                            <File Id="filL3oN4RejqJSZxAsGm5NCRdjIWLc" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\font-icon\MaterialIconsTwoTone-Regular.otf" />
                        </Component>
                    </Directory>
                    <Directory Id="diryhxeA1UJK4sYgiM30S1TEKGLaOo" Name="images">
                        <Component Id="cmpv5UHYR_IWdQMo_6CHrI8eMDTStE" Guid="{F491FD6C-5F09-401F-9BBE-0E155EE9E89A}">
                            <File Id="filNsF3ppvaIC9jyQH4Q9USzWvDIlU" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\chevron-down.svg" />
                        </Component>
                        <Component Id="cmp9tMwX5rwquLKFo_d8gA3IuDCzIk" Guid="{1455F708-D3AB-413B-9154-30746E47AAEB}">
                            <File Id="filrqp72UqnVr0iGvs3o6MJ0Uc.t8U" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\login_background.png" />
                        </Component>
                        <Component Id="cmpD0tn6AcQEyMARToGGN2Cc6kW7Jc" Guid="{3AC6B9C9-AE9F-4BAF-80D2-4B8CB02955DB}">
                            <File Id="filXBXPvMrh7BGwwFdg7PeuGfsLDkA" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\logixpro-login-image.jpg" />
                        </Component>
                        <Component Id="cmpbv94XeluFYjvLfYvYz7GFqZRfcU" Guid="{18C1193B-A9B7-4D8E-9E1E-C465A5B8215B}">
                            <File Id="fil5RNL3AUybfLc1V2S1dMGoIbbSA8" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\LogixPro-login-image2.jpg" />
                        </Component>
                        <Component Id="cmpOa3w80YTbKom_Y7r_f0ocQ2JNII" Guid="{771C876A-9F39-4159-83B7-45B1BDB49D61}">
                            <File Id="filtrDCQR9I_lZKLkZvGSYlA1q7fhA" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\LogixPro-Logo.png" />
                        </Component>
                        <Component Id="cmpAOpoIWPEBbmm6nIBy0QGF6eQhIo" Guid="{2B5D2714-B0A4-49AD-9959-E6B063D886D7}">
                            <File Id="filPGnS5sSDVInksE4k8LgY12IVoZY" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\peaklogix.png" />
                        </Component>
                        <Component Id="cmpycv9W0afDQfEIqMFtCSF.JqbXrY" Guid="{476E746D-95B4-4132-94D6-7220B2F228C3}">
                            <File Id="filDVjVP1WJDYgq0QZ9nwq2RVBPcUo" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\scottech-white.png" />
                        </Component>
                        <Component Id="cmp6R6ItOApIwQlXOcZrHSnOZz.f0k" Guid="{E65044C9-F7EF-464E-AA99-78565F6DE04F}">
                            <File Id="fil9eMZeAxCsxkKkXdEVDVBi1.8sqs" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\ScottTech _ Pickpro_Blue.png" />
                        </Component>
                        <Directory Id="dirdX.vjXTdnU6l8CIWQQisVQ5fYbY" Name="favicon">
                            <Component Id="cmphu2ynakjtrPLPWHUBPYMK47wTgg" Guid="{6FA256C1-D634-48B5-9C37-8FF85322579C}">
                                <File Id="filcOMQF2ofxRwWdrlZCozM9crnGE4" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\favicon\favicon-new.ico" />
                            </Component>
                            <Component Id="cmpQQJfugDOWon7qzeFzXHGUktGK58" Guid="{CB3BE3E2-EB61-4FF0-873A-E367890AAD9A}">
                                <File Id="filKFb85sFt3BJz8o9o7ERxrEV8bjA" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\favicon\favicon-new.svg" />
                            </Component>
                            <Component Id="cmp1mO3MN6ha9gXyCNSm7tht0EOENU" Guid="{1A31778B-FD5F-48B2-A1B7-A691C0D5456F}">
                                <File Id="filTyKW285VSAT4VUg0g5UZw46SqYc" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\images\favicon\favicon.ico" />
                            </Component>
                        </Directory>
                    </Directory>
                    <Directory Id="dirVQBQs8EY9cSykEp0KxTyQ.14MRM" Name="json">
                        <Component Id="cmpeuWhVM94M9cGZNgOC0LBi1L_bHU" Guid="{BD9E351D-DB58-4CC7-BBF4-1C6414033CF1}">
                            <File Id="filhppXeaxh4hHHUlbkq4QbrjQtseQ" KeyPath="yes" Source="$(var.FilesDir)\wwwroot\assets\json\GlobalConfigrations.json" />
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="HarvestedComponents">
            
            <ComponentRef Id="cmpOGkoJkApsx09TmwlmeSYNXu8O2k" />
            <ComponentRef Id="cmpcdo6rpFXtOicErwRA1C.2TtceeE" />
            <ComponentRef Id="cmpK5ySGSiRoF97d_uIMN9lDAvs51Q" />
            <ComponentRef Id="cmpNKUuGYO_pf7717IrJY9bIPl_GkA" />
            <ComponentRef Id="cmpb2MAsxkPBkIPtvnY78CfLAG0p1E" />
            <ComponentRef Id="cmpRDs8x4kZglOxWP49BiHGjVqSVPE" />
            <ComponentRef Id="cmpctpvHgF.KboXjPvxoZvGvZYbEfw" />
            <ComponentRef Id="cmpKT2uPqYbpPvRJpwOCU6gfTc5r8w" />
            <ComponentRef Id="cmpItcIcpJ0ogIOkIUvy2tmkKd3kk0" />
            <ComponentRef Id="cmpLDAQBANRAtytN1I8w7lteQ2jE7o" />
            <ComponentRef Id="cmp6e_0_mvckeg6ezzAKTmyoz1f014" />
            <ComponentRef Id="cmpHKhkm9WtVamN28XHj3dnJ.0b1XI" />
            <ComponentRef Id="cmpqZFTAqxpWc0q25r4MsJmAM1fkpo" />
            <ComponentRef Id="cmpiZh7I0xnNK.x_UryPXypLoS04Qo" />
            <ComponentRef Id="cmp3ZZjyy_EooP5cDF_96GmyJi0dzQ" />
            <ComponentRef Id="cmpupBzsFJMh0qyNe1yFN29sRQ3nuc" />
            <ComponentRef Id="cmpINqT7kILMoKlzVlZxrVPoKxuKrE" />
            <ComponentRef Id="cmpehIbRZ83neMpIyNYlD8FQNzQGMM" />
            <ComponentRef Id="cmpPPlLUWnM1frokzJhKs79gSaXBxk" />
            <ComponentRef Id="cmpyg9gDNrQpK_J9uhzkjwVLOq.lKc" />
            <ComponentRef Id="cmpyne8bb0sjh4c05qnN_XKjdYk4bo" />
            <ComponentRef Id="cmpEFj5o.TvqI1SexUg_mAigBI1Bvs" />
            <ComponentRef Id="cmpEM1n0v6MS8KTjDuHVVQkduI6ev4" />
            <ComponentRef Id="cmpdzj63CkWjJ18.oho7S4Ly.IMw_I" />
            <ComponentRef Id="cmplq3jYJup6cHSVYxNXRlu9UfI.Lg" />
            <ComponentRef Id="cmp1Z3Lp61P.waw2ft8mlqzdk1uOk8" />
            <ComponentRef Id="cmpKQk40FOwsbFUjf5GTKOHaRtD_6Y" />
            <ComponentRef Id="cmpzNqSJqorMAqpFrF_uit4OTg6r0s" />
            <ComponentRef Id="cmpAFm1ORN5u.l1FkCE8hWopJ7FXK4" />
            <ComponentRef Id="cmpzo1hj_Q_29XNFYNpqHW7uzC1Hlo" />
            <ComponentRef Id="cmp4IYOgMXcQyFu17f1zfzv7V9wLGQ" />
            <ComponentRef Id="cmp.7EMHrXqZTYsz9Y4KuPS4XvQDus" />
            <ComponentRef Id="cmp.8UluHpVvaU.VzdVgZsUZI7A1.s" />
            <ComponentRef Id="cmpQsEQ6XT4s4LNcguVOhdA1yjcGTY" />
            <ComponentRef Id="cmpVbmONyezvtTxlZVm8aDwFrqVR.A" />
            <ComponentRef Id="cmpl_1W0nAEbYBnyqlw56mP__AeCkk" />
            <ComponentRef Id="cmpOOJQlsu97tn9pb5PzLlq6.L5VaM" />
            <ComponentRef Id="cmpCza_YnyCaT6ngdq9KrC.DSQJbaU" />
            <ComponentRef Id="cmpcXutcd0cPKJZGWH9vIHuVneXHkM" />
            <ComponentRef Id="cmpNDEQT0KMyE8asFCeqYIX_ietSYg" />
            <ComponentRef Id="cmpASvEd2tWjVfHGI7B_mUoQ.YZ2zg" />
            <ComponentRef Id="cmpnlc1Msc8RvybZcVOJewKgpeHqww" />
            <ComponentRef Id="cmpXWAMYZ_uYwOWrvgnOSe_aM5vBMA" />
            <ComponentRef Id="cmpT8g6Pp.x7RXTQhwON93jeoEha1w" />
            <ComponentRef Id="cmp6f2_VAdWjMWwuR3h8DUn_9E9t2o" />
            <ComponentRef Id="cmpTdvVLf..8gLEbugSBT4yOlSF89o" />
            <ComponentRef Id="cmp23i5Lepmt2KquTdu_Vwa3gteiWc" />
            <ComponentRef Id="cmpj2jSk9mbMwn30I8ULqYtENhzZYE" />
            <ComponentRef Id="cmps7gUb0cqLYEsa.Pe7MtwkIsz8mM" />
            <ComponentRef Id="cmpfTVHcs56wxwiZO5kSpsPfaETojU" />
            <ComponentRef Id="cmpgjRUJKdri6enSDgXYoLXsAojBd8" />
            <ComponentRef Id="cmppvC4cTfNhN0glWRtkKwDJHjdGgQ" />
            <ComponentRef Id="cmp8V_cFRUd49aPIMrQohD7dxe4zHE" />
            <ComponentRef Id="cmp6hG44ZP.c9ZLLmsXdK_GFBvY6wY" />
            <ComponentRef Id="cmpt2yZGbe3wwqjrJbqojhSoEorCoI" />
            <ComponentRef Id="cmpaOiErrtR4grOel3v.JC.ict8vhU" />
            <ComponentRef Id="cmpt9kvEw4EQRWv0jVjcxsRcO_3gVc" />
            <ComponentRef Id="cmp0Ca4MvGnyxdEpnaGrA39indWoIk" />
            <ComponentRef Id="cmpnGvZYcZ5YmT29j.c4iekC1b67As" />
            <ComponentRef Id="cmpjhX359W2dFtgn55H3fNnSZrcbgA" />
            <ComponentRef Id="cmpc86AggaQYrZI92C5qQM4yGGXzdY" />
            <ComponentRef Id="cmp98kpuvpE2M1m2mTfxPWlCI47P1A" />
            <ComponentRef Id="cmphaGTniey_WhQ3g9_zj1SpoGXmxk" />
            <ComponentRef Id="cmpb7cOqv5HGPam0s8mQKRqr9xT1SE" />
            <ComponentRef Id="cmpkQLXOjbvhurgpW5xjJSp9vYErno" />
            <ComponentRef Id="cmpPheGpmWD_zOK6YnBwzN0r6SGxuU" />
            <ComponentRef Id="cmpeIoATOY2i.hOFtmJZOAAkEOwZU0" />
            <ComponentRef Id="cmp2C8JUW.5BOPdPAjam8YEwufqTH4" />
            <ComponentRef Id="cmpZhOsVyUiG1EM_io_UEEktdeudx0" />
            <ComponentRef Id="cmpvAdxaBVPF_lqZrRA0w.gH1QCdkA" />
            <ComponentRef Id="cmphpzFuSpW2henfgrwDYLJKdqGxWA" />
            <ComponentRef Id="cmpc0h4bN3QplR_pOsr1zlCXBnYPvI" />
            <ComponentRef Id="cmpSgI1uqnY45o4Nss4KL_W2IqyS1k" />
            <ComponentRef Id="cmpyC7OuRVMbG_idCeigUsE2zr.aUs" />
            <ComponentRef Id="cmposoVHVqdK2MA9EZJxFR.1rUNx3I" />
            <ComponentRef Id="cmpyGTfZ1mudxHHjh9IDQ7JmvknrKU" />
            <ComponentRef Id="cmp2DDq3HHMiYqg.sFJnRsdT3kBcYU" />
            <ComponentRef Id="cmp0_IRNkJ0BzzUFEL8tSn7T6WbPg4" />
            <ComponentRef Id="cmp3OQC.jOda_WIDfWMnApjwCUMQXA" />
            <ComponentRef Id="cmptyLuTuD8sv_O0xvxSfHE_cs1HFY" />
            <ComponentRef Id="cmppepmH52kN1AM0RuaFIeWFB3u5kg" />
            <ComponentRef Id="cmptPPjK1TQzPlFTejkdYcejAh5.Qw" />
            <ComponentRef Id="cmpjiTqAWwQO6UrDn_71o0ZkDj8fwY" />
            <ComponentRef Id="cmpoTpCX5MI269Dkfsx.w5Vr1OThZ0" />
            <ComponentRef Id="cmpHzqRhnTyagh6hPBvyKUJQLIKaE0" />
            <ComponentRef Id="cmpPekE7wJCd0jHlVXa1ajutE6Jpdg" />
            <ComponentRef Id="cmpsh.5EXP8sJBwvlZ_aF3SlZL1CFA" />
            <ComponentRef Id="cmph_hJrNll9ZczmeTZ1aIgxO_aPLQ" />
            <ComponentRef Id="cmptnVqBxPy3SsybHFxu5q979vIyb4" />
            <ComponentRef Id="cmpTUM.bAfDn6NZN3exqu3qfULbs3E" />
            <ComponentRef Id="cmp2ZHEwHp0UH7TPcB1X3u7enZsPKE" />
            <ComponentRef Id="cmpH9zoBAIeE9.u0EFE3IlfM9afcn8" />
            <ComponentRef Id="cmpdpVYDrsrUmMOmasT2QT9dVbzUWo" />
            <ComponentRef Id="cmpGcxGgx.yuQfZ_UztWiArs2hn7So" />
            <ComponentRef Id="cmpKOcaw5Npn.t08GAewEuvwCvb8IA" />
            <ComponentRef Id="cmpv5UHYR_IWdQMo_6CHrI8eMDTStE" />
            <ComponentRef Id="cmp9tMwX5rwquLKFo_d8gA3IuDCzIk" />
            <ComponentRef Id="cmpD0tn6AcQEyMARToGGN2Cc6kW7Jc" />
            <ComponentRef Id="cmpbv94XeluFYjvLfYvYz7GFqZRfcU" />
            <ComponentRef Id="cmpOa3w80YTbKom_Y7r_f0ocQ2JNII" />
            <ComponentRef Id="cmpAOpoIWPEBbmm6nIBy0QGF6eQhIo" />
            <ComponentRef Id="cmpycv9W0afDQfEIqMFtCSF.JqbXrY" />
            <ComponentRef Id="cmp6R6ItOApIwQlXOcZrHSnOZz.f0k" />
            <ComponentRef Id="cmphu2ynakjtrPLPWHUBPYMK47wTgg" />
            <ComponentRef Id="cmpQQJfugDOWon7qzeFzXHGUktGK58" />
            <ComponentRef Id="cmp1mO3MN6ha9gXyCNSm7tht0EOENU" />
            <ComponentRef Id="cmpeuWhVM94M9cGZNgOC0LBi1L_bHU" />
        </ComponentGroup>
    </Fragment>
</Wix>