<mat-card class="mat-elevation-z g-card mb-4">
    <mat-card-content>
        <div class="d-flex align-items-center mb-3 flex-wrap">

            <app-icon-heading-component class="card-header-title mb-3 d-flex align-items-center me-4"
                heading="Transaction Details" icon="dvr"></app-icon-heading-component>
            <mat-checkbox [disabled]="!item" [(ngModel)]="emergency" color="primary" (ngModelChange)="onFieldChange(emergency)"
                class="example-margin custom-checkbox mb-3">Emergency</mat-checkbox>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <mat-form-field class="action-dropdown custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Transaction Type</mat-label>
                    <mat-select [disabled]="!item" [(ngModel)]="transType" #matRef class="employees-action"
                        placeholder="Actions" (ngModelChange)="onFieldChange(transType)">
                        <mat-option value="Pick">Pick</mat-option>
                        <mat-option value="Put Away">Put Away</mat-option>
                        <mat-option value="Count">Count</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                        expand_more
                    </span>
                </mat-form-field>
            </div>
            <div class="col-xl-3">

                <mat-form-field class="custom-form-field w-100 __grab_cursor mb-3" appearance="outline"
                    [class.mat-form-field-invalid]="isInvalid">
                    <mat-label>Required Date</mat-label>
                    <input [disabled]="!item" maxlength="11" matInput [matDatepicker]="requiredDate"
                        [(ngModel)]="reqDate" (focusout)="this.onFormFieldFocusOut.emit()" (ngModelChange)="onFieldChange(reqDate)">
                    <mat-datepicker-toggle matSuffix [for]="requiredDate" ngDefaultControl></mat-datepicker-toggle>
                    <mat-datepicker #requiredDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Line number</mat-label>
                    <input [disabled]="!item" [(ngModel)]="lineNumber" matInput type="text" maxlength="9"
                        value="Value"(ngModelChange)="onFieldChange(lineNumber)">
                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Transaction Quantity</mat-label>
                    <input [disabled]="!item" (keydown)="limitNumber($event)" [(ngModel)]="transQuantity" matInput
                        type="number" min="0" maxlength="9" value="Value" oninput="this.value = 
                    !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" (ngModelChange)="onFieldChange(transQuantity)">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Priority</mat-label>
                    <input [disabled]="!item" [(ngModel)]="priority" matInput type="text" maxlength="9"
                        value="Value" (ngModelChange)="onFieldChange(priority)">
                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Line Sequence</mat-label>
                    <input [disabled]="!item" [(ngModel)]="lineSeq" matInput type="text" maxlength="9"
                        value="Value" (ngModelChange)="onFieldChange(lineSeq)">
                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Host Transaction ID</mat-label>
                    <input [disabled]="!item" [(ngModel)]="hostTransID" matInput type="text" maxlength="50"
                        value="Value" (ngModelChange)="onFieldChange(hostTransID)">
                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Batch Pick ID</mat-label>
                    <input [disabled]="!item" [(ngModel)]="batchPickID" matInput type="text" maxlength="50"
                        value="Value" (ngModelChange)="onFieldChange(batchPickID)">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3">
                <mat-form-field (click)="openWareHouse()" class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Warehouse</mat-label>
                    <input readonly [disabled]="!item" [(ngModel)]="wareHouse" matInput type="text" maxlength="255"
                        value="Value" (ngModelChange)="onFieldChange(wareHouse)">
                    <span matSuffix>
                        <mat-icon
                            style="color:var(--clr-tertiary-900); transform: rotate(45deg);">unfold_more</mat-icon>
                    </span>
                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline">
                    <mat-label>Tote ID</mat-label>
                    <input [disabled]="!item" [(ngModel)]="toteID" matInput type="text" maxlength="50"
                        value="Value" (ngModelChange)="onFieldChange(toteID)">
                </mat-form-field>
            </div>
        </div>
    </mat-card-content>
</mat-card>