<div class="container-fluid p-0">
  <div class="row">
    <div class="col-12">

      <app-batch-delete   [batchUpdater]="batchUpdater" (transTypeEmitter)="getOrders($event)" (deleteEmitter)="getDeletedOrder($event)">
      </app-batch-delete>

    </div>
  </div>
  <div class="container-fluid p-0">

  
  <div class="row">
    <div class="col-12 col-xl-7 mb-3 mb-xl-0">
      <app-batch-order-list  [extraField]="extraField" [transTypeEvent]="transTypeEvent" [orderStatus]="seeOrderStatus"  [orderListData]="orderList" [displayedColumns]="displayOrderCols"
        (addOrderEmitter)="addRemoveOrder($event, 1)" (addRemoveAll)="addRemoveAllOrders('add')">
      </app-batch-order-list>
    </div>
      <div class="col-12 col-xl-5">
      <app-batch-selected-orders  (batchIdUpdateEmit)="onBatchUpdate($event)" [selectedOrderList]="selOrderList" [displayedColumns]="displaySelOrderCols"
        (removeOrderEmitter)="addRemoveOrder($event, 2)" 
        [batchManagerSettings]="batchManagerSettings" 
        [isAutoBatch]="isAutoBatch"
        [type]="type" (addRemoveAll)="addRemoveAllOrders('remove')"
        (batchCreated)="batchCreated($event)"
        [transTypeEvent]="transTypeEvent"
        >
      </app-batch-selected-orders>
    </div>
    </div>
 
</div>
<ng-template #quarantineAction>

  <div class="d-flex flex-column align-items-center justify-content-center text-center py-4">
    <div color="warn" class="circle-icon circle-66 circle-danger mb-4">
      <mat-icon color="warn">vpn_lock</mat-icon>
    </div>
    <div>
      <p class="bold text-tritary-900 mb-4">Click submit to quarantine item 11005. This will cause any allocated orders
        and locations with this item to be deallocated?</p>
      <div class="mb-3">
        <button mat-flat-button color="warn" class="custom-btn button-delete-flat bg-white">
          Submit
        </button>
      </div>
      <div>
        <button mat-stroked-button color="basic" class="custom-btn bg-white" [mat-dialog-close]="true">
          Cancel
        </button>
      </div>
    </div>
  </div>
</ng-template>