
<div class="d-flex justify-content-between mb-4 align-items-center" data-automation-id="add-filter-dialog-header">
    <div class="w-48px" ></div>
    <h1 class="m-0" mat-dialog-title data-automation-id="add-filter-dialog-title">{{ addItem ? 'Add new filter' : 'Edit filter'}}</h1>

    <button mat-icon-button class="close-button dialog-close-button-fix" data-automation-id="add-filter-close-button" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="" data-automation-id="add-filter-dialog-content">
    <div class="w-100" *ngIf="addItem" data-automation-id="add-filter-form-container">
        <div class="col-12 mb-2" data-automation-id="filter-name-field-container">
            <mat-form-field class="custom-form-field w-100" appearance="outline" data-automation-id="filter-name-form-field">
                <mat-label data-automation-id="filter-name-label">Filter Name</mat-label>
                <input #filterFocus matInput type="text" [(ngModel)]="filterName" required maxlength="50" value="" data-automation-id="filter-name-input">
            </mat-form-field>
            <div class="error" *ngIf="submit && !filterName" data-automation-id="filter-name-error">This field is required.</div>
        </div>
        <div class="d-flex justify-content-end pt-3" data-automation-id="add-filter-actions">
        <button [disabled]="!filterName" mat-flat-button color="primary" class="btn-lg flex-grow-1" data-automation-id="add-filter-submit-button" (click)="onNoClick(true, 'createNew')"  cdkFocusInitial>Submit</button>
    </div>
    </div>

</div>
