table {

  th,
  td {
    white-space: nowrap;
    padding-right: 12px;
  }
}

btn-regular {
  min-height: 48px;
}

.min-width-218{
  min-width: 218px;
}

  h6.autocomplete-table{
    span{
      &:nth-child(1){
        width: 120px;
        white-space: nowrap;
      }
      &:nth-child(2){
        width: 140px;
        white-space: nowrap;
      }
      &:nth-child(3){
        width: 150px;
        white-space: nowrap;
      }
    }
  }
  .autocomplete-table.loc_option{
    span{
      &:nth-child(1){
        width: 120px;
        white-space: nowrap;
      }
      &:nth-child(2){
        width: 140px;
        white-space: nowrap;
      }
      &:nth-child(3){
        width: 150px;
        white-space: nowrap;
      }
    }
  }
  .autocomplete-table-content{
    line-height: 24px; height:auto; min-height: auto!important; padding: 12px 16px; overflow: unset;
  }

  .btn-flex{
    flex: 1;
}
.overflow-x-auto{
overflow-x: auto;
}
.h-400{
  height: 400px
}
.table-header-clr{
  background-color: var(--clr-table-header);
}
.h-350{
  height:350px;
}