<div class="d-flex justify-content-between mb-4 align-items-center">
  <div class="w-48px"></div>
  <h1 class="m-0" mat-dialog-title data-automation-id="impref-induction-filter-dialog-title">Pick Tote Induction Filters</h1>

  <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true" data-automation-id="impref-induction-filter-close-button">
    <mat-icon class="close-icon">close</mat-icon>
  </button>
</div>
<div class="d-flex justify-content-end">
  <button mat-flat-button color="primary" class="add-icon-button mb-2 flex-grow-1" (click)="addFilter()" data-automation-id="impref-induction-filter-add-button">
    <span class="material-symbols-outlined" matTooltip="Add new" matTooltipPosition="above">
      add
    </span>
  </button>
</div>
<div class="card br-14 table-responsive custom-table table-fix borderless px-0 mb-3">
  <ng-scrollbar track="all" class="mat-table-scrollbar h-60v">
    <table mat-table [dataSource]="filters" class="w-100">
      <!-- Alias Column -->
      <ng-container matColumnDef="alias">
        <th mat-header-cell *matHeaderCellDef data-automation-id="alias-header">Alias</th>
        <td mat-cell *matCellDef="let filter; let i = index">
          <mat-form-field class="custom-form-field w-100 pe-2" appearance="outline">
            <input matInput type="text" maxlength="50" [(ngModel)]="filter.alias" [attr.data-automation-id]="'alias-input-' + i + '-' + filter.alias">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Field Column -->
      <ng-container matColumnDef="field">
        <th mat-header-cell *matHeaderCellDef data-automation-id="field-header">Field</th>
        <td mat-cell *matCellDef="let filter; let i = index">
          <mat-form-field class="action-dropdown custom-form-field w-100 pe-2" appearance="outline">
            <mat-select class="employees-action" [(ngModel)]="filter.ppField"
              (selectionChange)="selectionChange($event.value)"  [attr.data-automation-id]="'field-select-' + (filter.ppField || 'none')">
              <mat-option value="" data-automation-id="field-option-empty"></mat-option>
              <mat-option *ngFor="let item of TRNSC_DATA | sort:'colDef':false" [value]="item.colDef" [attr.data-automation-id]="'field-option-' + item.colDef">
                {{item.colDef}}
              </mat-option>
            </mat-select>
            <span class="material-symbols-outlined icon-expand-more">expand_more</span>
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Starting Characters Column -->
      <ng-container matColumnDef="startingCharacters">
        <th mat-header-cell *matHeaderCellDef data-automation-id="starting-characters-header">Starting Characters</th>
        <td mat-cell *matCellDef="let filter; let i = index">
          <mat-form-field class="custom-form-field w-100 pe-2" appearance="outline">
            <input matInput type="number" min="0" [(ngModel)]="filter.startCharacter" placeholder="0 or more" data-automation-id="starting-characters-input">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Ending Characters Column -->
      <ng-container matColumnDef="endingCharacters">
        <th mat-header-cell *matHeaderCellDef data-automation-id="ending-characters-header">Ending Characters</th>
        <td mat-cell *matCellDef="let filter; let i = index">
          <mat-form-field class="custom-form-field w-100 pe-2" appearance="outline">
            <input matInput type="number" min="0" [(ngModel)]="filter.endCharacter" placeholder="0 or more" [disabled]="filter.startCharacter === 0" data-automation-id="ending-characters-input">
          </mat-form-field>
        </td>
      </ng-container>

      <!-- Actions Column -->
      <ng-container matColumnDef="actions" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="text-center" data-automation-id="actions-header"></th>
        <td mat-cell *matCellDef="let filter; let i = index" class="text-center">
          <div class="d-flex justify-content-center gap-2">
            <button mat-flat-button color="primary" class="xsm-icon-button" (click)="saveFilter(filter)" [disabled]="!isFilterModified(filter)" [attr.data-automation-id]="'save-filter-button-' + i">
              <mat-icon class="material-symbols-outlined">save</mat-icon>
            </button>
            <button mat-flat-button color="warn" class="xsm-icon-button" (click)="removeFilter(filter)" [attr.data-automation-id]="'remove-filter-button-' + i">
              <mat-icon class="material-symbols-outlined">close</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <!-- Header and Row Definitions -->
      <tr mat-header-row
        *matHeaderRowDef="['alias', 'field', 'startingCharacters', 'endingCharacters', 'actions']; sticky: true"></tr>
      <tr mat-row
        *matRowDef="let filter; columns: ['alias', 'field', 'startingCharacters', 'endingCharacters', 'actions'];"></tr>
    </table>
  </ng-scrollbar>
</div>

<div class="container-fluid">
  <div class="row g-2">
    <!-- Remove All Filters Button -->
    <div class="col-4">
      <button mat-stroked-button color="primary"
        class=" btn-lg w-100 mat-primary"
        (click)="removeAllFilters()" data-automation-id="remove-all-filters-button">
Remove All Filters
 
      </button>
    </div>

    <!-- Save Button -->
    <div class="col">
      <button mat-flat-button color="primary"
        class="mat-focus-indicator btn-lg mx-2 w-100 mat-flat-button mat-button-base mat-primary" (click)="onSubmit()" data-automation-id="impref-induction-filter-done-button">
        <span class="mat-button-wrapper">Done</span>
        <span class="mat-button-focus-overlay"></span>
      </button>
    </div>
  </div>
</div>