table {

  th,
  td {
    white-space: nowrap;
    padding-right: 12px;
    border: 0;
  }
}
.w-48px {
  width: 48px;
}
.w-140 {
  width: 140px;
}.height-315 {
  height: 315px;
}.table-order-td {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 20ch;
  white-space: nowrap;
}.table-shiping-tr {
  background-color: var(--clr-table-header);
}.table-order-th {
  border: 0;
  height: 66px;
  padding-left: 65px;
}.table-td-div {
  border: 0;
  padding-left: 24px;
  background: var(--clr-pure-white);
}