
<div class="d-flex justify-content-between align-items-center mb-3">
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title data-automation-id="create-orders-title">Create Orders</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true" data-automation-id="close-button">
        <mat-icon class="close-icon" data-automation-id="close-dialog-icon">close</mat-icon>
    </button>
</div>
<mat-dialog-content id="scrr">
<div class="bg-light-blue bg-50 px-4 py-4 br-14 mb-3">
    <div class="justify-content-between">
        <div class="row">
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-xl-0 mb-2 label-white" appearance="outline">
                    <mat-label data-automation-id="order-number-label">Order Number</mat-label>
                    <input #ordfocus matInput value="value" type="text" [(ngModel)]="createOrdersDTPayload.orderNumber" 
                    (keyup)="searchItem(true)" (keyup.enter)="searchItem(true,true)" [matAutocomplete]="searchauto" maxlength="50" 
                    (focus)="focusinmethod()" (focusout)="focusoutmethod()" data-automation-id="order-number-input">
                    <button matSuffix *ngIf="createOrdersDTPayload.orderNumber" class="clear-btn"  (click)="createOrdersDTPayload.orderNumber = ''" data-automation-id="clear-order-number-button"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                    <mat-autocomplete class="card custom-scroll" #searchauto="matAutocomplete"
                        (optionSelected)="onSearchSelect($event)">
                        <h6 class="card-header matAutoCompHeader " data-automation-id="order-number-autocomplete-header">
                            <span class="w-140" data-automation-id="order-number-autocomplete-label">Order Number</span>
                        </h6>
                        <mat-option *ngFor="let option of orderNumberSearchList; let i = index" [value]="option" class="matAutoCompTableContent" [attr.data-automation-id]="'order-number-autocomplete-option-' + i + '-' + option">
                            <div class="loc_option">
                                <span class="searchColumn w-140"  >{{option}}</span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <button type="submit" mat-stroked-button class="btn-regular w-100 mb-xl-0 mb-md-2 btn-bg-white" color="primary" (click)="goToOrderStatus()" data-automation-id="order-status-button">Order Status</button>
            </div>
            <div class="col-xl-3">
                <button type="submit" mat-flat-button class="btn-regular w-100 mb-2 mb-xl-0" color="primary" (click)="openOmAddRecord()" data-automation-id="add-new-order-button">Add New Order</button>
            </div>
            <div class="col-xl-3">
                <button type="submit" mat-stroked-button class="btn-regular w-100 mb-xl-0 mb-md-2 btn-bg-white" color="primary" (click)="openOmUserFieldData()" data-automation-id="default-user-fields-button">Default User Fields</button>
            </div>
        </div>
    </div>
</div>

<div class="card br-14 p-4">
    <div class="row mb-3">
        <div class="col-xl-6">
            <div class="d-xl-flex d-block gap-12 align-items-center">

                <mat-form-field class="br-8 w-100 mb-3 mb-xl-0" appearance="outline">
                    <mat-label data-automation-id="select-filter-label">Select</mat-label>
                    <mat-select class="employees-action" [(ngModel)]="selectedFilterColumn" [attr.data-automation-id]="'select-filter-select-' + (selectedFilterColumn || '')">
                        <mat-option *ngFor="let option of sortedFilterColumnNames" [value]="option" [attr.data-automation-id]="'select-filter-option-'  + option">{{option}}</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more" data-automation-id="select-filter-expand-icon">
                        expand_more
                    </span>
                </mat-form-field>
                <span class="v-br d-none d-xl-block">-</span>
       
       
        
            <div class="d-xl-flex d-block g-mini-search-box w-100 mb-3 mb-xl-0">

                <mat-form-field class="w-100 br-8" appearance="fill">
                    <span class="material-symbols-outlined icon-search" data-automation-id="search-filter-icon">
                        Search
                    </span>
                    <input type="text" placeholder="Search" aria-label="Number" matInput 
                    [disabled]="selectedFilterColumn == ''" [(ngModel)]="selectedFilterString"
                    (keyup)="autocompleteSearchColumn()" data-automation-id="search-filter-input"
                    >
                    <button matSuffix *ngIf="selectedFilterString" class="clear-btn"  (click)="selectedFilterString = ''" data-automation-id="clear-button"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                </mat-form-field>
            </div>
        </div>
    </div>
                <div class="col-xl-3 offset-xl-3">
                    <div class="d-xl-flex d-block justify-content-end">
                        <mat-form-field class="action-dropdown d-block custom-form-field-bg-white" appearance="outline">
                            <mat-label data-automation-id="actions-label">Actions</mat-label>
                            <mat-select #matRef class="employees-action" placeholder="Actions" (selectionChange)="actionDialog($event)" data-automation-id="actions-select">
                                <mat-option value="add_new_transaction" [disabled]="!tableData.filteredData || tableData.filteredData.length == 0" (click)="openOmAddTransaction()" data-automation-id="actions-option-add-transaction">Add Transaction</mat-option>
                                <mat-option value="post_order" (click)="releaseOrders()" data-automation-id="actions-option-release-orders">Release Orders</mat-option>
                                <mat-option value="delete_order" (click)="deleteViewed()" data-automation-id="actions-option-delete-viewed">Delete Viewed</mat-option>
                                <mat-option value="add_new_transaction" [disabled]="!tableData.filteredData || tableData.filteredData.length == 0" (click)="printViewed()" data-automation-id="actions-option-print-viewed">Print Viewed</mat-option>
                                <mat-option value="add_new_transaction" (click)="selectColumnSequence()" data-automation-id="actions-option-set-column-sequence">Set Column Sequence</mat-option>
                            </mat-select>
                            <span class="material-symbols-outlined icon-expand-more" data-automation-id="actions-expand-icon">
                                expand_more
                            </span>
                        </mat-form-field>
                    </div>
                </div>
   </div>        
    

   <div class="card br-14 table-responsive borderless" *ngIf="displayedColumns?.length">
    <ng-scrollbar class="mat-table-scrollbar height-300"  track="all">
      
          <table class="w-100 table-borderless" mat-table [dataSource]="tableData" matSort #sort1 (matSortChange)="announceSortChange($event)">

            <ng-container matColumnDef="transactionType">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-transaction-type'">Transaction Type</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.transactionType" 
                class="table-order-td" 
                [matTooltipDisabled]="element.transactionType && element.transactionType.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.transactionType, 'Transaction Type')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-transaction-type-' + i"
                >{{element.transactionType}}</td>
            </ng-container>
            
            <ng-container matColumnDef="orderNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-order-number'">Order Number</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.orderNumber" class="table-order-td" 
                [matTooltipDisabled]="element.orderNumber && element.orderNumber.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.orderNumber, 'Order Number')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-order-number-' + i"
                >{{element.orderNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-priority'">Priority</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.priority" class="table-order-td" 
                [matTooltipDisabled]="element.priority && element.priority.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.priority, 'Priority')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-priority-' + i"
                >{{element.priority}}</td>
            </ng-container>

            <ng-container matColumnDef="requiredDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-required-date'">Required Date</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.requiredDate" class="table-order-td" 
                [matTooltipDisabled]="element.requiredDate && element.requiredDate.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.requiredDate, 'Required Date')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-required-date-' + i"
                >{{element.requiredDate}}</td>
            </ng-container>

            <ng-container matColumnDef="userField1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField1" [fallbackPlaceHolder]="placeholders.userField1Fallback" [attr.data-automation-id]="'table-header-user-field1'"> {{UserField1}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField1" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField1 && element.userField1.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField1, 'User Field1')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-user-field1-' + i"
                >{{element.userField1}}</td>
            </ng-container>

            <ng-container matColumnDef="userField2">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField2" [fallbackPlaceHolder]="placeholders.userField2Fallback" [attr.data-automation-id]="'table-header-user-field2'"> {{UserField2}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField2" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField2 && element.userField2.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField2, 'User Field2')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-user-field2-' + i"
                >{{element.userField2}}</td>
            </ng-container>

            <ng-container matColumnDef="userField3">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField3" [fallbackPlaceHolder]="placeholders.userField3Fallback" [attr.data-automation-id]="'table-header-user-field3'"> {{UserField3}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField3" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField3 && element.userField3.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField3, 'User Field3')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-user-field3-' + i"
                >{{element.userField3}}</td>
            </ng-container>

            <ng-container matColumnDef="userField4">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField4" [fallbackPlaceHolder]="placeholders.userField4Fallback" [attr.data-automation-id]="'table-header-user-field4'"> {{UserField4}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField4" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField4 && element.userField4.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField4, 'User Field4')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-user-field4-' + i"
                >{{element.userField4}}</td>
            </ng-container>

            <ng-container matColumnDef="userField5">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField5" [fallbackPlaceHolder]="placeholders.userField5Fallback" [attr.data-automation-id]="'table-header-user-field5'"> {{UserField5}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField5" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField5 && element.userField5.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField5, 'User Field5')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-user-field5-' + i"
                >{{element.userField5}}</td>
            </ng-container>

            <ng-container matColumnDef="userField6">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField6" [fallbackPlaceHolder]="placeholders.userField6Fallback" [attr.data-automation-id]="'table-header-user-field6'"> {{UserField6}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField6" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField6 && element.userField6.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField6, 'User Field6')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-user-field6-' + i"
                >{{element.userField6}}</td>
            </ng-container>

            <ng-container matColumnDef="userField7">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField7" [fallbackPlaceHolder]="placeholders.userField7Fallback" [attr.data-automation-id]="'table-header-user-field7'"> {{UserField7}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField7" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField7 && element.userField7.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField7, 'User Field7')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-user-field7-' + i"
                >{{element.userField7}}</td>
            </ng-container>

            <ng-container matColumnDef="userField8">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField8" [fallbackPlaceHolder]="placeholders.userField8Fallback" [attr.data-automation-id]="'table-header-user-field8'"> {{UserField8}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField8" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField8 && element.userField8.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField8, 'User Field8')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-user-field8-' + i"
                >{{element.userField8}}</td>
            </ng-container>

            <ng-container matColumnDef="userField9">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField9" [fallbackPlaceHolder]="placeholders.userField9Fallback" [attr.data-automation-id]="'table-header-user-field9'"> {{UserField9}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField9" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField9 && element.userField9.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField9, 'User Field9')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-user-field9-' + i"
                >{{element.userField9}}</td>
            </ng-container>

            <ng-container matColumnDef="userField10">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField10" [fallbackPlaceHolder]="placeholders.userField10Fallback" [attr.data-automation-id]="'table-header-user-field10'"> {{UserField10}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.userField10" 
                class="table-order-td" 
                [matTooltipDisabled]="element.userField10 && element.userField10.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.userField10, 'User Field10')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-user-field10-' + i"
                >{{element.userField10}}</td>
            </ng-container>

            <ng-container matColumnDef="itemNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-item-number'">{{ItemNumber}}</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.itemNumber" 
                class="table-order-td" 
                [matTooltipDisabled]="element.itemNumber && element.itemNumber.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.itemNumber, 'Item Number')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-item-number-' + i"
                >{{element.itemNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-description'">Description</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.description" 
                class="table-order-td" 
                [matTooltipDisabled]="element.description && element.description.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.description, 'Description')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-description-' + i"
                >{{element.description}}</td>
            </ng-container>

            <ng-container matColumnDef="lineNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-line-number'">Line Number</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.lineNumber" 
                class="table-order-td" 
                [matTooltipDisabled]="element.lineNumber && element.lineNumber.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.lineNumber, 'Line Number')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-line-number-' + i"
                >{{element.lineNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="transactionQuantity">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-transaction-quantity'">Transaction Quantity</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.transactionQuantity" 
                class="table-order-td" 
                [matTooltipDisabled]="element.transactionQuantity && element.transactionQuantity.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.transactionQuantity, 'Transaction Quantity')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-transaction-quantity-' + i"
                >{{element.transactionQuantity}}</td>
            </ng-container>

            <ng-container matColumnDef="warehouse">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-warehouse'">Warehouse</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.warehouse" 
                class="table-order-td" 
                [matTooltipDisabled]="element.warehouse && element.warehouse.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.warehouse, 'Warehouse')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-warehouse-' + i"
                >{{element.warehouse}}</td>
            </ng-container>

            <ng-container matColumnDef="lineSequence">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-line-sequence'">Line Sequence</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.lineSequence" 
                class="table-order-td" 
                [matTooltipDisabled]="element.lineSequence && element.lineSequence.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.lineSequence, 'Line Sequence')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-line-sequence-' + i"
                >{{element.lineSequence}}</td>
            </ng-container>

            <ng-container matColumnDef="inProcess">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-in-process'">In Process</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.inProcess" 
                class="table-order-td" 
                [matTooltipDisabled]="element.inProcess && element.inProcess.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.inProcess, 'In Process')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-in-process-' + i"
                >{{element.inProcess}}</td>
            </ng-container>

            <ng-container matColumnDef="processingBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-processing-by'">Processing By</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.processingBy" 
                class="table-order-td" 
                [matTooltipDisabled]="element.processingBy && element.processingBy.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.processingBy, 'Processing By')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-processing-by-' + i"
                >{{element.processingBy}}</td>
            </ng-container>

            <ng-container matColumnDef="unitOfMeasure">
                <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.unitOfMeasure" [fallbackPlaceHolder]="placeholders.unitOfMeasureFallback" [attr.data-automation-id]="'table-header-unit-of-measure'"> {{UnitOfMeasure}} </th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.unitOfMeasure" 
                class="table-order-td" 
                [matTooltipDisabled]="element.unitOfMeasure && element.unitOfMeasure.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.unitOfMeasure, 'Unit of Measure')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-unit-of-measure-' + i"
                >{{element.unitOfMeasure}}</td>
            </ng-container>

            <ng-container matColumnDef="importBy">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-import-by'">Import By</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.importBy" 
                class="table-order-td" 
                [matTooltipDisabled]="element.importBy && element.importBy.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.importBy, 'Import By')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-import-by-' + i"
                >{{element.importBy}}</td>
            </ng-container>

            <ng-container matColumnDef="importDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-import-date'">Import Date</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.importDate" 
                class="table-order-td" 
                [matTooltipDisabled]="element.importDate && element.importDate.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.importDate, 'Import Date')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-import-date-' + i"
                >{{element.importDate}}</td>
            </ng-container>

            <ng-container matColumnDef="importFilename">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-import-filename'">Import Filename</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.importFilename" 
                class="table-order-td" 
                [matTooltipDisabled]="element.importFilename && element.importFilename.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.importFilename, 'Import Filename')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-import-filename-' + i"
                >{{element.importFilename}}</td>
            </ng-container>

            <ng-container matColumnDef="expirationDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-expiration-date'">Expiration Date</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.expirationDate" 
                class="table-order-td" 
                [matTooltipDisabled]="element.expirationDate && element.expirationDate.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.expirationDate, 'Expiration Date')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-expiration-date-' + i"
                >{{element.expirationDate}}</td>
            </ng-container>

            <ng-container matColumnDef="lotNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-lot-number'">Lot Number</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.lotNumber" 
                class="table-order-td" 
                [matTooltipDisabled]="element.lotNumber && element.lotNumber.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.lotNumber, 'Lot Number')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-lot-number-' + i"
                >{{element.lotNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="serialNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-serial-number'">Serial Number</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.serialNumber" 
                class="table-order-td" 
                [matTooltipDisabled]="element.serialNumber && element.serialNumber.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.serialNumber, 'Serial Number')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-serial-number-' + i"
                >{{element.serialNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-notes'">Notes</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.notes" 
                class="table-order-td" 
                [matTooltipDisabled]="element.notes && element.notes.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.notes, 'Notes')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-notes-' + i"
                >{{element.notes}}</td>
            </ng-container>

            <ng-container matColumnDef="revision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-revision'">Revision</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.revision" 
                class="table-order-td" 
                [matTooltipDisabled]="element.revision && element.revision.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.revision, 'Revision')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-revision-' + i"
                >{{element.revision}}</td>
            </ng-container>

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-id'">ID</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.id" 
                class="table-order-td" 
                [matTooltipDisabled]="element.id && element.id.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.id, 'ID')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-id-' + i"
                >{{element.id}}</td>
            </ng-container>

            <ng-container matColumnDef="hostTransactionID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-host-transaction-id'">Host Transaction ID</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.hostTransactionID" 
                class="table-order-td" 
                [matTooltipDisabled]="element.hostTransactionID && element.hostTransactionID.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.hostTransactionID, 'Host Transaction ID')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-host-transaction-id-' + i"
                >{{element.hostTransactionID}}</td>
            </ng-container>

            <ng-container matColumnDef="emergency">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-emergency'">Emergency</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.emergency" 
                class="table-order-td" 
                [matTooltipDisabled]="element.emergency && element.emergency.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.emergency, 'Emergency')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-emergency-' + i"
                >{{element.emergency}}</td>
            </ng-container>

            <ng-container matColumnDef="label">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-label'">Label</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.label" 
                class="table-order-td" 
                [matTooltipDisabled]="element.label && element.label.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.label, 'Label')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-label-' + i"
                >{{element.label}}</td>
            </ng-container>

            <ng-container matColumnDef="batchPickID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-batch-pick-id'">Batch Pick ID</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.batchPickID" 
                class="table-order-td" 
                [matTooltipDisabled]="element.batchPickID && element.batchPickID.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.batchPickID, 'Batch Pick ID')"
                 [class.selected]="element.id == selectedTransaction.id"  [attr.data-automation-id]="'table-data-batch-pick-id-' + i"
                >{{element.batchPickID}}</td>
            </ng-container>

            <ng-container matColumnDef="toteID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-tote-id'">Tote ID</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.toteID" 
                class="table-order-td" 
                [matTooltipDisabled]="element.toteID && element.toteID.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.toteID, 'Tote ID')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-tote-id-' + i"
                >{{element.toteID}}</td>
            </ng-container>

            <ng-container matColumnDef="cell">
                <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-cell'">Cell</th>
                <td mat-cell *matCellDef="let element; let i = index"
                #tooltip="matTooltip" matTooltipPosition="above" [matTooltip]="element.cell" 
                class="table-order-td" 
                [matTooltipDisabled]="element.cell && element.cell.length>=20?false:true"
                (contextmenu)="onContextMenu($event, element.cell, 'Cell')"
                 [class.selected]="element.id == selectedTransaction.id" [attr.data-automation-id]="'table-data-cell-' + i"
                >{{element.cell}}</td>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef class="table-order-th ">
                </th>
                <td mat-cell *matCellDef="let element" class="table-td-div"  >
                  <div class="d-flex justify-content-end">
                  <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" [ngClass]="{'active-btn':element.selected}" class="circle-icon-o active-btn" appearance="outline">
                    <mat-icon>more_horiz</mat-icon>
                  </button>
                  <mat-menu #appMenu="matMenu">
                    <button mat-menu-item (click)="openOmEditTransaction(element)">Edit Transaction</button>
                    <button mat-menu-item (click)="openOmAddTransaction(element)">Add Transaction</button>
                  </mat-menu>
                </div>
                </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow (contextmenu)="onContextMenu($event, undefined, '')">
                <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                  No data available in table.
                </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;" class="table-shiping-tr"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)"></tr>
        </table>
    </ng-scrollbar>
</div>
<div class="d-flex justify-content-between bg-white">
    <mat-paginator class="mt-2" 
    #paginator1
    pageSize="10" 
    [hidePageSize]="true"
    showFirstLastButtons data-automation-id="paginator"
    > </mat-paginator>
</div>

      </div>
    </mat-dialog-content>

<app-table-context-menu-component *ngIf="isActiveTrigger" (optionSelected)="optionSelected($event)" [componentName]="'omCreateOrd'"></app-table-context-menu-component>