<!-- new -->
<mat-card class="mat-elevation-z g-card mb-4 h-100">
    <mat-card-content>
        <div class="row mb-3">
            <div class="d-flex gap-12 mb-3 justify-content-end">
                <button mat-flat-button color="primary" class="add-icon-button" [disabled]="isAddRow"
                    (click)="addCatRow($event)">
                    <span class="material-symbols-outlined" matTooltip="Add Kit Item" matTooltipPosition="above">
                        add
                    </span>
                </button>
            </div>
        </div>
        <div class="card br-14 borderless px-0" style="overflow-x: auto;">
            <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 390px">
                <table class="w-100 table-borderless" mat-table #matSort3="matSort" matSort [dataSource]="scanCodesList">
                    <ng-container matColumnDef="ScanCode">
                        <th mat-header-cell *matHeaderCellDef> Scan Code </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline">
                                <input (input)="scanCodesList[i].isDisabled=false;handleInputChangeInput($event)"
                                    (keydown.shift.enter)="$event.preventDefault()" matInput type="text" #scanCode
                                    name="{{element.scanCode}}" [(ngModel)]="element.scanCode" maxlength="50" required>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="ScanType">
                        <th mat-header-cell *matHeaderCellDef> Scan Type </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline"
                                    (click)="openScanTypePopup(element)">
                                    <span matSuffix>
                                        <mat-icon
                                            style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                    </span>
                                    <input (input)="scanCodesList[i].isDisabled=false" readonly
                                        class="__grab_cursor readonly" matInput type="text" name="{{element.scanType}}"
                                        [(ngModel)]="element.scanType"  maxlength="50" #scanType />
                                </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="ScanRange">
                        <th mat-header-cell *matHeaderCellDef> Scan Range </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline">
                                <mat-select [(ngModel)]="element.scanRange"  #scanRange  
                                    (selectionChange)="changeScanRange(element)">
                                    <mat-option *ngFor="let val of scanRangeList" [value]="val">{{val}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="StartPosition">
                        <th mat-header-cell *matHeaderCellDef> Start Position </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline">
                                <input (keypress)="numberOnly($event)"
                                    (input)="scanCodesList[i].isDisabled=false;handleInputChange($event)"
                                    (keydown.shift.enter)="$event.preventDefault()" matInput type="number"
                                    name="{{element.startPosition}}" [(ngModel)]="element.startPosition" #startPosition
                                    pattern="^[0-9]*$" maxlength="9">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="CodeLength">
                        <th mat-header-cell *matHeaderCellDef> Code Length </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline">
                                <input (keypress)="numberOnly($event)"
                                    (input)="scanCodesList[i].isDisabled=false;handleInputChange($event)"
                                    (keydown.shift.enter)="$event.preventDefault()" matInput type="number"
                                    name="{{element.codeLength}}" 
                                    [(ngModel)]="element.codeLength" #codeLength
                                    
                                    pattern="^[0-9]*$" maxlength="9">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Actions" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="ps-2"> Actions </th>
                        <td mat-cell *matCellDef="let element; let i = index" class="ps-2">
                            <div class="d-flex gap-12 align-items-center">
                                <button mat-flat-button color="primary" class="xsm-icon-button"
                                    [disabled]="element.isDisabled"
                                    (click)="saveCategory(element , element.scanCode, element.startPosition.toString(), element.codeLength.toString(), element.scanRange, element.scanType,i)">
                                    <mat-icon class="material-symbols-outlined">save</mat-icon>
                                </button>
                                <button mat-flat-button color="warn" class="xsm-icon-button"
                                    (click)="dltCategory(element)">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                            No data available in table.
                        </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        style=" background-color: #F9F9FF;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="border: 0px;"></tr>
                </table>
            </ng-scrollbar>
        </div>
        <div class="d-flex justify-content-between bg-white">
        </div>
    </mat-card-content>
</mat-card>



<!-- old -->

<!-- <div class="py-3 br-14">
    <div class="row">
        <div class="col-6 offset-6">
            <div class="d-flex gap-12 mb-3 justify-content-end">
                <button mat-flat-button color="primary" class="add-icon-button" [disabled]="isAddRow"
                    (click)="addCatRow($event)">
                    <span class="material-symbols-outlined">
                        add
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="card w-100">
        <div class="card-header">
            <div class="row">
                <div class="col-2">Scan Code</div>
                <div class="col-2">Scan Type</div>
                <div class="col-2">Scan Range</div>
                <div class="col-2">Start Position</div>
                <div class="col-2">Code Length</div>
                <div class="col-2">Actions</div>
            </div>
        </div>
        <ng-scrollbar style="height: 400px;">
            <div class="card-body">
                <mat-radio-group aria-label="Select an option" color="primary" class="w-100">
                    <div *ngFor="let item of scanCodesList; let i = index" class="row align-items-center">
                        <div class="col-2">
                            <mat-form-field class="custom-form-field w-100" appearance="outline">
                                <input (input)="scanCodesList[i].isDisabled=false;handleInputChangeInput($event)"
                                    (keydown.shift.enter)="$event.preventDefault()" matInput type="text" #scanCode
                                    name="{{item.scanCode}}" [(ngModel)]="item.scanCode" maxlength="50" required>
                            </mat-form-field>
                        </div>
                        <div class="col-2">
                            <div class="d-flex gap-12 align-items-center">
                                <mat-form-field class="custom-form-field w-100" appearance="outline"
                                    (click)="openScanTypePopup(item)">
                                    <span matSuffix>
                                        <mat-icon
                                            style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                    </span>
                                    <input (input)="scanCodesList[i].isDisabled=false" readonly
                                        class="__grab_cursor readonly" matInput type="text" name="{{item.scanType}}"
                                        value="{{item.scanType}}" maxlength="50" #scanType />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex gap-12 align-items-center">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <mat-select value="{{item.scanRange}}" #scanRange [(ngModel)]="item.scanRange"
                                        (selectionChange)="changeScanRange(item)">
                                        <mat-option *ngFor="let val of scanRangeList" [value]="val">{{val}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex gap-12 align-items-center">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input (keypress)="numberOnly($event)"
                                        (input)="scanCodesList[i].isDisabled=false;handleInputChange($event)"
                                        (keydown.shift.enter)="$event.preventDefault()" matInput type="number"
                                        name="{{item.startPosition}}" value="{{item.startPosition}}" #startPosition
                                        pattern="^[0-9]*$" maxlength="9">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex gap-12 align-items-center justify-content-between">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input (keypress)="numberOnly($event)"
                                        (input)="scanCodesList[i].isDisabled=false;handleInputChange($event)"
                                        (keydown.shift.enter)="$event.preventDefault()" matInput type="number"
                                        name="{{item.codeLength}}" value="{{item.codeLength}}" #codeLength
                                        pattern="^[0-9]*$" maxlength="9">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="d-flex">
                                <div class="d-flex gap-12">
                                    <button mat-flat-button color="primary" class="xsm-icon-button"
                                        [disabled]="item.isDisabled"
                                        (click)="saveCategory(item , item.scanCode, startPosition.value, codeLength.value, scanRange.value, scanType.value)">
                                        <mat-icon class="material-symbols-outlined">save</mat-icon>
                                    </button>
                                    <button mat-flat-button color="warn" class="xsm-icon-button"
                                        (click)="dltCategory(item)">
                                        <mat-icon class="material-symbols-outlined">close</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
        </ng-scrollbar>
    </div>
</div> -->