.overflow
{
    overflow-x: auto !important;
}
.height-390
{
    height: 390px !important;
}
.padding-15
{
    padding-right: 15px !important;
}
.transform{
    color:var(--clr-tertiary-900) !important;
    transform: rotate(45deg) !important;
}
.backColor{
    background-color: var(--clr-table-header) !important;
}
.zeroBorder{
    border: 0px !important
}