.mat-table {
    th {
      white-space: nowrap;
      padding-right: 12px;
    }
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 12px;
    }
  }

  .mat-table-scrollbar{
    height: 350px;
  }

  .action-col{
    border: 0;
      height: 58px;
      padding-left: 65px;
      border-bottom: 1px solid var(--clr-tertiary-50);
      width: 80px;
  }