.mat-table {
    th {
      white-space: nowrap;
      padding-right: 12px;
    }
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 12px;
    }
  }