<div class="my-3">
  <app-select-order-component #SelectOrderComponentComponent [isPost]="isPost" [orderNumber]="orderNumber" [transType]="transType"
  (orderTableData)="getOrderTableData($event)" 
  (clear)="clear()"
  (transTypeEmitter)="onTransTypeChange($event)"
  (orderNumberEmitter)="onOrderNoChange($event)"
  (actionDialog)="actionDialog($event.param1,$event.param2)"
  (autocompleteSearchColumn)="selectedOrder = $event;orderNumber = $event;autocompleteSearchColumn()"
  [searchAutocompleteList]="searchAutocompleteList"
  (getOrderTableData)="getOrderTableData($event)"
  (searchData)="searchData()"
  ></app-select-order-component>
  <mat-card class="mat-elevation-z g-card mb-4">
    <mat-card-content>
      <div class="d-flex align-items-center gap-12 mb-3">
        <app-icon-heading-component heading="Transaction" icon="dvr" data-automation-id="heading-transaction">
        </app-icon-heading-component>
      </div>
      <div class="row">
        <div class="col-xl-3">
          <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline" data-automation-id="form-field-transaction-type">
            <mat-label data-automation-id="label-transaction-type">Transaction Type</mat-label>
            <input type="text" placeholder="Search" disabled [value]="transType" matInput maxlength="255" [attr.data-automation-id]="'input-transaction-type-' + transType">
          </mat-form-field>
          
        </div>
        <div class="col-xl-3">
          <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline" data-automation-id="form-field-displayed-order">
            <mat-label data-automation-id="label-displayed-order">Displayed Order</mat-label>
            <input type="text" placeholder="Search" disabled  [value]="selectedOrder"  matInput maxlength="255" [attr.data-automation-id]="'input-displayed-order-' + selectedOrder">
          </mat-form-field>
          
        </div>
        <div class="col-xl-3">
          <mat-form-field class="custom-form-field w-100 mb-3"  appearance="outline" data-automation-id="form-field-tote-id-for-order">
            <mat-label data-automation-id="label-tote-id-for-order">Tote ID For Order</mat-label>
            <input type="text" placeholder="Search" [(ngModel)]="toteID" matInput maxlength="255" [attr.data-automation-id]="'input-tote-id-for-order-' + toteID">
            <button matSuffix *ngIf="toteID" class="clear-btn"  (click)=" toteID = ''" data-automation-id="clear-tote-id-for-order-button"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
          </mat-form-field> 
        </div>
      </div>
      <div class="card br-14 table-responsive borderless px-0 mb-3">
        <ng-scrollbar track="all" class="mat-table-scrollbar">
          <table mat-table [dataSource]="generateOrderDataSource" class="w-100 table1" matSort (matSortChange)="sortChange($event)">



            <ng-container matColumnDef="ItemNumber">
              <th mat-header-cell mat-sort-header *matHeaderCellDef replacePlaceholder [replacePlaceHolder]="placeholders.itemNumber" [fallbackPlaceHolder]="placeholders.itemNumberFallback" [attr.data-automation-id]="'table-header-item-number'">{{itemNumber}}</th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-item-number-' + i ">{{seletedRecord?.itemNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="TransactionQuantity">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-transaction-quantity'"> Quantity </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-transaction-quantity-' + i ">{{seletedRecord?.transactionQuantity}}</td>
            </ng-container>

            <ng-container matColumnDef="LineNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-line-number'"> Line Number </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-line-number-' + i ">{{seletedRecord?.lineNumber}}</td>
            </ng-container>

            <ng-container matColumnDef="LineSequence">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-line-sequence'"> Line Sequence </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-line-sequence-' + i">{{seletedRecord?.lineSequence}}</td>
            </ng-container>

            <ng-container matColumnDef="Priority">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-priority'"> Priority </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-priority-' + i ">{{seletedRecord?.priority}}</td>
            </ng-container>

            <ng-container matColumnDef="RequiredDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-required-date'"> Required Date </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index"  tooltip="matTooltip" [matTooltip]="seletedRecord?.requiredDate"   matTooltipPosition="above" [matTooltipDisabled]="seletedRecord?.requiredDate && seletedRecord?.requiredDate.length>=15?false:true" [attr.data-automation-id]="'table-data-required-date-' + i ">{{seletedRecord?.requiredDate}}</td>
            </ng-container>


            <ng-container matColumnDef="LotNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-lot-number'"> Lot Number </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-lot-number-' + i ">{{seletedRecord?.lotNumber}}</td>
            </ng-container>


            <ng-container matColumnDef="ExpirationDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-expiration-date'"> Expiration Date </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" tooltip="matTooltip"[matTooltip]="seletedRecord?.expirationDate"   matTooltipPosition="above" [matTooltipDisabled]="seletedRecord?.expirationDate && seletedRecord?.expirationDate.length>=15?false:true"  [attr.data-automation-id]="'table-data-expiration-date-' + i">{{seletedRecord?.expirationDate}}</td>
            </ng-container>


            <ng-container matColumnDef="SerialNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-serial-number'"> Serial Number </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-serial-number-' + i ">{{seletedRecord?.serialNumber}}</td>
            </ng-container>


            <ng-container matColumnDef="Warehouse">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-warehouse'">Warehouse </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-warehouse-' + i ">{{seletedRecord?.warehouse}}</td>
            </ng-container>


            <ng-container matColumnDef="BatchPickID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-batch-pick-id'"> Batch Pick ID </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-batch-pick-id-' + i ">{{seletedRecord?.batchPickID}}</td>
            </ng-container>


            <ng-container matColumnDef="Notes">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-notes'"> Notes </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-notes-' + i ">{{seletedRecord?.notes}}</td>
            </ng-container>


            <ng-container matColumnDef="ToteNumber">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-tote-number'"> Tote Number </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-tote-number-' + i ">{{seletedRecord?.toteNumber}}</td>
            </ng-container>


            <ng-container matColumnDef="HostTransactionID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-host-transaction-id'"> Host Transaction ID </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-host-transaction-id-' + i ">{{seletedRecord?.hostTransactionID}}</td>
            </ng-container>

            <ng-container matColumnDef="Emergency">
              <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.data-automation-id]="'table-header-emergency'"> Emergency</th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-emergency-' + i ">{{seletedRecord?.emergency}}</td>
            </ng-container>


            <ng-container matColumnDef="UserField1">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField1" [fallbackPlaceHolder]="placeholders.userField1Fallback" [attr.data-automation-id]="'table-header-user-field-1'"> {{UserField1}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-1-' + i ">{{seletedRecord?.userField1}}</td>
            </ng-container>


            <ng-container matColumnDef="UserField2">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField2" [fallbackPlaceHolder]="placeholders.userField2Fallback" [attr.data-automation-id]="'table-header-user-field-2'"> {{UserField2}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-2-' + i ">{{seletedRecord?.userField2}}</td>
            </ng-container>



            <ng-container matColumnDef="UserField3">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField3" [fallbackPlaceHolder]="placeholders.userField3Fallback" [attr.data-automation-id]="'table-header-user-field-3'"> {{UserField3}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-3-' + i ">{{seletedRecord?.userField3}}</td>
            </ng-container>

            <ng-container matColumnDef="UserField4">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField4" [fallbackPlaceHolder]="placeholders.userField4Fallback" [attr.data-automation-id]="'table-header-user-field-4'"> {{UserField4}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-4-' + i ">{{seletedRecord?.userField4}}</td>
            </ng-container>

            <ng-container matColumnDef="UserField5">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField5" [fallbackPlaceHolder]="placeholders.userField5Fallback" [attr.data-automation-id]="'table-header-user-field-5'"> {{UserField5}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-5-' + i">{{seletedRecord?.userField5}}</td>
            </ng-container>

            <ng-container matColumnDef="UserField6">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField6" [fallbackPlaceHolder]="placeholders.userField6Fallback" [attr.data-automation-id]="'table-header-user-field-6'"> {{UserField6}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-6-' + i ">{{seletedRecord?.userField6}}</td>
            </ng-container>

            <ng-container matColumnDef="UserField7">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField7" [fallbackPlaceHolder]="placeholders.userField7Fallback" [attr.data-automation-id]="'table-header-user-field-7'"> {{UserField7}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-7-' + i">{{seletedRecord?.userField7}}</td>
            </ng-container>


            <ng-container matColumnDef="UserField8">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField8" [fallbackPlaceHolder]="placeholders.userField8Fallback" [attr.data-automation-id]="'table-header-user-field-8'"> {{UserField8}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-8-' + i ">{{seletedRecord?.userField8}}</td>
            </ng-container>

            <ng-container matColumnDef="UserField9">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField9" [fallbackPlaceHolder]="placeholders.userField9Fallback" [attr.data-automation-id]="'table-header-user-field-9'"> {{UserField9}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-9-' + i">{{seletedRecord?.userField9}}</td>
            </ng-container>

            <ng-container matColumnDef="UserField10">
              <th mat-header-cell *matHeaderCellDef mat-sort-header replacePlaceholder [replacePlaceHolder]="placeholders.userField10" [fallbackPlaceHolder]="placeholders.userField10Fallback" [attr.data-automation-id]="'table-header-user-field-10'"> {{UserField10}} </th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-user-field-10-' + i">{{seletedRecord?.userField10}}</td>
            </ng-container>

            <ng-container matColumnDef="actions" stickyEnd>
              <th mat-header-cell *matHeaderCellDef class="action-col" [attr.data-automation-id]="'table-header-actions'"></th>
              <td mat-cell *matCellDef="let seletedRecord; let i = index" [attr.data-automation-id]="'table-data-actions-' + i">
                <button mat-icon-button [matMenuTriggerFor]="appMenu" aria-label="" [ngClass]="{'active-btn':seletedRecord.selected}" class="circle-icon-o active-btn" appearance="outline" [attr.data-automation-id]="'button-actions-menu-' + i">
                  <mat-icon>more_horiz</mat-icon>
                </button>
                <mat-menu #appMenu="matMenu">
                  <span mat-menu-item (click)="editTransaction(seletedRecord)" [attr.data-automation-id]="'menu-item-edit-transaction-' + i">Edit Transaction</span>
                  <button mat-menu-item (click)="deleteTransaction(seletedRecord)" [attr.data-automation-id]="'menu-item-delete-transaction-' + i">Delete Transaction</button>
                </mat-menu>
              </td>
            </ng-container>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                No data available in table.
              </td>
            </tr>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)">
            </tr>
          </table>
        </ng-scrollbar>
      </div>
      <div class="table-pagination d-flex justify-content-start" *ngIf="  displayedColumns && generateOrderDataSource">
        <mat-paginator [length]="this.customPagination.total" [pageSize]="20" showFirstLastButtons [pageSizeOptions]="[10, 20, 100]"
          (page)="handlePageEvent($event)" data-automation-id="paginator"></mat-paginator>

      </div>
    </mat-card-content>
  </mat-card>
</div>