.matScrollbar-style{
    height: 620px !important;
    .matHeaderCells-style {
        width:35% !important;
    }
    .matHeaderToteID-style{
        width:35% !important;
    }
    .unfold_more-styleClass{
        color:var(--clr-tertiary-900) !important; 
        transform: rotate(45deg) !important;
    }
    .flagIcon-styleclass{
        color:#f0ad4e;
    }
}