<div class="row w-100 mt-2 mx-0">
    
<div class="col-xl-12 d-flex justify-content-between">
    <div class="col-xl-8">
        <h2 class="text-18 bold " data-automation-id="kzac-title">Kanban Zone & Allow Pick Allocation Conflict</h2>
    </div>
    <div class="col-xl-2">
        <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true" data-automation-id="kzac-close-btn">
            <mat-icon class="close-icon" data-automation-id="kzac-close-icon">close</mat-icon>
        </button>
    </div>
</div>
    <p data-automation-id="kzac-message">Kanban Zone and Allow Pick Allocation may not both be set. Choose which to set to ON.</p>
</div>

<div class="col-xl-12 mt-3">
    <div class="d-flex ">
        <button mat-flat-button color="primary" class="btn-md mb-3 me-3" (click)="changeValue(true,'allocation')" data-automation-id="kzac-allowpick-btn">Set "Allow Pick Allocation" ON</button>
        <button mat-flat-button color="primary" class="btn-md mb-3 me-3" (click)="changeValue(true,'kanban')" data-automation-id="kzac-kanban-btn">Set "Kanban Zone" ON</button>
        <button mat-flat-button color="primary" class="btn-md mb-3 me-3" (click)="changeValue(true,'both')" data-automation-id="kzac-bothoff-btn">Set Both to OFF</button>
    </div>
</div>
