.searchColumn{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  table{
    th {
        white-space: nowrap;
        padding-right: 12px;
      }
      td{
        border:0
      }
}

.overflow-x{
  overflow-x: auto !important;
}

.height-390{
  height: 390px !important;
}

.padding-right-15{
  padding-right: 15px !important;
}

.transform{
  color:var(--clr-tertiary-900) !important;
  transform: rotate(45deg) !important;
}

.colorTransform{
  background-color: var(--clr-table-header)  !important;
}

.zeroBorder{
  border: 0px !important;
}

.width-480
{
  width:48px !important;
}

.width-140{
  width:140px !important;
}

.height-100
{
  min-height:100px !important;
}

