<!-- With Table -->
<mat-card class="mat-elevation-z g-card mb-4 h-100">
    <mat-card-content>
        <div class="row mb-3">
            <div class="d-flex gap-12 mb-3 justify-content-end">
                <button mat-flat-button color="primary" class="add-icon-button" (click)="addCatRow($event)">
                    <span class="material-symbols-outlined" matTooltip="Add Kit Item" matTooltipPosition="above">
                        add
                    </span>
                </button>
                <button mat-flat-button color="default" class="icon-button secondary-button"
                    (click)="openPrintRangeDialog()" matTooltip="Print" matTooltipPosition="above">
                    <mat-icon class="material-symbols-outlined">print</mat-icon>
                </button>
            </div>
        </div>

        <div class="card br-14 borderless px-0" style="overflow-x: auto;">
            <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 390px">
                <table class="w-100 table-borderless" mat-table #matSort3="matSort" matSort [dataSource]="kitItemsList">
                    <ng-container matColumnDef="ItemNumber">
                        <th mat-header-cell *matHeaderCellDef> Item Number</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline"
                                (click)="openAddItemNumDialog(element)">
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                </span>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text" readonly
                                    #itemNum name="{{element.itemNumber}}" [(ngModel)]="element.itemNumber" required>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Description">
                        <th mat-header-cell *matHeaderCellDef> Description </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline"
                                (click)="openDescriptionDialog(element)">
                                <span matSuffix>
                                    <mat-icon style="color:#8B8BA3; transform: rotate(45deg);">unfold_more</mat-icon>
                                </span>
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    name="{{element.description}}" [(ngModel)]="element.description"
                                    (ngModelChange)="checkIfFilled($event)" readonly #itemDesc>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="SpecialFeatures">
                        <th mat-header-cell *matHeaderCellDef> Special Features </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline">
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    name="{{element.specialFeatures}}"
                                    (ngModelChange)="onRowUpdate(element.specialFeatures,$event,i)"
                                    [(ngModel)]="element.specialFeatures" #specialFeature maxlength="255">
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="KitQuantity">
                        <th mat-header-cell *matHeaderCellDef> Kit Quantity </th>
                        <td mat-cell *matCellDef="let element; let i = index">
                            <mat-form-field class="custom-form-field w-100" style="padding-right: 15px;" appearance="outline">
                                <input (keydown.shift.enter)="$event.preventDefault()" matInput type="text"
                                    (ngModelChange)="onRowUpdate(element.kitQuantity, $event,i)"
                                    name="{{element.kitQuantity}}" [(ngModel)]="element.kitQuantity" #kitQuantity
                                    maxlength="9" required>
                            </mat-form-field>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="Actions" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="ps-2"> Actions </th>
                        <td mat-cell *matCellDef="let element" class="ps-2">
                            <div class="d-flex gap-12 align-items-center">
                                <button mat-flat-button color="primary" class="xsm-icon-button"
                                    (click)="saveKit(element.itemNumber,  element)" #namebutton [disabled]="element.isSaved">
                                    <mat-icon class="material-symbols-outlined">save</mat-icon>
                                </button>
                                <button mat-flat-button color="warn" class="xsm-icon-button"
                                    (click)="dltCategory(element);" [disabled]="!element.isSaved">
                                    <mat-icon class="material-symbols-outlined">close</mat-icon>
                                </button>
                            </div>
                        </td>
                    </ng-container>
                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell " [attr.colspan]="displayedColumns.length">
                            No data available in table.
                        </td>
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"
                        style=" background-color: #F9F9FF;"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="border: 0px;"></tr>
                </table>
            </ng-scrollbar>
        </div>
        <div class="d-flex justify-content-between bg-white">
        </div>
    </mat-card-content>
</mat-card>


<ng-template #additemNumber>
    <div class="d-flex justify-content-between mb-4 align-items-center">
        <div style="width:48px"></div>
        <h1 class="m-0" mat-dialog-title>Item Number</h1>

        <button mat-icon-button class="close-button dialog-close-button-fix" (click)="closeDialog()">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>


    <div class="">
        <div class="w-100">
            <div class="col-12 mb-2">
                <mat-form-field class="custom-form-field w-100" appearance="outline">

                    <input [matAutocomplete]="searchauto" type="text" placeholder="Search" aria-label="Search" matInput
                        (keyup)="getSearchList($event)" [(ngModel)]="dialogitemNumberDisplay">
                        <button matSuffix *ngIf="dialogitemNumberDisplay" class="clear-btn"  (click)="dialogitemNumberDisplay=''"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                    <mat-autocomplete class="card custom-scroll" #searchauto="matAutocomplete"
                        (optionSelected)="onSearchSelect($event)" [displayWith]="displayFn">
                        <h6 class="card-header matAutoCompHeader "><span style="width:  140px;">Item No.</span> <span
                                style="width:  140px;">Description</span></h6>
                        <mat-option *ngFor="let option of searchList" [value]="option" class="matAutoCompTableContent">
                            <div class="loc_option">
                                <span class="searchColumn" style="width:  140px;">{{option?.itemNumber}}</span> <span
                                    class="searchColumn" style="width:  140px;">{{option.description}}</span>
                            </div>
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>
            <div class="d-flex justify-content-end pt-3">
                <button mat-flat-button color="primary" (click)="submitFunc()" class="btn-lg w-100"
                    [disabled]="!isValidForm" [mat-dialog-close]="true" cdkFocusInitial>Submit</button>
            </div>
        </div>

    </div>

</ng-template>

<ng-template #description>

    <div class="d-flex justify-content-between mb-4 align-items-center">
        <div style="width:48px"></div>
        <h1 class="m-0" mat-dialog-title>Description</h1>

        <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
            <mat-icon class="close-icon">close</mat-icon>
        </button>
    </div>

    <div class="">
        <div class="w-100">
            <div class="col-12 mb-2">
                <mat-form-field class="custom-form-field w-100" appearance="outline">

                    <textarea matInput [(ngModel)]="dialogDescription" readonly="true"
                        style="min-height:100px"></textarea>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-end pt-3">
                <button mat-flat-button color="primary" class="button-primary btn-lg w-100" [mat-dialog-close]="true"
                    cdkFocusInitial>Submit</button>
            </div>
        </div>

    </div>

</ng-template>