.searchColumn{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  table{
    th {
        white-space: nowrap;
        padding-right: 12px;
      }
      td{
        border:0
      }
}
.rotate-45{
  transform: rotate(45deg)
}
.h-390px{
  height: 390px;
}