.searchColumn{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }

  table{
    th {
        white-space: nowrap;
        padding-right: 12px;
      }
      td{
        border:0
      }
}