<div class="f-container">
<app-header (toggleSidebarForMe)="sideBarToggler()" [ngClass]="{'d-none' : isMenuHide}">
</app-header>
<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" disableClose="true" [opened]="sideBarOpen">
    <app-side-nav [sideBarOpen]="sideBarOpen" [ngClass]="{'d-none' : isMenuHide}"></app-side-nav>
  </mat-sidenav>
 
  <mat-sidenav-content [ngClass]="{'default-margin' : sideBarOpen}">
    <div [ngClass]="{'side-bar-opened' : sideBarOpen, 'dashboard-section' : !isMenuHide}">
      <div class="breadcrumb-menu">
   
        <nav aria-label="breadcrumb" class="breadcrumb" [ngClass]="{'d-none' : isMenuHide}">
       
          <!-- <div *ngFor="let item of breadcrumbList; index as i;">
          
            <div *ngIf="i<(breadcrumbList.length-1)">
              <li class="breadcrumb-item" [routerLink]="item.value"  style="cursor:pointer;">{{item.name}}
                &nbsp; {{"/"}} &nbsp;
              </li>
            </div>
            <div *ngIf="i>=(breadcrumbList.length-1)">
              <li class="breadcrumb-item"  style="cursor:pointer;">{{item.name}}
              </li>
            </div>
          </div> -->
            <!-- <li class="breadcrumb-item active" aria-current="page">Library</li> -->
        </nav>
      </div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
</div>
