<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="div-width"></div>
<h1 class="m-0" mat-dialog-title data-automation-id="laq-title">Location Assignment Quantities</h1>
<button mat-icon-button class="close-button dialog-close-button-fix" (click)="viewOrderSelection($event)" data-automation-id="laq-close-btn">
    <mat-icon class="close-icon" data-automation-id="laq-close-icon">close</mat-icon>
</button>
</div> 

<div class="custom bg-white bg-50 br-14">
      <div>
        <div class="row mb-4">
         <div class="col text-center" #countCol style="display:none">
          <div class="employees text-center">
            <app-stats-circle value="{{count}}" [attr.data-automation-id]="'laq-stats-count-' + count"></app-stats-circle>
          </div>
           <button  mat-stroked-button color="button-default" class="default-btn bg-white text-primary-900 btn-sm backgroundColor " (click)="viewOrderSelection($event,0)" data-automation-id="laq-select-count-btn" >
            Count
          </button>
        </div>
         <div class="col text-center" #pickCol style="display:none">
          <div class="employees text-center">
            <app-stats-circle value="{{pick}}" [attr.data-automation-id]="'laq-stats-pick-' + pick"></app-stats-circle>
          </div>
           <button  mat-stroked-button color="button-default" class="default-btn bg-white text-primary-900 btn-sm backgroundColor " (click)="viewOrderSelection($event,1)" data-automation-id="laq-select-pick-btn" >
            Pick
          </button>
        </div>
         <div class="col text-center" #putCol style="display:none">
          <div class="employees text-center">
            <app-stats-circle value="{{putAway}}" [attr.data-automation-id]="'laq-stats-putaway-' + putAway"></app-stats-circle>
          </div>
           <button  mat-stroked-button color="button-default" class="default-btn bg-white text-primary-900 btn-sm backgroundColor " (click)="viewOrderSelection($event,2)" data-automation-id="laq-select-putaway-btn">
            Put Away
          </button>
        </div>
      </div>
      </div>
  </div>

  <button color="primary" class="mat-focus-indicator w-100 btn-lg mat-flat-button mat-button-base mat-primary mb-3 flex-grow-1"
  ng-reflect-color="primary" ng-reflect-disabled="false" (click)="printShortage()" data-automation-id="laq-print-shortage-btn"><span class="mat-button-wrapper" > Print Pick Shortage
  </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
    ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>

    <button color="primary" class="mat-focus-indicator w-100 btn-lg mat-flat-button mat-button-base mat-primary mb-3 flex-grow-1"
  ng-reflect-color="primary" ng-reflect-disabled="false" (click)="printShortageZone()" data-automation-id="laq-print-shortage-zones-btn"><span class="mat-button-wrapper" > Print Pick Shortage Forward Pick Zones
  </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
    ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay"></span></button>

    <button color="primary" class="mat-focus-indicator w-100 btn-lg mat-stroked-button mat-button-base mat-primary mb-3 flex-grow-1"
  ng-reflect-color="primary" ng-reflect-disabled="false" (click)="exitBack()" data-automation-id="laq-leave-page-btn"><span class="mat-button-wrapper"> Leave Page
  </span><span matripple="" class="mat-ripple mat-button-ripple" ng-reflect-disabled="false" ng-reflect-centered="false"
    ng-reflect-trigger="[object HTMLButtonElement]"></span><span class="mat-button-focus-overlay" ></span></button>
