<div class="row w-100 mt-4 mx-0">
    <div class="col-xl-8 mb-3 mb-xl-0">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h2 class="card-header-title mb-0 d-flex align-items-center">
            <div class="mat-icon-wrap me-lg-3 me-2">
                <span class="mat-icon material-symbols-outlined">
                  corporate_fare
                </span>
            </div>
            <span>Company Information</span>
        </h2>
    </div>
        <div class="card p-3">
            <div class="row">
            <div class="col-xl-6">
                <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Company Name</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.companyName" (change)="payload(1)"  matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Address</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.address1" (change)="payload(1)"  matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>City</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.city"(change)="payload(1)"  matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>State</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.state" (change)="payload(1)" matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Early Break Time</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.earlyBreakTime"(change)="payload(1)"  matInput maxlength="255">
                  </mat-form-field>
            </div>
            <div class="col-xl-6">
                <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Mid Break Time</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.midBreakTime" (change)="payload(1)" matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Early Mid Duration (Min)</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.midBreakDuration" (change)="payload(1)" matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Late Break Time</mat-label>
                    <input type="text"  [(ngModel)]="CompanyObj.lateBreakTime" (change)="payload(1)" matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Early Late Duration (Min)</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.lateBreakDuration"(change)="payload(1)"  matInput maxlength="255">
                  </mat-form-field>
                  <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                    <mat-label>Early Break Duration (Min)</mat-label>
                    <input type="text" [(ngModel)]="CompanyObj.earlyBreakDuration" (change)="payload(1)" matInput maxlength="255">
                  </mat-form-field>
            </div>
            <div class="col-xl-12">
              <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3 btn-init" appearance="outline">
                <mat-label>Company Logo</mat-label>
                <input type="text" [(ngModel)]="CompanyObj.companylogo"  matInput maxlength="255">
                <span matSuffix><button mat-button color="primary">Browse</button></span>
              </mat-form-field>
              <div class="d-block d-xxl-flex gap-12">
              <button mat-stroked-button color="primary" class="btn-md mb-3 w-100">View Current Company Logo</button>
              <button mat-flat-button color="primary" class="btn-md mb-3 w-100">Upload</button>
            </div>
            </div>
        </div>
              
        </div>

        <div class="d-flex justify-content-between align-items-center mb-3">
          <h2 class="card-header-title mt-4 d-flex align-items-center">
              <div class="mat-icon-wrap me-lg-3 me-2">
                  <span class="mat-icon material-symbols-outlined">
                    settings_suggest
                  </span>
              </div>
              <span>System Logic Preferences</span>
          </h2>
      </div>

        <div class="card p-3">
            <div class="row">
                <div class="col-xl-6">
                      <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Next Tote ID</mat-label>
                        <input type="text" [(ngModel)]="CompanyObj.nextToteID" (change)="payload(3)"  matInput maxlength="255">
                      </mat-form-field>
                      <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Next Serial Number</mat-label>
                        <input type="text" [(ngModel)]="CompanyObj.nextSerialNumber" (change)="payload(3)"   matInput maxlength="255">
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                      <mat-form-field class="action-dropdown custom-form-field-bg-white w-100 mb-3" appearance="outline">
                        <mat-label>Pick Type</mat-label>
                        <mat-select [(ngModel)]="CompanyObj.pickType" (change)="payload(3)"  class="employees-action" value="pick">
                          <mat-option value="Pick and Pass">Pick and Pass</mat-option> 
                          <mat-option value="Parallel Pick">Parallel Pick</mat-option>  
                        </mat-select> 
                        <span class="material-symbols-outlined icon-expand-more">
                          expand_more
                        </span>
                      </mat-form-field>
                </div>
                <div class="col-xl-6">
                      <div class="d-flex justify-content-between mb-3">
                        FIFO Pick Across Warehouse <mat-slide-toggle [(ngModel)]="CompanyObj.fifoPickAcrossWarehouse" (change)="payload(3)"
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        Replenish Dedicated Only <mat-slide-toggle [(ngModel)]="CompanyObj.replenishDedicatedOnly" (change)="payload(3)"
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        OT Temp to OT Pending <mat-slide-toggle [(ngModel)]="CompanyObj.otTemptoOTPending"(change)="payload(3)"
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        Zero Location Qty Check <mat-slide-toggle [(ngModel)]="CompanyObj.zeroLocationQuantityCheck"(change)="payload(3)"
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
                <div class="col-xl-6">
                      <div class="d-flex justify-content-between mb-3">
                        Distinct Kit Orders <mat-slide-toggle [(ngModel)]="CompanyObj.distinctKitOrders"(change)="payload(3)"
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                      <div class="d-flex justify-content-between mb-3">
                        Print Replen Put Labels <mat-slide-toggle [(ngModel)]="CompanyObj.printReplenPutLabels"(change)="payload(3)"
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                      <div class="d-flex justify-content-between mb-0">
                        Create Transactions When (Un)Quarantining <mat-slide-toggle [(ngModel)]="CompanyObj.generateQuarantineTransactions" (change)="payload(3)"
                           color="primary"
                          ></mat-slide-toggle>
                      </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h2 class="card-header-title d-flex align-items-center">
              <div class="mat-icon-wrap me-lg-3 me-2">
                  <span class="mat-icon material-symbols-outlined">
                    phonelink_setup
                  </span>
              </div>
              <span>POD Setup (System wide)</span>
          </h2>
      </div>
        <div class="card p-3">
              <h2 class="text-18 bold my-3">Order Selection Color Filter</h2>
              <mat-form-field class="action-dropdown custom-form-field-bg-white w-100 mb-3" appearance="outline">
                <mat-label>Red Filter Field</mat-label>
                <mat-select class="employees-action"  [(ngModel)]="CompanyObj.redField">
                  <ng-container *ngFor="let item of FieldNames | keyvalue"> 
                  <mat-option [value]="item.key">{{item.value}}</mat-option>  
                </ng-container>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                  expand_more
                </span>
              </mat-form-field>
              <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                <mat-label>Red Filter Value</mat-label>
                <input type="text"   [(ngModel)]="CompanyObj.redValue"  matInput maxlength="255">
              </mat-form-field>
              <mat-form-field class="action-dropdown custom-form-field-bg-white w-100 mb-3" appearance="outline">
                <mat-label>Green Filter Field</mat-label>
                <mat-select class="employees-action"  [(ngModel)]="CompanyObj.greenField">
                  <ng-container *ngFor="let item of FieldNames | keyvalue"> 
                    <mat-option [value]="item.key">{{item.value}}</mat-option>  
                  </ng-container> 
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                  expand_more
                </span>
              </mat-form-field>
              <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                <mat-label>Green Filter Value</mat-label>
                <input type="text"  [(ngModel)]="CompanyObj.greenvalue"   matInput maxlength="255">
              </mat-form-field>
              <mat-form-field class="action-dropdown custom-form-field-bg-white w-100 mb-3" appearance="outline">
                <mat-label>Blue Filter Field</mat-label>
                <mat-select class="employees-action"  [(ngModel)]="CompanyObj.blueField">
                  <ng-container *ngFor="let item of FieldNames | keyvalue"> 
                    <mat-option [value]="item.key">{{item.value}}</mat-option>  
                  </ng-container>  
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                  expand_more
                </span>
              </mat-form-field>
              <mat-form-field class="custom-form-field custom-form-field-bg-white w-100 mb-3" appearance="outline">
                <mat-label>Blue Filter Value</mat-label>
                <input type="text"  [(ngModel)]="CompanyObj.bluevalue"   matInput maxlength="255">
              </mat-form-field>
        </div>
    </div>
</div>