<div class="row px-3 py-4 br-14">

  <div class="d-flex justify-content-end mb-2">
    <button mat-stroked-button color="primary" class="btn-regular" (click)="refreshGrid()">
      <mat-icon>cached</mat-icon>
      Refresh
    </button>
  </div>

<div class="card br-14 table-responsive px-0" style="overflow-x: auto;">
  <ng-scrollbar class="mat-table-scrollbar" track="all" style="min-height:320px">
         
    <table mat-table [dataSource]="location.controls['inventoryTable'].value" matSort (matSortChange)="announceSortChange($event)" style=" min-height: 150px;">
      <ng-container matColumnDef="location">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Location </th>
        <td mat-cell *matCellDef="let element" style="padding-left: 10px;" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.location}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="warehouse">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Warehouse </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.warehouse}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="zone">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Zone </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.zone}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="carousal">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Carousal </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.carousel}} </td>
      </ng-container>

      <ng-container matColumnDef="row">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef> Row</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.row}} </td>
      </ng-container>

      <ng-container matColumnDef="shelf">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Shelf</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.shelf}} </td>
      </ng-container>

      <ng-container matColumnDef="bin">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Bin</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.bin}} </td>
      </ng-container>

      <ng-container matColumnDef="lotNo">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Lot No.</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.lotNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Expiration</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.expirationDate}} </td>
      </ng-container>

      <ng-container matColumnDef="serialNo">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Serial No.</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.serialNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="cellSize">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Cell Size</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.cellSize}} </td>
      </ng-container>

      <ng-container matColumnDef="shipVia">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>{{this.fieldNameDetails?.currentValue?.userField1}}</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.userField1}} </td>
      </ng-container>

      <ng-container matColumnDef="shipToName">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>{{this.fieldNameDetails?.currentValue?.userField2}}</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.userField2}} </td>
      </ng-container>

      <ng-container matColumnDef="qtyAllPick">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Qty All. Pick</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.quantityAllocatedPick}} </td>
      </ng-container>

      <ng-container matColumnDef="qtyAllPut">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Qty All. Put</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.quantityAllocatedPutAway}} </td>
      </ng-container>


      <ng-container matColumnDef="unitOfMeasure">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Unit Of Measure</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.unitOfMeasure}} </td>
      </ng-container>

      <ng-container matColumnDef="itemQty">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Item Qty</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.itemQuantity}} </td>
      </ng-container>

      <ng-container matColumnDef="stockDate">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Stock Date</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.putAwayDate}} </td>
      </ng-container>

      <ng-container matColumnDef="velocity">
        <th mat-header-cell mat-sort-header  *matHeaderCellDef>Velocity</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'quarantineColor': element.warehouse.includes('Quarantine')}"> {{element.goldenZone}} </td>
      </ng-container>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell " [attr.colspan]="displayedColumns.length">
          No data available in table.
        </td>
      </tr>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </ng-scrollbar>
</div>


<div class="d-flex justify-content-between bg-white p-0">
  <mat-paginator [pageSize]="5" showFirstLastButtons [length]="count" [pageSizeOptions]="[5, 10, 20]"  (page)="handlePageEvent($event)"></mat-paginator>          
</div>
</div>
