
  <div class="row g-3 mb-3">
    <div class="col-xl-6 col-xxl-6">
      <app-induct-cart (cartValidated)="onCartValidated()"></app-induct-cart>
    </div>
    
    <div class="col-xl-6 col-xxl-6">
      <app-cart-status-summary 
        [statusSummary]="statusSummary">
      </app-cart-status-summary>
    </div>
  </div>

    <app-cart-grid 
      [searchTerm]="searchTerm"
      [selectedColumn]="selectedColumn"
      [selectedStatus]="selectedStatus"
      (dataLoaded)="onCartDataLoaded()">
    </app-cart-grid>

