table {

  th,
  td {
    white-space: nowrap;
    padding-right: 12px;
    border: 0
  }
}

.counter-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::ng-deep.w-48px {
  width: 48px;
}

::ng-deep.height-300 {
  height: 300px
}

::ng-deep.table-shipping-set {
  border: 0;
  height: 66px;
  padding-left: 65px;

}

::ng-deep.table-td-shipping {
  border: 0;
  padding-left: 24px;
  background: var(--clr-pure-white);
}
::ng-deep.gap-6px{
  gap:6px
}
::ng-deep.table-backcolor{
  background-color: var(--clr-table-header);
}