table {

  th,
  td {
    white-space: nowrap;
    padding-right: 12px;
    border: 0
  }
}

.counter-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;}


.w-48px {
  width: 48px;
}

.height-300 {
  height: 300px
}

.table-shipping-set {
  border: 0;
  height: 66px;
  padding-left: 65px;

}

.table-td-shipping {
  border: 0;
  padding-left: 24px;
  background: var(--clr-pure-white);
}
.gap-6px{
  gap:6px
}
.table-backcolor{
  background-color: var(--clr-table-header);
}
.h-300px{
  height: 300px;
}


.chip-container {
  display: flex;
  flex-direction: column;
}

.chip-field {
  width: 100%;
}

mat-chip {
  margin: 8px;
}

mat-autocomplete {
  max-height: 800px;
  overflow: auto;
}
.chip-input-field {
  width: 100%;
}

mat-chip {
  margin: 8px;
  background-color: #D6D6FD !important;
}

.mat-chip-input {
  flex-grow: 1;
  width: 100%;  /* Ensures it spans full width */
  min-width: 350px; /* Prevents it from collapsing */
}