<div class="d-flex justify-content-between mb-4 align-items-center">
    <div class="w-48px"></div>
    <h1 class="m-0" mat-dialog-title>Shipping</h1>
    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>
<div matDialogContent>

    <div class="mb-3 card p-3">

            <div class="row">
                <div class="col-xl-4" *ngIf="orderShipHidden">
                    <mat-form-field class="custom-form-field custom-form-field-bg-white w-100" appearance="outline">
                        <mat-label>Order Number</mat-label>
                        <input type="text" aria-label="Search" matInput [(ngModel)]="orderNumber" disabled>
                    </mat-form-field>
                </div>
                <div  class="col-xl-5" *ngIf="!orderShipHidden">
                    <div class="chip-container">
                        <mat-form-field class="custom-form-field custom-form-field-bg-white w-100" appearance="outline">
                            <mat-label>Order Number</mat-label>
                            <mat-chip-list #chipList aria-label="Order Selection" class="custom-form-field-bg-white w-100">
                              <mat-chip
                                *ngFor="let order of selectedOrders"
                                [selectable]="true"
                                [removable]="true"
                                (removed)="removeOrder(order)"
                                class="bg-light-blue"
                              >
                                {{ order }}
                                <button matChipRemove>
                                  <mat-icon class="bold text-16 lh-20">close_small</mat-icon>
                                </button>
                              </mat-chip>
                              <input
                                #chipInput
                                [formControl]="itemControl"
                                [matAutocomplete]="auto"
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="false"
                                (matChipInputTokenEnd)="addOrderFromInput($event, chipInput)"
                              />
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addOrderFromAutocomplete($event, chipInput)">
                                <mat-option *ngFor="let order of filteredOrders | async" [value]="order">
                                    {{ order }}
                                  </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                      </div>
                      
                      
                </div>
            </div>
        
    </div>
    <div class="mb-2 card p-3">
        <div class="d-flex justify-content-between">
            <h2 class="card-header-title mb-3 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3">
                    <span class="material-symbols-outlined">
                        repartition
                    </span>
                </div>
                <span>Shipment</span>
            </h2>
            <div class="d-block d-xl-flex justify-content-end gap-12">
            <button
            (click)="openCmAddNewItem()"
            [disabled]="shippingComp"
        mat-flat-button
        color="primary"
        class="add-icon-button mb-3"
        
      >
        <span
          class="material-symbols-outlined"
          matTooltip="Add new container"
          matTooltipPosition="above"
          
          
        >
          add
        </span>
        
      </button>
      <button
        mat-button
        color="primary"
        class="icon-button secondary-button"
        
      >
        <span
          class="material-symbols-outlined"
          mat-stroked-button
          matTooltip="Print All"
          matTooltipPosition="above"
          (click)="printAll()"
          color="primary"
        >
         print
        </span>
        
      </button>
     
    </div>
        </div>
        <ng-container >
            <mat-accordion *ngFor="let i of ContainerArray; let index = index">
              <div class="mb-2">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title> 
                      Container ID:&nbsp;<b> {{ i.ContainerID }}</b> 
                    </mat-panel-title>
                    <mat-panel-description> </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="row">
                    <div class="col-xl-12">
                      <div class="row">
                        <div class="col-12">
                          <div class="row">
                            <div class="col-sm-2">
                                <mat-form-field class="action-dropdown  w-100" appearance="outline">
                                    <mat-label>Carrier</mat-label>
                                    <mat-select #matRef class="employees-action Carrier-select" [disabled]="shippingComp"
                                    [(ngModel)]="i['Carrier']" placeholder="Carrier">
                                        <mat-option *ngFor="let item of carriers" [value]="item">{{item}} </mat-option>
                                    </mat-select>
                                    <span class="material-symbols-outlined icon-expand-more">
                                        expand_more
                                    </span>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                              <mat-form-field
                                class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                appearance="outline"
                              >
                                <mat-label>Tracking No.</mat-label>
                                <input [disabled]="shippingComp"
                                  type="text"
                                  [(ngModel)]="i['TrackingNumber']"
                                  matInput
                                  maxlength="50"
                                />
                              </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>Freight</mat-label>
                                  <input [disabled]="shippingComp"
                                    type="number"
                                    oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                    [(ngModel)]="i['Freight']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>Freight1</mat-label>
                                  <input [disabled]="shippingComp"
                                    type="number"
                                    oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                    [(ngModel)]="i['Freight1']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>Freight2</mat-label>
                                  <input [disabled]="shippingComp"
                                    type="number"
                                    oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                    [(ngModel)]="i['Freight2']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>Weight</mat-label>
                                  <input [disabled]="shippingComp"
                                    type="number"
                                    oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                    [(ngModel)]="i['Weight']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-2">
                              <mat-form-field
                                class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                appearance="outline"
                              >
                                <mat-label>Length</mat-label>
                                <input [disabled]="shippingComp"
                                  type="number"
                                  oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                  [(ngModel)]="i['Length']"
                                  matInput (keyup)="calculateCube(i)"
                                  class="counter-none"
                                  maxlength="200"
                                  
                                />
                              </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                              <mat-form-field
                                class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                appearance="outline"
                              >
                                <mat-label>Width</mat-label>
                                <input [disabled]="shippingComp"
                                  type="number"
                                  oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                  [(ngModel)]="i['Width']"
                                  matInput (keyup)="calculateCube(i)"
                                  maxlength="200"
                                  class="counter-none"
                                />
                              </mat-form-field>
                            </div>
                            <div class="col-sm-2">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>Height</mat-label>
                                  <input [disabled]="shippingComp"
                                  oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                  type="number"
                                    [(ngModel)]="i['Height']"
                                    matInput (keyup)="calculateCube(i)"
                                    maxlength="200"
                                    class="counter-none"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>Cube</mat-label>
                                  <input disabled
                                    type="number"
                                    oninput="this.value = !!this.value && Math.abs(this.value) > 0 ? Math.abs(this.value) : 0"
                                    [(ngModel)]="i['Cube']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2" *ngIf="shippingPreferences && shippingPreferences.userField1">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>{{ shippingPreferences.userField1Alias ? shippingPreferences.userField1Alias : 'User Field 1' }}</mat-label>

                                  <input [disabled]="shippingComp"
                                    type="text"
                                    [(ngModel)]="i['UserField1']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2" *ngIf="shippingPreferences && shippingPreferences.userField2">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>{{ shippingPreferences.userField2Alias ? shippingPreferences.userField2Alias : 'User Field 2' }}</mat-label>

                                  <input [disabled]="shippingComp"
                                    type="text"
                                    [(ngModel)]="i['UserField2']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-2" *ngIf="shippingPreferences && shippingPreferences.userField3">
                              <mat-form-field
                                class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                appearance="outline"
                              >
                               <mat-label>{{ shippingPreferences.userField3Alias ? shippingPreferences.userField3Alias : 'User Field 3' }}</mat-label>

                                <input [disabled]="shippingComp"
                                  type="text"
                                  [(ngModel)]="i['UserField3']"
                                  matInput
                                  maxlength="200"
                                  
                                />
                              </mat-form-field>
                            </div>
                            <div class="col-sm-2" *ngIf="shippingPreferences && shippingPreferences.userField4">
                              <mat-form-field
                                class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                appearance="outline"
                              >
                                <mat-label>{{ shippingPreferences.userField4Alias ? shippingPreferences.userField4Alias : 'User Field 4' }}</mat-label>

                                <input [disabled]="shippingComp"
                                  type="text"
                                  [(ngModel)]="i['UserField4']"
                                  matInput
                                  maxlength="200"
                                />
                              </mat-form-field>
                            </div>
                            <div class="col-sm-2" *ngIf="shippingPreferences && shippingPreferences.userField5">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>{{ shippingPreferences.userField5Alias ? shippingPreferences.userField5Alias : 'User Field 5' }}</mat-label>

                                  <input [disabled]="shippingComp"
                                    type="text"
                                    [(ngModel)]="i['UserField5']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2" *ngIf="shippingPreferences && shippingPreferences.userField6">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>{{ shippingPreferences.userField6Alias ? shippingPreferences.userField6Alias : 'User Field 6' }}</mat-label>

                                  <input [disabled]="shippingComp"
                                    type="text"
                                    [(ngModel)]="i['UserField6']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                              <div class="col-sm-2" *ngIf="shippingPreferences && shippingPreferences.userField7">
                                <mat-form-field
                                  class="custom-form-field custom-form-field-bg-white w-100 mb-3"
                                  appearance="outline"
                                >
                                  <mat-label>{{ shippingPreferences.userField7Alias ? shippingPreferences.userField7Alias : 'User Field 7' }}</mat-label>

                                  <input [disabled]="shippingComp"
                                    type="text"
                                    [(ngModel)]="i['UserField7']"
                                    matInput
                                    maxlength="200"
                                  />
                                </mat-form-field>
                              </div>
                             
                          </div>
                          <div class="row">
                            <div class="d-block d-xl-flex justify-content-end">
                                <div class="d-xl-flex gap-12">
                                    <button  mat-stroked-button class="mb-3 mb-xl-0 form-button-submit m-1 m-xl-0"
                                            color="primary" (click)="PrintItem('',i)">Print</button>
                                    <button  mat-stroked-button [disabled]="shippingComp"  class="mb-3 mb-xl-0 button-remove-all-w-stroke m-1 m-xl-0"
                                            color="warn" (click)="DeleteItem('',i)">Delete</button>
                                    <button  mat-flat-button [disabled]="shippingComp" class="mb-3 mb-xl-0 form-button-submit m-1 m-xl-0"
                                            color="primary" (click)="updateShipmentItem(i)">Save</button>
                                  </div>
                                
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </mat-accordion>
          </ng-container>
    </div>
   
</div>

  
<div matDialogActions>
    <button type="button" mat-flat-button color="primary" class="mb-2 btn-lg w-100" [disabled]="shippingComp"
        (click)="ShippingCompShip()">Complete Shipment</button>
</div>