.mainCard{
    height: 100% !important;
    .icon-row{
        margin-bottom: 12px !important;
    }
    .justify-content-end-style{
        text-align: end !important;
        .checkbox-style{
            margin-right: 12px !important;
        }
        .print-button-style{
            margin-right: 12px !important; 
            padding: 6px 15px !important;
            border-radius: 14px !important;
            border: 1px solid var(--clr-tertiary-50) !important;
        }
        .delete-button-style{
            margin-right: 12px !important;

        }
        .filter_list-button-style{
            margin-right: 12px !important; 
            padding: 6px 15px !important;
            border-radius: 14px !important;
            border: 1px solid var(--clr-tertiary-50) !important;
        }
    }
    .table-responsive {
        display: block;
        width: 100%;
        height: 480px;
        overflow-x: auto;
        overflow-y: auto;
        .mat-table {
            width: 100%;
            max-width: 100%;
            height: 150px;
            display: table;
            border-collapse: collapse;
            margin: 0 0 1rem 0;
        }
        .mat-row,
        .mat-header-row {
            display: table-row;
        }
        .mat-cell,
        .mat-header-cell {
            word-wrap: initial;
            display: table-cell;
            padding: 0px 5px;
            line-break: unset;
            width: auto;
            white-space: nowrap;
            overflow: hidden;
            vertical-align: middle;
        }
        .mat-header-style{
            background-color: var(--clr-table-header) !important;
        }
      }
}

