<mat-card class="mat-elevation-z g-card mt-3">
    <mat-card-content>
        <div class="d-block d-lg-flex justify-content-between">
        <div class="col d-flex justify-content-between align-items-center mb-3">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
                <div class="mat-icon-wrap me-lg-3 me-2">
                    <span class="mat-icon material-symbols-outlined">
                        wb_sunny
                    </span>
                </div>
                <span>Light Tree Setup</span>
            </h2>
        </div>
          <div class="col-xl-3">
            <div class="w-100 d-flex d-lg-block">
            <mat-form-field class="action-dropdown float-end mb-3" appearance="outline" style="flex:1">
                <mat-label>Action</mat-label>
                <mat-select #matRef class="employees-action">
                    <mat-option value="pagesNumber">Reset All Alternate Light Positions</mat-option>
                    <mat-option value="set_column_sq">Display Bin Light Positions</mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </mat-form-field>
            </div>
        </div>
    </div>
        <div class="card p-3">
            <div class="row">
                <div class="col-xl-3">
                    <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                        <mat-label>Zone</mat-label>
                        <mat-select formControlName="zone">
                            <mat-option value="Order Number">
                                Order Number
                            </mat-option>
                            <mat-option value="Item Number">
                                Item Number.
                            </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                        <mat-label>Carousel</mat-label>
                        <mat-select formControlName="zone">
                            <mat-option value="Order Number">
                                Order Number
                            </mat-option>
                            <mat-option value="Item Number">
                                Item Number.
                            </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                        <mat-label>Bin Location</mat-label>
                        <mat-select formControlName="zone">
                            <mat-option value="Order Number">
                                Order Number
                            </mat-option>
                            <mat-option value="Item Number">
                                Item Number.
                            </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>
                </div>
                <div class="col-xl-3">
                    <mat-form-field class=" custom-form-field w-100 __grab_cursor" appearance="outline">
                        <mat-label>Shelf Direction</mat-label>
                        <mat-select formControlName="zone">

                            <mat-option value="Order Number">
                                Order Number
                            </mat-option>
                            <mat-option value="Item Number">
                                Item Number.
                            </mat-option>
                        </mat-select>
                        <span class="material-symbols-outlined icon-expand-more">
                            expand_more
                        </span>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-between align-items-center mb-3 mt-4">
            <h2 class="card-header-title mb-0 d-flex align-items-center">
                 <div class="mat-icon-wrap me-lg-3 me-2">
                    <span class="mat-icon material-symbols-outlined">
                        flare
                    </span>
                </div> 
                <span>Alternate Light Settings</span>
            </h2>
        </div>
        <div class="card br-14 table-responsive borderless px-0 mb-3">
            <ng-scrollbar track="all" class="mat-table-scrollbar" style="height: 620px;">
                <table mat-table [dataSource]="this.ELEMENT_DATA" class="w-100">
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> Position </th>
                        <td mat-cell *matCellDef="let seletedRecord">
                            <div class="p-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255"
                                        value="{{seletedRecord.position}}" disabled>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="shelf">
                        <th mat-header-cell *matHeaderCellDef> Shelf </th>
                        <td mat-cell *matCellDef="let seletedRecord; let i = index;">
                            <div class="p-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255"
                                    value="{{seletedRecord.shelf}}" disabled>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="alternate_light_positions_no">
                        <th mat-header-cell *matHeaderCellDef> Alternate Light Positions No. </th>
                        <td mat-cell *matCellDef="let seletedRecord">
                            <div class="p-2">
                                <mat-form-field class="custom-form-field w-100" appearance="outline">
                                    <input matInput type="text" #specialFeature maxlength="255"
                                    value="{{seletedRecord.alternate_light_positions_no}}">
                                <span class="mat-icon material-symbols-outlined">
                                    <mat-icon> unfold_more </mat-icon>
                                  </span>
                                </mat-form-field>
                            </div>
                        </td>
                    </ng-container>
                    <ng-container matColumnDef="other" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef class="ps-2"></th>
                        <td mat-cell *matCellDef="let seletedRecord; let i = index;" class="ps-2">
                            <div class="d-flex justify-content-end">
                                <button type="button" mat-icon-button [matMenuTriggerFor]="appMenu" aria-label=""
                                [ngClass]="{'active-btn':seletedRecord.selected}" class="circle-icon-o active-btn" 
                                appearance="outline">
                                    <mat-icon>more_horiz</mat-icon>
                                </button>
                                <mat-menu #appMenu="matMenu">
                                    <button type="button" mat-menu-item>Update All Shelves In Zone</button>
                                    <button type="button" mat-menu-item>Reset</button>
                                </mat-menu>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectRow(row)">
                    </tr>
                </table>
            </ng-scrollbar>
        </div>
    </mat-card-content>
</mat-card>