<mat-card class="mat-elevation-z g-card h-100">
    <mat-card-content>
        <div class="d-flex align-items-center mb-4">
            <div class="d-flex align-items-center">
                <app-icon-heading-component icon="browse_activity" heading="Cart Status" [automationId]="'cart-status-title'"></app-icon-heading-component>
                <mat-icon class="material-symbols-outlined ms-2" [matTooltip]="statusTooltipText" matTooltipClass="cart-management-status-multiline-tooltip" matTooltipPosition="below">
                    info_outline
                </mat-icon>
            </div>
        </div>
            <div class="row g-2">
                <div class="col-xl-3 col-lg-6">
                    <app-info-card-component title="Inducting" [value]="getStatusValue('inducting')" colorClass="label-purple"></app-info-card-component>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <app-info-card-component title="Inducted" [value]="getStatusValue('inducted')" colorClass="label-yellow"></app-info-card-component>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <app-info-card-component title="In Progress" [value]="getStatusValue('inProgress')" colorClass="label-blue2"></app-info-card-component>
                </div>
                <div class="col-xl-3 col-lg-6">
                    <app-info-card-component title="Available" [value]="getStatusValue('available')" colorClass="label-green"></app-info-card-component>
                </div>
            </div>
    </mat-card-content>
</mat-card>
