.btn-custom-color-blue{
    color:var(--clr-primary-500)
}

.paginator-left-align{
    float: left, !important;
}

.mat-table {
    th {
      white-space: nowrap;
      padding-right: 12px;
    }
    td {
      max-width: 15ch;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding-right: 12px;
    }
}

.custom-scrollbar {
  height: 300px !important; // Adjust as needed
}

.custom-header-cell {
  border: 0;
  height: 67px;
  padding-left: 65px;
  border-bottom: 1px solid var(--clr-tertiary-50); // Adjust the color as needed
}
.min-h-150px{
  min-height: 150px !important;
}
.table-row:focus{
  background: transparent;
}

.yellowBackground{
  background-color: #FFF0D6;
  color: #4D3B1A;
}

.redBackground{
  background-color: #F7D0DA;
  color: #4D0D1D;
}

.greenBackground{
  background-color: #C8E2D8;;
  color: #114D35;
}
.custom-cell {
  border: 0;
  padding-left: 24px;
  background: var(--clr-pure-white);
}