table {
  th{
    white-space: nowrap;
    padding-right: 12px;
  }
  tr {
    td { 
        border: 0;
        &:last-child{
            width: 60px;
        }
    }
  }
}
.h-600px{
  height: 600px;
}
