<div class="d-flex justify-content-between mb-4 align-items-center">
  <div style="width:48px"></div>
<h1 class="m-0" mat-dialog-title>{{form_heading}}</h1>
<button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>
</div>
    <div class="px-3">

  <form [formGroup]="empForm" (ngSubmit)="onSubmit(empForm)">


    <mat-checkbox *ngIf="data?.mode === 'edit'" matInput  formControlName="active" style="margin-right: 12px;" class="example-margin custom-checkbox mb-3" color="primary">Active</mat-checkbox>
    <mat-form-field class="mb-3 w-100" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input #last_name matInput type="text" formControlName="lastName" maxlength="30" (keydown.space)="$event.preventDefault();">
    </mat-form-field>
    
    <mat-form-field class="mb-3 w-100" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput type="text" formControlName="firstName" maxlength="30" (keydown.space)="$event.preventDefault();">
    </mat-form-field>
    
    <mat-form-field class="mb-3 w-100" appearance="outline">
      <mat-label>MI</mat-label>
      <input matInput type="text" formControlName="mi" maxlength="10">
    </mat-form-field>
 
    <mat-form-field class="mb-3 w-100" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput  type="text"  formControlName="username" [maxlength]="50" [readonly]="isDisabledUsername" (keydown.space)="$event.preventDefault()">
    </mat-form-field>

    <mat-form-field class="mb-3 w-100" appearance="outline">
      <mat-label>Access Level</mat-label>
      <mat-select formControlName="accessLevel">
        <mat-option value="administrator">Administrator</mat-option>
        <mat-option value="staff_member">Staff Member</mat-option>
      </mat-select>
      <span class="material-symbols-outlined icon-expand-more">
        expand_more
      </span>
    </mat-form-field>

    <mat-form-field class="mb-3 w-100" appearance="outline"  *ngIf="(env === 'DB') && this.IsEdit == true">
      <mat-label>Group</mat-label>
      <mat-select formControlName="groupName" (selectionChange)="groupChange($event)">
        <mat-option *ngFor="let item of allGroups" [value]="item.groupName">{{item.groupName}}</mat-option>
      </mat-select>
      <span class="material-symbols-outlined icon-expand-more">
        expand_more
      </span>
    </mat-form-field>

    <mat-form-field class="mb-1 w-100" appearance="outline" (click)="toggleDisabled()" *ngIf="(env === 'DB'|| env === 'ADLDS')">
      <mat-label>Password</mat-label>
      <input matInput [type]="toggle_password ? 'password' : 'text'" #focusFeild formControlName="password" 
      (ngModelChange)="ChangePassword($event)"
      (focusout)="isEmptyPass()" (keydown.space)="$event.preventDefault()" [maxlength]="env === 'DB' ? 8 : 16">
      <button *ngIf="!isDisabledPassword && (!IsEdit)"
       type="button" mat-icon-button matSuffix (click)="toggle_password = !toggle_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggle_password">
        <mat-icon>{{toggle_password ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field class="mb-1 w-100" appearance="outline" *ngIf="isEmail">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" formControlName="emailAddress" maxlength="255" (keydown.space)="$event.preventDefault();">
    </mat-form-field>

    <mat-hint class="error-message" style="color: red;font-size: 14px;"
    *ngIf="empForm.get('emailAddress')?.invalid && (empForm.get('emailAddress')?.dirty || empForm.get('emailAddress')?.touched)">
   Invalid email address
  </mat-hint>
    

    <mat-dialog-actions align="end">
       
      <button type="submit" mat-flat-button class="form-button-submit btn-lg w-100 mb-3" [disabled]="!empForm.valid" color="primary">{{form_btn_label}}</button>
    </mat-dialog-actions>

  </form>
</div>
