<mat-card class="mat-elevation-z g-card">
    <mat-card-content>
        <h2 class="card-header-title mb-1 d-flex align-items-center">
            <div class="mat-icon-wrap me-1 me-lg-3">
                <span class="material-symbols-outlined">
                    tab
                </span>
            </div>
            <span>Reprocess Choices</span>
        </h2>
        <div class="custom">
            <div class="counter mt-0 bg-white">
                <div>
                    <div class="row">
                        <div class="col-xl-4 employees text-center mb-2">
                            <app-stats-circle [value]="reprocessCount.reprocess" [title]="'Reprocess'" divClass="div2"></app-stats-circle>
                            <span>
                                <mat-checkbox color="primary" [(ngModel)]="isReprocessedChecked.flag"
                                    [disabled]="isEnabled" (change)="changeOrderStatus($event,'Reprocess')">
                                </mat-checkbox>
                            </span>
                        </div>
                        <div class="col-xl-4 customer text-center  mb-2">
                            <app-stats-circle [value]="reprocessCount.complete" [title]="'Post as Complete'" divClass="div2"></app-stats-circle>
                            <span>
                                <mat-checkbox color="primary" [(ngModel)]="isCompleteChecked.flag"
                                    [disabled]="isEnabled" (change)="changeOrderStatus($event,'Complete')">
                                </mat-checkbox>
                            </span>
                        </div>
                        <div class="col-xl-4 customer text-center  mb-2">
                            <app-stats-circle [value]="reprocessCount.history" [title]="'Send to Reprocess History'" divClass="div2"></app-stats-circle>
                            <span>
                                <mat-checkbox color="primary" [(ngModel)]="isHistoryChecked.flag" [disabled]="isEnabled"
                                    (change)="changeOrderStatus($event,'History')">
                                </mat-checkbox>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <mat-form-field class="action-dropdown mb-3 w-100" appearance="outline" style="flex:1 auto">
                <mat-label>Mark Table</mat-label>
                <mat-select class="employees-action" (selectionChange)="markTableSelection($event)">
                    <mat-option (click)="markTable('reprocess')">Mark For Reprocess</mat-option>
                    <mat-option (click)="markTable('complete')">Mark For Post as Complete</mat-option>
                    <mat-option (click)="markTable('history')">Mark to Send to History</mat-option>
                </mat-select>
                <span class="material-symbols-outlined icon-expand-more">
                    expand_more
                </span>
            </mat-form-field>
        </div>
        <div>
            <button mat-flat-button color="primary" class="w-100 btn-regular" color="primary"
                (click)="postTransaction()">
                Post Transactions
            </button>
        </div>
    </mat-card-content>
</mat-card>