table{
    th,td{
      white-space: nowrap;
      padding-right: 12px;
      border:0;
    //   &:last-child{
    //     float: right;
    //   }
    }
  }

  .btn-flex-1{
    flex: 1 auto;
}
.staging-location-table-height{
  height:340px;
}
.table-header-clr{
  background-color: var(--clr-table-header);
}