.count-table-scrollbar{
    height: calc(40vh - 60px);
}
.verify-table-height{
    height: calc(60vh - 60px);
}
.round{
    border-radius: 999px !important;
}
.mat-table{
    background: transparent;
}