.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    overflow-y: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        height: 150px;
        display: table;
        border-collapse: collapse;
        margin: 0 0 1rem 0;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 12px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
        border: 0;
    }
  }

  // .selected {
  //   // background-color: #5555EC !important;

  //   color: #fff;
  //   &:before{
  //     content: '';
  //     background-color: #5555EC;
  //     height: 100%;
  //     width: 100%;
  //     position: absolute;
  //     left: 0px;
  //     top: 0px;
  //     z-index: -1;
      
  //   }
  //   &:first-child{
  //     &:before{
  //     border-top-left-radius: 8px;
  //     border-bottom-left-radius: 8px;
  //     margin-left: 8px;
  //     }
  //   }
  //   &:last-child{
  //     &:before{
  //     border-top-right-radius: 8px;
  //     border-bottom-right-radius: 8px;
  //     right: 12px;
  //     left: auto;
  //     }
  //   }
    
  // }