
<div class="row py-4 br-14"  [formGroup]="weighScale">

    <div class="row" style="display: flex;
    justify-content: space-between;">
      <div class="col-lg-4 mb-3">
          <mat-form-field class="filter w-100 stats-filters" appearance="outline">
            <mat-label>Average Piece Weight</mat-label>
            <input  (input)="handleInputChange($event)"  matInput type="number" class="custom-input-number" formControlName="avgPieceWeight" 
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "11">
          </mat-form-field>
        </div>

        <div class="col-lg-4 mb-3">
            <mat-form-field class="filter w-100 stats-filters" appearance="outline">
              <mat-label>Sample Quantity</mat-label>
              <input  (input)="handleInputChange($event)"  matInput type="number" class="custom-input-number" formControlName="sampleQuantity"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "9">
            </mat-form-field>
          </div>

          <div class="col-lg-4 mb-3">
            <mat-form-field class="filter w-100 stats-filters" appearance="outline">
              <mat-label>Min. Use Scale Trans. Quantity</mat-label>
              <input  (input)="handleInputChange($event)"  matInput type="number" class="custom-input-number" formControlName="minimumUseScaleQuantity"
              oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" type = "number" maxlength = "9">
            </mat-form-field>
          </div>
    </div>
    <div class="row">
      <div class="px-3">
        <mat-checkbox (change)="handleInputChange($event)"  class="example-margin custom-checkbox" color="primary" formControlName="useScale">Use Scale</mat-checkbox>
      </div>
    </div>
  
  </div>