<div class="d-flex justify-content-between mb-4 align-items-center">
  <div style="width:48px"></div>
<h1 class="m-0" mat-dialog-title>Reset Password</h1>
<button type="button" mat-icon-button class="close-button  dialog-close-button-fix" [mat-dialog-close]="true">
  <mat-icon class="close-icon">close</mat-icon>
</button>
</div>
<div mat-dialog-content>

  <form  class="form pb-4" [formGroup]="resetPassForm" (ngSubmit)="onSend(resetPassForm)">
    <div class="mb-3">
    <mat-form-field class="d-block w-100" appearance="outline">
      <mat-label>Username</mat-label>
      <input matInput type="text" maxlength="100" formControlName="userName" (keydown.space)="$event.preventDefault()" placeholder="Enter Username">
    </mat-form-field>
    <div class="error" *ngIf="resetPassForm.get('userName')?.invalid && (resetPassForm.get('userName')?.dirty || resetPassForm.get('userName')?.touched)">
        Username is required.
    </div>
    </div>
    <div class="mb-3">
    <mat-form-field class="d-block w-100" appearance="outline">
      <mat-label>Old Password</mat-label>
      <input matInput [type]="old_toggle ? 'password' : 'text'" formControlName="old_password" (keydown.space)="$event.preventDefault()" maxlength="16" placeholder="Enter Old Password">
      <button type="button" mat-icon-button matSuffix (click)="old_toggle = !old_toggle" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="old_toggle">
        <mat-icon>{{old_toggle ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="error" *ngIf="resetPassForm.get('old_password')?.invalid && (resetPassForm.get('old_password')?.dirty || resetPassForm.get('old_password')?.touched)">
        Old password is required.
    </div>
  </div>
  <div class="mb-3">
    <mat-form-field class="d-block w-100" appearance="outline">
      <mat-label>New Password</mat-label>
      <input matInput [type]="new_toggle ? 'password' : 'text'" #input maxlength="50" formControlName="new_password" (keydown.space)="$event.preventDefault()"  maxlength="16" placeholder="Enter New Password">
      <button type="button" mat-icon-button matSuffix (click)="new_toggle = !new_toggle" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="new_toggle">
        <mat-icon>{{new_toggle ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="error" *ngIf="resetPassForm.get('new_password')?.invalid && (resetPassForm.get('new_password')?.dirty || resetPassForm.get('new_password')?.touched)">
        New password is required.
    </div>
  </div>
  <div class="mb-3">
    <mat-form-field class="d-block w-100" appearance="outline">
      <mat-label>Confirm New Password</mat-label>
      <input matInput [type]="toggle_password ? 'password' : 'text'" #input maxlength="50" formControlName="confirm_password" (keydown.space)="$event.preventDefault()"  maxlength="16" placeholder="Enter Confirm New Password">
      <button type="button" mat-icon-button matSuffix (click)="toggle_password = !toggle_password" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="toggle_password">
        <mat-icon>{{toggle_password ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div class="error" *ngIf="resetPassForm.get('confirm_password')?.invalid && (resetPassForm.get('confirm_password')?.dirty || resetPassForm.get('confirm_password')?.touched)">
      Confirm new password is required.
    </div>
    <div class="error" *ngIf="resetPassForm.errors?.['mismatch'] && (resetPassForm.get('confirm_password')?.dirty || resetPassForm.get('confirm_password')?.touched)">
      Passwords do not match.
    </div>
    </div>

    <mat-dialog-actions align="end">
      <button type="submit" mat-flat-button class="form-button-submit btn-lg w-100" color="primary" [disabled]="!resetPassForm.valid">Submit</button>
    </mat-dialog-actions>

  </form>
</div>
