<div class="d-flex flex-column align-items-center justify-content-center text-center py-2">
  <div class="circle-icon circle-66 circle-primary mb-4 text-primary-900">
    <mat-icon class="material-symbols-outlined" color="primary" data-automation-id="confirmation-dialog-icon">info</mat-icon>
  </div>
  <div>

    <h1 class="mat-card-title text-primary-900" data-automation-id="postmt-title">
      Post Transaction
    </h1>
    <p class="bold text-tritary-900 mb-4" data-automation-id="postmt-message">{{message}}
    </p>
  </div>
  <div class="w-100">
    <button [mat-dialog-close]="true" mat-stroked-button color="primary" cdkFocusInitial
      class="w-100 btn-lg mb-3 prompt-action-accent-button" data-automation-id="postmt-ok-btn">
      Ok
    </button>
    <button [mat-dialog-close]="false" mat-stroked-button color="primary" class="custom-btn bg-white w-100 btn-lg" data-automation-id="postmt-close-btn">
      Cancel
    </button>
  </div>
</div>