<div class="d-flex justify-content-between mb-4 align-items-center">
    <div style="width:48px"></div>
    <h1 class="m-0" mat-dialog-title>Post Transaction</h1>

    <button mat-icon-button class="close-button dialog-close-button-fix" [mat-dialog-close]="false">
        <mat-icon class="close-icon">close</mat-icon>
    </button>
</div>

<div class="">

    <div class="w-100">
        <div class="col-12 mb-2">
            <p class="prompt-message py-4 mb-0 text-center">
                <b>{{message}}</b>
            </p>
        </div>


        <div class="d-flex justify-content-end pt-3">
            <button style="flex:1" mat-flat-button color="primary" class="button-primary btn-lg" cdkFocusInitial
                [mat-dialog-close]="true">Ok</button>
        </div>

    </div>

</div>