<div class="container-fluid p-0 mt-3">
    <mat-card class="mat-elevation-z g-card">
      <mat-card-content>
        <div
          class="d-xl-flex justify-content-between align-items-center mb-3"
        >
          <h2
            class="card-header-title mb-0 d-flex align-items-center mb-3 mb-xl-0"
          >
            <div class="mat-icon-wrap me-lg-3 me-2">
              <span class="mat-icon material-symbols-outlined">
                settings_applications
              </span>
            </div>
            <span>System Settings</span>
          </h2>

          <div class="d-flex d-xl-block">
            <mat-form-field
              class="action-dropdown custom-form-field-bg-white float-end"
              appearance="outline"
              style="flex: 1"
            >
              <mat-label>Actions</mat-label>
              <mat-select
                #matRef
                class="employees-action"
                placeholder="Actions"
              >
                <mat-option
                  value=""
                  (click)="IeTransFieldMappingDialog()"
                  >Transfer Field Mapping</mat-option
                >
                <mat-option
                  value=""
                  (click)="XMLFieldMappingDialog()"
                  >XML Field Mapping</mat-option
                >
                <mat-option
                  value=""
                  (click)="TransFilePathDialog()"
                  >Import/Export Path</mat-option
                >
                <mat-option
                  value=""
                  (click)="IeFTPSettingsDialog()"
                  >FTP Import/Export Settings</mat-option
                >
                <mat-option value=""
                (click)="IeInventMapExportDialog()"
                  >Inventory Map Export Scheduler</mat-option
                >
              </mat-select>
              <span class="material-symbols-outlined icon-expand-more">
                expand_more
              </span>
            </mat-form-field>
          </div>
        </div>
        
        <div class="row mt-4 mx-0 align-items-end">
          <div class="col-xl-6">
            <h2 class="f-16 bold mb-3 d-flex align-items-center">
              <span>Transactions</span>
            </h2>

            <div class="card p-3 mb-4" style="padding-bottom: 1px !important">
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Import Transactions To</mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Import File Type</mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Export File Type</mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="d-flex justify-content-between mb-3">
                  Automatic Import of Inventory refresh files<mat-slide-toggle color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">

            <div class="card p-3 mb-4" style="padding-bottom: 1px !important">
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Days Back To Check For Duplicates</mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  Create Files for Completed Transactions<mat-slide-toggle
                    color="primary"
                  >
                  </mat-slide-toggle>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  No Carriage Return<mat-slide-toggle color="primary">
                  </mat-slide-toggle>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  Block Import Duplicates<mat-slide-toggle color="primary">
                  </mat-slide-toggle>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  Trim User Fields<mat-slide-toggle color="primary">
                  </mat-slide-toggle>
                </div>
                <div class="d-flex justify-content-between mb-3">
                  Trim Item Number<mat-slide-toggle color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <h2 class="f-16 bold mb-3 d-flex align-items-center">
              <span>Import</span>
            </h2>

            <div class="card p-3 mb-4" style="padding-bottom: 1px !important">
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Import Process Interval Minutes</mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Last Import </mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>

                <div class="d-flex justify-content-between mb-3">
                  Automatic Import<mat-slide-toggle color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-6">
            <h2 class="f-16 bold mb-3 d-flex align-items-center">
              <span>Export</span>
            </h2>

            <div class="card p-3 mb-4" style="padding-bottom: 1px !important">
              <div class="row align-items-center">
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Export Process Interval Minutes</mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>
                <div class="col-xl-12">
                  <mat-form-field
                    class="action-dropdown custom-form-field-bg-white w-100 mb-2"
                    appearance="outline"
                  >
                    <mat-label>Last Export </mat-label>
                    <mat-select class="employees-action">
                      <mat-option value="123456">123456789cc</mat-option>
                      <mat-option value="987654">987654789cc</mat-option>
                      <mat-option value="147852">147852789cc</mat-option>
                    </mat-select>
                    <span class="material-symbols-outlined icon-expand-more">
                      expand_more
                    </span>
                  </mat-form-field>
                </div>

                <div class="d-flex justify-content-between mb-3">
                  Automatic Exports<mat-slide-toggle color="primary">
                  </mat-slide-toggle>
                </div>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
