<mat-card class="mat-elevation-z g-card mb-3 mt-2 h-100">
    <mat-card-content>
        <div class="d-flex align-items-center flex-wrap mb-3">
            
            <app-icon-heading-component class="card-header-title mb-3 me-4 d-flex align-items-center" heading="Event Log" icon="event_note" data-automation-id="event-log-heading"></app-icon-heading-component>
            <mat-checkbox class="example-margin custom-checkbox mb-3" color="primary" [(ngModel)]="ignoreDateRange"
                (change)="onIgnoreDateRange($event)" data-automation-id="ignore-date-range-checkbox">Ignore Date Range</mat-checkbox>
        </div>

        <div class="row">

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline" data-automation-id="start-date-field">
                    <mat-label data-automation-id="start-date-label">Start Date</mat-label>
                    <input matInput [(ngModel)]="startDate" data-automation-id="start-date-input" type="date" (change)="event()" [disabled]="ignoreDateRange" class="cursor-text">
                    
                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100 mb-3" appearance="outline" data-automation-id="end-date-field">
                    <mat-label data-automation-id="end-date-label">End Date</mat-label>
                    <input matInput [(ngModel)]="endDate" type="date" (change)="event()" [disabled]="ignoreDateRange" class="cursor-text" data-automation-id="end-date-input">
                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100  mb-3" appearance="outline" data-automation-id="message-field">
                    <mat-label data-automation-id="message-label">Message</mat-label>

                    <input type="text" placeholder="Search" aria-label="Search" matInput [matAutocomplete]="auto1"
                        [(ngModel)]="message" maxlength="255" (keyup)="autocompleteSearchColumn('Message',message)"
                        (focus)="eventLogTypeAhead('Message',message,true)"  [attr.data-automation-id]="'message-input' + (message ? '-' + message : '')">
                        <button matSuffix *ngIf="message" class="clear-btn"  (click)=" message = '';clear('Message')" data-automation-id="clear-message-btn"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                    <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="search($event,'message')"
                        #autocompleteMesaage data-automation-id="message-autocomplete">
                        <mat-option *ngFor="let option of searchAutocompleteList; let i = index" [value]="option" [attr.data-automation-id]="'message-option-' + option">
                            {{option}}
                        </mat-option>
                        <mat-option *ngIf="searchAutocompleteList?.length ==0" disabled data-automation-id="message-no-data-option">
                            No data found
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100  mb-3" appearance="outline" data-automation-id="event-location-field">
                    <mat-label data-automation-id="event-location-label">Event Location</mat-label>

                    <input type="text" placeholder="Search" aria-label="Search" matInput [matAutocomplete]="auto2"
                        [(ngModel)]="eventLocation" maxlength="255"
                        (keyup)="autocompleteSearchColumn('Event Location',eventLocation)"
                        (focus)="eventLogTypeAhead('Event Location',eventLocation,true)"         [attr.data-automation-id]="'event-location-input' + (eventLocation ? '-' + eventLocation : '')">
                        <button matSuffix *ngIf="eventLocation" class="clear-btn"  (click)=" eventLocation = '';clear('Event Location')" data-automation-id="clear-event-location-btn"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                    <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="search($event,'eventLocation')"
                        #autocompleteEventLocation data-automation-id="event-location-autocomplete">
                        <mat-option *ngFor="let option of searchAutocompleteList; let i = index" [value]="option" [attr.data-automation-id]="'event-location-option-' + option">
                            {{option}}
                        </mat-option>
                        <mat-option *ngIf="searchAutocompleteList?.length ==0" disabled data-automation-id="event-location-no-data-option">
                            No data found
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>
        </div>

        <div class="row">

            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100  mb-3" appearance="outline" data-automation-id="event-code-field">
                    <mat-label data-automation-id="event-code-label">Event Code</mat-label>

                    <input type="text" placeholder="Search" aria-label="Search" matInput [matAutocomplete]="auto3"
                        [(ngModel)]="eventCode" maxlength="255"
                        (keyup)="autocompleteSearchColumn('Event Code',eventCode)"
                        (focus)="eventLogTypeAhead('Event Code',eventCode,true)"  [attr.data-automation-id]="'event-code-input' + (eventCode ? '-' + eventCode : '')">
                        <button matSuffix *ngIf="eventCode" class="clear-btn"  (click)=" eventCode = '';clear('Event Code')" data-automation-id="clear-event-code-btn"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                    <mat-autocomplete #auto3="matAutocomplete" (optionSelected)="search($event,'eventCode')"
                        #autocompleteEventCode data-automation-id="event-code-autocomplete">
                        <mat-option *ngFor="let option of searchAutocompleteList; let i = index" [value]="option" [attr.data-automation-id]="'event-code-option-' + option">
                            {{option}}
                        </mat-option>
                        <mat-option *ngIf="searchAutocompleteList?.length ==0" disabled data-automation-id="event-code-no-data-option">
                            No data found
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100  mb-3" appearance="outline" data-automation-id="event-type-field">
                    <mat-label data-automation-id="event-type-label">Event Type</mat-label>

                    <input type="text" placeholder="Search" aria-label="Search" matInput [matAutocomplete]="auto4"
                        [(ngModel)]="eventType" maxlength="255"
                        (keyup)="autocompleteSearchColumn('Event Type',eventType)"
                        (focus)="eventLogTypeAhead('Event Type',eventType,true)" [attr.data-automation-id]="'event-type-input' + (eventType ? '-' + eventType : '')">
                        <button matSuffix *ngIf="eventType" class="clear-btn"  (click)=" eventType = '';clear('Event Type')" data-automation-id="clear-event-type-btn"><mat-icon class="text-20 text-chrome-600">cancel</mat-icon></button>
                    <mat-autocomplete #auto4="matAutocomplete" (optionSelected)="search($event,'eventType')"
                        #autocompleteEventType data-automation-id="event-type-autocomplete">
                        <mat-option *ngFor="let option of searchAutocompleteList; let i = index" [value]="option" [attr.data-automation-id]="'event-type-option-' + option">
                            {{option}}
                        </mat-option>
                        <mat-option *ngIf="searchAutocompleteList?.length ==0" disabled data-automation-id="event-type-no-data-option">
                            No data found
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>
            <div class="col-xl-3">
                <mat-form-field class="custom-form-field w-100  mb-3" appearance="outline" data-automation-id="username-field">
                    <mat-label data-automation-id="username-label">Username</mat-label>

                    <input type="text" placeholder="Search" aria-label="Search" matInput [matAutocomplete]="auto5"
                        [(ngModel)]="userName" maxlength="255" (keyup)="autocompleteSearchColumn('Name Stamp',userName)"
                        (focus)="eventLogTypeAhead('Name Stamp',userName,true)" [attr.data-automation-id]="'username-input' + (userName ? '-' + userName : '')">

                        <button matSuffix *ngIf="userName" class="clear-btn"  (click)=" userName = '';clear('Username')"><mat-icon class="text-20 text-chrome-600" data-automation-id="btn-cancel">cancel</mat-icon></button>
                    <mat-autocomplete #auto5="matAutocomplete" (optionSelected)="search($event,'userName')"
                        #autocompleteUsername data-automation-id="username-autocomplete">
                        <mat-option *ngFor="let option of searchAutocompleteList; let i = index" [value]="option" [attr.data-automation-id]="'username-option-' + option">
                            {{option}}
                        </mat-option>
                        <mat-option *ngIf="searchAutocompleteList?.length ==0" disabled data-automation-id="username-no-data-option">
                            No data found
                        </mat-option>
                    </mat-autocomplete>

                </mat-form-field>
            </div>

            <div class="col-xl-3">
                <button mat-flat-button color="primary" class="btn-regular w-100 mb-3" (click)="clearFilters()" data-automation-id="clear-filters-btn">
                    Clear Filters
                </button>
            </div>
        </div>

    </mat-card-content>
</mat-card>
